@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --radius-*: initial;
  --radius-none: 0;
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius: 1rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-full: 999rem;

  --text-*: initial;
  --text-7xl: 5.5rem;
  --text-7xl--line-height: 0.81818;
  --text-7xl--letter-spacing: -0.03409090909em;
  --text-6xl: 4rem;
  --text-6xl--line-height: 0.875;
  --text-6xl--letter-spacing: -0.03125em;
  --text-5xl: 3rem;
  --text-5xl--line-height: 0.9166667;
  --text-5xl--letter-spacing: -0.03125em;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 0.9;
  --text-4xl--letter-spacing: -0.0125em;
  --text-3xl: 2rem;
  --text-3xl--line-height: 1;
  --text-3xl--letter-spacing: -0.015625em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.5;
  --text-xl: 1.3125rem;
  --text-xl--line-height: 1.5;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-2xs: 0.625rem;
  --text-2xs--line-height: 1.5;

  --breakpoint-xs: 360px;

  --spacing-2: 0.5rem;
  --spacing-2\.5: 0.625rem;

  --grid-template-columns-16: repeat(16, minmax(0, 1fr));
  --grid-template-columns-subgrid: subgrid;

  --grid-column-content: content-start / content-end;
  --grid-column-prose: prose-start / prose-end;
  --grid-column-margin: margin-start / margin-end;

  --grid-column-start-margin-start: margin-start;
  --grid-column-start-margin-end: margin-end;
  --grid-column-start-container-start: container-start;
  --grid-column-start-container-end: container-end;
  --grid-column-start-content-start: content-start;
  --grid-column-start-content-end: content-end;
  --grid-column-start-prose-start: prose-start;
  --grid-column-start-prose-end: prose-end;

  --grid-column-end-margin-start: margin-start;
  --grid-column-end-margin-end: margin-end;
  --grid-column-end-container-start: container-start;
  --grid-column-end-container-end: container-end;
  --grid-column-end-content-start: content-start;
  --grid-column-end-content-end: content-end;
  --grid-column-end-prose-start: prose-start;
  --grid-column-end-prose-end: prose-end;

  --leading-7xl: 0.81818;
  --leading-6xl: 0.875;
  --leading-5xl: 0.9166667;
  --leading-4xl: 1.1;
  --leading-3xl: 1.125;
  --leading-2xl: 1.166667;
  --leading-xl: 1.2380952381;
  --leading-lg: 1.333333;

  --font-sans: elza, elza-fallback, sans-serif;
  --font-display: roc-grotesk-variable, roc-grotesk-variable-fallback, sans-serif;
  --font-mono: covik-sans-mono, monospace;

  --shadow-subtle: var(--shadow-subtle);
  --shadow-reduced: var(--shadow-reduced);
  --shadow-placed: var(--shadow-placed);
  --shadow-picked: var(--shadow-picked);
  --shadow-floating: var(--shadow-floating);
  --shadow-tabbar:
    0 0 0 1px oklch(24.3% 0.014 30 / 0.04),
    inset 0 0 0 1px oklch(100% 0 0 / 0.8),
    0 1px 3px -1.5px oklch(24.3% 0.014 30 / 0.04),
    0 2px 4px -2px oklch(24.3% 0.014 30 / 0.04);

  --shadow-dandelion-reduced:
    0 -1px var(--ui-border-color-strong), 0 0 0 1px var(--ui-border-color),
    0 2px 4px -4px rgb(117 99 98 / 0.1), 0 1px 3px rgb(117 99 98 / 0.12);

  --shadow-dandelion-placed:
    0 -1px var(--ui-border-color-weak), 0 1px var(--ui-border-color-strong),
    0 0 0 1px var(--ui-border-color), inset 0 1px 3px rgb(244 211 64 / 1),
    inset 0 -1px 3px rgb(221 142 0 / 0.6),
    inset 0 0 0 1px rgb(248 229 142 / 0.6), 0 4px 10px rgb(117 99 98 / 0.1),
    0 1px 3px 0 rgb(117 99 98 / 0.1);

  --shadow-dandelion-picked:
    0 -1px var(--ui-border-color-weak-hover),
    0 1px var(--ui-border-color-strong-hover),
    0 0 0 1px var(--ui-border-color-hover), inset 0 2px rgb(249 239 189 / 0.2),
    inset 0 -3px rgba(203 113 0 / 0.2), 0 6px 12px rgba(117, 99, 98, 0.14),
    0 2px 4px rgba(117, 99, 98, 0.16);

  --background-image-fade:
    linear-gradient(
      180deg,
      rgba(var(--bg-fade-top), 1) 0%,
      rgba(var(--bg-fade-top), 0.6) 4.09%,
      rgba(var(--bg-fade-top), 0) 11.11%,
      rgba(var(--bg-fade-top), 0) 25.52%
    ),
    radial-gradient(
      163.02% 100% at 50% 0%,
      rgba(255, 255, 255, 0) 78.71%,
      #ffffff 100%
    );
  --background-image-fade-neutral:
    radial-gradient(
      95.19% 153.13% at 50% 0%,
      rgba(252, 249, 248, 0.07) 56.58%,
      #fcf9f8 80.19%
    ),
    linear-gradient(
      180deg,
      rgba(252, 249, 248, 0) 69.27%,
      rgba(252, 249, 248, 0.01) 72.89%,
      rgba(252, 249, 248, 0.03) 75.84%,
      rgba(252, 249, 248, 0.07) 78.22%,
      rgba(252, 249, 248, 0.12) 80.13%,
      rgba(252, 249, 248, 0.18) 81.68%,
      rgba(252, 249, 248, 0.25) 82.96%,
      rgba(252, 249, 248, 0.33) 84.1%,
      rgba(252, 249, 248, 0.41) 85.18%,
      rgba(252, 249, 248, 0.5) 86.31%,
      rgba(252, 249, 248, 0.59) 87.59%,
      rgba(252, 249, 248, 0.67) 89.14%,
      rgba(252, 249, 248, 0.76) 91.05%,
      rgba(252, 249, 248, 0.85) 93.43%,
      rgba(252, 249, 248, 0.93) 96.38%,
      #fcf9f8 100%
    );
  --background-image-fade-sm: radial-gradient(
    88.62% 56.87% at 50% 43.12%,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(255, 255, 255, 0.07) 0.75%,
    rgba(255, 255, 255, 0.07) 2.92%,
    rgba(255, 255, 255, 0.08) 6.37%,
    rgba(255, 255, 255, 0.09) 10.97%,
    rgba(255, 255, 255, 0.1) 16.59%,
    rgba(255, 255, 255, 0.13) 23.1%,
    rgba(255, 255, 255, 0.16) 30.37%,
    rgba(255, 255, 255, 0.21) 38.27%,
    rgba(255, 255, 255, 0.27) 46.66%,
    rgba(255, 255, 255, 0.35) 55.41%,
    rgba(255, 255, 255, 0.44) 64.39%,
    rgba(255, 255, 255, 0.55) 73.47%,
    rgba(255, 255, 255, 0.68) 82.52%,
    rgba(255, 255, 255, 0.83) 91.41%,
    #fff 96.89%
  );
  --background-image-fade-neutral-sm: radial-gradient(
    88.62% 56.87% at 50% 43.12%,
    rgba(252, 249, 248, 0.07) 0%,
    rgba(252, 249, 248, 0.07) 0.75%,
    rgba(252, 249, 248, 0.07) 2.92%,
    rgba(252, 249, 248, 0.08) 6.37%,
    rgba(252, 249, 248, 0.09) 10.97%,
    rgba(252, 249, 248, 0.1) 16.59%,
    rgba(252, 249, 248, 0.13) 23.1%,
    rgba(252, 249, 248, 0.16) 30.37%,
    rgba(252, 249, 248, 0.21) 38.27%,
    rgba(252, 249, 248, 0.27) 46.66%,
    rgba(252, 249, 248, 0.35) 55.41%,
    rgba(252, 249, 248, 0.44) 64.39%,
    rgba(252, 249, 248, 0.55) 73.47%,
    rgba(252, 249, 248, 0.68) 82.52%,
    rgba(252, 249, 248, 0.83) 91.41%,
    rgb(252, 249, 248) 96.89%
  );

  --color-rio-0: rgb(250 239 232);
  --color-rio-50: rgb(249 217 197);
  --color-rio-100: rgb(247 193 163);
  --color-rio-150: oklch(81.3% 0.121 44.3);
  --color-rio-200: oklch(76.9% 0.152 42.4);
  --color-rio-300: oklch(70.3% 0.196 38.6);
  --color-rio-400: oklch(64.9% 0.222 35);
  --color-rio-500: oklch(59.8% 0.23 32.8);
  --color-rio-600: oklch(53.6% 0.222 31.1);
  --color-rio-700: oklch(45.8% 0.197 29.8);
  --color-rio-800: oklch(35.9% 0.157 29.1);
  --color-rio-900: oklch(23.6% 0.105 27.9);

  --color-dandelion-0: rgb(250 248 236);
  --color-dandelion-50: rgb(249 239 189);
  --color-dandelion-100: rgb(248 229 142);
  --color-dandelion-200: oklch(87.1% 0.184 95);
  --color-dandelion-300: oklch(82.4% 0.193 88.5);
  --color-dandelion-400: oklch(78% 0.186 80.6);
  --color-dandelion-500: oklch(71.7% 0.18 68.6);
  --color-dandelion-600: oklch(64.5% 0.176 58.1);
  --color-dandelion-700: oklch(57% 0.164 53.2);
  --color-dandelion-800: oklch(47.8% 0.141 51.5);
  --color-dandelion-900: oklch(36.8% 0.107 52.8);
  --color-dandelion-1000: oklch(23.8% 0.064 59.5);

  --color-fern-0: rgb(235 250 245);
  --color-fern-100: rgb(202 231 222);
  --color-fern-200: rgb(171 213 200);
  --color-fern-300: rgb(143 194 179);
  --color-fern-400: rgb(118 176 159);
  --color-fern-500: rgb(95 157 139);
  --color-fern-600: rgb(74 139 121);
  --color-fern-700: rgb(56 120 103);
  --color-fern-800: oklch(45.9% 0.09 174.2);
  --color-fern-900: oklch(39.6% 0.082 174);
  --color-fern-1000: oklch(33.2% 0.071 174.7);
  --color-fern-1100: oklch(26.8% 0.059 173.5);
  --color-fern-1200: oklch(22.9% 0.039087 171.7);
  --color-fern-1300: oklch(20.2% 0.035089 171.8);

  --color-cornflour-0: rgb(235 242 250);
  --color-cornflour-100: rgb(203 223 248);
  --color-cornflour-200: rgb(172 203 246);
  --color-cornflour-300: rgb(143 182 242);
  --color-cornflour-400: rgb(118 163 237);
  --color-cornflour-500: rgb(97 144 229);
  --color-cornflour-600: rgb(79 127 218);
  --color-cornflour-700: rgb(64 109 200);
  --color-cornflour-800: rgb(48 90 175);
  --color-cornflour-900: rgb(34 70 142);
  --color-cornflour-1000: rgb(22 49 103);
  --color-cornflour-1100: rgb(12 29 61);

  --color-grass-0: rgb(249 250 235);
  --color-grass-50: rgb(232 238 190);
  --color-grass-100: rgb(212 227 148);
  --color-grass-150: rgb(190 215 116);
  --color-grass-200: rgb(167 204 86);
  --color-grass-300: oklch(70.2% 0.202 132);
  --color-grass-400: oklch(62.3% 0.206 136.2);
  --color-grass-500: oklch(54.8% 0.196 138.8);
  --color-grass-600: oklch(47.6% 0.178 140.3);
  --color-grass-700: oklch(40.4% 0.153 140.7);
  --color-grass-800: oklch(33% 0.126 140.6);
  --color-grass-900: oklch(25.2% 0.095 139.8);

  --color-moss-0: rgb(242 250 235);
  --color-moss-50: rgb(218 239 205);
  --color-moss-100: rgb(192 227 176);
  --color-moss-150: rgb(168 216 153);
  --color-moss-200: rgb(144 205 131);
  --color-moss-300: rgb(104 182 100);
  --color-moss-400: rgb(78 159 83);
  --color-moss-500: rgb(61 137 72);
  --color-moss-600: oklch(48.8% 0.132 151.5);
  --color-moss-700: rgb(37 91 50);
  --color-moss-800: rgb(28 69 38);
  --color-moss-900: rgb(18 46 26);

  --color-lavender-0: rgb(243 238 250);
  --color-lavender-100: rgb(225 211 248);
  --color-lavender-200: rgb(205 185 245);
  --color-lavender-300: rgb(183 160 242);
  --color-lavender-400: rgb(161 138 236);
  --color-lavender-500: rgb(142 119 228);
  --color-lavender-600: rgb(124 102 216);
  --color-lavender-700: rgb(100 86 198);
  --color-lavender-800: rgb(76 70 173);
  --color-lavender-900: rgb(55 54 141);
  --color-lavender-1000: rgb(38 41 103);
  --color-lavender-1100: rgb(22 25 61);

  --color-magenta-0: rgb(250 238 243);
  --color-magenta-50: rgb(248 219 235);
  --color-magenta-100: oklch(88.9% 0.077 343.2);
  --color-magenta-150: oklch(85.6% 0.109 339.7);
  --color-magenta-200: oklch(82.7% 0.141 337);
  --color-magenta-300: rgb(235 136 231);
  --color-magenta-400: rgb(214 110 222);
  --color-magenta-500: rgb(183 88 201);
  --color-magenta-600: rgb(144 66 166);
  --color-magenta-700: rgb(99 44 118);
  --color-magenta-750: rgb(75 33 89);
  --color-magenta-800: rgb(51 22 61);

  --color-neutral-01-0: rgb(255 255 255);
  --color-neutral-01-50: rgb(252 249 248);
  --color-neutral-01-100: rgb(249 243 241);
  --color-neutral-01-150: rgb(241 232 228);
  --color-neutral-01-200: rgb(232 220 217);
  --color-neutral-01-250: rgb(217 203 200);
  --color-neutral-01-300: rgb(203 186 183);
  --color-neutral-01-400: rgb(162 143 140);
  --color-neutral-01-500: rgb(117 99 98);
  --color-neutral-01-600: rgb(79 64 63);
  --color-neutral-01-700: rgb(52 40 40);
  --color-neutral-01-800: rgb(37 27 27);
  --color-neutral-01-900: rgb(31 21 21);

  --color-neutral-02-0: rgb(255 255 255);
  --color-neutral-02-50: rgb(248 250 252);
  --color-neutral-02-100: rgb(241 244 249);
  --color-neutral-02-150: rgb(228 234 241);
  --color-neutral-02-200: rgb(217 223 232);
  --color-neutral-02-250: rgb(200 207 217);
  --color-neutral-02-300: rgb(183 190 203);
  --color-neutral-02-400: rgb(140 148 162);
  --color-neutral-02-500: rgb(98 105 117);
  --color-neutral-02-600: rgb(63 69 79);
  --color-neutral-02-700: rgb(40 44 52);
  --color-neutral-02-800: rgb(27 30 37);
  --color-neutral-02-900: rgb(21 24 31);

  --color-neutral-03-0: rgb(255 255 255);
  --color-neutral-03-50: rgb(248 252 251);
  --color-neutral-03-100: rgb(241 249 246);
  --color-neutral-03-150: rgb(228 241 237);
  --color-neutral-03-200: rgb(217 232 227);
  --color-neutral-03-250: rgb(200 217 212);
  --color-neutral-03-300: rgb(183 203 197);
  --color-neutral-03-400: rgb(140 162 156);
  --color-neutral-03-500: rgb(98 117 112);
  --color-neutral-03-600: rgb(63 79 75);
  --color-neutral-03-700: rgb(40 52 49);
  --color-neutral-03-800: rgb(27 37 34);
  --color-neutral-03-900: rgb(21 31 28);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
*/
