/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */
.prose pre {
  --code-black: light-dark(var(--color-fern-900), var(--color-fern-1100));
  --code-white: var(--color-neutral-01-50);
  --code-red: light-dark(var(--color-rio-500), var(--color-rio-200));
  --code-yellow: light-dark(var(--color-dandelion-500), var(--color-dandelion-300));
  --code-green: light-dark(var(--color-grass-500), var(--color-grass-300));
  --code-blue: light-dark(var(--color-cornflour-500), var(--color-cornflour-300));
  --code-magenta: light-dark(var(--color-magenta-500), var(--color-magenta-200));
  --code-cyan: light-dark(var(--color-fern-500), var(--color-fern-300));
  --code-comment: light-dark(var(--color-neutral-02-400), var(--color-neutral-03-400));

  --code-lavender: var(--color-lavender-700);
  --offset-spacing: 2rem;
  isolation: isolate;
}

/**
 * basics
 */
code[class*='language-'],
pre[class*='language-'] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

/* code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 2rem;
  max-height: 20lh;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  color: light-dark(var(--code-black), var(--code-white));
  border: 1px solid var(--color-surface-raised);
  background: light-dark(var(--code-white), var(--code-black));
  border-radius: 20px;
}

/* inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
}

/**
 * line numbers
 */
.code-highlight {
  min-width: 100%;
}

.code-line {
  position: relative;
  display: block;
  box-shadow: inset 4px 0 rgb(0 0 0 / 0) ; /* Set placeholder for highlight accent border color to transparent */
  padding-inline: 2rem;
  margin-inline: -2rem;
}


.highlight-line {
  margin-inline: -2rem;
}

.highlight-line,
.highlight-line.line-number:before {
  background-color: light-dark(var(--color-cornflour-0), oklch(32.7% 0.108727 258.5));
  color: light-dark(var(--color-cornflour-500), oklch(83.3% 0.077752 252.1));
}

.token.prefix.deleted,
.token.prefix.inserted {
  inline-size: 2ch;
  display: inline-block;
  text-align: center;
}

.token.prefix.deleted {
  color: oklch(70.3% 0.196287 38.6);
}

.token.deleted {
  color: oklch(85.6% 0.088899 46.8);
}

.code-line.deleted,
.code-line.deleted:before {
  background-color: oklch(23.6% 0.104608 27.9);
}

.code-line.deleted:before {
  color: oklch(85.6% 0.088899 46.8);
}

.token.prefix.inserted {
  color: oklch(88.3% 0.11647 118.7);
}

.code-line.inserted,
.code-line.inserted:before {
  background-color: oklch(34.7% 0.087346 153);
  color: oklch(88.3% 0.11647 118.7);
}

.line-number::before {
  display: inline-block;
  padding: 0 2rem;
  margin: 0 -4rem;
  width: calc(2ch + 4rem);
  margin-right: 3ch;
  text-align: right;
  color: light-dark(var(--color-neutral-01-400), var(--color-fern-800)); /* Line number color */
  content: attr(line);
  position: sticky;
  z-index: 2;
  top: 0;
  left: -32px;
  background-color: light-dark(var(--color-neutral-01-50), var(--color-fern-1100));
  mask: linear-gradient(to right, #000 66%, transparent);
}

.line-number > span {
  position: relative;
  z-index: 1;
}

/**
 * theme
 **/

/* css, scss */
.token.atrule .token.rule,
.token.atrule .token.number,
.token.atrule .token.unit {
  color: var(--code-red);
}

.token.selector {
  color: var(--code-yellow);
}

.token.selector .token.variable {
  color: var(--code-yellow);
}

.token.property {
  color: light-dark(var(--color-neutral-02-400), var(--code-cyan));
}

.token.atrule .token.property {
  color: var(--code-magenta);
}

.code-line:has(.token.keyword + .token.selector) .token.selector {
  color: var(--code-green);
}

/* .language-scss .token.variable { color: var(--code-white); } */
/* .language-scss .code-line:has(.property:first-child) { color: var(--code-red); } */
.language-scss .code-line:has(.property:first-child) .function {
  color: var(--code-yellow);
}

/* variables */
.token.variable,
.language-scss .code-line:has(.selector:first-child) .variable {
  color: light-dark(var(--code-black), var(--code-magenta));
}

.token.keyword + .token.selector:has(.token.variable),
.token.keyword {
  color: light-dark(var(--code-lavender), var(--code-white));
}

.token.atrule > .token.variable,
.token.keyword + .token.selector > .token.variable {
  color: light-dark(var(--code-lavender), var(--code-white));
}

/* functions */
.language-scss .function {
  color: var(--code-blue);
}

.code-line:has(.function, .punctuation, .operator) .operator {
  color: var(--code-green);
}

/* html */
.language-markup .token.tag .token.tag,
.language-markup .token.tag .token.tag .token.punctuation,
.language-markup .token.tag + .token.punctuation,
.language-markup .token.attr-value + .token.punctuation {
  color: var(--code-magenta);
}
.language-markup .token.attr-name {
  color: light-dark(var(--code-neutral-02-400), var(--code-white));
}
.language-markup .token.attr-value {
  color: var(--code-yellow);
}

/* comments, punctuation */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: var(--code-comment);
}

/* TODO: all below need to be checked */
.namespace {
  opacity: 0.7;
}

.token.tag {
  color: var(--code-blue);
}

.token.class-name {
  color: var(--code-red);
}

.token.boolean,
.token.constant {
  color: var(--code-yellow);
}

.token.symbol {
  color: var(--code-magenta);
}

.token.number,
.token.unit {
  color: var(--code-magenta);
}

.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: var(--code-yellow);
}

.token.operator {
  color: light-dark(var(--code-black), var(--code-white));
}

.token.entity {
  color: var(--code-yellow);
  cursor: help;
}

.token.url {
  color: var(--code-yellow);
}

.language-css .token.string,
.style .token.string {
  color: var(--code-yellow);
}

.token.atrule,
.token.attr-value {
  color: var(--code-yellow);
}

.token.function {
  color: light-dark(var(--code-black), var(--code-yellow));
}

.token.method.function {
  color: light-dark(var(--code-lavender), var(--code-yellow));
}

.token.regex {
  color: var(--code-yellow);
}

.token.important {
  color: var(--code-yellow);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
