/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */
.code-block {
  --code-black: #152637;
  --code-red: #ff4b59;
  --code-yellow: #fdc347;
  --code-green: #7de37a;
  --code-blue: #727c87;
  --code-magenta: #8965dd;
  --code-cyan: #64cce3;
  --code-white: #f6f7ee;
  --comment: #838c95;
}

/* Code block styles */
.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply block pl-4 pr-4 -mx-4 border-l-4 border-opacity-0;
}

.code-line.inserted {
  @apply bg-green-500 bg-opacity-20;
}

.code-line.deleted {
  @apply bg-red-500 bg-opacity-20;
}

.highlight-line {
  @apply -mx-4 bg-gray-700 bg-opacity-50 border-l-4 border-primary-500;
}
