@tailwind base;
@tailwind components;
@tailwind utilities;
@config "./../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-y: initial;
  }

  body {
    padding-top: env(safe-area-inset-top, 0px);
    padding-right: env(safe-area-inset-right, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
    padding-left: env(safe-area-inset-left, 0px);
  }

  h1 {
    hyphens: auto;
  }

  /* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }
}
