@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1 {
    hyphens: auto;
  }

  /* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}

/*@layer utilities {*/
.sl-r {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.sl-s {
  stroke-linejoin: round;
  stroke-linecap: square;
}

.font-variation-medium {
  font-variation-settings: 'wdth' 100, 'wght' 800;
}

.font-variation-bold {
  font-variation-settings: 'wdth' 100, 'wght' 700;
}

.font-variation-xbold {
  font-variation-settings: 'wdth' 100, 'wght' 750;
}
/*}*/
