.toc {
  --toc-item-border: theme('colors.neutral-01.300');
  position: sticky;
  top: 0;
  grid-column: content-start / 6;

  .toc-list .toc-list {
    display: none;
  }

  .toc-title {
    font-size: theme('fontSize.base');
    line-height: 1.5;
  }

  .toc-list {
    --corner-spacing: 8px;
    position: relative;
    padding-left: 1px;

    &:before {
      content: '';
      position: absolute;
      top: 19px;
      left: 0;
      bottom: 19px;
      width: var(--corner-spacing);
      border-bottom-left-radius: 6px;
      border-left: 2px solid var(--toc-item-border);
      border-bottom: 2px solid var(--toc-item-border);
    }
  }

  .toc-list,
  .toc-list-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .toc-list-item {
    position: relative;
  }

  .toc-list-item:not(:last-child) .toc-link:before {
    background-color: var(--toc-item-border);
  }

  .is-active-li .is-active-link:after {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    right: calc(100% - 7px);
    display: block;
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 2px var(--toc-item-border);
    background: theme('colors.neutral-03.0');
    border-radius: 6px;
  }

  .toc-link {
    display: flex;
    flex: 0 0 100%;
    align-content: center;
    align-items: center;
    gap: theme('spacing.2');
    padding-block: theme('spacing.2');
    color: theme('colors.fern.1100');
    font-family: theme('fontFamily.display');
    font-size: theme('fontSize.base');
    font-variation-settings: 'wdth' 100, 'wght' 500;
    text-transform: lowercase;

    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 2px;
    }
  }
}
