/* line 17, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/patterns/images/_image-replace.scss */
.__image-replace {
  display: block;
  text-indent: -9999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 7, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/patterns/layout/_clear-floats.scss */
.__clearfix {
  zoom: 1;
}
/* line 9, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/patterns/layout/_clear-floats.scss */
.__clearfix:before, .__clearfix:after {
  content: "";
  display: table;
}
/* line 13, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/patterns/layout/_clear-floats.scss */
.__clearfix:after {
  clear: both;
}

/* line 5, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/patterns/legacy/_inline-block.scss */
.__inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 4, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* line 14, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
body {
  margin: 0;
  line-height: 1;
}

/* line 22, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
form {
  margin: 0;
}

/* line 26, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 39, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 51, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
button,
input {
  line-height: normal;
  overflow: visible;
}

/* line 59, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  padding: 0;
}

/* line 68, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 77, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 83, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
:focus {
  outline: none;
}

/* line 91, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 100, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 109, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
figure {
  margin: 0;
}

/* line 116, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
img {
  -ms-interpolation-mode: bicubic;
  display: block;
}

/* line 125, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
ol,
ul {
  margin: 0;
  padding: 0;
}

/* line 131, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
dl,
dd {
  margin: 0;
}

/* line 140, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 157, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
}

/* line 167, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
p {
  margin: 0;
}

/* line 171, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
blockquote {
  margin: 0;
}

/* line 177, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

/* line 189, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
cite {
  font-style: normal;
}

/* line 193, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
ins {
  text-decoration: none;
}

/* line 197, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
dfn {
  font-style: inherit;
}

/* line 201, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
del {
  text-decoration: none;
}

/* line 205, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
mark {
  background: none;
  color: inherit;
}

/* line 210, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
address {
  font-style: normal;
}

/* line 214, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
tt, code, kbd, samp {
  font-family: inherit;
  font-size: inherit;
}

/* line 220, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
b,
strong {
  font-weight: inherit;
}

/* line 224, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
em {
  font-style: inherit;
}

/* line 228, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
small {
  font-size: 100%;
}

/* line 232, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
q {
  quotes: none;
}

/* line 237, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 242, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

/* line 249, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
a:hover,
a:active {
  outline: none;
}

/* line 253, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
a img {
  border: none;
}

/* line 259, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 265, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
sup {
  top: -0.5em;
}

/* line 269, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 286, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 293, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 298, ../../../Users/Steve/.rvm/gems/ruby-1.9.2-p290/gems/stitch-0.1.3.2/stylesheets/stitch/_reset.scss */
th {
  font-weight: inherit;
}

/* line 16, style.sass */
html, body {
  max-width: 480px;
  margin: auto;
  background: black;
  font: 16px/1.5 "Helvetica Neue", Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  color: white;
}

/* line 24, style.sass */
h1 {
  font-size: 18px;
}

/* line 26, style.sass */
h1, label, input {
  font-weight: 900;
}

/* line 28, style.sass */
input, p, select {
  font-size: 12px;
  color: #32434d;
}

/* line 31, style.sass */
label {
  font-size: 14px;
}

/* line 33, style.sass */
label, p {
  margin: 0 0 7px;
  line-height: 1;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  display: block;
}

/* line 38, style.sass */
p {
  color: #32434d;
  text-shadow: 0 1px 0 rgba(241, 243, 244, 0.5);
}
/* line 41, style.sass */
p:empty {
  display: none;
}

/* line 43, style.sass */
input, textarea, select {
  display: block;
  padding: 10px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5b6971;
}

/* line 52, style.sass */
input, textarea {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(241, 243, 244, 0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(241, 243, 244, 0.5);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(241, 243, 244, 0.5);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(241, 243, 244, 0.5);
  -webkit-appearance: none;
}

/* line 56, style.sass */
select {
  -webkit-appearance: none;
  position: relative;
}

/* line 60, style.sass */
#status {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #32434d), color-stop(50%, #28353e), color-stop(50%, #243038), color-stop(100%, #1e282e));
  background-image: -webkit-linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  background-image: -moz-linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  background-image: -o-linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  background-image: -ms-linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  background-image: linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  -moz-box-shadow: inset 0 1px 0 rgba(241, 243, 244, 0.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(241, 243, 244, 0.15);
  -o-box-shadow: inset 0 1px 0 rgba(241, 243, 244, 0.15);
  box-shadow: inset 0 1px 0 rgba(241, 243, 244, 0.15);
  border: 1px solid #141b1f;
}

/* line 67, style.sass */
[for="status"]:after {
  content: "\2195";
  line-height: 1;
  padding: 7px 7px 7px 10px;
  border-left: 1px solid #1e282e;
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 32px;
  z-index: 1000;
  font-size: 20px;
}

/* line 79, style.sass */
fieldset {
  display: block;
  position: relative;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #6c747a;
  -moz-box-shadow: inset 0 1px 0 rgba(241, 243, 244, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(241, 243, 244, 0.5);
  -o-box-shadow: inset 0 1px 0 rgba(241, 243, 244, 0.5);
  box-shadow: inset 0 1px 0 rgba(241, 243, 244, 0.5);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b8c1c6), color-stop(100%, #9ca8b0));
  background-image: -webkit-linear-gradient(#b8c1c6, #9ca8b0);
  background-image: -moz-linear-gradient(#b8c1c6, #9ca8b0);
  background-image: -o-linear-gradient(#b8c1c6, #9ca8b0);
  background-image: -ms-linear-gradient(#b8c1c6, #9ca8b0);
  background-image: linear-gradient(#b8c1c6, #9ca8b0);
}

/* line 88, style.sass */
[role="banner"] {
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px 0 black;
  text-align: center;
  position: relative;
  -moz-box-shadow: inset 0 1px 0 #4b6372, inset 0 5px 20px rgba(71, 94, 108, 0.3);
  -webkit-box-shadow: inset 0 1px 0 #4b6372, inset 0 5px 20px rgba(71, 94, 108, 0.3);
  -o-box-shadow: inset 0 1px 0 #4b6372, inset 0 5px 20px rgba(71, 94, 108, 0.3);
  box-shadow: inset 0 1px 0 #4b6372, inset 0 5px 20px rgba(71, 94, 108, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #32434d), color-stop(50%, #28353e), color-stop(50%, #243038), color-stop(100%, #1e282e));
  background: -webkit-linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  background: -moz-linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  background: -o-linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  background: -ms-linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  background: linear-gradient(#32434d 0%, #28353e 50%, #243038 50%, #1e282e 100%);
  border-bottom: 1px solid #0a0d0f;
}
/* line 97, style.sass */
[role="banner"] h1 {
  display: inline-block;
}
/* line 99, style.sass */
[role="banner"] a {
  display: inline-block;
  position: absolute;
  padding: 9px 15px;
  top: 9px;
  right: 8px;
  font: 900 12px/1 "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #141b1f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e282e), color-stop(50%, #141b1f), color-stop(50%, #101519), color-stop(100%, #0a0d0f));
  background: -webkit-linear-gradient(#1e282e 0%, #141b1f 50%, #101519 50%, #0a0d0f 100%);
  background: -moz-linear-gradient(#1e282e 0%, #141b1f 50%, #101519 50%, #0a0d0f 100%);
  background: -o-linear-gradient(#1e282e 0%, #141b1f 50%, #101519 50%, #0a0d0f 100%);
  background: -ms-linear-gradient(#1e282e 0%, #141b1f 50%, #101519 50%, #0a0d0f 100%);
  background: linear-gradient(#1e282e 0%, #141b1f 50%, #101519 50%, #0a0d0f 100%);
  -moz-box-shadow: inset 0 1px 1px black, inset 0 0 1px black, 0 1px 0 #3c505d;
  -webkit-box-shadow: inset 0 1px 1px black, inset 0 0 1px black, 0 1px 0 #3c505d;
  -o-box-shadow: inset 0 1px 1px black, inset 0 0 1px black, 0 1px 0 #3c505d;
  box-shadow: inset 0 1px 1px black, inset 0 0 1px black, 0 1px 0 #3c505d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}

/* line 113, style.sass */
[type="submit"] {
  display: block;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: inset 0 1px 0 #81c7ca;
  -webkit-box-shadow: inset 0 1px 0 #81c7ca;
  -o-box-shadow: inset 0 1px 0 #81c7ca;
  box-shadow: inset 0 1px 0 #81c7ca;
  background: #5db7bb;
  border: none;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font: 900 16px/1 "Helvetica Neue", Helvetica, sans-serif;
  padding: 20px;
}

/* line 124, style.sass */
[role="main"] {
  margin: auto;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
