{embed="/include/header" entry_title="Blog"}
<div class="page-content">
{exp:channel:entries channel="blog" limit="10" orderby="view_count_one" sort="desc"}
{title} viewed {view_count_one} times <br>
{/exp:channel:entries} 
<div>
	<h2>Draft posts</h2>
	{exp:channel:entries channel="blog" limit="10" status="draft" cache="no" show_future_entries="yes"}
		<article role="article" class="hentry">
		  <h1 class="h2 entry-title entry-summary-title"><a href="{title_permalink='blog/entry'}" title="Read {title} in full." rel="bookmark">{title}</a></h1>
		  {excerpt}
		  {blog_meta}
		</article>
		{pagination}
	{/exp:channel:entries}
  </div>
</div>
{embed="/include/footer"}