{layout="layouts/_layout-blog" class="page-entry"}

{!-- channel vars (prefix ch_) --}
{preload_replace:ch="blog"}
{preload_replace:ch_status="open|latest|draft"}
{preload_replace:background="{image}{exp:iamsteve:background image='{url}'}{/image}"}
{preload_replace:color="{switch='#e9f5f5|#fffbf2|#ffede5|#e1f7ee'}"}
{preload_replace:design="design-default-{switch='1|2|3|4'}.svg"}
{preload_replace:code="code-default-{switch='1|2|3|4'}.svg"}

{!--
	Redirect
	============
	This is a blog single entry page, it'll never need a fourth segment, so we use the following code to make sure the page redirects if someone types in an incorrect URL in the browser address bar, by adding new segments. i.e. http://example.com/blog/entry/title/nothing
--}
{if segment_4}
	{redirect='{segment_1}/{segment_2}/{segment_3}'}
{/if}

{exp:channel:entries require_entry="yes" show_future_entries="yes" track_views="one" channel="{ch}" status="{ch_status}" global:param_disable_default global:param_cache_param}

  {if no_results}{redirect="404"}{/if}
  <span style="display:none">Viewed: {view_count_one}</span>
  
  <div class="featured-image entry-image pt6 pt8-d" role="presentation" style="background-color: {if image}{background}{if:else}{color}{/if}">
    {if image}
  	  {image}
  	    {if large_file_url}
  	      <img src="{url:large}" srcset="{url:medium} 378w, {url:large} 738w, {url:large-2x} 1476w">
        {if:else}
          <img src="{url}">
        {/if}
      {/image}
    {if:else}
  	  {categories channel="blog" limit="1"}
        {if category_id == 7}
          <img src="{site_url}dist/images/{design}">
        {if:else}
          <img src="{site_url}dist/images/{code}">
        {/if}
      {/categories}
    {/if}
  </div>
  
  <article role="article" class="entry-content pt4 pb4 pt6-d pb6-d">
    <header class="entry-header pb4 p0-d">
      <div class="meta dashes">
        {date}
        {categories channel="blog" style="linear" parent_only="yes" limit="1"}
          <a href="{path='blog/index'}" rel="category tag">{category_name}</a>
        {/categories}
      </div>
      <div class="visuallyhidden">
        <a href="{site_url}" class="author vcard url fn" rel="author">Steve McKinney</a>
        <time datetime="{edit_date format='%Y-%m-%dT%H:%i:%s%O'}" class="updated">
          {edit_date format="%Y/%m/%d"}
        </time>
      </div>
      <h1 class="f1 headline-d secondary pt2 mb0 entry-title">{title}</h1>
    </header>
    {exp:streeng find='\<p><img src="|"><\/p>' replace='<img src="|">' insensitive="yes"}{article}{/exp:streeng}
  </article>
  
{/exp:channel:entries}

<div class="contain">
  {embed="include/next"}
</div>
  
{layout:set name="js"}
  <script src="{global:theme_url}/dist/js/blog.js" defer></script>
{/layout:set}