{embed="/include/header" entry_title="{exp:channel:entries channel="blog" status="Latest|open|Draft"}{title}{/exp:channel:entries}"}

<div class="page-content">
  {exp:channel:entries require_entry="yes" show_future_entries="yes" track_views="one" channel="blog" status="Latest|open|Draft" global:param_disable_default global:param_cache_param}
  
    {if no_results OR segment_4 != ""}{redirect="404"}{/if}
    <span style="display:none">Viewed: {view_count_one}</span>
		
    <article role="article" class="entry-content">
      {if image != ""}<img src="{image}" class="push-bottom">{/if}
      {if article}
        {exp:markdown}{article}{/exp:markdown}
      {if:else}
      	{exp:markdown}{blog_article}{/exp:markdown}
      {/if}
    </article>
    {blog_nav}
  
  {/exp:channel:entries}
</div>

{next_article}

{embed="/include/footer"}