{layout='layouts/_layout-blog'}

{!-- channel vars (prefix ch_) --}
{preload_replace:ch="blog"}
{preload_replace:ch_status="latest|open"}
{preload_replace:ch_disable="member_data|trackbacks"}
{preload_replace:ch_limit="12"}
{preload_replace:design="design-default-{switch='1|2|3|4'}.svg"}
{preload_replace:code="code-default-{switch='4|3|2|1'}.svg"}

<div class="row between subheader contain contain-large pb-half pb-d">
  {exp:stash:get_list 
    name="pagination"
    process="end"
    parse_tags="yes"
    parse_vars="yes"
    parse_conditionals="yes"
  }
    {if previous_page}
      <a href="{previous_page}" class="secondary sans link-icon"><span class="icon icon-medium icon-left fill-secondary">{icon_arrow_left}</span> Newer</a>
    {if:else}
      <span class="secondary sans link-icon disabled"><span class="icon icon-medium icon-left fill-secondary">{icon_arrow_left}</span> Newer</span>
    {/if}

    {if segment_2 == 'category'}
    	{exp:channel:category_heading channel='{ch}'}
    		<h1 class="f4 f3-b f2-d secondary mb-undo">{category_name}</h1>
    	{/exp:channel:category_heading}
    {if:else}
      {exp:channel:info channel="blog"}
        <h1 class="f4 f3-b f2-d secondary mb-undo">{channel_title}</h1>
      {/exp:channel:info}
    {/if}

  
    {if next_page}
      <a href="{next_page}" class="secondary sans link-icon">Older <span class="icon icon-medium icon-right fill-secondary">{icon_arrow_right}</span></a>
    {if:else}
      <span class="secondary sans link-icon disabled">Older <span class="icon icon-medium icon-right fill-secondary">{icon_arrow_right}</span></span>
    {/if}
  {/exp:stash:get_list}
</div>

<div class="row between contain contain-large pt pt-double-b pb pb-double-b" id="posts">
  {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" limit="{ch_limit}" paginate="both"}
  	
  	{!-- 404 --}
  	{if no_results}{redirect="404"}{/if}
  	
  	{!-- Pagination stash --}
  	{pagination}
  	
  	{!-- Article --}
  	<article data-href="{title_permalink='blog/entry'}" class="card card-medium entry">
    	<div class="card-image mb-half">
      	{if thumbnail}
      	  {thumbnail}
      	    {if medium_file_url}
      	      <img src="{url:medium}" srcset="{url:medium-2x} 2x">
            {if:else}
              <img src="{url}">
            {/if}
          {/thumbnail}
        {if:else}
      	  {categories channel="blog" limit="1"}
            {if category_id == 7}
              <img src="{site_url}dist/images/{design}">
            {if:else}
              <img src="{site_url}dist/images/{code}">
            {/if}
          {/categories}
        {/if}
    	</div>
    	<div class="card-body">
      	<div class="meta dashes mb-quarter mb-half-b">{date}</div>
    		<h3 class="f6 f5-b f4-d mb-undo mb-quarter-b primary"><a href="{title_permalink='blog/entry'}">{title}</a></h3>
    		{if '{exp:iamsteve:is_mobile}' != 1}
    		  {exp:streeng words="44"}{excerpt}{/exp:streeng}
    		  {blog_meta}
    		{/if}
      </div>
  	</article>
  {/exp:channel:entries}
</div>

{!-- Pagination stash is retrieved --}
{exp:stash:get_list 
  name="pagination"
  process="end"
  parse_tags="yes"
  parse_vars="yes"
  parse_conditionals="yes"
}
  <div class="row center pagination" style="margin-bottom: -38px">
    {if previous_page}
      <a href="{previous_page}" class="paginate paginate-left link-icon"><span class="icon icon-medium icon-left">{icon_arrow_left}</span> Newer</a>
		{if:else}
		  <span class="paginate paginate-left disabled link-icon"><span class="icon icon-medium icon-left">{icon_arrow_left}</span> Newer</span>
		{/if}

		<div class="paginate paginate-between">
      <span>Page {current_page} of {total_pages}</span>
		</div>
		
		{if next_page}
			<a href="{next_page}" class="paginate paginate-right link-icon">Older <span class="icon icon-medium icon-right">{icon_arrow_right}</span></a>
		{if:else}
		  <span class="paginate paginate-right disabled link-icon">Older <span class="icon icon-medium icon-right">{icon_arrow_right}</span></span>
		{/if} 
  </div>
{/exp:stash:get_list}

<section class="row row-normal row-padding contain contain-large center subscribe">
  {subscribe}
</section>