{layout='layouts/_blog-layout'}

{!--
	404 Redirect
	============
	This is a listing page, it needs categories and pagination to work, but also needs to redirect if segment_2 is invalid . i.e. http://example.com/blog/nothing
--}
{if segment_2}
	{if segment_2 != 'category' AND segment_2  ~ '/^(?!P\d+).*/'}
		{redirect='404'}
	{/if}
{/if}

{!-- prevents 3rd ++ segments on non category listings --}
{if segment_3}
	{if segment_2 != 'category'}
		{redirect='{segment_1}/{segment_2}'}
	{/if}
{/if}

{!-- prevents 4th ++ segments on category listings --}
{if segment_4}
	{if segment_4 ~ '/^(?!P\d+).*/'}
		{redirect='{segment_1}/{segment_2}/{segment_3}'}
	{/if}
{/if}

{!-- prevents 5th ++ segments on paginated category listings --}
{if segment_5}
	{redirect='{segment_1}/{segment_2}/{segment_3}/{segment_4}'}
{/if}

{exp:channel:entries channel="blog" paginate="bottom" limit="8" status="Latest|open|{if logged_in}|draft{/if}" disable="member_data|trackbacks" global:param_disable_mt global:param_cache_param}
  
  {if no_results}{redirect="404"}{/if}
	
	<article role="article" class="hentry">
		<h1 class="h2 h2-b h2-d entry-title entry-summary-title"><a href="{title_permalink='blog/entry'}" title="Read {title} in full." rel="bookmark">{title}</a></h1>
    {excerpt}
		{blog_meta}
	</article>
	{pagination}
{/exp:channel:entries}