.accordion {
	margin-bottom: em($line); }

.acc-handle {
	background: $secondary;
	color: $white;
	font-family: $sans;
	font-weight: bold;
	display: block;
	position: relative;
	padding: em($base-px);
	border-bottom: 1px solid $gray-light-3;

	&:after {
		content:"+";
		float: right;
	}
		
	&:hover {
		color: $white;
		background: $gray-dark;

	}
	
	&.active {
		background: $gray-dark;

		&:after {
			content:"-";
		}
	}
}