// Buttons
// ---------------------------
$colors: $default $light-grey $alt $info $danger $success $yellow $warning $white #7375a5 #f00 !default;
//$colors: #ff5820 #ffc041 #ffef40 #a1ea3b #3beacd #41c0ff #3d85eb #e157e1 #2f2f2f #7d7e81 #e3e6ea #fff;
$i: 1;

.button {
	@extend %element-base-with-mixin;
	@include element($primary, $hover: true, $dry: true); }

.button-secondary {
	@extend %element-base-with-mixin;
	@include element($secondary, $hover: true, $dry: true); }

// Grouped
.group-button {
	@include element-base;
	@include element($alt, $hover: true, $dry: true); }
	
.group { 
	@include group(compact(unquote(".group-button"), unquote("input")));
	input + input {
		margin-left: -1px; } }