.site-header {
  padding: em($base-px);
  text-align: center;
  
  @include breakpoint($c) {
	  @include background(linear-gradient(#fff 0%, #eff5f3 100%));
	  box-shadow: 0 1px 1px rgba(38,128,96,.4); }
	
	.no-cssgradients & {
	  background: $white; } }

.nav-toggle {
	font-family: $icons;
	display: inline-block;
	vertical-align: middle; }

.site-logo {
	display: inline-block;
	vertical-align: middle;
	
	img {
		height: em(30px); } }