// Inline list
// ---------------------------
.inline-list {
	li {
		display: inline-block; } }

// Headline list
// ---------------------------
.headline-list {
	margin-bottom: em($line);

	&.flush {
		margin: 0; }

	h4 {
		font-weight: normal; }

	li {
		padding: em($base-px/2) 0; } }

/* Post List */
.post-list {
	li {
		margin-bottom: $space;
	}
}

// Bullet list
// ---------------------------
.bullet-list {
	list-style: square;

	li {
		margin-bottom: em($line); } }

// Text list
// ---------------------------
.text-list {
	margin: 0 0 1em;
	line-height: 1.3;

	li {
		margin-bottom: $space; } }