{layout='layouts/_layout'}

{if segment_2 != ''}
  {redirect="404"}
{/if}

<div class="row subheader center contain contain-large pb-half pb-d">
  <h1 class="f5 f3-b f2-d alternate mb-undo">About</h1>
</div>

<div class="contain">
  <div class="measure m-center pt pt-double-d pb pb-double-d">
  	<article role="article" class="mb">
  		<h2>About myself</h2>
  		<p>I graduated from University in May 2011. It really doesn't seem that long ago. I built my first website when I was 12, I for some reason continued it in my spare time, went on to study web development and finally make a full time career out of it.</p>
  		<p>As a designer, I enjoy the whole process, but specialise in user interface and user experience. I think the amount of years I have been doing this have helped me into a more unique position. I’m happy coding and designing equally, and believe it helps make a better end product.</p>
  		<p>I aspire to be as confident in illustration, as I am web design. It’s something I try to devote time to improving outside of web related learning. Illustration adds uniqueness to a website that a photo can’t.</p>
  	</article>
  
  	<article role="article" class="skills mb">
  		<h2>Skills</h2>
  		<dl>
  			<dt>Photoshop</dt>
  			<dd>Although it's use isn’t as prolific as it used to be, it’s still a part of my workflow. You can’t beat it for quickly experimenting with ideas and getting the larger part of the way a website should look and feel.</dd>
  			<dt>Illustrator</dt>
  			<dd>I’ve grown to love Illustrator for it’s SVG export and generally the way the web is going. I design websites quite equally between Illustrator and Photoshop. I’m not sure what I like best, so I couldn’t do without each.</dd>
  			<dt><abbr title="HyperText Markup Language">HTML</abbr></dt>
  			<dd>The starting point for the coding side any website is generally getting into the HTML. So it’s obvious HTML should be in my skillset! I feel like this should be a given, but yes that includes HTML5 elements.</dd>
  			<dt><abbr title="Cascading Style Sheets">CSS</abbr></dt>
  			<dd>The stuff that makes a website come to life. I try to take a <abbr title="Don’t repeat yourself">DRY</abbr> approach to my CSS. I use <a href="http://sass-lang.com" title="Syntactically awesome stylesheets">Sass</a> which I literally can’t live without now. Another given I feel is I have great knowledge of CSS3. This means little for clients, but it helps me get my job done better.</dd>
  			<dt>JavaScript</dt>
  			<dd>Always an area I’m looking to improve. Considering the majority of use cases you don’t reinvent the wheel to save time, I’m pretty handy with it. My aim is to always use it to enhance websites where necessary.</dd>
  			<dt>ExpressionEngine</dt>
  			<dd>I love ExpressionEngine, it’s powerful in what it can do and a CMS which doesn’t get in my way. It doesn’t decide anything for me and lets me have full control over how <em>I</em> write the HTML. Which in turn helps me develop websites quicker! Also has a brilliant community behind it, you certainly get what you pay for.</dd>
  			<dt>Wordpress</dt>
  			<dd>A highly dependable CMS, I’ve built the majority of websites on this. It’s a great way to manage a website and It’s got great plugins round it and you can pretty much build all websites on it, without too much of a problem.</dd>
  		</dl>
  		
  	</article>
  
  	<article role="article" class="colophon mb">
  		<h2>Colophon</h2>
  		<dl>
  			<dt>Built using</dt>
  			<dd><a href="http://panic.com/coda" title="What I coded &amp; designed this website with">Coda 2</a></dd>
  			<dd><a href="http://adobe.com/photoshop" title="What I used to plan and design the look and feel of the website">Photoshop</a></dd>
  			<dd><a href="http://expressionengine.com/index.php?affiliate=stevemckinney" title="Running on ExpressionEngine.">EE</a></dd>
  			<dd><a href="http://iconfactory.com/software/xscope" title="A great tool for measuring, comparing, designing, etc">xScope</a></dd>
  			<dt>Fonts</dt>
  			<dd><a href="http://symbolset.com/" title="The icons I’m using on this website">Symbolset</a></dd>
  			<dd><a href="//typography.com" title="The fonts I’m using on this website">H&Co: Verlag & Archer</a></dd>
  			<dt>Hosting</dt>
  			<dd><a href="https://www.digitalocean.com/?refcode=612d37093f16">Digital Ocean</a></dd>
  		</dl>
  	</article>
  	
  	<article role="article" class="versions mb">
  		<h2>Old versions</h2>
  		<p>Oh how we progress&hellip; <a href="http://dribbble.com/stevemckinney/projects/10419-My-site" title="Previous versions of my site taking shape on Dribbble">Dribbble</a> has been a good place for the most part to keep track of my previous designs (I should probably make a better effort in future to use it as a store for those). V2 onwards have links to blog posts explaining decisions.</p>
  		
  		<figure class="old-design">
  			<img src="{global:theme_url}/assets/images/_about/v1_2x.jpg">
  			<figcaption>
  				Version one, around late 2008.
  			</figcaption>
  		</figure>
  		
  		<figure class="old-design">
  			<img src="{global:theme_url}/assets/images/_about/v2_2x.jpg">
  			<figcaption>
  				<a href="{global:theme_url}/blog/entry/redesign">Version two, late 2010.</a>
  			</figcaption>
  		</figure>
  		
  		<figure class="old-design">
  			<img src="{global:theme_url}/assets/images/_about/v3_2x.jpg">
  			<figcaption>
  				<a href="{global:theme_url}/blog/entry/about_the_redesign_v3">Version three, early 2011.</a>
  			</figcaption>
  		</figure>
  		
  		<figure class="old-design">
  			<img src="{global:theme_url}/assets/images/_about/v4_2x.jpg">
  			<figcaption>
  				<a href="{global:theme_url}/blog/entry/about_version_4">Version four, late 2011.</a>
  			</figcaption>
  		</figure>
  	</article>
  </div>
</div>