{layout='layouts/_layout' title="About"}

{if segment_2 != ''}
  {redirect="404"}
{/if}

<div class="row subheader between contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0 text-left">About</h1>
  <nav class="flex-auto flex end sans">
    <a href="#site" class="button">Site</a>
    <a href="#examples" class="button">Examples</a>
    <a href="#author" class="button">Author</a>
    <a href="#versions" class="button">History</a>
  </nav>
</div>

<div class="contain">
  <div class="measure m-center pt4 pt6-d pb4 pb6-d">
    <article id="site">
      <h2 class="f2 f1-b text-center mb4 secondary">You’re great at building websites but you’re missing the visual style to go with it</h2>
      
      <p class="mb4">I’m Steve McKinney, I write this blog about designing websites and have done for a couple of years. My aim is to teach you how to design visually appealing websites.</p>
      
      <p class="mb4">You’re likely to be a developer wanting to improve their visual design skills, or someone getting started on the path of becoming a designer. Either way you’re someone who understands the value of not only good design, but how to make it visually appealing too. Through sharing what I know and continue to learn, I hope to meet this need. </p>
      
      <h3 class="f3 mb2 pt2">It started with writing weekly</h3>
      
      <p class="mb4">I made the decision to start writing this blog <em>consistently</em> in January 2015. Every week, for two years, a blog post went out. I started out writing on anything I was interested in as long as it was related to websites. </p>
      
      <p class="mb4">It became clear to me over those two years, there is a lack of content focusing on how to design things which look good. It’s not for a lack of demand, <em>it’s challenging to teach</em> visual design. </p>
      
      <h3 class="f3 mb2 pt2">Focusing on designing beautiful websites</h3>
      
      <p class="mb4">I begun narrowing my focus to only designing with Illustrator and launched a redesign of the website. Things improved steadily, but I felt limited and ignoring a part of making websites. </p>
      
      <p class="mb4">The thing being coding, at least the HTML and CSS part. Understanding how to build websites is part of my unique advantage.</p>
      
      <h3 class="f3 mb2 pt2">A new goal to be able to stick with in depth content</h3>
      
      <p class="mb4">So in the last months of posting weekly, I thought about the focus of the website and took a break. The realisation of posting weekly with limited time meant I couldn’t do certain posts. I wanted to change.</p>
      
      <blockquote class="mb4"><p class="f3 f2-b">My goal through this website is to; teach in depth ‘web’ related design topics. Using Illustrator and CSS as the core tools.</p></blockquote>
      
      <h2 class="f2 mb2 pt6">A mixture of practical tutorials and tips</h2>
      
      <p class="mb4">All tutorials are taught using Illustrator and aim to make no assumptions. Meaning I will provide rationale behind my decision making, point out where things are or provide references. Each tutorial does fall at an intermediate level.</p>
      
      <p class="mb4">Some tutorials will feature CSS (using SCSS), and some will feature JavaScript. There are a mixture of articles from quick tips, to in depth design tutorials. </p>
      
      <p class="mb4">The aim is to help improve workflow efficiency and build up visual design skill. Code adds additional justification and is usually the best way to communicate extra details.</p>
      
      <p class="mb4">I&#8217;m certainly still figuring things out. </p>
    </article>
    
    <article id="examples">
      <h2 class="f2 mb2 pt6">Best posts</h2>
      
      <p class="mb4">These are a mixture of my most popular posts and what I believe are my best.</p>
      
      <ul class="list-custom-bullet">
        <li><a href="{site_url}blog/entry/creating-custom-stroke-width-profiles-in-illustrator">Creating custom stroke width profiles in Illustrator</a></li>
        <li><a href="{site_url}blog/entry/horizontal-scrolling-responsive-menu">Creating a horizontal scrolling responsive menu</a></li>
        <li><a href="{site_url}blog/entry/get-up-to-speed-with-css-shapes">Get up to speed with CSS shapes</a></li>
        <li><a href="{site_url}blog/entry/how-to-use-kerning-tracking">How to use kerning &amp; tracking</a></li>
        <li><a href="{site_url}blog/entry/a-guide-to-vertical-rhythm">A guide to vertical rhythm</a></li>
        <li><a href="{site_url}blog/entry/search-overlay-with-smooth-reveal-animation">Search overlay with smooth reveal animation</a></li>
      </ul>
    </article>
    
    <article id="author">
      <h2 class="f2 mb2 pt6">About me</h2>
      
      <p class="mb4">I’m a designer based in Manchester. I specialise in visual design and user experience for websites. I've been doing this professionally for nearly six years. I’ve worked with a large variety of clients in differing industries. With differing needs, shops, subscriptions, services and marketing.</p>
  
      <p class="mb4">I enjoy being involved along the whole timeline of a project. The earlier the better, I'm someone who likes to get the best understanding possible. This not only helps me provide the best solution and justification for the work but build trust. When a designer isn’t able to build trust with the client, it results in unnecessary revisions and a feeling of not being understood.</p>
      
      <p class="mb4">Personally, I've been doing this since I was a kid. In which I’ve always deemed myself a “web designer” but that’s like calling yourself a webmaster these days. I sit somewhere in the middle of being a visual designer and UX designer. Anyway, I’m someone who has always designed websites with the intention of being usable and visually appealing. </p>
      
      <p class="mb4">Starting at a young age has given me an advantage, as I learnt to code alongside designing. I saw it as part of the process, should designers code wasn’t a thing when I was 13. I generally get mixed opinions on my skill from this, I’m not “a designer who knows a bit of code” or a “front end developer who knows a bit of design”. I have a deep understanding of design and I know CSS like the back of my hand.</p>
      
      <p class="mb4">I do have a personal style, but I will always design for the audience and goals in mind. It’s important the user is put first, as they are the ones who are buying or using your service.</p>
      
      <p class="mb4">I enjoy drawing, illustration and hand lettering. I’m also a dog lover, if it wasn’t obvious, see the logo, the illustrations in the footer and some article images… everywhere.</p>
    </article>
    
    <article role="article" class="mb4 mb6-b" id="history">
  		<h2 class="f2 mb2 pt6">Design history</h2>
  		<p class="mb4">Here is the design history of this website. Version two onwards I have written about. <a href="http://dribbble.com/stevemckinney/projects/10419-My-site" title="Previous versions of my site taking shape on Dribbble">Dribbble</a> has some iterations of previous designs.</p>
  		
  		<figure class="old-design mb6">
  			<img src="{global:theme_url}/assets/images/_about/v1_2x.jpg" class="radius mb2">
  			<figcaption>
  				Version one, 2009.
  			</figcaption>
  		</figure>
  		
  		<figure class="old-design mb6">
  			<img src="{global:theme_url}/assets/images/_about/v2_2x.jpg" class="radius mb2">
  			<figcaption>
  				<a href="{global:theme_url}/blog/entry/redesign">Version two, 2010.</a>
  			</figcaption>
  		</figure>
  		
  		<figure class="old-design mb6">
  			<img src="{global:theme_url}/assets/images/_about/v3_2x.jpg" class="radius mb2">
  			<figcaption>
  				<a href="{global:theme_url}/blog/entry/about_the_redesign_v3">Version three, early 2011.</a>
  			</figcaption>
  		</figure>
  		
  		<figure class="old-design mb6">
  			<img src="{global:theme_url}/assets/images/_about/v4_2x.jpg" class="radius mb2">
  			<figcaption>
  				<a href="{global:theme_url}/blog/entry/about_version_4">Version four, mid 2011.</a>
  			</figcaption>
  		</figure>
  		
  		<figure class="old-design mb6">
  			<img src="{global:theme_url}/assets/images/_about/iamsteve-v5.png" class="radius mb2">
  			<figcaption>
  				<a href="{global:theme_url}/blog/entry/about_version_5">Version five, late 2012.</a>
  			</figcaption>
  		</figure>
  	</article>
  </div>
</div>