{layout='layouts/_layout' title="Contact"}

{if segment_2 != ''}
  {redirect="404"}
{/if}

<div class="row subheader center contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0">Contact</h1>
</div>

<div class="row row-normal row-padding between contain contain-medium contain-large">
	<article class="column column-4-b mb4 mb0-b">
		<h2 class="f4 mb2">Feedback</h2>
    <p class="mb4">Feedback is really helpful, as I will be able to improve posts further. It also helps me to focus on the right topics. If you have any feedback or suggestions, I’ll be grateful for you taking the time.</p>
    <h2 class="f4 mb2">Issues with a post</h2>
    <p class="mb2">Free feel to send a message if you’re stuck with a post. I’m happy to help steer you in the right direction. The following will help:</p>
    <ul class="mb4">
      <li>Describe the problem</li>
      <li>What you’re trying to achieve</li>
      <li>If it’s code related <a href="http://codepen.io/pen/" class="link">make a CodePen</a></li>
      <li>Provide any links to work so I can see errors</li>
      <li>Don’t send login details by email</li>
    </ul>
    <h2 class="f4 mb2">Hiring me</h2>
    <p class="mb4">If you have something you may think I’d be interested in, please feel free to send it across. However, I’m not currently available for freelance work. When I have availability, I take on <em>design only</em> projects. These are usually for individuals and small to medium businesses.</p>
		<h2 class="f4 mb2">Find me elsewhere</h2>
		<p class="mb0">{social}</p>
	</article>
	<article class="column column-4-b">
		<h2 class="f4 mb2">Contact form</h2>
    <p class="mb4">I aim to respond to every email. For any reason you do not receive a reply, try again, it’s possible something has gone wrong.</p>
    <div id="wufoo-s1i8dkdm0llchoe" class="wufoo">
      <p>Your JavaScript may not be enabled. <a href="https://stevemckinney.wufoo.com/forms/s1i8dkdm0llchoe">Fill out the form</a>.</p>
    </div>
    <script>var s1i8dkdm0llchoe;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'stevemckinney',
    'formHash':'s1i8dkdm0llchoe',
    'autoResize':true,
    'height':'627',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { s1i8dkdm0llchoe = new WufooForm();s1i8dkdm0llchoe.initialize(options);s1i8dkdm0llchoe.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
	</article>
</div>