{layout="layouts/_layout-site" class="page-home"}

{!-- channel vars (prefix ch_) --}
{preload_replace:ch="blog"}
{preload_replace:ch_status="open|latest"}
{preload_replace:ch_disable="pagination|member_data|trackbacks"}
{preload_replace:ch_limit="8"}
{preload_replace:ch_limit_large="11"}
{preload_replace:design="design-default-{switch='3|1|2|4'}.svg"}
{preload_replace:code="code-default-{switch='1|4|2|3'}.svg"}

<div class="hero contain-medium contain-large mb2 mb4-d">
  <div class="introduction">
    <h1 class="f3 f2-b f1-d mb0 primary hero-title">Learn design and code</h1>
    {!--<p class="hide-sw">A blog covering design and code. Focused on design techniques with Illustrator and writing maintainable CSS.</p>
    <p class="hide-sw sans"><a href="{path='blog/index'}" class="link neutral">Browse the archive</a></p>--}
  </div>
  <picture class="hero-image">
    <source srcset="{site_url}dist/images/introduction-320.svg" media="(max-width: 399px)" sizes="100vw">
    <source srcset="{site_url}dist/images/introduction-394.svg" media="(min-width: 400px) and (max-width: 733px)" sizes="100vw">
    <source srcset="{site_url}dist/images/introduction-734.svg" media="(min-width: 734px) and (max-width: 959px)" sizes="100vw">
    <source srcset="{site_url}dist/images/introduction-960.svg" media="(min-width: 960px)">
    <img src="{site_url}dist/images/introduction-960.svg">
  </picture>
</div>

<section class="posts pt6 pt7-d pb6 pb7-d">
  <header class="row row-header contain contain-medium contain-large between">
    <h2 class="f5 f4-b chunky neutral row-title">Latest posts</h2>
    <div class="pagination js-pagination">
      <button class="paginate paginate-left">
        <span class="icon icon-medium">{gv_arrow_left}</span>
      </button>
      <button class="paginate paginate-right">
        <span class="icon icon-medium">{gv_arrow_right}</span>
      </button>
    </div>
  </header>
  <div class="scroll">
    <div class="offsetter" role="presentation"></div>
    {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" limit="{ch_limit_large}"}
    	{post_medium}
    {/exp:channel:entries}
    <a href="{path='blog/P12'}" class="card card-medium card-more">
      <h2 class="sans f4 f3-b secondary link-icon m0">
        View more posts <span class="icon icon-medium icon-right">{gv_arrow_right}</span>
      </h2>
    </a>
  </div>
</section>

{embed="include/subscribe" class="row-cool"}

<section class="posts pt6 pt8-d pb4 pb8-d">
  <header class="row row-header contain contain-medium contain-large between">
    <h2 class="f5 f4-b neutral chunky row-title">Popular in design</h2>
    <div class="pagination js-pagination">
      <button class="paginate paginate-left">
        <span class="icon icon-medium">{gv_arrow_left}</span>
      </button>
      <button class="paginate paginate-right">
        <span class="icon icon-medium">{gv_arrow_right}</span>
      </button>
    </div>
  </header>
  <div class="scroll">
    <div class="offsetter" role="presentation"></div>
    {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" limit="{ch_limit}" category="7" orderby="view_count_one" sort="desc"}
    	{post_small}
    {/exp:channel:entries}
    <a href="{path='blog/category/design'}" class="card card-small card-more">
      <h2 class="sans f6 f4-b secondary link-icon m0">
        Explore design <span class="icon icon-medium icon-right">{gv_arrow_right}</span>
      </h2>
    </a>
  </div>
</section>

<section class="posts pb4 pb8-d">
  <header class="row row-header contain contain-medium contain-large between">
    <h2 class="f5 f4-b neutral chunky row-title">Popular in code</h2>
    <div class="pagination js-pagination">
      <button class="paginate paginate-left">
        <span class="icon icon-medium">{gv_arrow_left}</span>
      </button>
      <button class="paginate paginate-right">
        <span class="icon icon-medium">{gv_arrow_right}</span>
      </button>
    </div>
  </header>
  <div class="scroll">
    <div class="offsetter" role="presentation"></div>
    {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" limit="{ch_limit}" category="2" orderby="view_count_one" sort="desc"}
    	{post_small}
    {/exp:channel:entries}
    <a href="{path='blog/category/code'}" class="card card-small card-more">
      <h2 class="sans f6 f4-b secondary link-icon m0">
        Explore code <span class="icon icon-medium icon-right">{gv_arrow_right}</span>
      </h2>
    </a>
  </div>
</section>