{layout="layouts/_layout"}

{!-- channel vars (prefix ch_) --}
{preload_replace:ch="blog"}
{preload_replace:ch_status="open|latest"}
{preload_replace:ch_disable="pagination|member_data|trackbacks"}
{preload_replace:ch_limit="10"}
{preload_replace:design="design-default-{switch='1|2|3|4'}.svg"}
{preload_replace:code="code-default-{switch='4|3|2|1'}.svg"}

{!-- 404 --}
{if segment_1 != ''}
  {redirect="404"}
{/if}

<div class="row hero contain-large between">
  <div class="column column-center introduction">
    <picture class="rio m-half-bottom">
      <source srcset="{site_url}assets/images/rio.svg" media="(min-width: 640px)">
      <source srcset="{site_url}assets/images/rio-small.svg" media="(max-width: 639px)">
      <img src="{site_url}assets/images/rio.svg">
    </picture>
    <h1 class="f3 f2-b f1-d m-half-bottom primary">Learn design and code</h1>
    <p>Hi there, I’m Steve McKinney, I write frequently on design and code. If you’re like me and enjoy the process of designing and seeing it through to code, I’m sure you’ll find value in the content I provide. I&nbsp;cover topics on Illustrator, CSS and Wordpress.</p>
    <p class="sans"><a href="{path='blog/index'}" class="link">View the archives</a></p>
  </div>
  <div class="column featured">
    {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" limit="1"}
    	<article data-href="{title_permalink='blog/entry'}" class="card card-large">
      	<div class="card-image">
        	{if image}
        	  {image}
        	    {if large_file_url}
        	      <img src="{url:large}" srcset="{url:large-2x} 2x">
              {if:else}
                <img src="{url}">
              {/if}
            {/image}
          {if:elseif category == 7}
        	  <img src="{site_url}dist/images/{design}">
        	{if:else}
        	  <img src="{site_url}dist/images/{code}">
        	{/if}
      	</div>
      	<div class="card-body">
        	<div class="meta meta-to-calendar m-half-bottom">
            <time class="calendar" datetime="{entry_date format='%Y-%m-%dT%H:%i:%s%O'}" pubdate>
              <span class="month">{entry_date format="%F"}</span>
              <span class="day">{entry_date format="%j"}</span>
            </time>
          </div>
      		<h2 class="f4 f3-b f2-d m-half-bottom primary"><a href="{title_permalink='blog/entry'}">{title}</a></h2>
      		{excerpt}
      		{blog_meta}
        </div>
    	</article>
    {/exp:channel:entries}
  </div>
</div>

<div class="row-normal">
  <section class="posts">
    <header class="row row-header between">
      <h2 class="f5 f4-b f3-d chunky neutral-l1 row-title">Previous posts</h2>
      <div class="pagination js-pagination">
        <button class="paginate paginate-left">
          <span class="icon icon-medium">{icon_arrow_left}</span>
        </button>
        <button class="paginate paginate-right">
          <span class="icon icon-medium">{icon_arrow_right}
        </button>
      </div>
    </header>
  
    <div class="scroll">
      {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" offset="1" limit="{ch_limit}"}
      	<article data-href="{title_permalink='blog/entry'}" class="card card-medium">
        	<div class="card-image m-half-bottom">
          	{if thumbnail}
          	  {thumbnail}
          	    {if medium_file_url}
          	      <img src="{url:medium}" srcset="{url:medium-2x} 2x">
                {if:else}
                  <img src="{url}">
                {/if}
              {/image}
            {if:else}
          	  {categories channel="blog" limit="1"}
                {if category_id == 2}
                  <img src="{site_url}dist/images/{code}">
                {if:else}
                  <img src="{site_url}dist/images/{design}">
                {/if}
              {/categories}
            {/if}
        	</div>
        	<div class="card-body">
          	<div class="meta m-half-bottom">{date}</div>
        		<h3 class="f5 f4-b m-quarter-bottom primary"><a href="{title_permalink='blog/entry'}">{title}</a></h3>
        		{exp:streeng words="44"}{excerpt}{/exp:streeng}
        		{blog_meta}
          </div>
      	</article>
      {/exp:channel:entries}
    </div>
  </section>
</div>

{subscribe}

<div class="row-normal">
  <section class="posts">
    <header class="row row-header between">
      <h2 class="f5 f4-b f3-d neutral-l1 chunky row-title">Popular in design</h2>
      <div class="pagination js-pagination">
        <button class="paginate paginate-left">
          <span class="icon icon-medium">{icon_arrow_left}</span>
        </button>
        <button class="paginate paginate-right">
          <span class="icon icon-medium">{icon_arrow_right}</span>
        </button>
      </div>
    </header>
    
    <div class="scroll">
      {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" limit="{ch_limit}" category="7" orderby="view_count_one" sort="desc"}
      	<article data-href="{title_permalink='blog/entry'}" class="card card-small">
        	<div class="card-image m-half-bottom">
          	{if thumbnail}
          	  {thumbnail}
          	    {if small_file_url}
          	      <img src="{url:small}" srcset="{url:small-2x} 2x">
                {if:else}
                  <img src="{url}">
                {/if}
              {/thumbnail}
          	{if:else}
          	  <img src="{site_url}dist/images/{design}">
          	{/if}
        	</div>
        	<div class="card-body">
        		<div class="meta m-quarter-bottom">{date}</div>
        		<h2 class="f5 neutral-l1"><a href="{title_permalink='blog/entry'}">{title}</a></h2>
      		</div>
      	</article>
      {/exp:channel:entries}
    </div>
  </section>
  <section class="posts">
    <header class="row row-header between">
      <h2 class="f5 f4-b f3-d neutral-l1 chunky row-title">Popular in code</h2>
      <div class="pagination js-pagination">
        <button class="paginate paginate-left">
          <span class="icon icon-medium">{icon_arrow_left}</span>
        </button>
        <button class="paginate paginate-right">
          <span class="icon icon-medium">{icon_arrow_right}</span>
        </button>
      </div>
    </header>
    
    <div class="scroll">
      {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" limit="{ch_limit}" category="2" orderby="view_count_one" sort="desc"}
      	<article data-href="{title_permalink='blog/entry'}" class="card card-small">
        	<div class="card-image m-half-bottom">
          	{if thumbnail}
          	  {thumbnail}
          	    {if small_file_url}
          	      <img src="{url:small}" srcset="{url:small-2x} 2x">
                {if:else}
                  <img src="{url}">
                {/if}
              {/thumbnail}
          	{if:else}
          	  <img src="{site_url}dist/images/{code}">
          	{/if}
        	</div>
        	<div class="card-body">
          	<div class="meta m-quarter-bottom">{date}</div>
        		<h2 class="f5 neutral-l1"><a href="{title_permalink='blog/entry'}">{title}</a></h2>
      		</div>
      	</article>
      {/exp:channel:entries}
    </div>
  </section>
</div>