{layout="layouts/_layout-home" class="page-home"}

{!-- channel vars (prefix ch_) --}
{preload_replace:ch="blog"}
{preload_replace:ch_status="open|latest"}
{preload_replace:ch_disable="pagination|member_data|trackbacks"}
{preload_replace:ch_limit="11"}
{preload_replace:ch_limit_large="11"}
{preload_replace:design="design-default-{switch='3|1|2|4'}.svg"}
{preload_replace:code="code-default-{switch='1|4|2|3'}.svg"}

<div class="hero contain-medium contain-large mb2 mb4-d">
  <div class="hero-content">
    <h1 class="f3 f2-b f1-d mb0 primary hero-title"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{global:theme_url}/dist/images/lettering.svg" alt="Learn design and code" class="lazyload"></h1>
    {!--<p class="hide-sw">A blog covering design and code. Focused on design techniques with Illustrator and writing maintainable CSS.</p>
    <p class="hide-sw sans"><a href="{path='blog/index'}" class="link neutral">Browse the archive</a></p>--}
  </div>
  <picture class="hero-image">
    <source data-srcset="{global:theme_url}/dist/images/introduction-320.svg" media="(max-width: 399px)" sizes="100vw">
    <source data-srcset="{global:theme_url}/dist/images/introduction-394.svg" media="(min-width: 400px) and (max-width: 733px)" sizes="100vw">
    <source data-srcset="{global:theme_url}/dist/images/introduction-734.svg" media="(min-width: 734px) and (max-width: 1199px)" sizes="100vw">
    <source data-srcset="{global:theme_url}/dist/images/introduction-960.svg" media="(min-width: 1200px)">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{global:theme_url}/dist/images/introduction-960.svg" alt="An illustration of a desk with a laptop and office supplies on it." sizes="960px" class="lazyload">
  </picture>
</div>

<section class="posts pt7 pb6 pb8-d" aria-labelledby="latest-posts-title">
  <header class="row row-header contain contain-medium contain-large between">
    <h2 class="f4-l chunky neutral row-title" id="latest-posts-title">Latest posts</h2>
    <a href="{path='blog'}" class="link-icon warm secondary-hover card-permalink semibold sans f5-l">
      All posts <span class="icon icon-medium icon-right secondary">{gv_arrow_right}</span>
    </a>
  </header>
  <div class="scroll scroll-medium contain-scroll" id="latest-posts">
    {exp:channel:entries channel="{ch}" status="{ch_status}" disable="{ch_disable}" limit="{ch_limit_large}"}
    	{post_medium}
    {/exp:channel:entries}
    <a href="{path='blog/P12'}" class="link-icon warm secondary-hover card-permalink semibold sans center f2-l">
      All posts <span class="icon icon-medium icon-right secondary">{gv_arrow_right}</span>
    </a>
  </div>
</section>

{embed="include/subscribe" class="row-cool" duplicate="yes"}

{exp:channel:categories channel="{ch}" show="7|2" status="{ch_status}" disable="{ch_disable}" style="linear" show_empty="no"}
  <section class="posts {if {count} == 1} pt6 pt8-d {/if} pb6 pb8-d" aria-labelledby="{category_url_title}-posts-title">
    <header class="row row-header contain contain-medium contain-large between">
      <h2 class="f4-l chunky neutral row-title" id="{category_url_title}-posts-title">Popular in {category_url_title}</h2>
      <a href="{path='blog/category/design'}" class="link-icon warm secondary-hover card-permalink semibold sans f5-l">
        Explore {exp:streeng lower="yes"}{category_name}{/exp:streeng} <span class="icon icon-medium icon-right secondary">{gv_arrow_right}</span>
      </a>
    </header>
    <div class="scroll scroll-small contain-scroll" id="{category_url_title}-posts">
      {exp:channel:entries channel="{ch}" status="{ch_status}" orderby="view_count_one" disable="{ch_disable}" limit="{ch_limit}" category="{category_id}" sort="desc" dynamic="no"}
      	{post_small}
      {/exp:channel:entries}
      <a href="{path='blog'}" class="link-icon warm secondary-hover card-permalink semibold sans center f5-l">
          Explore {exp:streeng lower="yes"}{category_name}{/exp:streeng} <span class="icon icon-medium icon-right secondary mr6">{gv_arrow_right}</span>
        </h2>
      </a>
    </div>
  </section>
{/exp:channel:categories}
