{layout="layouts/_layout-no-newsletter" title="Join the list"}

<div class="row subheader center contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0 text-center">Join the list</h1>
</div>

<div class="contain">
  <div class="measure m-center pt4 pt6-d pb4 pb6-d">
    <p class="mb2"><strong>It’s my aim to help you be a better designer</strong>. I’ve made a simple Adobe Illustrator template to manage your colour, grid and guides. So you’ll get to executing your ideas around 20 minutes sooner every time.</p>

    <p class="mb4">Join my monthly<em>ish</em> email list and I’ll send you the template and new tutorials to show you different techniques for designing &amp; coding your websites. You can unsubscribe anytime.</p>

    <div class="form-warm">{form_newsletter}</div>
  </div>
</div>
