{layout="layouts/_layout-no-newsletter" title="Join the list"}

<div class="row subheader center contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0 text-center">Join the list</h1>
</div>

<div class="contain">
  <div class="measure m-center pt4 pt6-d pb4 pb6-d">
    <p class="mb2"><strong>It’s my aim to help you be a better designer</strong>. Join my monthly<em>ish</em> email list and I’ll send new tutorials to help you design & code beautiful websites.</p>
    <p class="mb4">I also do the occasional design critique, which you get access to for being a subscriber—send a design through after subscribing. Also, there’s some older templates and post files included. You can unsubscribe anytime.</p>

    <div class="form-warm">
      <div id="mlb2-1003594" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1003594">
        <div class="ml-form-align-center">
          <div class="ml-form-embedWrapper embedForm">
            <div class="ml-form-embedBody ml-form-embedBodyHorizontal row-form">
              <form class="form form-newsletter validate end ml-block-form ml-block-form" action="https://app.mailerlite.com/webforms/submit/q7h2j4" data-code="q7h2j4" method="post" target="_blank">
                {form_newsletter}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
