{layout="layouts/_layout" title="Thank you for subscribing"}
<div class="row subheader center contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0 text-center">Subscription confirmed</h1>
</div>
<div class="contain">
  <div class="measure m-center pt4 pt6-d pb4 pb6-d">
  	<p>Your subscription has been confirmed. If you have any problems feel free to <a href="{site_url}/contact" class="link">contact me</a> or reply to any of the emails you have received.</p>
  </div>
</div>
