{layout='layouts/_layout' title="Uses"}

{if segment_2 != ''}
  {redirect="404"}
{/if}

<div class="row subheader center contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0 text-center">Uses</h1>
</div>

<div class="row row-normal pt6 pt8-d pb6 pb8-d contain contain-medium contain-large between">
  <section class="column column-4-b column-3-d mb6 mb0-b">
    <h2 class="f4 mb2">Design</h2>
    <dl>
      <dt>Illustrator</dt>
      <dd>All design tutorials I write are based on using Illustrator.</dd>
      <dt>Photoshop</dt>
      <dd>For all the things Illustrator can’t do.</dd>
      <dt>Gifox (gif recording)</dt>
      <dd>A fab menu bar app for recording gifs. I use this to demonstrate things quickly in my posts.</dd>
      <dt>Paparazzi!</dt>
      <dd>If I need a screenshot of a website I’ll usually turn to this app. It’s generally the most flawless way to get a screenshot of a website (and in bulk). Although I still use <a href="{site_url}blog/entry/using-webkit2png-to-generate-responsive-screenshots">webkit2png</a> and you can use <a href="https://umaar.com/dev-tips/151-screenshot-capture/">Chrome</a> too.</dd>
    </dl>
  </section>
  <section class="column column-4-b column-3-d mb6 mb0-b">
    <h2 class="f4 mb2">Code</h2>
    <dl>
      <dt>Coda</dt>
      <dd>Nothing beats a Panic app for quality.</dd>
      <dt>Syntax Theme: Panic Palette Theme</dt>
      <dd>A syntax theme by Panic, for <a href="https://twitter.com/panic/status/558389225612005376?lang=en-gb">Terminal</a> and <a href="https://www.google.co.uk/search?q=coda+panic+palette">other editors</a>.</dd>
      <dt>Panic Sans</dt>
      <dd>The default typeface bundled with Coda, so you won’t be able to get it elsewhere. I’ve experimented with others, but I always return to the default.</dd>
      <dt>Apple Terminal (zsh + Panic Palette)</dt>
    </dt>
  </section>
  <section class="column column-4-b column-3-d mb6 mb0-b">
    <h2 class="f4 mb2">Apps</h2>
    <dl>
      <dt>Things</dt>
      <dd></dd>
      <dt>iA Writer</dt>
      <dd></dd>
      <dt>Apple notes</dt>
      <dd></dd>
      <dt>Apple reminders</dt>
      <dd></dd>
      <dt>Dropbox</dt>
      <dd></dd>
      <dt>Backblaze</dt>
      <dd></dd>
      <dt>Alfred</dt>
      <dd></dd>
    </dl>
  </section>
  <section class="column column-4-b column-3-d mb6 mb0-b">
    <h2 class="f4 mb2">Site</h2>
    <dl>
      <dt>DeployBot</dt>
      <dd></dd>
      <dd>ExpressionEngine</dd>
      <dd></dd>
      <dd>DigitalOcean</dd>
      <dd></dd>
      <dd>ServerPilot</dd>
      <dd></dd>
      <dd>cloud.Typography</dd>
      <dd></dd>
      <dd>Averta</dd>
      <dd></dd>
    </dl>
  </section>
</div>