{layout="layouts/_layout-newsletter" title="Uses" class="page-uses"}

{if segment_2 != ''}
  {redirect="404"}
{/if}

<div class="row subheader center contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0 text-center">Uses</h1>
</div>

<div class="contain">
  <div class="measure m-center pt4 pt6-d pb4 pb6-d">
    <p class="mb6">Everything (almost) I use associated with this website and my day to day work.</p>
    <section class="column mb6">
      <h2 class="f4 mb2">Design</h2>
      <dl class="f4">
        <dt>Illustrator</dt>
        <dd class="mb2">Can’t be beaten for vector editing. I use Illustrator for a lot of design work.</dd>
        <dt>Photoshop</dt>
        <dd class="mb2">For all the things Illustrator can’t do, mostly photo editing.</dd>
        <dt>Figma</dt>
        <dd class="mb2">I’m a recent Figma convert, for day to day at work it helps keep me much more efficient. It’s easier to retain consistency throughout and those you’re working with.</dd>
        <dt>xScope</dt>
        <dd class="mb2">So many handy little tools that help designing. Rulers, colour blindness testing, etc. As well as the companion app xScope mirror.</dd>
        <dt>Gifox (gif recording)</dt>
        <dd class="mb2">A fab menu bar app for recording gifs. I use this to demonstrate things quickly in my posts.</dd>
        <dt>Paparazzi!</dt>
        <dd class="mb2">If I need a screenshot of a website I’ll usually turn to this app. It’s generally the most flawless way to get a screenshot of a website (and in bulk). Although I still use <a href="{site_url}blog/using-webkit2png-to-generate-responsive-screenshots" class="secondary-hover" class="link">webkit2png</a> and you can use <a href="https://umaar.com/dev-tips/151-screenshot-capture/" class="secondary-hover" class="link">Chrome</a> too.</dd>
      </dl>
    </section>
    <section class="column mb6">
      <h2 class="f4 mb2">Code</h2>
      <dl class="f4">
        <dt>Coda</dt>
        <dd class="mb2">I write all code in Coda, nothing beats a Panic app for quality.</dd>
        <dt>Coda plugins<dt>
        <dd class="mb2"><a href="https://panic.com/coda/plugins.php?id=120" class="secondary-hover" class="link">EditorConfig</a>, <a href="https://panic.com/coda/plugins.php?id=109" class="secondary-hover" class="link">PhpPlugin</a> and <a href="https://panic.com/coda/plugins.php?id=19" class="secondary-hover" class="link">Dash Coda</a></dd>
        <dt>Panic Palette syntax theme</dt>
        <dd class="mb2">A syntax theme by Panic, for <a href="https://twitter.com/panic/status/558389225612005376?lang=en-gb" class="secondary-hover" class="link">Terminal</a> and <a href="https://www.google.co.uk/search?q=coda+panic+palette" class="secondary-hover" class="link">other editors</a>.</dd>
        <dt>Panic Sans</dt>
        <dd class="mb2">The default typeface bundled with Coda, so you won’t be able to get it elsewhere. I’ve experimented with others, but I always return to the default.</dd>
        <dt>Dash</dt>
        <dd class="mb2">An easy and convenient way to search documentation for pretty much every language.</dd>
        <dt>Apple Terminal</dt>
        <dd class="mb2">I use the <a href="https://twitter.com/panic/status/558389225612005376?lang=en-gb" class="secondary-hover" class="link">Panic Palette</a> and zsh (using <a href="http://ohmyz.sh" class="secondary-hover" class="link">ohmyzsh</a>). I don’t use a git client either, all done through Terminal.</dd>
      </dt>
    </section>
    <section class="column mb6">
      <h2 class="f4 mb2">Apps</h2>
      <dl class="f4">
        <dt><a href="https://www.culturedcode.com/things/" class="secondary-hover">Things</a></dt>
        <dd class="mb2">Like Coda, I’ve been a long time user of Things. It’s the GTD (get things done) way of working I like about it, as I’m not that organised. It’s also wonderfully designed.</dd>
        <dt><a href="https://ia.net/writer/" class="secondary-hover">iA Writer</a></dt>
        <dd class="mb2">A simple markdown editor. All posts start here then are copied and pasted into the CMS. Syncs with iCloud so I can write anywhere.</dd>
        <dt>Dropbox</dt>
        <dd class="mb2">Keeping all my valuable files backed up and accessible anywhere.</dd>
        <dt>Alfred</dt>
        <dd class="mb2">A spotlight replacement for Mac, with loads of handy features and workflows.</dd>
      </dl>
    </section>
    <section class="column">
      <h2 class="f4 mb2">Site</h2>
      <dl class="f4">
        <dt><a href="https://www.thedesignersfoundry.com/products/averta-standard" class="secondary-hover">Averta from TDF</a></dt>
        <dd class="mb2">I use Averta for headings.</dd>
        <dt><a href="https://typekit.com/fonts/freight-text" class="secondary-hover">Freight Text Pro from Tyepkit</a></dt>
        <dd class="mb2">I use Freight Text Pro for body copy.</dd>
        <dt>ExpressionEngine</dt>
        <dd class="mb2">CMS used to run this website.</dd>
        <dt><a href="https://m.do.co/c/612d37093f16" class="secondary-hover">DigitalOcean</a></dt>
        <dd class="mb2">The host of this website. <a href="https://m.do.co/c/612d37093f16" class="link">Referral link</a>.</dd>
        <dt><a href="https://serverpilot.io/a/56dd9f0c0d49" class="secondary-hover">ServerPilot</a></dt>
        <dd class="mb2">Fuss free server setup and keeps everything up to date security wise. <a href="https://serverpilot.io/a/56dd9f0c0d49" class="link">Referral link</a>.</dd>
        <dt><a href="https://deploybot.com" class="secondary-hover">DeployBot</a></dt>
        <dd class="mb2">Really simple deployments.</dd>
      </dl>
    </section>
  </div>
</div>
