@import "import/_base";

/* 
	Stucture
---------------------------------------------------------------------- */
html, body {
	font: 400 16px/1.5 ff-meta-serif-web-pro, georgia, serif; color: $main_blue_hex;
	background: url(../images/_layout/bg.png); 
	@extend .transition; }
body, img {
	@extend .transition; }
.container {
	max-width: 960px; margin: $forty auto auto; }
img {max-width: 100%; margin-bottom: -3px;}
[role="article"]:first-of-type section:first-of-type img {
	@include box-shadow((0 2px 5px transparentize($hsla_black, 0.6)));
	@include transform(rotate(2deg));
	@extend .rounded;
	float: right;
}
[role="banner"] img {
	&:hover, &:focus {
		opacity: .75;
	}
}

/* header ---------------------- */
[role="banner"] {
	background: $main_blue_hex url(../images/_layout/texture.png); background: url(../images/_layout/dashes.png) top center repeat-x, url(../images/_layout/dashes.png) bottom center repeat-x, $main_blue url(../images/_layout/texture.png); padding: 0 $twenty; @include box-shadow(0 2px 5px transparentize($hsla_black, 0.8)); line-height: 1; max-height: 80px; @include border-radius(5px 5px 0 0); border: 1px solid darken($main_blue, 5%); border: 1px solid #495F69; border: 1px solid hsla(199,18%,35%,0.9); }

[role="main"] header:first-child {
	width: 83.333333333333%; margin: 7.5% auto 4%; padding: 0 8.3333333333335% 7.5%; -webkit-border-image: url(../images/_layout/hr.png) 0 0 100% 0 round; -moz-border-image: url(../images/_layout/hr.png) 0 0 100% 0 round; border-image: url(../images/_layout/hr.png) 0 0 100% 0 round; border-width: 0 0 3px 0; }
.no-borderimage [role="main"] header:first-child {
	border-bottom: 1px dashed lighten($main_blue_hex, 20%);
	border-bottom: 1px dashed transparentize($main_blue_hex, 0.6); }
.item [role="main"] header:first-child {
	border: none; @include border-image(none); margin-bottom: 0; }

/* section ---------------------- */
[role="main"] {}
section {
	position: relative;
	&:last-child {
		margin: 0; }
}
section[role="main"] {
	margin: 0; }
.contact [role="region"] {
	float: left; }

/* nav ---------------------- */
[role="navigation"] {
	li {
		@include inline-block; font: $medium_size/1 $sans; text-shadow: 0 1px 1px transparentize($hsla_black, 0.6); }
	a {
		@include inline-block;
		-webkit-tap-highlight-color: saturate(lighten($main_blue_hex, 20%), 20%); }
}
/* article ---------------------- */
.blog [role="region"] [role="article"], .entry [role="article"], .search [role="region"] [role="article"] {
	padding-bottom: $eighty; 
	padding-left: 20%;
	&:last-child, &:last-of-type {
		padding-bottom: 0;
	}
}
[role="article"] {position: relative;}
/* div ---------------------- */
.home header + [role="region"] {@include display-box;}
/* aside ---------------------- */
[role="region"] [role="complementary"]:last-of-type {font-size: $small_size; margin: 5% auto auto; -webkit-border-image: url(../images/_layout/hr.png) 100% 0 0 0 round; -moz-border-image: url(../images/_layout/hr.png) 100% 0 0 0 round; border-image: url(../images/_layout/hr.png) 100% 0 0 0 round; border-width: 3px 0 0 0; padding: $twenty 0 0;
	li {
		@include inline-block;
		&:nth-of-type(2) {
			margin: 0 $ten;
			padding: 0 0 0 $ten;
			border-left: 1px dashed transparentize($main_blue_hex, 0.5);
		}
		&:nth-of-type(3) {
			padding: 0 0 0 $ten;
			border-left: 1px dashed transparentize($main_blue_hex, 0.5);
		}
	}
	strong {
	}
}
.portfolio #pnav[role="complementary"]:last-of-type {
	li:nth-of-type(2), li:nth-of-type(3) {
		border-left: none; padding-left: 0; margin-left: 0;
	}
}
/* footer ---------------------- */
[role="main"] + [role="contentinfo"] {font-size: $small_size; margin: 4% auto auto; @include border-image(url(../images/_layout/hr.png) 100% 0 0 0 round); border-width: 3px 0 0 0;}
.no-borderimage [role="main"] + [role="contentinfo"] {
	border-top: 1px dashed lighten($main_blue_hex, 20%);
	border-top: 1px dashed transparentize($main_blue_hex, 0.6);
}
[role="article"] footer, .entry [role="complementary"] {
	font-size: $small_size; width: 20%; position: absolute; left: 0;
}
.entry [role="complementary"] {
	top: 60px;
	li {
		float: left;
		margin: 0 3px 0 0;
	}
}

/* 
	TYPOGRAPHY
---------------------------------------------------------------------- */
a, header h2 a {
	text-decoration: none; color: $orange_hex; @extend .transition;
	&:hover, &:focus, .hover {
		color: $pink_hex;
	}
	
}
h1, h1 a, h2, h2 a, h3, h3 a {font: 26px/1 $sans; color: $main_blue_hex; margin: 0 0 20px; line-height: 1;}
h1, h2 {display: block;}
h1 {line-height: 1.5; margin: 26px 0 13px;
	&:first-child {
		margin-top: 0; }
}
h2, h2 a {font-size: 22px;}
h2 {
	line-height: 1.5;
	margin: 22px 0 11px;
}
h3, h3 a {
	font-size: 16px; font-weight: 700; }
h3 {
	line-height: 1.5;
	margin: 16px 0 8px; }
[role="complementary"] h2:first-of-type {
	margin-top: 0;
}
[role="banner"] h1 {
	margin: 0; @include inline-block;
	a {
		display: block;
		width: 102px; height: 80px;
		text-indent: -9999px;
		background: url(../images/logo.png) no-repeat;
	}
}
[role="banner"] h2 {
	margin: 0;
}

[role="main"] header:first-child {
	h1 {
		font: 500 60px/1 $serif; letter-spacing: -2px; margin: 0;
		@include animation-basic((fadeInLeftBig), (1s), (ease));
		@include enable-hardware-acceleration;
	}
	h2 {
		margin: 0; line-height: 1;
		@include animation-basic((fadeInRightBig), (1s), (ease));
		@include enable-hardware-acceleration;
	}
}
.webkit [role="main"] header:first-child h1 {-webkit-text-fill-color: transparent; background: $main_blue_hex url(../images/_layout/clip_texture.png); -webkit-background-clip: text;}

[role="navigation"] a {
	color: #fff; color: $hsla_white; font: 700 $medium_size/1 $sans;
	&:hover, &:focus {
		color: #ccc; color: transparentize($hsla_white, 0.25);
	}	
}

.blog [role="article"] p:last-child a {
	display: block;
	margin: 10px 0 0;
}
.blog.entry [role="article"] p:last-child a {
	display: inline; margin: 0;
}
.item [role="region"] p {
	margin-bottom: 0;
}
.item [role="region"] p:only-of-type a {
	@extend .rounded;
	@include box-shadow(inset 0 1px 0 $main_blue_hex, inset 0 2px 0 transparentize($hsla_white, 0.8));
	margin: 10px 0 20px auto;
	display: block;
	width: 25%;
	text-align: center;
	padding: $twenty $forty;
	background: url(../images/_layout/texture.png) $main_blue_hex;
	text-shadow: 0 1px 1px transparentize($hsla_black, 0.6);
	border: none;
	color: #fff;
	color: transparentize($hsla_white, 0.1);
	font: 700 14px/1 $sans;
	&:hover, &:focus {
		@include box-shadow(inset 0 1px 0 lighten($main_blue_hex, 10%), inset 0 2px 0 transparentize($hsla_white, 0.8));
		background: url(../images/_layout/texture.png) lighten($main_blue_hex, 10%);
		border: none;
	}
}
.portfolio p:only-of-type {
	display: block;
	float: right;
	clear: both;
	em {
		margin: 0 10px 0 0;
	}
	a {
		@extend .transition;
		@extend .rounded;
		-webkit-appearance: none; -moz-appearance: none; 
		border: none;
		background: saturate(darken($orange_hex, 10%), 40%) url(../images/_layout/texture.png);
		padding: 5px 10px; position: relative;
		font: 500 $normal_size/1 $sans; color: #fff; border: 1px solid desaturate(darken($orange_hex, 5%), 20%);
		text-shadow: 0 1px 1px transparentize($hsla_black, 0.75);
		@include box-shadow(inset 0 1px 0 transparentize($hsla_white, 0.8));
		&:hover, &:focus {
			background: saturate(darken($pink_hex, 20%), 20%) url(../images/_layout/texture.png);
			border: 1px solid desaturate(darken($pink_hex, 15%), 20%);
		}
		&:active {
			top: 1px;
		}
	}
}
p {@include hyphens(auto); margin: 12px 0;}
p:last-child, p:only-of-type {margin: 0;}
.contact p {margin: 0 0 12px;}

/* social ------------------------------ */
.social {
	display: block; width: 100%; margin: 10px 0 20px;
	li {
		@include inline-block;
	}
	li a {
		width: 32px; height: 32px; 
		text-indent: -9999px; background: url(../images/social_icons.png) no-repeat; 
		display: block; opacity: 1;
		margin: 0 10px 0 0; line-height: 1;
		@include box-shadow((0 0 2px transparentize($hsla_black, 0.8)));
		&:hover {
			opacity: .75;
		}
	}
	li:nth-of-type(1) a {
		background-position: 0 0;
	}
	li:nth-of-type(2) a {
		background-position: -35px 0;
	}
	li:nth-of-type(3) a {
		background-position: -70px 0;
	}
	li:nth-of-type(4) a {
		background-position: -105px 0;
	}
	li:nth-of-type(5) a {
		background-position: -140px 0;
	}
	li:nth-of-type(6) a {
		background-position: -175px 0;
	}
}

/* pre/code ---------------------- */
code {background: none; background: transparentize($main_blue_hex, 0.9); @include border-radius(3px); font-size: 14px; padding: 0 2px; text-shadow: 0 1px 0 rgba(255,255,255,0.3); color: darken($main_blue_hex, 15%);}
pre {
	font-size: 14px;
	padding: 5px; margin: 0 0 10px 0; width: 100%; background: #fdf6e3; max-height: 200px; overflow-y: scroll; overflow-x: hidden; 
	@include transition((border .4s linear));
	@include box-sizing(border-box); 
	@include background-clip($default-background-clip);
	@extend .rounded;
	@include box-shadow(inset 0 2px 0 #fdf6e3, inset 0 3px 0 #fff);
	border: 1px solid desaturate(darken(#fdf6e3, 15%), 30%);
	white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;
	code {
		display: block; padding: 5px; text-shadow: none; background: none
	}
}

/* blockquote ---------------------- */
blockquote {
	&:before {
		content:'“';
	}
}

/* 
	Lists
---------------------------------------------------------------------- */
ul, li {list-style: none;}
[role="main"] + [role="contentinfo"] ul {
	li {
		@include inline-block;
		padding: 0 5px;
	}
}
dt {font: 700 $medium_size/1 $sans; text-transform: uppercase; letter-spacing: 2px;}
dd {
	&:last-child {
		margin: 0;	
	}
}
dl {
	@include column-gap(20px);
}
.contact dl {
	margin: 0 0 20px;
	@include display-box;
}
.portfolio [role="complementary"] li {
	font-size: $normal_size;
	border-bottom: 1px dashed transparentize($main_blue_hex, 0.8);
	display: block;
	width: 100%;
	&:last-child {
		border: none;
	}
	a {
		display: block;
		width: 100%;
		padding: $twenty 0;
	}
}
.portfolio [role="region"] [role="complementary"]:last-of-type li:nth-of-type(2) {
	border-left: none; padding-left: 0; padding-right: 0;
}

/* 
	Misc.
---------------------------------------------------------------------- */
.hiddenFields {display: none;}
iframe {max-width: 100%;}
.portfolio.item img {
	@extend .rounded;
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.19));
	@include background-clip(padding-box);
	opacity: 0.9;
	&:hover, &:focus {
		opacity: 1;
	}
}
.entry img {
	margin-left: auto; margin-right: auto;
}
/* figure ------------------------------ */
figure {}
figcaption {}
.dribbble {
	* {
		@extend .transition;
	}
	figure {
		max-width: 31.9444444444447%;
		line-height: 1;
		overflow: hidden;
		float: left; margin: 0 $twenty 0 0; position: relative;
		@extend .rounded; 
		@include box-shadow(0 2px 5px transparentize($hsla_black, 0.6));
		a {
			display: block;
		}
		&:last-child {
			margin: 0;
		}
		&:hover figcaption, &:focus figcaption {
			opacity: 1;
		}
	}
	img {
		@extend .rounded;
	}
	figcaption {
		width: 100%; height: 100%;
		opacity: 0;
		top: 0;
		position: absolute;
		background: transparentize($hsla_white, 0.25);
		@extend .rounded;
		@include box-size((border-box));
		a {
			display: block;
			padding: 10px;
			height: 100%;
		}
	}
}

/*
	Form
-----------------------------------------------------------------------*/
.wufoo * {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	@extend .rounded;
}
[type="search"] {
	-webkit-appearance: none; -moz-appearance: none; 
	@include border-radius(5px 0 0 5px);
	@extend .transition;
	padding: 5px 10px 5px 0;
	font: $small_size/1 $sans; color: $main_blue_hex; 
	border: 1px solid #A7ADAF; border: 1px solid hsla(198,5%,67%,0.8);
	position: relative;
	left: 4px;
	&:hover, &:focus {
		@include box-shadow(inset 0 0 5px transparentize($main_blue_hex, 0.5));
		outline: 0;
	}
}

[type="submit"], #saveForm {
	@extend .transition;
	-webkit-appearance: none; -moz-appearance: none; 
	border: none;
	background: saturate(darken($orange_hex, 10%), 40%) url(../images/_layout/texture.png);
	padding: 5px 10px; position: relative;
	font: 500 $small_size/1 $sans; color: #fff; border: 1px solid desaturate(darken($orange_hex, 5%), 20%);
	text-shadow: 0 1px 1px transparentize($hsla_black, 0.75);
	@include box-shadow(inset 0 1px 0 transparentize($hsla_white, 0.8));
	@include border-radius(0 5px 5px 0);
	&:hover, &:focus {
		background: saturate(darken($pink_hex, 20%), 20%) url(../images/_layout/texture.png);
		border: 1px solid desaturate(darken($pink_hex, 15%), 20%);
	}
	&:active {
		top: 1px;
	}
}
#saveForm {
	font-size: 14px;
	@include border-radius(5px);
	left: 0;
}
.wufoo label.desc, .wufoo legend.desc, #Field12, #Field6, #Field7, #Field4, #Field15, #Field13, .wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
	font-size: $normal_size;
	color: $main_blue_hex;
	@extend .rounded;
	display: block;
	background-image: none !important;
}
.wufoo li div label, .wufoo li span label, form li div label var, .wufoo .currently {
	font-size: $small_size;
}
#Field12, #Field6, #Field7, #Field4, #Field15, #Field13 {
	-webkit-appearance: none; -moz-appearance: none; 
	@extend .rounded;
	@extend .transition;
	padding: 5px 10px;
	font: $normal_size $sans; color: $main_blue_hex; 
	border: 1px solid #A7ADAF; border: 1px solid hsla(198,5%,67%,0.8);
	position: relative;
	left: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	@include box-sizing(border-box);
	left: 0;
}
form li {
	padding: 0;
}
.wufoo li {
	margin: 0 0 $twenty;
}
#errorLi {display: none;}
form li.error {
	display: block !important;
	background-color: transparent !important;
	margin-bottom: 20px !important;
	.desc, p.error {
		color: $red !important;
		font: 12px/1 $sans; }
}
form span.req {
	color: $red !important; }
form li.buttons {
	padding: 0; }

input::-webkit-input-placeholder {
	color: #A7ADAF; font: italic $small_size/1 $sans; }
[for="keywords"] {
	position: absolute; top: -9999px; left: -9999px; }

/* contact form ---------------------- */
.contact section input, .contact textarea, .contact select {
	display: block; }

/*
	Clearfixed
-----------------------------------------------------------------------*/
.wordpress_post_formats header,
.dribbble,
[role="contentinfo"] form, 
[role="contentinfo"], 
[role="banner"], 
[role="navigation"],
[role="region"], 
[role="main"], 
[role="navigation"] ul, 
figure, 
[role="complementary"], 
[role="article"] [role="contentinfo"], 
[role="article"] {
	@include pie-clearfix; }

/*
	Media queries
-----------------------------------------------------------------------*/
@media screen and (min-width: 960px), screen and (min-device-width: 960px) {
	header + [role="region"] {padding: 0;}
}
@media screen and (min-device-width: 960px), 
 			 screen and (min-width: 960px) {
	/* padding ---------------------- */
	.home [role="region"], .home [role="article"], [role="region"], [role="article"] {
		padding: 0;
	}
	/* lists ---------------------- */
	.entry [role="article"] footer {
		li {
			&:last-child {
				display: block;
			}
		}
	}
}
@media screen and (min-device-width: 320px) and (max-device-width: 959px), 
 			 screen and (min-width: 320px) and (max-width: 959px) {
 			 
	.container {margin-right: $twenty; margin-left: $twenty;}
	[role="region"], [role="article"], .home [role="region"], .home [role="article"], .home header + [role="region"] {
		padding: 0;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 959px),
									(min-width: 768px) and (max-width: 959px) {

	/* header ---------------------- */
	[role="banner"] {
		padding: 0 $twenty;
	}	
	/* section ---------------------- */
	[role="article"] {
		&:first-of-type section:first-of-type img {
			margin: 0 3.610108303249% 1% 0; max-width: 80px; float: left;	
		}
	}
	
	/* footer ---------------------- */
	[role="main"] + [role="contentinfo"] {padding: $twenty;}
	
	/* lists ---------------------- */
	[role="main"] + [role="contentinfo"] ul {
		margin: 0 -5px 0 0;
	}
	dl {
		margin: 20px 0 0; overflow: hidden;
		@include column-count(2);	
	}
}

@media screen and (min-device-width: 768px), screen and (min-width: 768px) {

	.item img {
		margin-bottom: 17px;
		@extend .transition;
		position: relative;
		z-index: 1;
		&:hover, &:focus {

		}
	}

	/* header ---------------------- */
	[role="banner"] {
		overflow: hidden;
		img {
			float: left;
		}
		h1 {
			margin: 0; @include inline-block;
			float: left;
			width: 16.285714285714%;
			a {
				display: block;
			}
		}
	}
	
	[role="main"] header:first-child {width: 72.916666666667%; padding-right: 13.5416666666665%; padding-left: 13.5416666666665%;}
	
	/* section ---------------------- */
	[role="main"] {}
	.contact [role="region"] {
		float: left;
		width: 35% - $forty;
		margin: 0 $forty 0 0;
		&:nth-of-type(2) {
			width: 65%;
			margin: 0;
		}
	}
	section {
		margin: 0 0 40px;
	}
	[role="article"]:first-of-type section:first-of-type img {margin: 0 0 100px 3.610108303249%; float: right; max-width: none;}
	/* nav ---------------------- */
	[role="navigation"] {
		ul {
			width: 76.1%; // 700 / 920 = 76.1%
			float: right;
			margin: 0 auto 0 0;
		}
		li {
			float: left;
			margin: 26px 0 0;
			&:first-child, &:nth-of-type(4) {
				width: 21.9%;
			}
			&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(5) {
				width: 19.1%;
			}
			&:nth-of-type(5) {
				width: 18%;
			}
		}
		a {
			@include inline-block; line-height: 1.1;
		}
		b {
			display: block; font-size: $small_size;
		}
	}

	/* article ---------------------- */
	.home [role="article"] {
		@include box-flex(2.25);
		-moz-box-flex: 20;
		margin: 0 0 20px;
		&:nth-of-type(1) {
			margin: 0 8.333333333333% 0 0;
			@include box-flex(1);
			-moz-box-flex: 80;
		}
	}
	.home [role="article"]:nth-of-type(1), x:-moz-any-link, x:default {
		margin: 0 80px 0 0;
	}
	.no-flexbox.home [role="article"] {
		float: left;
		&:nth-of-type(1) {
			margin: 0 8.333333333333% 0 0;
			width: 60%;
		}
		&:nth-of-type(2) {
			width: 40% - 8.333333333333%;
		}
	}
	/* aside ---------------------- */
	.portfolio [role="region"] [role="complementary"] {
		float: right; border: none; @include border-image(none); padding: 0;
		width: 30%;
		margin: 0;
	}
	/* footer ---------------------- */
	[role="main"] + [role="contentinfo"] {padding: $twenty 0;}
	
	/* typography ---------------------- */
	p, li {line-height: 1.5em;}
	[role="main"] + [role="contentinfo"] ul {
		margin: 0 0 0 -5px;
		float: left;
		li:last-child {
			display: block;
		}
	}
	/* lists ---------------------- */
	[role="main"] + [role="contentinfo"] ul {
		margin: 0 -5px 0 0;
	}
	dl {
		margin: 20px 0 0; overflow: hidden;
		@include column-count(3);	
	}
	dt {margin: 0 0 5px;}
	dd {margin: 0 0 20px; line-height: 1em;}
	.portfolio [role="complementary"] li {
		font-size: $normal_size;
		border-bottom: 1px dashed transparentize($main_blue_hex, 0.8);
		display: block;
		width: 100%;
		&:last-child {
			border: none;
		}
		a {
			display: block;
			width: 100%;
			padding: $twenty 0;
		}
	}
	.portfolio [role="region"] [role="complementary"]:last-of-type li:nth-of-type(2) {
		border-left: none; padding-left: 0; padding-right: 0;
	}
	/* form ---------------------- */
	[role="contentinfo"] form {float: right;}
	
	/* misc ---------------------- */
	.portfolio figure {
		float: left;
		width: 21.6%;
		padding: 0;
		margin: 0 $forty 40px 0;
		position: relative;
		img {
			margin-bottom: -7px;
			position: relative;
			border: 5px solid #fff;
			@include box-shadow(0 2px 4px transparentize($hsla_black, 0.7));
			&:hover {
				opacity: 0.9;
			}
		}
		&:nth-of-type(4n+4) {
			margin-right: 0;
		}
		&:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8) {
			//margin-bottom: 0;
		}
	}
	.portfolio figcaption {
		a {
			display: block;
			margin: 10px 0 0;
			font: 700 16px $sans;
			&:hover, &:focus {
				opacity: 0.75;
			}
		}
	}
	/*
		Typography
	-----------------------------------------------------------------------*/
	.item [role="region"] p {
		display: block;
		width: 65%;
		float: left;
		z-index: 2;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 959px),
			 screen and (min-width: 768px) and (max-width: 959px) {
	[role="article"]:first-of-type section:first-of-type img {margin: 0 0 100px 3.610108303249%; float: right; max-width: 100px;}
	/* section ---------------------- */
	.home [role="region"], [role="region"] {
		padding: 0 $twenty;
	}
	/* article ---------------------- */
	.home [role="article"] {
		@include box-flex(1.8);
		-moz-box-flex: 20;
		&:nth-of-type(1) {
			margin: 0 $forty 0 0;
			@include box-flex(1);
			-moz-box-flex: 80;
		}
	}
	.home [role="article"]:nth-of-type(1), x:-moz-any-link, x:default {
		margin: 0 40px 0 0;
	}
	/* lists ---------------------- */
	dl {
		@include column-count(2);
	}
	#imgs [role="region"] img {
		
	}
	.entry [role="article"] footer {
		li {
			&:last-child {
				display: block;
			}
		}
	}
}

@media screen and (min-device-width: 586px) and (max-device-width: 767px),
									(min-width: 586px) and (max-width: 767px) {							
	
	/* header ---------------------- */
	[role="banner"] {
		padding: 0 $forty;
		h1 {
		margin: 0; @include inline-block;
		float: left;
		width: auto;
		a {
			display: block;
		}
	}	
	}
	[role="main"] header:first-child {width: 100% - $eighty * 2; padding-left: $eighty; padding-right: $eighty;}
	
	/* section ---------------------- */
	[role="article"] {
		padding: 0 $twenty $twenty;
		&:first-of-type [role="article"]:first-of-type img {
			margin: 0 3.610108303249% 1% 0; max-width: 100px; float: left;	
		}
	}
	.home [role="article"] {
		&:nth-of-type(1) {
			@include box-flex(1);
			margin: 0;
			section:first-of-type img {
				max-width: 100px;
				margin: 0 0 $forty $forty;
			}		
		}
		&:nth-of-type(2) {
			@include box-flex(1);
			@include display-box;
			section {
				@include box-align(start);
				@include box-flex(1);
				-moz-box-flex: 1;
				@include box-ordinal-group(2);
				margin: 0 $forty 20px 0;
				&:nth-of-type(2) {
					margin: 0;
					@include box-flex(1);
					@include box-ordinal-group(1);
					-moz-box-flex: 3;
				}
			}
		}
	}
	.home [role="article"]:nth-of-type(2) section, x:-moz-any-link, x:default {
		margin-right: 40px;
	}
	/* lists ---------------------- */
	dl {
		margin: 20px 0 0; overflow: hidden;
		@include column-count(2);	
	}
	/* nav ---------------------- */
	[role="navigation"] {
		ul {
			width: 75.714285714286%;
			float: right;
		}
		li {
			float: left;
			margin: 31px 0 0;
			&:first-child {
				width: 18%
			}
			&:nth-of-type(2) {
				width: 22%;
			}
			&:nth-of-type(3), &:nth-of-type(4) {
				width: 19%;
			}
			&:nth-of-type(5) {
				width: 20%;
			}
		}
		a {
			@include inline-block; line-height: 1;
		}
		b {
			display: none;
		}
	}
	dt {margin: 0 0 5px;}
	dd {margin: 0 0 10px; line-height: 1.5em;}
	
	/* div ---------------------- */
	.home header + [role="region"] {@include box-orient(vertical); @include box-direction(reverse);}
	
	/* footer ---------------------- */
	[role="main"] + [role="contentinfo"] {
		padding: $twenty;
	}
	[role="main"] + [role="contentinfo"] {
		ul {
			float: left;
		}
		li:last-child {
			display: block;
		}
		small, ul {
			display: block;
		}
	}
	/* form ---------------------- */
	[role="contentinfo"] form {float: right;}
	
/*
	.portfolio figure {
		width: 21%;
	}
*/

}

@media screen and (min-width: 320px) and (max-width: 585px),
			 screen and (min-device-width: 320px) and (max-device-width: 585px) {

	body {margin: 41px 0 0; position: relative; font-size: $normal_size;}
	.container {margin-left: 0; margin-right: 0;}
	.portfolio.item img {
		margin-bottom: 20px;
	}
	/* header ---------------------- */
	[role="banner"] {text-align: center; position: relative; @include border-radius(0); border-left: none; border-right: none;}
	[role="main"] header:first-child {width: 100% - $forty - $forty; padding-left: $forty; padding-right: $forty;}
	/* nav ---------------------- */
	[role="navigation"] {
		position: fixed; top: 0; left: 0; z-index: 10; 
		width: 100%; margin: auto; 
		border-left: none; border-right: none; border-bottom: 1px solid #000;
		background: #000 url(../images/_layout/texture.png);
		 @include box-shadow(transparentize($hsla_white, 0.9) 0 -1px 0 inset, rgba(0,0,0,0.35) 0 0 0 22px inset, rgba(0,0,0,0.35) 0 2px 3px);
		ul {
			width: 243px/* 320px */;
			float: none;
			margin: auto;
		}
		li {
			padding: 0; @include box-size((border-box));
			margin: auto;
			width: 95%;
			border-right: 1px solid #000; border-right: 1px solid hsla(0,0%,0%,0.75); 
			@include box-shadow(1px 0 0 hsla(0,0%,100%,0.1));
			&:last-child {
				border: none; @include box-shadow(none);		
			}
			&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
				width: auto;
			}
		}
		a {
			padding: 14px 8px;
			font-size: 11px;
		}
		b {
			display: none;
		}
	}
	/* section ---------------------- */
	[role="main"] {margin: 0;}
	section {
		margin: 0 0 20px;
	}
	header + [role="region"], [role="region"] + [role="region"] {
		padding: 0 $forty;
	}
	.home header + [role="region"] {
		@include box-orient(vertical); @include box-direction(reverse);
		padding: 0 $forty;
	}
	.contact [role="region"] {
		float: none;
		width: 100% - $forty - $forty;
		margin-right: 0;
		&:nth-of-type(2) {
			width: 100% - $forty - $forty;
		}
	}
	/* article ---------------------- */
	[role="article"] {
		padding: 0 $forty $forty;
		&:first-child {
			padding-bottom: 0;
		}
		&:first-of-type section:first-of-type img {
			margin: 0 0 10px 10px; max-width: 80px;
			@include transform(none);
		}
	}
	.blog [role="region"] [role="article"], .entry [role="article"], .search [role="region"] [role="article"] {
		margin: 0 0 40px;
		padding: 0;
		&:last-child {
			margin: 0;
		}
	}
	.entry [role="article"] {
		padding: 0 $forty;
	}
	.home [role="article"] {

		&:nth-of-type(1) {
			margin: 0;
		}
	}
	.contact [role="article"] {
		padding-left: 0; padding-right: 0;
	}
	/* aside ---------------------- */
	.portfolio [role="region"] [role="complementary"] {
		float: none;
		width: auto;
	}
	/* div ---------------------- */
	/* aside ---------------------- */
	.portfolio [role="complementary"] {}
	.entry [role="complementary"] {width: 50%; float: right; @include inline-block; top: 21px; left: 47%; margin: 0 0 20px;}
	/* footer ---------------------- */
	[role="main"] + [role="contentinfo"] {padding: $twenty; text-align: center;}
	.entry [role="article"] footer {
		position: static; float: left;
		@include inline-block;
		margin: 0 0 20px;
		width: 50%;
		ul {
			width: auto;
			text-align: left;
			padding: 0;
		}
		li {
			@include inline-block;
			margin: 0 10px 0 0;
			&:last-child {
				@include inline-block;
			}
		}
	}
	.blog [role="article"] footer {
		position: static;
		float: none;
		width: 100%;
		padding: 10px 0;
		margin: 10px 0;
		border-top: 1px dashed lighten($main_blue_hex, 20%);
		border-bottom: 1px dashed lighten($main_blue_hex, 20%);
		border-bottom: 1px dashed transparentize($main_blue_hex, 0.6);
		border-top: 1px dashed transparentize($main_blue_hex, 0.6);
		border-bottom: 1px dashed transparentize($main_blue_hex, 0.6);
	}
	/* typography ---------------------- */
	h1, h1 a, h2, h2 a, h3, h3 a {font-size: 22px; margin: 0 0 10px;}
	h2, h2 a {font-size: 20px; margin: 0 0 10px;}
	[role="banner"] h1 {
		float: none;
		width: auto;
	}
	[role="main"] header:first-child h2, [role="main"] header:first-child h2 a {
		font-size: 16px;
	}
	/* lists ---------------------- */
	dl {margin: 10px 0 0; @include column-count(0);}
	dt {margin: 0 0 0px;}
	dd {margin: 0 0 10px; line-height: 1.35em;}
	[role="main"] + [role="contentinfo"] ul, [role="main"] + [role="contentinfo"] small {
		display: block; width: 91.666666666666%; padding: 0 $forty; text-align: center;
		li:last-child {
			display: block;
		}
		small {
			margin: 5px 0 10px;	
		}
	}
	[role="article"] footer li {
		display: block;
		float: left;
		margin: 0 5px 0 0;
	}
	.item [role="region"] p {
		float: none;
		width: auto;
	}
	.entry [role="complementary"] {
		ul {
			float: right;
		}
		li {
			@include inline-block; font-size: $small_size;
		}	
	}
	
	/* figure ---------------------- */
	.dribbble figure {
		font-size: $small_size; line-height: 0.9; max-width: 180px; margin: auto auto 20px;
		float: none;
		&:last-child {
			margin: auto;
		}
	}
	
	[role="contentinfo"] form {
		float: none;
	}
}
@media screen and (min-device-width: 480px) and (max-device-width: 585px),
			 screen and (min-width: 480px) and (max-width: 585px) {
	/* figure ---------------------- */
	.dribbble figure {
		float: left;
		margin: 0 $twenty 0 0;
		max-width: 31.9444444444447%;
	}
}
@media screen and (max-device-width: 480px) {
	body {margin: 10px 0 0;}
	[role="navigation"] {
		top: auto;
		bottom: 0;
		border-bottom: none;
		border-top: 1px solid #000;
		@include box-shadow(transparentize($hsla_white, 0.9) 0 1px 0 inset, rgba(0,0,0,0.35) 0 0 0 22px inset, rgba(0,0,0,0.35) 0 -2px 3px);
		ul {
			width: 100%;
		}
		a {
			padding: 7px 8px 7px 6px;
		}
	}
	.old body {
		margin: 41px 0 0;	
	}
	.old [role="navigation"] {
		top: 0; bottom: auto;
		border-top: none; border-bottom: 1px solid #000;
		@include box-shadow(transparentize($hsla_white, 0.9) 0 -1px 0 inset, rgba(0,0,0,0.35) 0 0 0 22px inset, rgba(0,0,0,0.35) 0 2px 3px);
		ul {
			display: block;
			width: 100%;
		}
		li {
			padding: 0; @include box-size((border-box));
			border-right: 1px solid #000; border-right: 1px solid hsla(0,0%,0%,0.75); 
			@include box-shadow(1px 0 0 hsla(0,0%,100%,0.1));
			&:last-child {
				border: none; @include box-shadow(none);		
			}
		}
		a {
			padding: 13px 8px 13px 5px;
			font-size: 11px;
		}
		b {
			display: none;
		}
	}
	[role="main"] + [role="contentinfo"] {
		padding-bottom: 60px;
	}
}
@media screen and (orientation: landscape) and (max-device-width: 480px) {
	[role="navigation"] ul li a {
    padding: 7px 17px;
  }
  [role="navigation"] ul {
  	width: 100%;
  }
  /* footer ---------------------- */
	[role="main"] + [role="contentinfo"] {padding: $twenty 0 $sixty * 1.5;}
}
@media screen and (min-width: 320px) and (max-width: 627px),
screen and (min-device-width: 320px) and (max-device-width: 627px) {
	.portfolio figure {
			width: 50% - $forty;
			margin: 0 $sixty 20px 0;
			float: left;
			img {
				margin-bottom: -7px;
				position: relative;
				border: 2px solid #fff;
				@include box-shadow(0 1px 3px transparentize($hsla_black, 0.7));
				&:hover {
					opacity: 0.9;
				}
			}
		&:nth-of-type(4n+4) {
			margin-right: 0;
		}
		&:nth-of-type(2n+2) {
			margin-right: 0;
		}
		&:nth-of-type(5) {
			margin: 0 $sixty 20px 0;
		}
		&:nth-of-type(6) {
			margin: 0 0 20px 0;
		}
	}
	.portfolio figcaption a {
		display: block;
		margin: 10px 0 0;
		font-family: $sans;
		font-weight: 700;
	}
}
@media screen and (min-device-width: 320px),
			 screen and (min-width: 320px) {
	.about_version_4 .word3 {
		display: block;
		margin-top: -14%; }
}
@media screen and (min-device-width: 768px),
			 screen and (min-width: 768px) {
	.about_version_4 .word3 {
		display: block;
		font-size: 140px;
		margin-top: -10%; }			 
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min--moz-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5)  {
	[role="banner"] {
	background: url(../images/_layout/dashes@2x.png) top center repeat-x, url(../images/_layout/dashes@2x.png) bottom center repeat-x, $main_blue url(../images/_layout/texture.png); 
	@include background-size(6px 3px, 6px 3px, 480px 40px);
	padding: 0 $twenty; @include box-shadow((0 3px 4px transparentize($hsla_black, 0.8))); line-height: 1; max-height: 80px;}
	
	.webkit [role="main"] header:first-child h1 {
		background: none;
		-webkit-text-fill-color: $main_blue_hex; -webkit-background-clip: none;
	}
	[role="banner"] h1 {
		position: relative; top: 17px;
		a {
			background: url(../images/logo@2x.png) no-repeat;
			@include background-size(102px 44px);
		}
	}
}


/*
	Error
-----------------------------------------------------------------------*/
@-webkit-keyframes hang {
	0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	20%, 60% { -webkit-transform: rotate(8deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	40% { -webkit-transform: rotate(4deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	80%, 100% { -webkit-transform: rotate(6deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
}
@-webkit-keyframes hang2 {
	0% { -webkit-transform: rotate(4deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	20%, 60% { -webkit-transform: rotate(90deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	80%, 100% { -webkit-transform: rotate(90deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
}
@-webkit-keyframes drop {
	100% { -webkit-transform: translateX(2000px); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-out; }	
}

@-moz-keyframes hang {
	0% { -moz-transform: rotate(0); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	20%, 60% { -moz-transform: rotate(8deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	40% { -moz-transform: rotate(4deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	80%, 100% { -moz-transform: rotate(4deg) translateY(0); opacity: 1; -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
}
@-moz-keyframes hang2 {
	0% { -moz-transform: rotate(4deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	20%, 60% { -moz-transform: rotate(90deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	40% { -moz-transform: rotate(60deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	80%, 100% { -moz-transform: rotate(90deg) translateY(0); opacity: 1; -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
}
@-moz-keyframes drop {
	100% { -moz-transform: translateX(2000px); -moz-transform-origin: top left; -moz-animation-timing-function: ease-out; }	
}

@-ms-keyframes hang {
	0% { -ms-transform: rotate(0); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	20%, 60% { -ms-transform: rotate(8deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	40% { -ms-transform: rotate(4deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	80%, 100% { -ms-transform: rotate(4deg) translateY(0); opacity: 1; -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	

}
@-ms-keyframes hang2 {
	0% { -ms-transform: rotate(4deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	20%, 60% { -ms-transform: rotate(90deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	40% { -ms-transform: rotate(60deg); -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	80%, 100% { -ms-transform: rotate(90deg) translateY(0); opacity: 1; -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
}
@-ms-keyframes drop {
	100% { -ms-transform: translateX(2000px); -ms-transform-origin: top left; -ms-animation-timing-function: ease-out; }	
}


@-o-keyframes hang {
	0% { -o-transform: rotate(0); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	20%, 60% { -o-transform: rotate(8deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	40% { -o-transform: rotate(4deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	80%, 100% { -o-transform: rotate(4deg) translateY(0); opacity: 1; -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
}
@-o-keyframes hang2 {
	0% { -o-transform: rotate(4deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	20%, 60% { -o-transform: rotate(90deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	40% { -o-transform: rotate(60deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	80%, 100% { -o-transform: rotate(90deg) translateY(0); opacity: 1; -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
}
@-o-keyframes drop {
	100% { -o-transform: translateX(2000px); -o-transform-origin: top left; -o-animation-timing-function: ease-out; }	
}

@keyframes hang {
	0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }	
	20%, 60% { transform: rotate(8deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	40% { transform: rotate(10deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	80%, 100% { transform: rotate(10deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; }	
}
@keyframes hang2 {
	0% { transform: rotate(4deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	20%, 60% { transform: rotate(90deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	80%, 100% { transform: rotate(90deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; }	
}
@keyframes drop {
	100% { transform: translateX(2000px); transform-origin: top left; animation-timing-function: ease-out; }	
}

.error {
	overflow: hidden; }
.error [role="banner"] {position: relative; z-index: 200; position: relative; -webkit-animation: hang 2s, hang2 3s 3s; -moz-animation: hang 2s, hang2 3s 3s; -ms-animation: hang 2s, hang2 3s 3s; -o-animation: hang 2s, hang2 3s 3s; animation: hang 2s, hang2 3s 3s; -webkit-animation-fill-mode: forwards, forwards; -moz-animation-fill-mode: forwards, forwards; -ms-animation-fill-mode: forwards, forwards; -o-animation-fill-mode: forwards, forwards; animation-fill-mode: forwards, forwards; @include enable-hardware-acceleration;}

.error [role="navigation"] li, .error [role="banner"] img {
	@include transform(rotate(2deg));
}
.error [role="navigation"] li {
	-webkit-animation: drop 1.5s 5s ease-out forwards;
	-moz-animation: drop 1.5s 5s ease-out forwards;
	-ms-animation: drop 1.5s 5s ease-out forwards;
	-o-animation: drop 1.5s 5s ease-out forwards;
	animation: drop 1.5s 5s ease-out forwards;
	&:nth-of-type(2) {
		-webkit-animation-delay: 5.25s;
		-moz-animation-delay: 5.25s;
		-ms-animation-delay: 5.25s;
		-o-animation-delay: 5.25s;
		animation-delay: 5.25s;
	}
	&:nth-of-type(3) {
		-webkit-animation-delay: 5.5s;
		-moz-animation-delay: 5.5s;
		-ms-animation-delay: 5.5s;
		-o-animation-delay: 5.5s;
		animation-delay: 5.5s;
	}
}

/*
	Lettering
-----------------------------------------------------------------------*/
$wp_colour: hsl(0,0%,35%);
.wordpress_post_formats.webkit [role="main"] header:first-child h1 {
	-webkit-text-fill-color: $wp_colour;
}
.wordpress_post_formats {
	[role="main"] header:first-child {
		width: 96%;
		padding-left: 0; padding-right: 0;
	}
	[role="article"] img {
		border: 5px solid $wp_colour;
		margin: 0 0 20px;
	}
	body, article h1, h2, h3, p, ul, li {
		color: $wp_colour;
	}
	[role="banner"] {
		background: url(../images/_posts/wp/texture.png);
		background: url(../images/_layout/dashes.png) top center repeat-x, url(../images/_layout/dashes.png) bottom center repeat-x, url(../images/_posts/wp/texture.png);
		border: 1px solid $wp_colour;
	}
	[role="main"] header:first-child h1, [role="main"] header:first-child h2 {
		display: block;
		width: 100%;
		text-align: center;
		font-family: "proxima-nova-extra-condensed", sans-serif;
	}
	header span {
		position: relative;
		@include inline-block; 
		padding: 0 $ten; margin: 0 $ten 20px 0;
		font-family: "proxima-nova-extra-condensed", sans-serif;
		line-height: 1.5;
		letter-spacing: normal; text-transform: uppercase;
		background: #fff url(../images/_posts/heading_bg.png);
		color: #444;
		@include box-shadow(0 2px 3px transparentize(#000,0.81));
		@include border-radius(3px);
		@extend .transition;
		&:nth-of-type(2n+2) {
			@include transform(rotate(-0.75deg) translateY(-3px));
		}
		&:hover {
			@include transform(rotate(0.75deg) translateY(3px));
			z-index: 100;
		}
	}
	.char1, .char2, .char3, .char4, .char5,
	.char6, .char7, .char8, .char9, {
		margin: 0 $ten 10px 0;
	}
	.char10 {
		display: block;
		margin: 0;
	}
	.char10, .char15 {
		@include box-shadow(none);
		background: none;
	}
}

/*
	Highlight.js
-----------------------------------------------------------------------*/
pre code {
  display: block; padding: 0.5em;
  background: #fdf6e3; color: #657b83;
}
pre, pre code {
	font: 14px/1.5 "Monaco", monospace;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .method,
pre .addition,
pre .css .tag,
pre .lisp .title {
  color: #859900;
}

pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}

pre .title,
pre .localvars,
pre .function .title,
pre .chunk,
pre .decorator,
pre .builtin,
pre .built_in,
pre .lisp .title,
pre .identifier,
pre .title .keymethods,
pre .id {
  color: #268bd2;
}

pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  font-weight: bold;
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .label {
  color: #b58900;
}

pre .preprocessor,
pre .pi,
pre .shebang,
pre .symbol,
pre .diff .change,
pre .special,
pre .keymethods,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata {
  color: #cb4b16;
}

pre .deletion {
  color: #dc322f;
}

pre .tex .formula {
  background: #eee8d5;
}