{embed="/include/header" entry_title="Portfolio"}
	{exp:channel:entries channel="portfolio" require_entry=“yes" status="Open" category_group="not 18" global:param_disable_all global:param_cache_param fixed_order="26|27|45|44|28|29"}
	
	{if no_results}{redirect="portfolio"}{/if}
	
	<a href="{title_permalink='portfolio/view'}" title="View {title} in full." class="item_{url_title}">
		<figure>
			<div class="browser" role="img" aria-label="Small website preview of {title}"></div>
			<figcaption>
				<h2>{title}</h2>
				<p>{exp:eehive_hacksaw words="25" append="&hellip;"}{item_description}{/exp:eehive_hacksaw}</p>
				<span class="button">View more</span>
			</figcaption>
		</figure>
	</a>
	
	{/exp:channel:entries}
  <p><a href="/contact" class="notice-success"><em>Let's work together?</em>Contact me</a></p>
  
{embed="/include/footer"}