{embed="include/header" entry_title="{exp:channel:entries channel="portfolio" status="Latest|open|draft"}{title}{/exp:channel:entries}"}
	{!--
		# breakpoints
		$a: 30em; /* 480px / 16px */
		$b: 37.5em; /* 600px / 16px */
		$c: 48em; /* 768px / 16px */
		$d: 56.25em; /* 900px / 16px */
		$e: 60em; /* 960px / 16px */
		$f: 75em; /* 1200px / 16px */

		{full_image}
		{full_image_2x}

		{image_1}
		{image_1_2x}

		{image_2}
		{image_2_2x}
	--}
	
	{exp:channel:entries channel="portfolio" require_entry="yes" status="Open" global:param_disable_all}
	  {if no_results} {redirect="portfolio"} {/if}
		
		{if entry_id == "2600"}

			{if image_1}
  			<figure class="item-full">
  				<div data-picture data-alt="A detail view of {title}">
  					<div
  						data-src="{image_1}"></div>
  					<div
  						data-src="{image_1_2x}"
  						data-media="(min-width: 48em) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 48em) and (min-resolution: 144dpi)"></div>
  					<noscript>
  						<img src="{image_1}" alt="A detail view of {title}">
  					</noscript>
  				</div>
  				<figcaption>
  					{exp:markdown}{image_1_description}{/exp:markdown}
  				</figcaption>
  			</figure>
			{/if}

			{if image_2}
  			<figure class="item-full">
  				<div data-picture data-alt="A detail view of {title}">
  					<div
  						data-src="{image_2}"></div>
  					<div
  						data-src="{image_2_2x}"
  						data-media="(min-width: 48em) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 48em) and (min-resolution: 144dpi)"></div>
  					<noscript>
  						<img src="{image_2}" alt="A detail view of {title}">
  					</noscript>
  				</div>
  				<figcaption>
  					{exp:markdown}{image_2_description}{/exp:markdown}
  					{if live_url || !final_description}<p><a href="{live_url}" class="button" title="View the live version of {title}">View website</a></p>{/if}
  				</figcaption>
  			</figure>
			{/if}
			
			{if final_description}
				{exp:markdown}{final_description}{/exp:markdown}
			{/if}
			
			{if live_url && final_description}
			  <p><a href="{live_url}" class="button" title="View the live version of {title}">View website</a></p>
      {/if}
      
  		{if:else}
  			<figure class="item-full">
  				<div data-picture data-alt="A large view of {title}">
  					<div 
  						data-src="{full_image}" 
  						data-media="(min-width: 0)"></div>
  					<noscript>
  						<img src="{full_image}" alt="A large view of {title}">
  					</noscript>
  				</div>
  				<figcaption>
  					<h2>Overview</h2>
  					<p>{item_description}</p>
  					{if live_url}<p><a href="{live_url}" class="button" title="View the live version of {title}">Live version</a></p>{/if}
  				</figcaption>
  			</figure>
  		{/if}
		
	{/exp:channel:entries}
	<hr>
	{portfolio_nav}
	<span class="screenreader updated">{edit_date format='%Y-%m-%dT%H:%i:%s%O'}</span>
{embed="include/footer"}