.DS_Store
system/config.php
.sass-cache
cache/
cacheee_version/

# Images
assets/images/_blog/*
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/
images/uploads

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*
system/cache/db_cache
system/cache/magpie_cache
system/cache/page_cache
system/expressionengine/cache

# npm
npm-debug.log
node_modules/
!/node_modules/
!src/node_modules/
config_bootstrap.php