//	variable values number divided by 1000
$ten:	1%;
$twenty: 2%;
$forty:	4%;
$sixty:	6%;
$eighty: 8%;

$tenth: 10%;
$twentieth:	20%;
$quarter:	25%;
$third:	33%;
$half: 50%;
$twothirds:	66%;
$sixtyeight: 68%;
$threequarters: 75%;
$eighty: 80%;
$ninety: 90%;
$whole: 100%;

$footer-height: 42px;

//	general variable colours
// --------------------------
$primary: #363940 !default;
$primary_l1: #e6e9f2 !default;
$primary_l2: #474d59 !default;
$primary_l3: #e6eaf1 !default;
$primary_d1: #0a0b0c !default;
$primary_d2: #2a2d33 !default;
// note: #a03c21 (dark orange) #ff4411 (bright orange) alts that work well, need adjustment in other css
$secondary: #88a23d !default;
$inner-shadow: #090e1a !default;
$primary-border: #363940 !default;
$primary-bg: #313a4c !default;
$primary-l1: #98a1b2 !default;

$black: hsla(0,0%,0%,1);
$white: hsla(0,100%,100%,1);

// main element styling colours
// ---------------------------
$default: #ececec !default;
$default-text: #444 !default;
$default-text-shadow: #fff !default;
$subtle-color: #666;

$border: rgba(54,57,64,.3);
$focus: scale-color(#71bcc5, $lightness: -25%) !default;

// colours for status type things
// ---------------------------
$alt: #3a9ac9 !default;
$danger: #dd453d !default;
$warning: #f3bd30 !default;
$success: #88a23d !default;
$info: #71bcc5 !default;

// font stacks
// ---------------------------
$sans: "franklin-gothic-urw", sans-serif;
$serif: "freight-text-pro", georgia, serif;
$slab: "Geared Slab", "Geared", serif;
$monospace: "source-code-pro", monospace;
$pictos: "Pictos Custom";

// if you have symbolset
// ---------------------------
$icons: "SSStandard";

// found the need sometimes to switch fonts mid project
// ---------------------------
$heading: $sans;
$body: $sans;

// font sizes
// ---------------------------
$base-font-size: 16px;
$normal-size: 1em;
$base-line-height: 1.5;

// px
// ---------------------------
$base-px: 12px;
$line: $base-px*2;
$radius: 5px;


// khtml support is pointless most times
// ---------------------------
$experimental-support-for-khtml: false;

// uncomment if you're brave, or don't care
// ---------------------------
$legacy-support-for-ie: false;
$legacy-support-for-mozilla: true;
$legacy-support-for-ie7: false;

// define responsive stuff: see responsive.scss
// ---------------------------
$old-ie: false !default;
$fix-mqs: false !default;

// consistent radius
// ---------------------------
$radius: 5px; /* 5px / 16px = .3125em */

// change your responsive widths here,
// corresponds with screens scss files a lowest e highest
// ---------------------------
$a: 30em; /* 480px / 16px */
$b: 37.5em; /* 600px / 16px */
$c: 48em; /* 768px / 16px */
$d: 56.25em; /* 900px / 16px */
$e: 60em; /* 960px / 16px */
$f: 75em; /* 1200px / 16px */