---
import Page from '../../layouts/Page.astro'
import { getCollection, render } from 'astro:content'
import { format } from 'date-fns'

const allNotes = await getCollection('notes', ({ data }) => data.status === 'published')
const notes = allNotes.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
---

<Page title="Notes" description="Short thoughts, updates, and musings">
  <header class="max-md:frame max-md:frame-24 grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8 col-container md:col-content max-md:px-8 max-md:py-12">
    <div class="flex flex-col gap-4 md:col-span-1">
      <h1 class="w-full text-heading font-display lowercase self-start min-w-0 min-h-0 font-variation-bold lg:font-variation-extrabold text-3xl xs:text-5xl lg:text-7xl">
        Notes
      </h1>
      <p class="md:text-lg lg:text-xl text-ui-body sm:max-w-[34ch]">
        Short thoughts, updates, and musings
      </p>
    </div>
  </header>
  <div class="col-container md:col-content flex flex-col gap-8">
    {notes.map((note) => (
      <article class="flex flex-col gap-2 p-8 rounded-lg shadow-placed bg-surface">
        <time datetime={note.data.date.toISOString()} class="text-sm text-ui-body">
          {format(new Date(note.data.date), 'do MMMM yyyy')}
        </time>
        <h2 class="text-3xl font-display font-variation-bold lowercase text-heading leading-none">
          <a href={`/notes/${note.id}`} class="text-heading hover:text-link-hover transition duration-200">
            {note.data.title}
          </a>
        </h2>
        {note.data.summary && <p class="text-ui-body text-lg">{note.data.summary}</p>}
      </article>
    ))}
  </div>
</Page>
