// Helpers
// Everything has enabling variables and some variables are defined in
// framework/base to be overridden and used elsewhere 
// ---------------------------

// Border radius
// ---------------------------
$default-enable-border-radius: false !default;
$default-enable-border-radius-specific: false !default;
@import "helpers/border-radius";

// Margin
// ---------------------------
$default-enable-margin: true !default;
$default-enable-margin-responsive: true !default;
$default-margin-map: (
  t: top,
  r: right,
  b: bottom,
  l: left 
) !default;
$default-margin-map: ( b: bottom );
$default-enable-undo-margin: true !default;
@import "helpers/margin";

// Padding
// ---------------------------
$default-enable-padding: true !default;
$default-enable-padding-responsive: true !default;
$default-padding-map: (
  t: top,
  r: right,
  b: bottom,
  l: left 
) !default;
$default-enable-undo-padding: false !default;
$default-enable-isles: false !default;
@import "helpers/padding";

// Font size
// ---------------------------
$default-enable-font-size: true !default;
@import "helpers/font-size";

// Visibility
// ---------------------------
$default-enable-visibility: true !default;
@import "helpers/visibility";

// Float
// ---------------------------
$default-enable-clearfix: false !default;
$default-enable-float: false !default;
@import "helpers/float";

// Inline block
// ---------------------------
$default-enable-inline-block-layout: true !default;
$helper-vertical-align-prefix: vertical-align;
@import "helpers/inline-block";