$old-ie: true;
$fix-mqs: 65em;
@import "import/framework";

@media \0screen {
	html { /* IE8 */
		font-family: "c"; } }
		
.ie {
	font-family: $sans !important;
	[data-icon]:before, [data-icon]:after {
		display: none !important; } }