</div>
{!-- role="main" --}

<hr>

<aside role="complementary" class="related">
	<section class="me vcard author" role="region" aria-labelledby="About me">
		<h3 role="heading">About me</h3>
		<p><img src="{global:theme_url}/site/assets/images/me.jpg?v=2" srcset="{global:theme_url}/site/assets/images/me.jpg?v=2 2x" class="photo" alt="A photo of me">I’m <span class="fn">Steve McKinney</span>, a <span class="role">Web Designer</span> living in <span class="adr"><span class="locality">Manchester</span>, <span class="country-name">England</span></span>. I've been designing from fairly young age and doing it ‘in industry’ for the past 3 years. I couldn’t see myself doing anything else. I can start a website from paper, or just jump straight into Photoshop, it all leads to what I feel is the best result. I try to justify everything on a website, if it offers no value, I get rid of it. I’m good with the usual stuff HTML, CSS, &amp; Photoshop, with some JavaScript. I’m familiar with Wordpress and ExpressionEngine. The aim with this website is to be more of a place to share what I learn, and to use it to spur me on to get better at what I do through blogging.</p>
	</section>
	<section class="dribbble" role="region" aria-labelledby="Dribbble shots">
		<h3 role="heading"><a href="http://dribbble.com/stevemckinney" title="View all my shots on Dribbble">Dribbble shots</a></h3>
		<p>Loading&hellip;</p>
	</section>
</aside>

<footer role="contentinfo">
	<ul>
		<li><small>Copyright &copy; <span class="author vcard"><a rel="author" href="http://iamsteve.me" class="url fn">Steve McKinney</a></span> {current_time format="%Y"}.</small></li>
		<li><a href="#" title="Go back to the top of the page" class="top">Top</a></li>
		<li><a href="feed://iamsteve.me/blog/feed" title="The RSS feed for my blog">RSS</a></li>
		<li><a href="http://www.mediatemple.net#a_aid=501a3004e628b" title="MediaTemple the host of this website">Host</a></li>
		<li><a href="http://expressionengine.com/index.php?affiliate=stevemckinney" title="Running on ExpressionEngine">EE</a></li>
		<li><a href="https://gist.github.com/2767673" title="The cookies used on this site can be found here">Cookies</a></li>
	</ul>
	{search}
</footer>
{if logged_in}
  <style>
    html { margin-top: 44px; }
    .menu-bar { 
      position: fixed;
      z-index: 999;
      top: 0; left: 0; right: 0;
      background: #222;
      padding: 0 .75em;
      line-height: 44px; }
    
    .menu-bar a { font-size: 12px; font-family: Helvetica; color: #666; }
  </style>
  <div class="menu-bar">
    <a href="/admin.php?/cp/tools_data/clear_caching">Cache</a> – <a href="/admin.php?/cp/content_publish/entry_form&channel_id=1&S=327abb6bad14a9e5b472d82b9b96b50d">Publish</a> – <a href="/admin.php?/cp/content_edit&channel_id=1&S=327abb6bad14a9e5b472d82b9b96b50d">Edit</a>
  </div>
{/if}

<!-- Javascript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{exp:minimee:js minify="yes"}<script src="{global:theme_url}/site/assets/js/consistent.js"></script>{/exp:minimee:js}
{if global:env == "production"}<script>
	var GoSquared = {};
  GoSquared.acct = "GSN-610812-E";
  GoSquared.UserName = "visitor";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.type = "text/javascript";
	a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0016/1566.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;b.parentNode.insertBefore(a,b)}, 1);
  </script>{/if}
</body>
</html>