<!DOCTYPE html>
<html lang="en" class="wf-loading hfeed no-js{if embed:body_class}
		{embed:body_class} 
		{if:elseif segment_1 == ''}
			{exp:channel:entries channel='blog' limit='1' status='open|latest' disable='member_data|trackbacks|pagination'} {url_title} home{/exp:channel:entries}
			{if:elseif segment_1 && segment_2 == ''} {segment_1}
			{if:elseif segment_2 == 'entry' OR segment_2 == 'view'} {segment_2} {exp:channel:entries channel='blog|portfolio' limit='1' status='open|latest' disable='member_data|trackbacks|pagination'}{url_title}{/exp:channel:entries}
		{/if}
	{/if}">
<head>
	{!-- Meta --}
	<meta charset="utf-8">
	{!-- In loving memory of Albert Phillips --}
  <title>
	{if segment_2 == "category"}
    {exp:channel:entries 
      channel="blog|portfolio|site|downloads"
      limit="1"
      status="open|latest"
      disable="member_data|trackbacks|pagination"}
      {exp:channel:category_heading channel="blog"}{category_name} ⌭ Steve McKinney
    {/exp:channel:entries}
  {if:elseif embed:entry_title}
    {embed:entry_title} ⌭ Steve McKinney
  {if:else}
    iamsteve ⌭ design & code blog
  {/if}
  </title>
	{exp:nsm_better_meta:template url_title="{segment_3}"}
	{!-- Mobile --}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="I am Steve">
	
	{!-- Verification --}
	<meta name="google-site-verification" content="kvxM4eH_QHyUGdJK0LEQj3aZi7Vew5AooNVxk79zruU">
	
	{!-- Twitter card --}
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="iamsteve ⌭ design & code blog">
  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
  <meta prefix="og: http://ogp.me/ns#" property="og:image" content="{global:theme_url}/assets/images/og.png">
  <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://iamsteve.me">
  
	{if segment_2 == 'entry'}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@irsteve">
	<meta name="twitter:description" content="{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}{exp:eehive_hacksaw chars="250"}{blog_article}{/exp:eehive_hacksaw}{/exp:channel:entries}">
	<meta name="twitter:title" content="{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}{title}{/exp:channel:entries}">
	<meta name="twitter:url" content="{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}{title_permalink='blog/entry'}{/exp:channel:entries}">
	{/if}
	
	{!-- CSS --}
	<link href="//cloud.typography.com/7828432/626862/css/fonts.css" rel="stylesheet">
	{exp:minimee:css minify="y"}<link href="{global:theme_url}/site/assets/css/master.css" rel="stylesheet">{/exp:minimee:css}
	{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
		{if extra_css}<link href="{global:theme_url}/site/assets/css/custom/{extra_css}.css?v=1" rel="stylesheet">{/if}
	{/exp:channel:entries}
	
	{!-- Other --}
	<link rel="alternate" type="application/rss+xml" title="Blog | Portfolio of Steve McKinney" href="http://iamsteve.me/blog/feed">
	{!-- Icons --}
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
</head>
<body class="hentry">
	<!--[if lt IE 9]>
		<p class="notice-warning" style="padding: 12px">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	<div class="container">
		<header role="banner">
      <a href="/" title="Back to the homepage" class="logo">I am Steve</a>
			<a href="#nav" title="To the navigation" class="mobile">&#xE9A1;</a>
			<nav role="navigation" aria-hidden="false" class="nav">
				<ul id="nav">
					<li><a href="{global:theme_url}"{if segment_1 == ""} class="active"{/if} data-icon="home">Home</a></li>
					<li><a href="{global:theme_url}/blog"{if segment_1 == "blog"} class="active"{/if} data-icon="compose">Archive</a></li>
					{!--<li><a href="{global:theme_url}/portfolio"{if segment_1 == "portfolio"} class="active"{/if} data-icon="picture">Portfolio</a></li>--}
					<li><a href="{global:theme_url}/about"{if segment_1 == "about"} class="active"{/if} data-icon="user">About</a></li>
					<li><a href="{global:theme_url}/contact"{if segment_1 == "contact"} class="active"{/if} data-icon="envelope">Contact</a></li>
				</ul>
			</nav>
		</header>
		{if segment_1 == ""}
			{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
				<h1 class="title entry-title"><a href="{title_permalink='blog/entry'}">{title}</a></h1>
			{/exp:channel:entries}
		{if:elseif segment_2 == "category"}
			{exp:channel:entries channel="blog|portfolio|site|downloads" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
      {/exp:channel:category_heading}
				{exp:channel:category_heading channel="blog"}
					<h1 class="title entry-title">{category_name}</h1>
				{/exp:channel:category_heading}
			{/exp:channel:entries}
		{if:elseif embed:entry_title}
			{exp:channel:entries channel="blog|portfolio|site|downloads" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
				<h1 class="title entry-title"><a href="{title_permalink='blog/entry'}">{embed:entry_title}</a></h1>
			{/exp:channel:entries}
		{if:else}
			<h1 class="title entry-title">{segment_1}</h1>
		{/if}
	</div>	
	<div role="main">