@charset "UTF-8";
/* normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* line 13, ../../../src/assets/sass/framework/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/* line 18, ../../../src/assets/sass/framework/_normalize.scss */
audio, canvas, video { display: inline-block; }

/* line 21, ../../../src/assets/sass/framework/_normalize.scss */
audio:not([controls]) { display: none; }

/* line 24, ../../../src/assets/sass/framework/_normalize.scss */
[hidden] { display: none; }

/* line 27, ../../../src/assets/sass/framework/_normalize.scss */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 31, ../../../src/assets/sass/framework/_normalize.scss */
body { margin: 0; }

/* line 35, ../../../src/assets/sass/framework/_normalize.scss */
a, a:active, a:focus { outline: 0; }

/* line 38, ../../../src/assets/sass/framework/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 41, ../../../src/assets/sass/framework/_normalize.scss */
b, strong { font-weight: bold; }

/* line 44, ../../../src/assets/sass/framework/_normalize.scss */
dfn { font-style: italic; }

/* line 47, ../../../src/assets/sass/framework/_normalize.scss */
mark { background: #fefeca; color: #403b33; }

/* line 51, ../../../src/assets/sass/framework/_normalize.scss */
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word; }

/* line 54, ../../../src/assets/sass/framework/_normalize.scss */
q { quotes: none; }
/* line 56, ../../../src/assets/sass/framework/_normalize.scss */
q:before, q:after { content: ''; content: none; }

/* line 60, ../../../src/assets/sass/framework/_normalize.scss */
small { font-size: 75%; }

/* line 64, ../../../src/assets/sass/framework/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 70, ../../../src/assets/sass/framework/_normalize.scss */
sup { top: -.5em; }

/* line 73, ../../../src/assets/sass/framework/_normalize.scss */
sub { bottom: -.25em; }

/* line 76, ../../../src/assets/sass/framework/_normalize.scss */
dl { margin: 0; padding: 0; }

/* line 80, ../../../src/assets/sass/framework/_normalize.scss */
dd, menu, ol, ul { margin: 0; }

/* line 83, ../../../src/assets/sass/framework/_normalize.scss */
menu, ol, ul { padding: 0 0 0 1.25em; }

/* line 93, ../../../src/assets/sass/framework/_normalize.scss */
nav ul, nav ol { padding: 0; list-style: none; list-style-image: none; }

/* line 98, ../../../src/assets/sass/framework/_normalize.scss */
img { border: 0; max-width: 100%; }

/* line 102, ../../../src/assets/sass/framework/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* line 105, ../../../src/assets/sass/framework/_normalize.scss */
figure, form { margin: 0; }

/* line 108, ../../../src/assets/sass/framework/_normalize.scss */
fieldset { border: none; margin: 0 0 1.5em; padding: 0; }

/* line 113, ../../../src/assets/sass/framework/_normalize.scss */
legend { border: 0; padding: 0; white-space: normal; }

/* line 121, ../../../src/assets/sass/framework/_normalize.scss */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }

/* line 127, ../../../src/assets/sass/framework/_normalize.scss */
button, [type="submit"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; }

/* line 132, ../../../src/assets/sass/framework/_normalize.scss */
button, input { line-height: normal; }

/* line 138, ../../../src/assets/sass/framework/_normalize.scss */
button, [type="button"], [type="reset"], [type="submit"] { cursor: pointer; }

/* line 141, ../../../src/assets/sass/framework/_normalize.scss */
html [disabled] { cursor: default; }

/* line 145, ../../../src/assets/sass/framework/_normalize.scss */
[type="checkbox"], [type="radio"] { padding: 0; }

/* line 148, ../../../src/assets/sass/framework/_normalize.scss */
[type="search"] { -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield; }

/* line 152, ../../../src/assets/sass/framework/_normalize.scss */
[type="search"]::-webkit-search-decoration, [type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/* line 156, ../../../src/assets/sass/framework/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 160, ../../../src/assets/sass/framework/_normalize.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 164, ../../../src/assets/sass/framework/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 168, ../../../src/assets/sass/framework/_normalize.scss */
:focus { outline: none; }

/* line 171, ../../../src/assets/sass/framework/_normalize.scss */
::-moz-selection { background: #fefeca; color: #403b33; text-shadow: none; }

/* line 176, ../../../src/assets/sass/framework/_normalize.scss */
::selection { background: #fefeca; color: #403b33; text-shadow: none; }

/* line 183, ../../../src/assets/sass/framework/_normalize.scss */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 7, ../../../src/assets/sass/framework/_helpers.scss */
a { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: all 0.2s linear; }

/* line 38, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after { content: ""; display: table; clear: both; }

/* line 23, ../../../src/assets/sass/framework/_helpers.scss */
.hidden { display: none; }

/* line 52, ../../../src/assets/sass/framework/_helpers.scss */
p { margin: 0 0 1.5em; }

/* line 71, ../../../src/assets/sass/framework/_helpers.scss */
.xxlarge { font-size: 200%; }

/* line 73, ../../../src/assets/sass/framework/_helpers.scss */
.xlarge { font-size: 150%; }

/* line 75, ../../../src/assets/sass/framework/_helpers.scss */
.large { font-size: 133%; }

/* line 78, ../../../src/assets/sass/framework/_helpers.scss */
.regular, .normal { font-size: 100%; }

/* line 80, ../../../src/assets/sass/framework/_helpers.scss */
.small { font-size: 87.5%; }

/* line 82, ../../../src/assets/sass/framework/_helpers.scss */
.xsmall { font-size: 75%; }

/* line 84, ../../../src/assets/sass/framework/_helpers.scss */
.xxsmall { font-size: 50%; }

@media (max-width: 37.5em) { /* line 171, ../../../src/assets/sass/framework/_helpers.scss */
  .hide-small { display: none; } }

@media (min-width: 37.5em) and (max-width: 48em) { /* line 175, ../../../src/assets/sass/framework/_helpers.scss */
  .hide-med { display: none; } }

@media (min-width: 60em) { /* line 179, ../../../src/assets/sass/framework/_helpers.scss */
  .hide-large { display: none; } }

/* line 225, ../../../src/assets/sass/framework/_element.scss */
.button, .button-secondary, .group-button { -webkit-transition: none; -moz-transition: none; transition: none; -moz-user-select: -moz-none; -webkit-user-select: none; -ms-user-select: none; user-select: none; background-clip: padding-box; position: relative; font-family: "ff-dagny-web-pro", sans-serif; line-height: normal; font-weight: 700; }

/* line 234, ../../../src/assets/sass/framework/_element.scss */
.button, .button-secondary, .group-button { display: inline-block; padding: 0.4875em 0.975em; border-radius: 3px; }
/* line 204, ../../../src/assets/sass/framework/_element.scss */
.button, .button-secondary, .group-button, .button:hover, .button-secondary:hover, .group-button:hover, .button:focus, .button-secondary:focus, .group-button:focus { color: white; }

/* line 48, ../../../src/assets/sass/framework/_blockquote.scss */
blockquote { background: -webkit-linear-gradient(bottom, rgba(176, 159, 101, 0.25) 0.05em, transparent 0.05em), #f6efd7; background: -moz-linear-gradient(bottom, rgba(176, 159, 101, 0.25) 0.05em, transparent 0.05em), #f6efd7; background: linear-gradient(to top, rgba(176, 159, 101, 0.25) 0.05em, transparent 0.05em), #f6efd7; -webkit-background-size: 100% 1.5em; -moz-background-size: 100% 1.5em; background-size: 100% 1.5em; margin: 0; padding-left: 6.75em; border-radius: 3px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
/* line 28, ../../../src/assets/sass/framework/_blockquote.scss */
blockquote p, blockquote { position: relative; }
/* line 30, ../../../src/assets/sass/framework/_blockquote.scss */
blockquote p { z-index: 1; }
/* line 32, ../../../src/assets/sass/framework/_blockquote.scss */
blockquote:before { content: open-quote; font-size: 9em; position: absolute; float: left; top: 0; left: 0; }
/* line 39, ../../../src/assets/sass/framework/_blockquote.scss */
blockquote:after { content: ""; display: inline-block; width: 10px; height: 100%; background: #e14d31; top: 0; left: 48px; }

/*
blockquote {
	@extend %rounded !optional;
	@extend %shadow !optional;
	@include rem(padding, $line $line $line $line*3);
	@extend %margin-bottom !optional;
	background: $q;
	color: $qd;
	position: relative;
	line-height: 1.5;
	font-family: $sans;
	p {
		position: relative;
		z-index: 1;
		[role="main"] & {
			&:first-child {
			@include rem(font-size, 16px); } } }
	&:before, &:after {
		position: absolute; }
	&:before {
		@include rem(margin, 0 $line 0 0);
		content: "pullquote";
		font: 700 100%/1.5 $icons;
		color: $qd;
		display: inline-block;
		opacity: .5;
		text-shadow: 0 1px 0 $ql;
		@include rem(top, $base-px*2);
		@include rem(left, $line);
		z-index: 0; }
	&:after {
		content: "";
		display: inline-block;
		width: 1px;
		height: 100%;
		background: $danger;
		top: 0;
		left: $line*2; } }
*/
/* line 16, ../../../src/assets/sass/framework/_grid.scss */
.container { margin: auto; position: relative; width: 85%; max-width: 60em; }

/* line 25, ../../../src/assets/sass/framework/_grid.scss */
.grid { display: block; padding: 0; text-align: left; text-rendering: optimizespeed; margin: 0 -0.75em; letter-spacing: -0.31em; }
/* line 37, ../../../src/assets/sass/framework/_grid.scss */
.opera-only :-o-prefocus .grid { word-spacing: -0.43em; }
/* line 40, ../../../src/assets/sass/framework/_grid.scss */
.grid > .grid { margin-right: 0; margin-left: 0; }

/* line 44, ../../../src/assets/sass/framework/_grid.scss */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 { padding: 0 0.75em; }

/* line 47, ../../../src/assets/sass/framework/_grid.scss */
.grid-cell, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 { position: relative; display: inline-block; width: 100%; margin: 0; vertical-align: top; text-align: left; letter-spacing: normal; word-spacing: normal; text-rendering: auto; }

/* line 58, ../../../src/assets/sass/framework/_grid.scss */
.grid-center { display: block; margin: 0 auto; }

/* line 71, ../../../src/assets/sass/framework/_grid.scss */
.before-1 { margin-left: 16.66667%; }

/* line 74, ../../../src/assets/sass/framework/_grid.scss */
.after-1 { margin-right: 16.66667%; }

@media (min-width: 60em) { /* line 82, ../../../src/assets/sass/framework/_grid.scss */
  .grid-1 { width: 16.66667%; } }

/* line 71, ../../../src/assets/sass/framework/_grid.scss */
.before-2 { margin-left: 33.33333%; }

/* line 74, ../../../src/assets/sass/framework/_grid.scss */
.after-2 { margin-right: 33.33333%; }

@media (min-width: 60em) { /* line 82, ../../../src/assets/sass/framework/_grid.scss */
  .grid-2 { width: 33.33333%; } }

/* line 71, ../../../src/assets/sass/framework/_grid.scss */
.before-3 { margin-left: 50%; }

/* line 74, ../../../src/assets/sass/framework/_grid.scss */
.after-3 { margin-right: 50%; }

@media (min-width: 60em) { /* line 82, ../../../src/assets/sass/framework/_grid.scss */
  .grid-3 { width: 50%; } }

/* line 71, ../../../src/assets/sass/framework/_grid.scss */
.before-4 { margin-left: 66.66667%; }

/* line 74, ../../../src/assets/sass/framework/_grid.scss */
.after-4 { margin-right: 66.66667%; }

@media (min-width: 60em) { /* line 82, ../../../src/assets/sass/framework/_grid.scss */
  .grid-4 { width: 66.66667%; } }

/* line 71, ../../../src/assets/sass/framework/_grid.scss */
.before-5 { margin-left: 83.33333%; }

/* line 74, ../../../src/assets/sass/framework/_grid.scss */
.after-5 { margin-right: 83.33333%; }

@media (min-width: 60em) { /* line 82, ../../../src/assets/sass/framework/_grid.scss */
  .grid-5 { width: 83.33333%; } }

/* line 71, ../../../src/assets/sass/framework/_grid.scss */
.before-6 { margin-left: 100%; }

/* line 74, ../../../src/assets/sass/framework/_grid.scss */
.after-6 { margin-right: 100%; }

/* line 80, ../../../src/assets/sass/framework/_form_types.scss */
::-webkit-input-placeholder { color: #7d7e81; }

/* line 82, ../../../src/assets/sass/framework/_form_types.scss */
::-moz-placeholder { color: #7d7e81; }

/* line 84, ../../../src/assets/sass/framework/_form_types.scss */
:-ms-input-placeholder { color: #7d7e81; }

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
* 
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/
@font-face { font-family: "SSStandard"; src: url('../../../src/assets/fonts/ss-standard/ss-standard.eot'); src: url('../../../src/assets/fonts/ss-standard/ss-standard.eot?#iefix') format("embedded-opentype"), url('../../../src/assets/fonts/ss-standard/ss-standard.woff') format("woff"), url('../../../src/assets/fonts/ss-standard/ss-standard.ttf') format("truetype"), url('../../../src/assets/fonts/ss-standard/ss-standard.svg#SSStandard') format("svg"); font-weight: 400; font-style: normal; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
/* line 23, ../../../src/assets/sass/site/_symbolset.scss */
html:hover [class^="ss-"] { -ms-zoom: 1; }

/* line 35, ../../../src/assets/sass/site/_symbolset.scss */
.ss-icon.ss-standard, [class^="ss-"]:before, [class*=" ss-"]:before, [class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before, [class^="ss-"].right:after, [class*=" ss-"].right:after, [class^="ss-"].ss-standard.right:after, [class*=" ss-"].ss-standard.right:after { font-family: "SSStandard"; font-style: normal; font-weight: 400; text-decoration: none; text-rendering: optimizeLegibility; white-space: nowrap; -webkit-font-feature-settings: liga; -moz-font-feature-settings: liga; -ms-font-feature-settings: liga 1; -o-font-feature-settings: liga; font-feature-settings: liga; -webkit-font-smoothing: antialiased; }

/* line 51, ../../../src/assets/sass/site/_symbolset.scss */
[class^="ss-"].right:before, [class*=" ss-"].ss-standard.right:before { display: none; content: ""; }

/* line 55, ../../../src/assets/sass/site/_symbolset.scss */
[data-icon]:before { content: attr(data-icon); }

/* line 58, ../../../src/assets/sass/site/_symbolset.scss */
[data-icon-after]:after { content: attr(data-icon-after); }

/* Legacy classes */
/* line 3, ../../../src/assets/sass/site/_typography.scss */
h1, h2, h3, h4, h5, h6 { font-family: "Gotham HTF"; color: #504e4d; padding: 0; font-weight: 700; }

/* line 9, ../../../src/assets/sass/site/_typography.scss */
h1, .h1 { font-size: 3em; line-height: 1.5em; margin: 0 0 0.5em; }

/* line 13, ../../../src/assets/sass/site/_typography.scss */
h2, .h2 { font-size: 2.25em; line-height: 1.33333em; margin: 0 0 0.66667em; }

/* line 17, ../../../src/assets/sass/site/_typography.scss */
h3, .h3 { font-size: 1.5em; line-height: 2em; margin: 0 0 1em; }

/* line 21, ../../../src/assets/sass/site/_typography.scss */
h4, .h4 { font-size: 1.3125em; line-height: 2.28571em; margin: 0 0 1.14286em; }

/* line 25, ../../../src/assets/sass/site/_typography.scss */
h5, .h5 { font-size: 1.125em; line-height: 1.33333em; margin: 0 0 1.33333em; }

/* line 29, ../../../src/assets/sass/site/_typography.scss */
h6, .h6 { font-size: 1em; line-height: 1.5em; margin: 0 0 1.5em; }

/* line 33, ../../../src/assets/sass/site/_typography.scss */
.entry-latest-title { color: #f5634a; font: 300 1.5em/1 "Gotham HTF"; margin: 0 0 1em; }
@media (min-width: 48em) { /* line 33, ../../../src/assets/sass/site/_typography.scss */
  .entry-latest-title { font: 300 2.25em/1 "Gotham HTF"; margin: 0 0 1.33333em; } }

/* line 44, ../../../src/assets/sass/site/_typography.scss */
body { font: 400 100%/1.5 "Mercury"; }

/* line 47, ../../../src/assets/sass/site/_typography.scss */
p { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); }

/* line 51, ../../../src/assets/sass/site/_typography.scss */
a { text-decoration: none; color: #f5634a; }
/* line 56, ../../../src/assets/sass/site/_typography.scss */
a:hover, a:focus { color: #504e4d; }

/* line 61, ../../../src/assets/sass/site/_typography.scss */
code { font: 400 0.875em/1.5em Menlo, Monaco, "Courier New", monospace; background: rgba(80, 78, 77, 0.05); border-radius: 2px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); padding: 0.125em 0.375em; }
/* line 68, ../../../src/assets/sass/site/_typography.scss */
pre code { max-height: 200px; overflow: auto; color: #504e4d; direction: ltr; text-align: left; white-space: pre-line; -moz-tab-size: 2; -o-tab-size: 2; tab-size: 2; }

/* line 81, ../../../src/assets/sass/site/_typography.scss */
.text-right { text-align: right; }

/* line 84, ../../../src/assets/sass/site/_typography.scss */
.text-center { text-align: center; }

/* line 87, ../../../src/assets/sass/site/_typography.scss */
.mask { -webkit-mask: url('../../../src/assets/images/mask.png?1359752883') 400px -200px; }

/* line 90, ../../../src/assets/sass/site/_typography.scss */
.with-subheading { line-height: 1.25; margin-bottom: 0; }

/* line 94, ../../../src/assets/sass/site/_typography.scss */
.subheading { line-height: 1.25; font-weight: 400; font-family: "Gotham HTF"; color: #62605e; }

/* line 100, ../../../src/assets/sass/site/_typography.scss */
.accordion { cursor: pointer; }

@-o-viewport { width: device-width; }

@-ms-viewport { width: device-width; }

@viewport { width: device-width; }

/* line 10, ../../../src/assets/sass/site/_structure.scss */
html { background: #e3eeea; overflow-y: scroll; color: #504e4d; font-family: "a"; }
@media (min-width: 37.5em) { /* line 10, ../../../src/assets/sass/site/_structure.scss */
  html { font-family: "b"; } }
@media (min-width: 48em) { /* line 10, ../../../src/assets/sass/site/_structure.scss */
  html { font-family: "c"; } }
@media (min-width: 60em) { /* line 10, ../../../src/assets/sass/site/_structure.scss */
  html { font-family: "d"; } }
@media (min-width: 75em) { /* line 10, ../../../src/assets/sass/site/_structure.scss */
  html { font-family: "e"; } }
@media (min-width: 90em) { /* line 10, ../../../src/assets/sass/site/_structure.scss */
  html { font-family: "f"; } }

/* line 34, ../../../src/assets/sass/site/_structure.scss */
html, body { height: 100%; }

/*
	<div class="grid">
		
		<div class="grid-3">
			<section class="box some-unique-name">
			</section>
		</div>
		
		<div class="grid-3">
			<section class="box some-unique-name">
			</section>
		</div>
		
	</div> */
/* line 51, ../../../src/assets/sass/site/_structure.scss */
.box { border-radius: 3px; box-shadow: inset 0 0 0 2px #8cb9a9; background: #a9cbbf; text-align: center; vertical-align: middle; padding: 0.75em; }

/* line 7, ../../../src/assets/sass/objects/_buttons.scss */
.button { background: -webkit-linear-gradient(#504e4d, #504e4d 25%, #3d3c3b 100%); background: -moz-linear-gradient(#504e4d, #504e4d 25%, #3d3c3b 100%); background: linear-gradient(#504e4d, #504e4d 25%, #3d3c3b 100%); box-shadow: inset 0 -1px #242322, inset 0 0 0 1px #2d2c2b, inset 0 2px #6b6867, 0 1px 2px rgba(56, 55, 54, 0.2), 0 2px 3px -2px rgba(56, 55, 54, 0.2); text-shadow: 0 1px 1px #323131; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .button { background: #504e4d; }
/* line 55, ../../../src/assets/sass/framework/_element.scss */
.button:hover, .button:focus { background: -webkit-linear-gradient(#62605e, #62605e 25%, #4b4948 100%); background: -moz-linear-gradient(#62605e, #62605e 25%, #4b4948 100%); background: linear-gradient(#62605e, #62605e 25%, #4b4948 100%); box-shadow: inset 0 -1px #2c2b2a, inset 0 0 0 1px #373635, inset 0 2px #7a7776, 0 1px 2px rgba(69, 67, 66, 0.2), 0 2px 3px -2px rgba(69, 67, 66, 0.2); text-shadow: 0 1px 1px #3e3c3b; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .button:hover, .no-cssgradients .button:focus { background: #62605e; }
/* line 65, ../../../src/assets/sass/framework/_element.scss */
.button:active { z-index: 2; background: -webkit-linear-gradient(#504e4d, #504e4d 25%, #3d3c3b 100%); background: -moz-linear-gradient(#504e4d, #504e4d 25%, #3d3c3b 100%); background: linear-gradient(#504e4d, #504e4d 25%, #3d3c3b 100%); box-shadow: inset 0 -1px #242322, inset 0 0 0 1px #2d2c2b, inset 0 1px rgba(56, 55, 54, 0.4), inset 0 2px 2px rgba(56, 55, 54, 0.8), 0 1px 1px rgba(255, 255, 255, 0.6), 0 1px rgba(255, 255, 255, 0.6); text-shadow: 0 1px 1px #323131; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .button:active { background: #504e4d; }

/* line 11, ../../../src/assets/sass/objects/_buttons.scss */
.button-secondary { background: -webkit-linear-gradient(#f5634a, #f5634a 25%, #f32529 100%); background: -moz-linear-gradient(#f5634a, #f5634a 25%, #f32529 100%); background: linear-gradient(#f5634a, #f5634a 25%, #f32529 100%); box-shadow: inset 0 -1px #ae220a, inset 0 0 0 1px #c1250b, inset 0 2px rgba(248, 146, 128, 0.6), 0 1px 2px rgba(242, 47, 14, 0.2), 0 2px 3px -2px rgba(242, 47, 14, 0.2); text-shadow: 0 1px 1px #da2a0c; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .button-secondary { background: #f5634a; }
/* line 55, ../../../src/assets/sass/framework/_element.scss */
.button-secondary:hover, .button-secondary:focus { background: -webkit-linear-gradient(#f6735c, #f6735c 25%, #f43539 100%); background: -moz-linear-gradient(#f6735c, #f6735c 25%, #f43539 100%); background: linear-gradient(#f6735c, #f6735c 25%, #f43539 100%); box-shadow: inset 0 -1px #b9240a, inset 0 0 0 1px #cd280b, inset 0 2px rgba(249, 157, 141, 0.6), 0 1px 2px rgba(242, 59, 28, 0.2), 0 2px 3px -2px rgba(242, 59, 28, 0.2); text-shadow: 0 1px 1px #e72d0d; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .button-secondary:hover, .no-cssgradients .button-secondary:focus { background: #f6735c; }
/* line 65, ../../../src/assets/sass/framework/_element.scss */
.button-secondary:active { z-index: 2; background: -webkit-linear-gradient(#f5634a, #f5634a 25%, #f32529 100%); background: -moz-linear-gradient(#f5634a, #f5634a 25%, #f32529 100%); background: linear-gradient(#f5634a, #f5634a 25%, #f32529 100%); box-shadow: inset 0 -1px #ae220a, inset 0 0 0 1px #c1250b, inset 0 1px rgba(242, 47, 14, 0.4), inset 0 2px 2px rgba(242, 47, 14, 0.8), 0 1px 1px rgba(255, 255, 255, 0.6), 0 1px rgba(255, 255, 255, 0.6); text-shadow: 0 1px 1px #da2a0c; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .button-secondary:active { background: #f5634a; }

/* line 16, ../../../src/assets/sass/objects/_buttons.scss */
.group-button { display: inline-block; padding: 0.4875em 0.975em; border-radius: 3px; background: -webkit-linear-gradient(#478afa, #478afa 25%, #3f66fa 100%); background: -moz-linear-gradient(#478afa, #478afa 25%, #3f66fa 100%); background: linear-gradient(#478afa, #478afa 25%, #3f66fa 100%); box-shadow: inset 0 -1px #0546b4, inset 0 0 0 1px #054ec8, inset 0 2px rgba(126, 173, 252, 0.6), 0 1px 2px rgba(8, 98, 248, 0.2), 0 2px 3px -2px rgba(8, 98, 248, 0.2); text-shadow: 0 1px 1px #0658e1; }
/* line 204, ../../../src/assets/sass/framework/_element.scss */
.group-button, .group-button:hover, .group-button:focus { color: white; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .group-button { background: #478afa; }
/* line 55, ../../../src/assets/sass/framework/_element.scss */
.group-button:hover, .group-button:focus { background: -webkit-linear-gradient(#5996fb, #5996fb 25%, #5174fa 100%); background: -moz-linear-gradient(#5996fb, #5996fb 25%, #5174fa 100%); background: linear-gradient(#5996fb, #5996fb 25%, #5174fa 100%); box-shadow: inset 0 -1px #054bbf, inset 0 0 0 1px #0653d4, inset 0 2px rgba(139, 181, 252, 0.6), 0 1px 2px rgba(23, 108, 249, 0.2), 0 2px 3px -2px rgba(23, 108, 249, 0.2); text-shadow: 0 1px 1px #065dee; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .group-button:hover, .no-cssgradients .group-button:focus { background: #5996fb; }
/* line 65, ../../../src/assets/sass/framework/_element.scss */
.group-button:active { z-index: 2; background: -webkit-linear-gradient(#478afa, #478afa 25%, #3f66fa 100%); background: -moz-linear-gradient(#478afa, #478afa 25%, #3f66fa 100%); background: linear-gradient(#478afa, #478afa 25%, #3f66fa 100%); box-shadow: inset 0 -1px #0546b4, inset 0 0 0 1px #054ec8, inset 0 1px rgba(8, 98, 248, 0.4), inset 0 2px 2px rgba(8, 98, 248, 0.8), 0 1px 1px rgba(255, 255, 255, 0.6), 0 1px rgba(255, 255, 255, 0.6); text-shadow: 0 1px 1px #0658e1; }
/* line 189, ../../../src/assets/sass/framework/_element.scss */
.no-cssgradients .group-button:active { background: #478afa; }

/* line 20, ../../../src/assets/sass/objects/_buttons.scss */
.group { letter-spacing: -0.3125em; }
/* line 18, ../../../src/assets/sass/framework/_group.scss */
.group .group-button, .group input { border-radius: 0; letter-spacing: 0; }
/* line 24, ../../../src/assets/sass/framework/_group.scss */
+ .group .group-button, + .group input { margin-left: -1px; }
/* line 27, ../../../src/assets/sass/framework/_group.scss */
.group .group-button:first-child, .group input:first-child { border-radius: 3px 0 0 3px; }
/* line 30, ../../../src/assets/sass/framework/_group.scss */
.group .group-button:last-child, .group input:last-child { border-radius: 0 3px 3px 0; }
/* line 22, ../../../src/assets/sass/objects/_buttons.scss */
.group input + input { margin-left: -1px; }

/* line 1, ../../../src/assets/sass/objects/_header.scss */
.site-header { padding: 0.75em; text-align: center; }
@media (min-width: 48em) { /* line 1, ../../../src/assets/sass/objects/_header.scss */
  .site-header { background: -webkit-linear-gradient(#ffffff 0%, #eff5f3 100%); background: -moz-linear-gradient(#ffffff 0%, #eff5f3 100%); background: linear-gradient(#ffffff 0%, #eff5f3 100%); box-shadow: 0 1px 1px rgba(38, 128, 96, 0.4); } }
/* line 9, ../../../src/assets/sass/objects/_header.scss */
.no-cssgradients .site-header { background: white; }

/* line 12, ../../../src/assets/sass/objects/_header.scss */
.nav-toggle { font-family: "SSStandard"; display: inline-block; vertical-align: middle; }

/* line 17, ../../../src/assets/sass/objects/_header.scss */
.site-logo { display: inline-block; vertical-align: middle; }
/* line 21, ../../../src/assets/sass/objects/_header.scss */
.site-logo img { height: 1.875em; }

/* line 3, ../../../src/assets/sass/objects/_nav.scss */
.site-nav { display: none; }

/* line 1, ../../../src/assets/sass/objects/_article.scss */
.entry-latest { position: relative; width: 500px; height: 500px; margin: 40px auto 300px; border-radius: 0 0 12px 12px; background-clip: padding-box; background-color: #fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 2px white, 0 2px 2px rgba(0, 0, 0, 0.25), 0 4px white; background: white; }
/* line 17, ../../../src/assets/sass/objects/_article.scss */
.entry-latest:before, .entry-latest:after { content: ""; position: absolute; z-index: -1; }
/* line 22, ../../../src/assets/sass/objects/_article.scss */
.entry-latest:after { top: 12px; right: -5px; bottom: -22px; left: -5px; border: 1px dashed rgba(255, 255, 255, 0.3); box-shadow: inset 0 0 2px 2px black, 0 0 0 1px black; border-radius: 6px; }
/* line 31, ../../../src/assets/sass/objects/_article.scss */
.entry-latest:before { top: 6px; right: -12px; bottom: -30px; left: -12px; border-radius: 12px; background: url('../../../src/assets/images/latest_post_bg.png?1376203634') #1f1f1f; background-size: 15.625em 15.625em; box-shadow: inset 0 0 0 1px black, inset 0 0 12px rgba(255, 255, 255, 0.57), 0 1px 3px #134031, 0 16px 24px -12px #134031; }

  /* border: 2px solid #000;
border-radius: 24px;
background-clip: padding-box;
background-color: #000;
box-shadow: 0 3px 6px rgba(19,64,49,.59), inset 0 0 9px rgba(255,255,255,.43);
        
	// stitching
	  border: 2px solid #000;
		border-radius: 18px;
		background-clip: padding-box;
		background-color: rgba(41,38,37,.3);
		box-shadow: 0 1px 6px rgba(0,0,0,.67), inset 0 1px 3px rgba(255,255,255,.64);
	
	// dark border
		border: 9px solid #111010;
		border-radius: 16px;
		background-clip: padding-box;
		box-shadow: inset 0 0 24px rgba(255,255,255,.57);

          */
