@import "variables";

// $attribute-states: disabled, readonly;
// $shaded-states: normal, focus, error, success;

// Shading for text
// Called in _type.scss
// ---------------------------
@mixin form-shading-text(
  $color            : $default-form-color,
  $background-color : $default-form-background-color,
  $state            : $default-form-state,
  $shading          : $default-form-shading
) {  
  // If 2 colours are passed make a gradient, otherwise a solid colour
  $background: 
    if( length($background-color) > 1, 
      linear-gradient(
        to bottom,
        scale-lightness(nth($background-color, 1), -10%),
        nth($background-color, 1) 3px,
        nth($background-color, 2) 100%
      ),
      $background-color
    );
    
  background: $background;
  
  @if $shading {
    box-shadow:
      inset 0 1px scale-lightness($color, -20%),
      inset 0 0 0 1px $color,
      
      // Use the regular colour, but desaturate the colour on focus
      if($state != focus, inset 0 2px 4px -1px $color, inset 0 2px 4px -1px rgba(desaturate($color, 20%), .6)),
      
      // Make it clearer that the field is focused
      if($state == focus, 0 0 6px -2px rgba($color, .6), compact(false)),
      0 1px 1px rgba($white, .2); }
  @else {
    box-shadow:
      inset 0 1px scale-lightness($color, -10%),
      inset 0 0 0 1px $color; } }

// Shading for select
// Called in _type.scss
// ---------------------------
@mixin form-shading-select(
  $color            : $default-form-color,
  $background-color : $default-form-background-color,
  $state            : $default-form-state,
  $shading          : $default-form-shading
) {  
  // If 2 colours are passed make a gradient, otherwise a solid colour
  // If 2 colours are passed make a gradient, otherwise a solid colour
  $background: 
    if( length($background-color) > 1,
      compact(
        $default-form-select-image, 
        linear-gradient(
          to top,
          scale-lightness(nth($background-color, 1), -10%),
          nth($background-color, 1) 3px,
          nth($background-color, 2) 100%
        )
      ),
      $default-form-select-image $background-color
    );
  background: $background;
  
  @if $shading {        
    box-shadow:
      inset 0 -1px scale-lightness($color, -15%),
      
      // Use the regular colour, but desaturate the colour on focus
      if($state != focus, inset 0 -2px 4px -1px $color, inset 0 -2px 4px -1px rgba(desaturate($color, 20%), .6)),
      
      inset 0 2px rgba($white, .2),
      inset 0 0 0 1px $color,
      if($state == focus, 0 0 6px -2px $color, compact(false)); }
  @else {
    box-shadow:
      inset 0 -1px scale-lightness($color, -10%),
      inset 0 0 0 1px $color; } }

// Shading for radio
// Called in _type.scss
// ---------------------------
@mixin form-shading-checkbox(
  $color            : $default-form-color,
  $background-color : $default-form-background-color,
  $shading          : $default-form-shading
) {
  // If 2 colours are passed make a gradient, otherwise a solid colour
  $background: 
    if( length($background-color) > 1, 
      linear-gradient(
        to bottom,
        scale-lightness(nth($background-color, 1), -10%),
        nth($background-color, 1) 3px,
        nth($background-color, 2) 100%
      ),
      $background-color
    );
  background: $background;
  
  box-shadow: 
    inset 0 1px scale-lightness($color, -15%),
    inset 0 0 0 1px $color,
    if($shading, inset 0 2px 1px $white, compact(false));
  
  &:checked {
    @if length($background-color) > 1 {
      background: $default-form-checkbox-image, $background; }
    @else {
      background: $default-form-checkbox-image $background; } } }

// Shading for radio
// Called in _type.scss
// ---------------------------
@mixin form-shading-radio(
  $color            : $default-form-color,
  $background-color : $default-form-background-color,
  $shading          : $default-form-shading,
  $checked-color    : $default-form-checked-color
) {
  // If 2 colours are passed make a gradient, otherwise a solid colour
  $background: 
    if( length($background-color) > 1, 
      linear-gradient(
        to bottom,
        scale-lightness(nth($background-color, 1), -10%),
        nth($background-color, 1) 3px,
        nth($background-color, 2) 100%
      ),
      $background-color
    );
  background: $background;
  
  box-shadow:
    inset 0 1px scale-lightness($color, -15%),
    inset 0 0 0 1px $color,
    if($shading, 0 1px 1px $white, compact(false));

  &:checked {
    background:
      radial-gradient($checked-color $default-form-radio-radial-gradient-color-stop,
        rgba(#fff, 0) $default-form-radio-radial-gradient-color-stop),
      $background; } }