{layout="layouts/_layout" title="Patterns" class="page-patterns"}

{if segment_2 != ''}
  {redirect="404"}
{/if}

<div class="row subheader center contain contain-medium contain-large pb2 pb4-d">
  <h1 class="f4 f3-b f2-d warm mb0">Patterns</h1>
</div>

<div class="row contain contain-medium contain-large pt8 pb8">
  <div class="column column-8">
    <h2 class="f4 f2-d secondary">Form</h2>
    <form class="form">
      <div class="field field-whole">
        <label class="field-label sans" for="text">Label</label>
        <input class="input input-text" type="text" placeholder="Enter some text…">
      </div>
    </form>
  </div>
</div>

<div class="row contain contain-medium contain-large pt8 pb8">
  <h2 class="f4 f2-d secondary">Button</h2>
</div>