{layout="layouts/_layout" title="Patterns" class="page-patterns"}

{if segment_2 != ''}
  {redirect="404"}
{/if}

<div class="row subheader center contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0 text-center">Patterns</h1>
</div>

<div class="row contain contain-medium contain-large pt8 pb8">
  <section class="column">
    <h1>Card</h1>
    {exp:channel:entries channel="blog" limit="1" status="open|latest" disable="pagination|member_data|trackbacks"}
      {preload_replace:background="{image}{exp:iamsteve:background image='{url}'}{/image}"}

      <article class="card card-medium entry" style="max-width: 378px">
      	<a href="{title_permalink='blog'}" class="card-image db mb3 mb4-b loading" style="background-color: {if image}{background}{if:else}{color}{/if}">
        	{if thumbnail}
        	  {thumbnail}
        	    {if medium_file_url}
        	      <img data-src="{url:medium}" data-srcset="{url:medium-2x} 2x" class="lazyload">
        	      <noscript><img src="{url:medium}" srcset="{url:medium-2x} 2x"></noscript>
              {if:else}
                <img data-src="{url}" class="lazyload">
                <noscript><img src="{url}"></noscript>
              {/if}
            {/thumbnail}
          {if:else}
        	  {categories channel="blog" limit="1"}
              {if category_id == 7}
                <img data-src="{global:theme_url}/dist/images/{design}" class="lazyload">
                <noscript><img src="{global:theme_url}/dist/images/{design}"></noscript>
              {if:else}
                <img data-src="{global:theme_url}/dist/images/{code}" class="lazyload">
                <noscript><img src="{global:theme_url}/dist/images/{code}"></noscript>
              {/if}
            {/categories}
          {/if}
      	</a>
      	<div class="card-body">
        	<div class="meta dashes mb2">
          	<time datetime="{entry_date format='%Y-%m-%dT%H:%i:%s%O'}" pubdate>
              {entry_date format="%F %j%S %Y"}
            </time>
        	</div>
      		<h3 class="f5 f4-b {if '{exp:iamsteve:is_mobile}' != 1}mb1{if:else}mb2{/if} primary"><a href="{title_permalink='blog'}">{title}</a></h3>

      	  {if '{exp:iamsteve:is_mobile}' != 1}
        	  {if segment_1 == 'search'}
        	    <p>{excerpt}</p>
        	  {if:else}
              {excerpt}
        	  {/if}
      	  {/if}

          <div class="meta dashes">
            {categories channel="blog" style="linear" parent_only="yes" limit="1"}
              <a href="{path='blog/index'}" rel="category tag">{category_name}</a>
            {/categories}

            {if segment_2 != "entry"}
              <a href="{title_permalink='blog'}" rel="bookmark" class="link-icon">Continue reading <span class="icon icon-medium icon-right secondary">{gv_arrow_right}</span></a>
            {/if}
          </div>
          <div class="visuallyhidden">
            <a href="{site_url}" class="author vcard url fn" rel="author">Steve McKinney</a>
            <time datetime="{edit_date format='%Y-%m-%dT%H:%i:%s%O'}" class="updated">
              {edit_date format="%Y/%m/%d"}
            </time>
          </div>
        </div>
      </article>
    {/exp:channel:entries}
  </section>
</div>

<div class="row contain contain-medium contain-large pt8 pb8">
  <div class="column column-8">
    <h2 class="f4 f2-d secondary">Form</h2>
    <form class="form">
      <div class="field field-whole">
        <label class="field-label sans" for="text">Label</label>
        <input class="input input-text" type="text" placeholder="Enter some text…">
      </div>
    </form>
  </div>
</div>

<div class="row contain contain-medium contain-large pt8 pb8">
  <h2 class="f4 f2-d secondary">Button</h2>
</div>
