// Entry content
// ---------------------------
.entry-content {
  @include breakpoint($d) {
    position: relative;
    margin-top: -$line*2.5;
    background-color: $white;
    border-radius: $base-px $base-px 0 0; }

  @include breakpoint($site-width) {
    margin-left: calc(50% - #{$contain/2});
    margin-right: calc(50% - #{$contain/2}); }

  img {
    display: block;
    margin-bottom: $line;

    @include breakpoint($cd) {
      max-width: 738px;
      border-radius: $radius;
      position: relative;
      left: -$line*2; } }

  .wide-image {
    @include breakpoint(1024px + 48px) {
      max-width: 1024px; } } }

// Scoped font sizes/alignment
// ---------------------------
.entry-content {
  p, li {
    font-size: 18px;

    @include breakpoint($b) {
      font-size: 21px; } }

  > p,
  > ul {
    // 1px aligns back to baseline
    margin-bottom: $base-px + 1px;

    // 4px aligns back to baseline
    @include breakpoint($b) {
      margin-bottom: $line + 4px; } }

  // This could be really stupid in the long run
  > *:not(figure):not(div), img {
    margin-left: auto;
    margin-right: auto; }

  // Likewise
  > *:not(figure):not(img):not(div):not(table),
  > .footnotes {
    max-width: $measure + ( $line * 4 ) + 2px; }

  // Tables don't like padding
  > table {
    max-width: $measure;

    @include breakpoint(max-width 639px) {
      width: calc(100% - #{$line*4}); }

    @include breakpoint($a-max) {
      width: calc(100% - 32px); } }

  // Yep
  > *:not(figure):not(img):not(div),
  > .footnotes,
  figcaption {
    padding-right: $line*2;
    padding-left: $line*2;

    @include breakpoint($a-max) {
      padding-left: $line*1.5;
      padding-right: $line*1.5; }

    @include breakpoint($aa-max) {
      padding-left: 16px;
      padding-right: 16px; } }

  // Space is limited so nudge in the bullets
  li {
    @include breakpoint($aa-max) {
      margin-left: 20px; } }

  strong {
    font-weight: font-weight(semibold); }

  img {
    @include breakpoint($cd-max) {
      width: 100%; } }

  // Links
  p a {
    @extend .link; }

  img {
    transition: .2s box-shadow; }

  a:hover img,
  a:focus img {
    box-shadow: 0 2px 2px rgba($neutral, .2), 0 8px 16px rgba($neutral, .15); }

  // Images following headings, lists and paragraphs
  #{headings()},
  p, ul {
    & + img,
    & + .codepen-wide .cp_embed_wrapper,
    & + .cp_embed_wrapper {
      margin-top: $line; } }

  // For .fragment
  h2,
  li a {
    position: relative; }

  #{headings()},
  li {
    transition: .2s ease-out;

    a:not(.fragment):after {
      content: "";
      display: inline-block;
      position: relative;
      transition: .2s ease-out;
      top: .19047619em; // 4px/21px
      left: $base-px/2;
      width: 1em;
      height: 1em;
      background: image-url("arrow-right.svg") no-repeat center center;
      opacity: .2; }

    a:not(.fragment):hover:after,
    a:not(.fragment):focus:after {
      left: $line;
      opacity: .8; } }

  // Aligns to 96px
  // default line-height: 1.25
  h2 {
    font-size: 24px;
    margin-top: 54px;
    margin-bottom: 12px; }

  // Aligns to 84px
  h3 {
    font-size: 21px;
    line-height: 1.333333;
    margin-top: 48px;
    margin-bottom: 8px; }

  // Aligns to 72px
  h4, h5, h6 {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 39px;
    margin-bottom: 6px; } }

// Fragment links with 16px icon
// ---------------------------
.fragment {
  transition: .2s ease-out;
  color: $warm-l2;

  @include breakpoint($aa-max) {
    float: right;
    position: relative;
    top: 4px;
    margin-left: $base-px; }

  @include breakpoint($aa) {
    position: absolute;
    top: 50%;
    transform: translateY(-48%);
    left: $base-px; }

  @include breakpoint($a) {
    left: $line; }

  &:hover,
  &:focus {
    color: $warm; } }

// Codepen
// ---------------------------
.cp_embed_wrapper {
  max-width: 738px;

  @include breakpoint($contain) {
    border-radius: $radius;
    margin-left: auto; } }

.codepen-wide {
  .cp_embed_wrapper {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($contain) {
      max-width: 896px; } } }

// Lists
// ---------------------------
.entry-content ul {
  @extend %list-custom-bullet; }

// Figures
// ---------------------------
.entry-content figure {
  padding-top: $base-px;
  position: relative;
  text-align: left; }

.entry-content figcaption {
  font-style: italic;
  line-height: 1.333333;
  text-align: center;
  max-width: $measure;
  margin-left: auto;

  p {
    font-size: inherit; }

  @include breakpoint($site-width) {
    position: absolute;
    bottom: 0;
    right: $line;
    width: $line*12;
    text-align: left;

    &:before {
      content: "";
      display: block;
      width: $line*3;
      height: $base-px;
      background-color: $secondary;
      margin-bottom: $base-px; } }

  @include breakpoint($site-width-max) {
    margin-bottom: $line; }

  @include breakpoint($f-max) {
    margin-right: auto; } }

// Specific pieces of content
// ---------------------------
.featured-image {
  overflow: hidden;
  display: flex;
  min-height: 240px;
  max-height: 648px; }

.featured-image img {
  display: block;
  margin: auto;
  height: 192px + 24px;
  max-width: 738px;

  @include breakpoint(360px) {
    height: 192px + 48px; }

  @include breakpoint($a) {
    height: 288px; }

  @include breakpoint($b) {
    height: 288px + 96px; }

  @include breakpoint($c) {
    height: 288px + 96px + 48px; }

  @include breakpoint($e) {
    height: 492px; } // reset the height here 492px

  @include breakpoint($site-width-max) {
    margin: auto; } }

/*
body {
	position: relative;
}

body:after {
	position: absolute;
	width: auto;
	height: auto;
	z-index: 9999;
	content: '';
	display: block;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(http://basehold.it/image.php?height=24) repeat top left;
	opacity: .1;
}

body:active:after {
	display: none;
}
*/

[id]:not(#top):target:before {
  content: "";
  display: inline-block;
  height: 120px;
  margin: -120px 0 0; }

// Footnotes
// ---------------------------
.footnotes {
  margin-left: auto;

  p a {
    text-decoration: none; }

  li, p {
    font-size: 14px; }

  hr {
    margin-bottom: $line; } }

.footnote-backref {
  font-weight: font-weight(bold);

  &:hover,
  &:focus {
    color: $primary; } }
