// Blockquote
// ---------------------------
$blockquote-font-size: 21px;

.blockquote,
blockquote {
  font: italic #{em($blockquote-font-size)}/#{1.5} $serif;
  padding: cp($line, $measure);
  margin: $line 0;
  position: relative;
  text-align: center;
  width: 100%;
  clear: both;
  color: $neutral;
  background-color: $tertiary-l2;
  border: 1px dashed $tertiary;
  max-width: $measure;
  
  @include breakpoint($b) {
    border-radius: $radius; }
  
  p {
  	margin: 0; } }