// Blockquote
// ---------------------------
.blockquote,
blockquote {
  font-size: 0;
  position: relative;
  font-style: italic;
  margin: $line*2 0;
  padding: $line 0;
  position: relative;
  width: 100%;
  clear: both;
  color: $neutral;
  max-width: $measure;
  
  @include breakpoint(($ab) ($c-max)) {
    padding-left: 144px + 16px; 
    padding-right: 16px; }
    
  @include breakpoint(($c) ($e-max)) {
    padding-left: 144px; }
    
  @include breakpoint($ab-max) {
    border-top: 2px dashed $tertiary;
    border-bottom: 2px dashed $tertiary;
    background: $tertiary-l4;
    margin: $line 0;
    padding-left: 16px;
    padding-right: 16px; }
  
  @include breakpoint($ab) {
    background: 
      image-url("dash-neutral.svg") repeat-x -12px top,
      image-url("dash-neutral.svg") repeat-x -12px bottom;
    
    &:before {
      content: image-url("signpost.svg");
      margin-left: (-98px - $line - $line);
      margin-right: $line*2; }
    
    &:before,
    > * {
      display: inline-block;
      vertical-align: middle; } } }