// Buttons
// ---------------------------
.button {
	@include element-base; }

$buttons: (
	default: $default-color,
	primary: $primary,
	secondary: $secondary adjust-hue(scale-lightness($secondary, -7%), 15deg),
	tertiary: $tertiary,
	alternate: $alt,
	neutral: adjust-hue($neutral, 8deg) $neutral
);

@each $button, $color in $buttons {
	.button-#{$button} {
		@include element($color); } }

.button-search {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  padding: 0;
  
  &:active {
    svg {
      fill: $primary; } } }

.button-link {
	background: none;
	color: $secondary;
	
	&:hover,
	&:focus {
		@include element-shading($yellow, $state: hover); }
	
	&:active {
		@include element-shading($yellow, $state: active); } }

// Grouped buttons
// ---------------------------
.group {
	@include group(".button-group"); }

// Disabled
// ---------------------------
.button[disabled] {
	opacity: .75;
	pointer-events: none; }