// Buttons
// ---------------------------
.button {
	@include element-base;
	color: currentcolor; }

$buttons: (
	primary: $primary,
	secondary: $secondary adjust-hue(scale-lightness($secondary, -7%), 15deg),
	tertiary: $tertiary
);

.button-tertiary {
	background-color: $tertiary;
	box-shadow: 
	  inset 0 -1px scale-lightness($tertiary-d2, -20%),
	  inset 0 1px scale-lightness($tertiary-d2, 20%),
	  inset 0 0 0 1px $tertiary-d2,
	  inset 0 2px 1px $tertiary-l2,
	  inset 0 3px 4px -1px $tertiary-l2,
	  inset 0 -2px 1px $tertiary-d1,
	  inset 0 -2px 4px -1px $tertiary-d1,
	  0 1px 3px $alternate-l2;
	  
	  &:hover,
	  &:focus {
  	  background-color: scale-lightness($tertiary, 10%);
    	box-shadow:
    	  inset 0 -1px scale-lightness($tertiary-d2, -20%),
    	  inset 0 1px scale-lightness($tertiary-d2, 20%),
    	  inset 0 0 0 1px $tertiary-d2,
    	  inset 0 2px 1px scale-lightness($tertiary-l2, 10%),
    	  inset 0 3px 4px -1px scale-lightness($tertiary-l2, 10%),
    	  inset 0 -2px 1px scale-lightness($tertiary-d1, 10%),
    	  inset 0 -2px 4px -1px scale-lightness($tertiary-d1, 10%),
    	  0 1px 3px $alternate-l2; }
    	  
    &:active {
      background-color: $tertiary;
    	box-shadow:
    	  inset 0 1px scale-lightness($tertiary-d2, -20%),
    	  inset 0 1px scale-lightness($tertiary-d2, 20%),
    	  inset 0 0 0 1px $tertiary-d2,
    	  inset 0 2px 1px $tertiary-d1,
    	  inset 0 2px 4px -1px $tertiary-d1; } }

// Search
// ---------------------------
.button-search {
  background-color: transparent;
  padding: $line*2;
  
  &:active {
    svg {
      fill: $primary; } } }