// Buttons
// ---------------------------
.button {
	@include element-base; }

$buttons: (
	primary: $primary,
	secondary: $secondary adjust-hue(scale-color($secondary, $lightness: -7%), 15deg),
	tertiary: $tertiary
);

.button-tertiary {
  color: $warm;
	background-color: $tertiary;
	background-image: linear-gradient(to bottom, scale-color($tertiary, $lightness: 5%), $tertiary);
	box-shadow:
	  inset 0 0 0 2px $tertiary-d1,
	  0 1px 3px rgba($alternate-l2, .6);

  &:hover,
  &:focus {
	  background-color: scale-color($tertiary, $lightness: 15%);
	  box-shadow:
  	  inset 0 0 0 2px scale-color($tertiary-d1, $lightness: 15%),
  	  0 1px 3px rgba($alternate-l2, .6); }

  &:active {
    background-color: $tertiary;
    box-shadow:
  	  inset 0 0 0 2px $tertiary-d1,
  	  inset 0 2px 4px $tertiary-d1; } }

.button-offline {
  background-color: transparent; }
