/**
 * Card
 * 3 different sizes, to cover the majority of cases
 *
 * <div class="card card-{size}">
 *   <div class="card-image"><img></div>
 *   <div class="card-body">
 *     ...
 *   </div>
 * </div>
 */
.card {
  color: $neutral-l1; }

.card-large {
  background: $white;
  
  // Large screen layout
  @include breakpoint($c) {
    box-shadow: 0 6px 6px rgba($neutral-l4, .3);
    
    .card-body {
      border: 2px solid $neutral-l4;
      border-bottom-color: scale-lightness($neutral-l4, -10%);
      border-top: none;
      border-radius: 0 0 $radius $radius;
      box-shadow: inset 0 -6px rgba($neutral-l5, .5);
      padding: $line; } }
  
  @include breakpoint($d) {
    .card-body {
      padding: double($line) double($line) (double($line) + 8px) 168px; } }
  
  // Small screen layout
  @include breakpoint(($b $c-max)) {
    display: flex;
    flex-flow: row wrap;
    
    .card-image {
      align-self: flex-start; }
    
    .card-body,
    .card-image {
      flex-basis: 50%; }
    
    .card-body {
      padding: 0 $line; }
    
    .card-image img,
    .card-image:before,
    .card-image:after {
      border-radius: $radius; } }
  
  @include breakpoint($b-max) {
    .card-body { 
      padding: $line $p3 0; } }
  
  // Generally shared
  .card-image {
    position: relative;
    
    @include breakpoint($c) {
      &:after,
      &:before,
      img {
        border-radius: $radius $radius 0 0; } }
    
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: inset 0 0 0 2px rgba($alternate, .1); } } }

// Card body
// ---------------------------
.card-body {
  position: relative; }

// Card image
// ---------------------------
.card-medium .card-image,
.card-small .card-image {
  position: relative;
  background-color: $neutral-l5;
  
  img {
    position: relative;
    z-index: 2; }
  
  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-color: $secondary;
  
    border-radius: 32px;
    animation: load 1s infinite ease-in-out; } }

@keyframes load {
  0% { 
    transform: scale(0); }
    
  100% {
    transform: scale(1);
    opacity: 0; } }


.card-small .card-image,
.card-medium .card-image { &, img {
  border-radius: $radius; } }

.card-medium .card-image {
  width: 240px;
  height: 160px;
  
  @include breakpoint($a) {
    width: 288px;
    height: 192px; }
  
  @include breakpoint($b) {
    width: 378px;
    height: 252px; } }

.card-small .card-image {
  width: 196px;
  height: 130px;
  
  @include breakpoint($c) {
    width: 252px;
    height: 168px; } }

// Card meta
// ---------------------------
.meta {
  @include fonts("sans");
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: font-weight(semibold);
  line-height: 1.142857143;
  font-size: 10px;
  color: $neutral-l2;
  
  @include breakpoint($b) {
    font-size: 12px; }
  
  a:hover,
  a:focus {
    color: $neutral; } }

@include breakpoint($d) {
  .meta-to-calendar {
    position: absolute;
    top: double($line);
    left: double($line); }

  .calendar {
    padding: $base-px;
    background: #fff;
    border: 2px solid $neutral-l4;
    box-shadow: 0 6px 6px rgba($neutral-l4, .15);
    border-radius: $radius;
    font-family: $sans;
    font-style: normal;
    text-align: center;
    line-height: 1.25;
    min-width: 96px;
    
    &, span {
      display: block; }
    
    span {
      color: $secondary; } }
  
  .day {
    font-size: 48px;
    font-weight: font-weight(light); }
  
  .month {
    font-weight: font-weight(bold);
    text-transform: lowercase; } }

// Specifics
// ---------------------------
.hero .card-large {
  @include breakpoint($d) {
    margin-bottom: -$line * 4; } }
    
// More links
// ---------------------------
.card-more h2 {
  justify-content: flex-end;
  text-align: right; }