/**
 * Card
 * 3 different sizes, to cover the majority of cases
 *
 * <div class="card card-{size}">
 *   <div class="card-image"><img></div>
 *   <div class="card-body">
 *     ...
 *   </div>
 * </div>
 */
.card {
  color: $neutral-l2; }

.card-large {
  background: $white;
  box-shadow: 0 6px 6px rgba($neutral-l4, .15);
  
  @include breakpoint($c-max) {    
    .card-body {
      padding: $line $line 0; }
    
    .card-image {
      border-top: 2px solid $alternate-l2;
      border-bottom: 2px solid $alternate-l2; } }
  
  @include breakpoint($b-max) {
    .card-body {
      padding: $line 16px 0; } }
  
  @include breakpoint($c) {
    .card-body {
      padding: $line $line ($line + 8px);
      border: 2px solid $neutral-l4;
      border-top: none;
      border-radius: 0 0 $radius $radius; }
    
    .card-image {
      position: relative;
      
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 0 2px rgba($black, .75);
        mix-blend-mode: soft-light; }
      
      &:after,
      &:before,
      img {
        border-radius: $radius $radius 0 0; } } }
  
  @include breakpoint($d) {
    .card-body {
      padding: double($line) double($line) (double($line) + 8px) 168px; } } }

// Card body
// ---------------------------
.card-body {
  position: relative; }

// Card image
// ---------------------------
.card-small .card-image img,
.card-medium .card-image img {
  border-radius: $radius; }

// Card meta
// ---------------------------
.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $serif;
  font-style: italic;
  line-height: 1.142857143;
  font-size: 12px;
  
  @include breakpoint($b) {
    font-size: 14px; }
  
  a:hover,
  a:focus {
    color: $neutral; } }

@include breakpoint($d) {
  .meta-to-calendar {
    position: absolute;
    top: double($line);
    left: double($line); }

  .calendar {
    padding: $base-px $line;
    background: #fff;
    border: 2px solid $neutral-l4;
    box-shadow: 0 6px 6px rgba($neutral-l4, .15);
    border-radius: $radius;
    font-family: $sans;
    font-style: normal;
    text-align: center;
    line-height: 1.25;
    min-width: 96px;
    
    &, span {
      display: block; }
    
    span {
      color: $secondary; } }
  
  .day {
    font-size: 48px;
    font-weight: font-weight(light); }
  
  .month {
    font-weight: font-weight(bold);
    text-transform: lowercase; } }

// Specifics
// ---------------------------
.hero .card-large {
  @include breakpoint($c) {
    margin-bottom: -$line * 4; } }