// Code – prism.js
// ---------------------------
$code-black: #152637; // #f5f2f0
$code-red: #f82939;
$code-yellow: #fdc347;
$code-green: #7de37a;
$code-blue: #727c87;
$code-magenta: scale-color(#6f4ebc, $lightness: 20%);
$code-cyan: #64cce3;
$code-white: #f6f7ee;
$comment: #838c95;

.code-block {
  --code-black: #152637;
  --code-red: #ff4b59;
  --code-yellow: #fdc347;
  --code-green: #7de37a;
  --code-blue: #727c87;
  --code-magenta: #8965dd;
  --code-cyan: #64cce3;
  --code-white: #f6f7ee;
  --comment: #838c95; }

pre {
  overflow-x: auto;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: .375rem;
  padding: .8571429em 1.1428571em;
  color: #e5e7eb;
  background: $code-black;
  padding: $line; }

// title
.remark-code-title {
  @apply px-5 py-3 text-sm font-bold relative;
  z-index: $z-index-1;
  background-color: scale-color($code-black, $lightness: -20%);
  box-shadow: 0 1px scale-color($code-black, $lightness: 5%);
  color: $comment;
  border-radius: $radius $radius 0 0;
  font-family: $monospace; }

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none; }

// line numbers
.line-number::before {
  @apply inline-block w-4 mr-4 -ml-2 text-right;
  color: $code-cyan;
  content: attr(line); }

// code
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment); }

.token.punctuation {
  color: var(--code-white); }

.namespace {
  opacity: .75; }

.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.token.unit {
  color: var(--code-magenta); }

.token.property {
  color: var(--code-green); }

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--code-white); }

.token.attr-name {
  color: var(--code-green); }

.token.tag,
.tag > .punctuation {
  color: var(--code-red); }

.tag .token.attr-value, .tag .attr-value .punctuation {
  color: var(--code-yellow); }

.token.operator,
.token.entity,
.token.url,
.languagecss .token.string,
.style .token.string {
  color: var(--code-yellow);

  .language-bash & {
    color: var(--code-white); } }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--code-red); }

.token.function {
  color: var(--code-green); }

.token.regex,
.token.important,
.token.variable {
  color: var(--code-yellow); }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }
