// Entries
// ---------------------------
.entries {
  // Offset .entry
  margin-bottom: -#{double($line)}; }

// Entry
// ---------------------------
.entry {
  flex-basis: calc(50% - 6px);
  
  .page-blog &,
  .page-search &,
  .page-results & {
    margin-bottom: $line; }
  
  @include breakpoint($b) {
    flex-basis: calc(33.333333% - 12px);
    
    .page-blog &,
    .page-search &,
    .page-results & {
      margin-bottom: double($line); } }
  
  @include breakpoint($e) {
    flex-basis: 378px; } }

// Entry title
// ---------------------------
.entry-title {
  max-width: 684px; }

// Entry next
// ---------------------------
.entry-next {
  display: inline-block;
  cursor: pointer;
  
  &:hover,
  &:focus { a {
    color: $secondary; }
    
    .icon { 
      transform: translate3d($base-px, 0, 0); } }
  
  a {
    background-image: linear-gradient(rgba($tertiary-l3, 0) 70%, $tertiary-l3 70%, $tertiary-l3 88%, rgba($tertiary-l3, 0) 88%); }
  
  .icon {
    position: relative;
    display: inline-block; } }