// Entries
// ---------------------------
.entries {
  // Offset .entry
  margin-bottom: -#{double($line)}; }

// Entry
// ---------------------------
.entry {
  flex-basis: calc(50% - 6px);
  margin-bottom: $line;
  
  @include breakpoint($b) {
    margin-bottom: double($line);
    flex-basis: calc(50% - 12px); }
  
  @include breakpoint($c) {
    flex-basis: calc(33.333333% - 12px); }
  
  @include breakpoint($e) {
    flex-basis: 378px; } }

// Entry content
// ---------------------------
.entry-content {
  // (1680 - 1288) = 392 | ( 392 / 1680 ) * 100
  margin-right: calc(50% - 342px);
  padding: $line*2 0;
  
  img {
    border-radius: $radius;
    max-width: 738px;
    display: block;
    margin-bottom: $line;
    box-shadow:
      0 1px $alternate-l2,
      0 0 0 1px $alternate-l3,
      0 2px 3px $alternate-l3; }
  
  .wide-image {
    max-width: 100%; }
  
  .meta {
    max-width: 684px; } }

// Entry/featured image
// ---------------------------
.entry-image {
  margin-left: 23.333333%; }

// Entry summary
// ---------------------------
.entry-summary {}

// Entry title
// ---------------------------
.entry-title {
  max-width: 684px; }

// Entry meta
// ---------------------------
.entry-meta {}

	// Entry meta parts
	// ---------------------------
	.entry-date,
	.published {}
	
	.entry-author,
	.author {}
	
	.entry-permalink,
	.permalink {}
	
	.entry-category,
	.category {}