// Experimental
// ---------------------------
// An easy way to disable misc stuff
// that I'm trialling, building up to begin with
// to be able to quickly get rid of bugs as well
@mixin type-setup($map) {
	$text-increment: 1;
	
	@each $selector, $properties in $map {
		$selector: unquote($selector);
		$keys: map-keys($properties);
		$values: map-values($properties);
		
		#{$selector} {
			@for $text-increment from 1 through length($keys) {
				$property: nth($keys, $text-increment);
				$value: nth($values, $text-increment);
				#{$property}: #{$value}; } } } }

$default-flex-grid-namespace: flex !default;
$default-flex-grid-colums: 12 !default;
$default-flex-grid-map: ( small: $a, medium: $b, large: $c ) !default;

@mixin flex-grid(
	$grid-columns: $default-flex-grid-colums,
	$grid-map: $default-flex-grid-map
) {
	.#{$default-flex-grid-namespace}-container {
		display: flex;
		@include justify-content(space-between);
		@include align-content(stretch);
		@include align-items(center);
	}
	
	$column-increment: 1;
	
	@each $breakpoint, $width in $grid-map {
		$class: if($breakpoint == large, ".#{$default-flex-grid-namespace}-grid", ".#{$default-flex-grid-namespace}-grid-#{$breakpoint}");
	
		@include breakpoint($width) {
			@for $column-increment from 1 through $grid-columns {
				#{$class}-#{$column-increment} {
					$w: (100% / $grid-columns) * $column-increment;
					outline: 1px solid red;
					min-height: 40px;
					flex-basis: $w; } } } }
}

@include flex-grid;

@if $_experimental-css {
	
[class*="input-"] {
	&::-webkit-calendar-picker-indicator {
		color: transparent;
		outline: 1px solid red;

		&:before {
			content: "";
			display: block;
			background: image-url("dropdown.svg") no-repeat center center;
			width: em(12px);
			height: em(6px); } } }


.form-flex {
	.field {
		display: flex;
		@include justify-content(flex-start);
		flex-flow: row wrap;
		@include align-items(center); }
	
	.field-label {
		@include flex(1);
		padding-right: em($line); }
	
	.input-text,
	.input-select {
		@include flex(2); } }
		
summary::-webkit-details-marker {
  display: none }

summary:after {
  background: inline-image("dropdown.svg") no-repeat center center;
  float: left; 
  height: 20px;
  width: 20px;
  content: " ";
  position: relative;
  transform: rotate(-90deg);
}

details[open] summary:after {
	transform: rotate(0deg);
}

}