.featured {
  @include breakpoint($c) {
    flex-basis: calc(56% - #{$base-px}); }
    
  @include breakpoint($d) {
    flex-basis: calc(62.5% - #{$base-px}); }
  
  @include breakpoint($site-width) {
    flex-basis: 738px; } 
  
  @include breakpoint(($c $site-width-max)) {
    padding-right: $line; }
    
  @include breakpoint(($b $c-max)) {
    padding-left: $line; } }