// Flickity
// ---------------------------
.flickity-enabled:focus { 
  outline: none; }

.flickity-viewport {
  position: relative;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.flickity-slider {
  position: absolute;
  height: 100%;
  left: 6px !important;
  right: 0;
  
  @include breakpoint($c) {
    left: 12px !important; } }

/* Draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

// Posts container
// ---------------------------
.posts {
  flex: 1; }

// Flickity requires js obviously so pagination won’t work
.no-js .posts .pagination { 
  display: none; }

// Scroll
// ---------------------------
.scroll {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  
  padding: 0 $base-px 0 4px;
  padding-left: calc(50% - 632px);
  
  &.flickity-enabled { 
    padding: 0;
    padding-left: calc(50% - 632px); }

  // Each card width must be offset by the padding, otherwise it’s too small.
  .card {
    display: inline-block;
    vertical-align: top;
    padding: 0 $base-px;
    white-space: normal; }
    
  .card-more {
    min-width: 240px;
    padding: $line*6 $line $line*2 14px; }
  
  // More sensible way to position when flickity is enabled
  &.flickity-enabled .card-more {
    top: 50%;
    transform: translateY(-50%);
    padding-top: $line*2;
    
    h2 {
      justify-content: flex-end;
      align-content: center;
      height: 100%; } }
  
  .card-medium {
    width: 240px + $base-px + $base-px + $base-px + $base-px;
    
    @include breakpoint($a) {
     width: 288px + $base-px + $base-px + $base-px + $base-px; }
    
    @include breakpoint($c) {
      width: 378px + $base-px + $base-px; } }
  
  .card-small {
    width: 196px;
    
    @include breakpoint($c) {
      width: 244px + $base-px + $base-px; } } }