// Posts container
// ---------------------------
.posts {
  flex: 1; }

// A div is placed within the .scroll container to offset the contents nicely.
// Flickity doesn’t play nice when you want to offset things but have a seamless
// edge to edge scroll. The addition of 16px compensates for the padding on the
// sides of each card within the scroll container.
.offsetter {
  display: inline-block;
  flex-shrink: 0;

  @include breakpoint($c) {
    width: $line + 8px; }

  @include breakpoint($d) {
    width: ($line*2) + 6px; }

  @include breakpoint($e) {
    width: ($line*3) + 8px; }

  @include breakpoint($site-width) {
    width: calc(50% - (#{$contain / 2} + 16px)); } }

.contain-scroll {
  padding-left: $line;
  padding-right: $line;

  @include breakpoint($c) {
    padding-left: $line + 8px; }

  @include breakpoint($d) {
    padding-left: ($line*2) + 6px; }

  @include breakpoint($e) {
    padding-left: ($line*3) + 8px; }

  @include breakpoint($site-width) {
    padding-left: calc(50% - (#{$contain / 2})); } }

// Scroll
// ---------------------------
.scroll {
  display: grid;
  grid-gap: 32px $small-outer-gutter;
  overflow: hidden;
  overflow-x: auto;

  @include breakpoint($b) {
    grid-gap: 48px 32px; }

  @include breakpoint($c) {
    grid-gap: 48px 32px; }

  @include breakpoint($e) {
    grid-gap: 48px; }

  &::-webkit-scrollbar {
    display: none; } }

.scroll-medium {
  // 252 -> 378
  grid-template-columns: repeat(13, 378px); }

.scroll-small {
  // 168 -> 244
  grid-template-columns: repeat(13, 244px); }
