// Flickity
// ---------------------------
.flickity-enabled:focus { 
  outline: none; }

.flickity-viewport {
  position: relative;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.flickity-slider {
  position: absolute;
  // Flickity sets this value inline, to have the correct spacing and maintain
  // scrolling going to each edge of the screen this is needed.
  left: 12px !important;
  width: 100%;
  height: 100%; }

/* Draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

// Posts container
// ---------------------------
.posts {
  flex: 1; }

// Flickity requires js obviously so pagination won’t work
.no-js .posts .pagination { 
  display: none; }

// Scroll
// ---------------------------
.scroll {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  
  padding-left: $base-px;
  
  .flickity-enabled & { 
    padding-left: 0; }

  // Each card width must be offset by the padding, otherwise it’s too small.
  .card {
    display: inline-block;
    vertical-align: top;
    padding: 0 $base-px / 2;
    white-space: normal;
        
    @include breakpoint($c) {
      padding: 0 $base-px; } }
  
  .card-medium {
    width: 240px + $base-px + $base-px;
    
    @include breakpoint($a) {
     width: 288px + $base-px + $base-px; }
    
    @include breakpoint($c) {
      width: 378px + $base-px + $base-px; } }
  
  .card-small {
    width: 196px;
    
    @include breakpoint($c) {
      width: 244px + $base-px + $base-px; } } }