// Footer
// ---------------------------
.footer {
  position: relative;
  align-items: center;
  font-family: $sans;
  font-weight: font-weight(semibold);
  padding-top: $line;
  padding-bottom: $line;
    
  @include breakpoint($b) {
    padding-top: double($line);
    padding-bottom: double($line); }
    
  @include breakpoint($d) {
    padding-top: quadruple($line);
    padding-bottom: quadruple($line); }
  
  @include breakpoint($b-max) {   
    a, p {
      font-size: 10px; }
    
  @include breakpoint($aa-max) {
    flex-flow: row wrap; } } }

.footer nav {
  display: flex;
  align-content: center;
  
  a { 
    display: inline-block;
    
    &:first-child {
      order: 100; }
    
    &:not(:first-child) {
      padding-right: $base-px; } } }

.logo-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: $line; }

.logo-footer-small {
  @include breakpoint($b) {
    display: none; } }

.copyright a,
.logo-footer-large {
  @include breakpoint($b-max) {
    display: none; } }