// Forms
// ---------------------------
.form {
  position: relative;
	display: flex;
	flex-flow: row wrap; }

.form-search {
  @include breakpoint($c) {
    align-content: center;
    align-items: center; }
  
  // Hidden from this point
  @include breakpoint($c-max) {
    width: 100%; } }

.form-newsletter {  
  // Input has one off padding, height aims to be 60px at large screens
  // and offset the input button to the right
  .input {
    @include breakpoint($c) {
      padding: ($line - 4px) $base-px; } }
  
  .button {
    position: absolute; 
    bottom: 6px;
    right: 6px;
    
    @include breakpoint($c-max) {
      padding: half($base-px) $base-px; } } }

// Label
// ---------------------------
.field-label {
	display: block;
	font-weight: 700;
	line-height: 1; }

// Helper
// ---------------------------
.field-hint { font-size: 75%; }

// Legend
// ---------------------------
.field-legend {
	font-weight: font-weight(semibold); }

// Fieldset
// ---------------------------
.field {
  position: relative; }

// Field layouts
// ---------------------------
.field-first .input-text {
	border-radius: $radius 0 0 $radius; }
	
.field-last .input-text {
	border-radius: 0 $radius $radius 0; }

.field-whole {
	flex-basis: 100%; }

.field-third {
	@include breakpoint($c) {
		flex-basis: 33.333333%;
		
		&:nth-of-type(odd) input {
  		border-radius: $radius 0 0 $radius; }
    
    &:nth-of-type(even) input {
  		border-radius: 0 $radius $radius 0; } } }

.field-two-thirds {
	@include breakpoint($c) {
		flex-basis: 66.666666%;
		
		&:nth-of-type(odd) input {
  		border-radius: $radius 0 0 $radius; }
    
    &:nth-of-type(even) input {
  		border-radius: 0 $radius $radius 0; } } }
	
.field-half {
	@include breakpoint($c) {
		flex-basis: 50%;
		
		&:nth-of-type(odd) input {
  		border-radius: $radius 0 0 $radius; }
    
    &:nth-of-type(even) input {
  		border-radius: 0 $radius $radius 0; } } }
	
.field-first {
	@include breakpoint($c) {
		padding-right: em($base-px); } }

.field-last {
	@include breakpoint($c) {
		padding-left: em($base-px); } }

// Field specifics
// ---------------------------
.field-checkbox {
	display: block; }
	
.field-radio {
	@extend .field-checkbox; }

.field-search { }

.form-actions {
	clear: both;
	width: 100%; }

// Grouped fields
// ---------------------------
.field-group {
	display: flex;
	
	.field-label {
		padding: 0 em($base-px); } }
		
// Input
// ---------------------------
.input {
  @include form-base($radius: false, $size: false);
  width: 100%; }

.input-text,
.input-select {
  border-radius: $radius;
  padding: $base-px; }
	
	// Text
	// ---------------------------
	.input-text {
		@include form; }

  .input-search {
    // Align with logo baseline
    padding: 16px 0 14px;
    background-color: transparent;
    
    @include breakpoint($cd) {
      min-width: 276px; }
    
    @include breakpoint($c-max) {
      padding: $base-px; } }
      
  textarea {
    min-height: 168px; }
	
	// Select
	// ---------------------------
	.input-select {
		@include form(select); }
	
	// Check/radio
	// ---------------------------
	.input-checkbox {
		@include form(checkbox);
		width: em($base-font-size);
		height: em($base-font-size); 
		position: relative;
		top: em($base-font-size / 6);
		margin: $default-form-boolean-margin; }
	
	.input-radio {
		@include form(radio);
		position: relative;
		width: $default-form-radio-width;
		height: $default-form-radio-height;
		top: em(2px);
		margin: $default-form-boolean-margin; }