// Forms
// ---------------------------
form,
.field,
.input {
  position: relative; }

.form {
	display: flex;
	flex-flow: row wrap;
	width: 100%; }

.form-newsletter {
  .form-actions {
    @include breakpoint($c) {
      position: absolute;
      z-index: $z-index-2;
      bottom: 6px;
      right: 6px; } } }

// Label
// ---------------------------
.field-label {
	display: block;
	font-weight: 600;
	line-height: 1;
	padding-bottom: $base-px; }

// Helper
// ---------------------------
.field-hint { font-size: 75%; }

// Legend
// ---------------------------
.field-legend {
	font-weight: font-weight(semibold); }

// Field layouts
// ---------------------------
.field {
  flex-basis: 100%; }

.field-third {
	flex-basis: 33.333333%;

	&:nth-of-type(odd) input {
		border-radius: $radius 0 0 $radius; }

  &:nth-of-type(even) input {
		border-radius: 0 $radius $radius 0; } }

.field-two-thirds {
	flex-basis: 66.666666%;

	&:nth-of-type(odd) input {
		border-radius: $radius 0 0 $radius; }

  &:nth-of-type(even) input {
		border-radius: 0 $radius $radius 0; } }

// Input
// ---------------------------
.input {
  @include form-base($radius: false);
  width: 100%;

  @include breakpoint($c) {
    padding: ($line - 4px) $base-px; }

  &:focus {
    z-index: $z-index-1; } }

	// Text
	// ---------------------------
	.input-text {
		@include form($focus-color: $blue);
		border-radius: $radius;

		.form-warm & {
      @include form(text, $warm-l2, $blue, $warm-l4 $white); } }

  // Check
  // ---------------------------
  .input-checkbox {
  	@include form($type: checkbox);
  	top: -2px;
  	width: $default-form-checkbox-width;
  	height: $default-form-checkbox-height;
  	vertical-align: middle;
  	margin-right: $base-px;

  	&:checked ~ * { background: red; }

  	.form-warm & {
      @include form(checkbox, $warm-l2, $blue, $warm-l4 $white); } }
