// Header
// ---------------------------
.header {
  z-index: $z-index-200;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  will-change: transform;
  transition: transform .4s ease, box-shadow .4s ease;
  max-height: 96px;
  background-color: $white;

  @include breakpoint($c-max) {
    box-shadow: 0 1px rgba($primary-d1, .1);
    position: relative; }

  @include breakpoint($c) {
    position: fixed; }

  @include breakpoint($site-width) {
    padding: 0 calc(50% - #{$contain / 2}); } }

.page-home .header,
.page-single .header {
  @include breakpoint($c) {
    background-color: transparent; } }

// Headroom
// ---------------------------
.header-pinned {
  @include breakpoint($c) {
    transform: translateY(0%); } }

.header-unpinned {
  @include breakpoint($c) {
    transform: translateY(-100%); } }

// Logo
// ---------------------------
.logo {
  display: flex;
  padding: $base-px $line/1.5;
  position: relative;
  z-index: $z-index-200;

  @include breakpoint($c) {
    padding: $line $line*1.5 $line 0;
    align-content: center;
    align-items: center; }

  @include breakpoint($cd) {
    font-size: $text-large; }

  @include breakpoint($d-max) {
    svg {
      max-width: 36px;
      height: 36px; } }

  @include breakpoint($c-max) {
    svg {
      max-width: $line;
      height: $line; } } }

.logo .logo-small {
  @include breakpoint($c) {
    display: none; } }

.logo .logo-large {
  @include breakpoint($c-max) {
    display: none; } }

.header #toggle-search {
  @include breakpoint($c-max) {
    display: none; } }
