// Main section
.hero {
  background-color: $primary-l4;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  
  @include breakpoint($b) {
    padding-top: 44px + ($line * 4); }
  
  @include breakpoint($c) {
    padding-top: 96px + ($line * 4); }
  
  @include breakpoint($site-width) {
    padding-top: calc(22.5vh + 96px); } }
    
.hero-image {
  display: block;
  text-align: center;
  
  img {
    display: inline-block;
    margin: 0 auto -32px;
    
    @include breakpoint(734px) {
      margin-bottom: -48px; } } }
    
.hero-title {
  @include hide-text;
  background-image: image-url("lettering.svg");
  background-repeat: no-repeat;
  width: 206px;
  height: 144px;
  
  @include breakpoint($site-width-max) {
    background-size: contain;
    margin: auto; }
    
  @include breakpoint($site-width) {
    width: 348px;
    height: 250px; } }
