// Main section
.hero {
  position: relative;
  background-color: var(--primary-l4);
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-top: $line*2.5;
  min-height: 464px;

  @include breakpoint($c) {
    padding-top: 96px + $line; }

  @include breakpoint(1060px) {
    min-height: 538px;
    padding-top: calc(25vh + 96px); }

  @include breakpoint(1280px) {
    padding-top: calc(22.5vh + 96px);
    min-height: 620px; } }

.hero-content {
  text-align: center;

  @include breakpoint(max-width 1059px) {
    padding-bottom: $line*2; }

  @include breakpoint(1060px) {
    position: absolute;
    top: calc(14vh + 72px + 60px); }

  @include breakpoint($de) {
    top: calc(14vh + 72px + 60px);
    left: $line*4; }

  @include breakpoint($site-width) {
    left: calc(50% - 600px); } }

.hero-image {
  display: block;
  text-align: center;
  width: 100%;

  img {
    display: block;
    margin: 0 auto -28px;

    @include breakpoint(734px) {
      margin-bottom: -42px; } } }

.hero-title {
  width: 176px;

  @include breakpoint($aa) {
    width: 208px; }

  @include breakpoint($de-max) {
    margin: auto; }

  @include breakpoint($c) {
   width: 272px; }

  @include breakpoint(1280px) {
   width: 294px; }

  @include breakpoint($site-width) {
    width: 348px; } }
