// Main section
.hero {
  box-shadow: inset 0 -1px $alternate-l3;
  align-content: center;
  align-items: center;
  
  padding-top: $line;
  padding-bottom: double($line);
  justify-content: space-between;
  
  @include breakpoint($d) {
    padding-top: double($line); }
  
  @include breakpoint($site-width) {
    justify-content: space-around; } }