// Icon utility
// ---------------------------

// To make sure each icon is positioned centrally
// <span class=icon><svg></svg></span>
.icon {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  
  &,
  svg {
    transition: .2s; } }

.icon-small svg {
  width: .75em; }
  
.icon-medium svg {
  width: 1em; }

.icon-large svg {
  width: 1.5em; }
  
@include breakpoint($b) {
  .icon-small-b svg {
    width: .75em; }
  
  .icon-medium-b svg {
    width: 1em; }
  
  .icon-large-b svg {
    width: 1.5em; } }
  
@include breakpoint($d) {
  .icon-small-d svg {
    width: .75em; }
  
  .icon-medium-d svg {
    width: 1em; }
  
  .icon-large-d svg {
    width: 1.5em; } }
    
.icon-search.active {
  color: $secondary; }

.icon-left {
  padding-right: $base-px/2; }

.icon-right {
  padding-left: $base-px/2; }