// The introduction area is unique
// ---------------------------
.introduction {  
  @include breakpoint($c-max) {
    padding: double($line);
    padding-top: triple($line); }
  
  svg,
  img {
    margin-bottom: em($base-px); }
  
  p {
    max-width: 344px;
    text-align: center; } }