// The introduction area is unique
// ---------------------------
.introduction {  
  @include breakpoint($c-max) {
    padding: $line*2;
    padding-top: 48px + $line*2; }
  
  svg,
  img {
    margin-bottom: em($base-px); }
  
  p {
    max-width: 326px;
    
    @supports not (-webkit-hyphens: auto) {
      text-align: center; } } }