// The introduction area is unique
// ---------------------------
.introduction {  
  @include breakpoint($c-max) {
    padding: 0 double($line) double($line); }
  
  @include breakpoint($aa-max) {
    padding: 0 $line double($line); }
  
  svg,
  img {
    margin-bottom: em($base-px); }
  
  p {
    max-width: 344px;
    text-align: center; } }