@include keyframes(spring) {
	0%	{ transform: matrix(0.736924, 0.000000, 0.000000, 0.736924, 0, 0); }
	100%	{ transform: matrix(1.000000, 0.000000, 0.000000, 1.000000, 0, 0); }
	1.69492%	{ transform: matrix(0.791307, 0.000000, 0.000000, 0.791307, 0, 0); }
	3.38983%	{ transform: matrix(0.853991, 0.000000, 0.000000, 0.853991, 0, 0); }
	5.08475%	{ transform: matrix(0.917034, 0.000000, 0.000000, 0.917034, 0, 0); }
	6.77966%	{ transform: matrix(0.974217, 0.000000, 0.000000, 0.974217, 0, 0); }
	8.47458%	{ transform: matrix(1.021266, 0.000000, 0.000000, 1.021266, 0, 0); }
	10.16949%	{ transform: matrix(1.055839, 0.000000, 0.000000, 1.055839, 0, 0); }
	11.86441%	{ transform: matrix(1.077328, 0.000000, 0.000000, 1.077328, 0, 0); }
	13.55932%	{ transform: matrix(1.086533, 0.000000, 0.000000, 1.086533, 0, 0); }
	15.25424%	{ transform: matrix(1.085274, 0.000000, 0.000000, 1.085274, 0, 0); }
	16.94915%	{ transform: matrix(1.075987, 0.000000, 0.000000, 1.075987, 0, 0); }
	18.64407%	{ transform: matrix(1.061353, 0.000000, 0.000000, 1.061353, 0, 0); }
	20.33898%	{ transform: matrix(1.043979, 0.000000, 0.000000, 1.043979, 0, 0); }
	22.0339%	{ transform: matrix(1.026163, 0.000000, 0.000000, 1.026163, 0, 0); }
	23.72881%	{ transform: matrix(1.009739, 0.000000, 0.000000, 1.009739, 0, 0); }
	25.42373%	{ transform: matrix(0.995999, 0.000000, 0.000000, 0.995999, 0, 0); }
	27.11864%	{ transform: matrix(0.985686, 0.000000, 0.000000, 0.985686, 0, 0); }
	28.81356%	{ transform: matrix(0.979049, 0.000000, 0.000000, 0.979049, 0, 0); }
	30.50847%	{ transform: matrix(0.975919, 0.000000, 0.000000, 0.975919, 0, 0); }
	32.20339%	{ transform: matrix(0.975828, 0.000000, 0.000000, 0.975828, 0, 0); }
	33.89831%	{ transform: matrix(0.978111, 0.000000, 0.000000, 0.978111, 0, 0); }
	35.59322%	{ transform: matrix(0.982021, 0.000000, 0.000000, 0.982021, 0, 0); }
	37.28814%	{ transform: matrix(0.986818, 0.000000, 0.000000, 0.986818, 0, 0); }
	38.98305%	{ transform: matrix(0.991838, 0.000000, 0.000000, 0.991838, 0, 0); }
	40.67797%	{ transform: matrix(0.996543, 0.000000, 0.000000, 0.996543, 0, 0); }
	42.37288%	{ transform: matrix(1.000544, 0.000000, 0.000000, 1.000544, 0, 0); }
	44.0678%	{ transform: matrix(1.003607, 0.000000, 0.000000, 1.003607, 0, 0); }
	45.76271%	{ transform: matrix(1.005642, 0.000000, 0.000000, 1.005642, 0, 0); }
	47.45763%	{ transform: matrix(1.006677, 0.000000, 0.000000, 1.006677, 0, 0); }
	49.15254%	{ transform: matrix(1.006833, 0.000000, 0.000000, 1.006833, 0, 0); }
	50.84746%	{ transform: matrix(1.006289, 0.000000, 0.000000, 1.006289, 0, 0); }
	52.54237%	{ transform: matrix(1.005252, 0.000000, 0.000000, 1.005252, 0, 0); }
	54.23729%	{ transform: matrix(1.003934, 0.000000, 0.000000, 1.003934, 0, 0); }
	55.9322%	{ transform: matrix(1.002523, 0.000000, 0.000000, 1.002523, 0, 0); }
	57.62712%	{ transform: matrix(1.001179, 0.000000, 0.000000, 1.001179, 0, 0); }
	59.32203%	{ transform: matrix(1.000017, 0.000000, 0.000000, 1.000017, 0, 0); }
	61.01695%	{ transform: matrix(0.999111, 0.000000, 0.000000, 0.999111, 0, 0); }
	62.71186%	{ transform: matrix(0.998491, 0.000000, 0.000000, 0.998491, 0, 0); }
	64.40678%	{ transform: matrix(0.998156, 0.000000, 0.000000, 0.998156, 0, 0); }
	66.10169%	{ transform: matrix(0.998074, 0.000000, 0.000000, 0.998074, 0, 0); }
	67.79661%	{ transform: matrix(0.998198, 0.000000, 0.000000, 0.998198, 0, 0); }
	69.49153%	{ transform: matrix(0.998470, 0.000000, 0.000000, 0.998470, 0, 0); }
	71.18644%	{ transform: matrix(0.998831, 0.000000, 0.000000, 0.998831, 0, 0); }
	72.88136%	{ transform: matrix(0.999226, 0.000000, 0.000000, 0.999226, 0, 0); }
	74.57627%	{ transform: matrix(0.999609, 0.000000, 0.000000, 0.999609, 0, 0); }
	76.27119%	{ transform: matrix(0.999945, 0.000000, 0.000000, 0.999945, 0, 0); }
	77.9661%	{ transform: matrix(1.000213, 0.000000, 0.000000, 1.000213, 0, 0); }
	79.66102%	{ transform: matrix(1.000400, 0.000000, 0.000000, 1.000400, 0, 0); }
	81.35593%	{ transform: matrix(1.000507, 0.000000, 0.000000, 1.000507, 0, 0); }
	83.05085%	{ transform: matrix(1.000541, 0.000000, 0.000000, 1.000541, 0, 0); }
	84.74576%	{ transform: matrix(1.000515, 0.000000, 0.000000, 1.000515, 0, 0); }
	86.44068%	{ transform: matrix(1.000444, 0.000000, 0.000000, 1.000444, 0, 0); }
	88.13559%	{ transform: matrix(1.000346, 0.000000, 0.000000, 1.000346, 0, 0); }
	89.83051%	{ transform: matrix(1.000236, 0.000000, 0.000000, 1.000236, 0, 0); }
	91.52542%	{ transform: matrix(1.000127, 0.000000, 0.000000, 1.000127, 0, 0); }
	93.22034%	{ transform: matrix(1.000030, 0.000000, 0.000000, 1.000030, 0, 0); }
	94.91525%	{ transform: matrix(0.999951, 0.000000, 0.000000, 0.999951, 0, 0); }
	96.61017%	{ transform: matrix(0.999895, 0.000000, 0.000000, 0.999895, 0, 0); }
	98.30508%	{ transform: matrix(0.999861, 0.000000, 0.000000, 0.999861, 0, 0); } }