// Unordered & ordered
// ---------------------------
ul, ol {
  padding-left: 0;
	margin: 0 0 $line 0;

	ul, ol {
		margin: 0 0 0 em(21px, $base-font-size); } }

ul {
	list-style: square; }

// Lists
// ---------------------------
%list-custom-bullet {
  li {
		list-style: none;

		&:before {
			content: "";
			display: inline-block;
			vertical-align: top;
			width: 6px;
			height: 6px;
			background-color: $secondary;
			margin: .666em 12px 0 -18px;
			color: $secondary; } } }

.list-default {
  margin-left: 0;
	padding-left: 0;

	li {
  	list-style: none; } }

.list-custom-bullet {
	@extend %list-custom-bullet; }

// Definition
// ---------------------------
dt {
  display: block;
	font-weight: font-weight(bold); }
