// Media blocks
// ---------------------------
.media {
	display: block; }
	
.media-image {
	float: left; }

.media-image img,
.media-image-reverse img {
	display: block; }

.media-body {
	overflow: hidden;
	
	&,
	& > :last-child {
		margin-bottom: 0; } }


// Reverse location
// ---------------------------
.media-image-reverse {
	float: right; }