// Navigation
// ---------------------------
.nav {
  display: flex;
  flex-flow: row wrap;
  
  @include breakpoint($b) {
    flex: 1; } }

.nav-item {
  font-family: $sans;
  color: $neutral-l1;
  text-transform: lowercase;
  padding: $line;
  
  @include breakpoint($b) {
    padding: 36px 16px;
    transition: color .2s;
    font-weight: font-weight(bold);
    
    &:first-child {
      padding-left: 32px; } }
  
  @include breakpoint($b-max) {
    font-size: $text-large;
    flex: 1 1 100%;
    text-align: center; } }