// Notice
// ---------------------------
.notice {
	position: relative;
	border-radius: $radius;
	padding: em($line) em($base-px);
	box-shadow: 0 1px scale-color($tertiary-d1, $lightness: -5%), 0 1px 1px $tertiary-d1;
	background: $white;

	margin: 0 0 em($line); }

// Close
// ---------------------------
.notice-close {
	position: absolute;
  padding: em($line) em($base-px);
	top: 1px;
	right: em($base-px);
	line-height: normal;
	text-indent: -999em;
	background: none;
	transition: .2s;
	opacity: .5;

	&:hover,
	&:focus {
		opacity: 1; }

	&:before {
		@include experimental-value(top, calc(50% - 6px));
		@include experimental-value(right, calc(50% - 6px));
		position: absolute;
		background: url(/public/static/images/icons_dark.svg) 0 0 no-repeat;

		.no-csscalc & {
			top: 50%;
			right: 50%; } } }

.notice-body:before,
.notice-close:before {
	@include wh(em(12px));
	content: "";
	z-index: $z-index-1;
	background-size: 84px auto; }

// Hidden
// ---------------------------
.notice {
	-webkit-backface-visibility: hidden;
	transition: .4s; }

.notice-hidden {
	height: 0;
	overflow: hidden;
	opacity: 0; }

// Notice style
// ---------------------------
$notices: (
	default: (color: $default-color, icon: "-24px -24px"),
	success: (color: $green, icon: "-24px 0"),
	info: (color: $blue, icon: "-24px -24px"),
	error: (color: $red, icon: "0 0"),
	warning: (color: $yellow, icon: "-72px 0")
);

@each $notice, $details in $notices {
	$notice: unquote($notice);
	$color: map-get(map-get($notices, $notice), color);
	$icon: map-get(map-get($notices, $notice), icon);

	.notice-#{$notice}-body:before {
		background-position: unquote($icon); } }

.notice-body {
	margin: 0;
	color: $primary;
	font-weight: 400;

	&:before {
		display: inline-block;
		margin: em(-6px) em($base-px) 0 em(3px);
		background-image: url(/public/static/images/icons_mixed.svg); } }
