.subheader {
  position: relative;
  background: linear-gradient($alternate-l4 -25%, $alternate-l3 150%);
  padding-top: ($line * 2.5) + 2px;
  
  @include breakpoint($c) {
    padding-top: ($line * 3.5) + 4px; }
    
  @include breakpoint($cd) {
    padding-top: ($line * 4.5) + 4px; }
  
  @include breakpoint($d) {
    padding-top: ($line * 5) + 4px; }
  
  h1 { 
    line-height: 1; }
  
  &:after {
    @include dashes; } }