// Pagination
// ---------------------------
.pagination {
  // Remove space between pagination items
  font-size: 0; }

// Pagination buttons
// ---------------------------
.paginate {
  position: relative;
  transition: .2s;
  background-color: $white;
  box-shadow: inset 0 0 0 2px $tertiary-d1;
  color: $tertiary-d1;
  font-family: $sans;
  font-size: $base-font-size;
  font-weight: font-weight(semibold);
  
  // To avoid double border
  margin-right: -2px;
  
  &:not(.disabled) {
    z-index: 1; }
  
  svg {
    fill: $tertiary-d1; } }

.paginate-left {
  border-radius: 20em 0 0 20em; }

.paginate-right {
  border-radius: 0 20em 20em 0; }
  
.paginate-left,
.paginate-right {
  padding: $base-px;
  font-weight: font-weight(semibold);
  
  &:not(.disabled):hover,
  &:not(.disabled):focus {
    z-index: 2;
    transform: scale(1.105263158); } }

.paginate-between {
  padding: 0 $base-px;
  
  a, span {
    position: relative;
    display: inline-block;
    padding: $base-px 0;
    min-width: 32px;
    text-align: center;
    
    &.active {
      color: $primary;
      
      &:before {
        content: "";
        width: $line;
        position: absolute;
        left: calc(50% - #{$base-px});
        bottom: 0;
        border-bottom: 4px solid $primary; } } } }

.pagination-offset {
  position: relative;
  z-index: $z-index-3;
  
  @include breakpoint($c-max) {
    margin-bottom: double($line); }
  
  @include breakpoint($c) {
    margin-bottom: -24px; } }

// Pagination state
// ---------------------------
.paginate.disabled {
  background-color: $tertiary-l2;
  box-shadow: inset 0 0 0 2px $tertiary;
  color: $tertiary;
  
  svg {
    fill: $tertiary; } }