.subheader {
  position: relative;
  align-items: center;
  background-color: $neutral-l5;
  padding-top: $line * 2.5;
  
  @include breakpoint($c) {
    padding-top: $line * 3.5; }
    
  @include breakpoint($cd) {
    padding-top: $line * 4.5; }
  
  @include breakpoint($d) {
    padding-top: $line * 5; }
  
  h1 { 
    line-height: 1; }
  
  &:after {
    @include dashes($image: "dash-neutral.svg"); } }