// Search
// ---------------------------
.form-search {
  @include breakpoint($c) {
    max-width: $measure-wide; }

  @include breakpoint($c-max) {
    position: absolute;
    z-index: $z-index-3;
    right: 0;
    bottom: 48px;
    left: 0; } }

// Input
// ---------------------------
.input-search {
  @include breakpoint($c-max) {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(253, 253, 253, 1) 80%, rgba(253, 253, 253, 1) 94.96%, rgba(246, 245, 246, 1) 100%);
    padding: $line 32px ($line + 4px);
    border-radius: 0;
    border-top: $default-border-width solid $warm-l2;
    border-bottom: $default-border-width solid $warm-l2; }

  @include breakpoint($c) {
    @include form(
      $type             : $default-form-type,
      $color            : $warm-l2,
      $focus-color      : $blue,
      $background-color	: $warm-l4 $white);
    padding: 33px $line*2;
    border-radius: 30em; } }

// Button
// ---------------------------
.button-search {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 28px 32px;

  @include breakpoint($c) {
    padding: 30px $line*2.5 34px $line*1.25; }

  &:active {
    color: $warm; }

  &:before {
    content: "";
    position: absolute;
    top: $base-px + 4px;
    right: 100%;
    bottom: $base-px;
    width: $default-border-width;
    background-color: $warm-l2;

    @include breakpoint($c) {
      top: $base-px + 2px;
      bottom: $base-px*1.5; } } }

.input-search:focus + .button-search:before {
  @include breakpoint($c) {
    background-color: $blue; } }

// Overlay
// ---------------------------
.overlay-search {
  position: fixed;
  z-index: $z-index-3;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;

  @include breakpoint($c) {
    flex-flow: column; } }

.searched-posts {
  overflow: auto;

  h2,
  a {
    opacity: 0;
    transition: .4s .2s;
    position: relative;
    transform: translate(0%, 100%) matrix(1, 0, 0, 0, 0, 0);
    transform-origin: 100% 50%;

    .showing & {
      opacity: 1;
      transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0); } }

  @include breakpoint($c-max) {
    padding: $line*4 $line ($line*4 + 80px);
    height: 100vh; }

  @include breakpoint($c) {
    padding-top: $line*2;
    text-align: center; } }
