@use "sass:math";

// Sectioning elements
// .panel, .row, .etc
// ---------------------------
.row {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%; }

// Alignment
// ---------------------------
.row-padding {
  padding-top: double($line);
  padding-bottom: double($line);

  @include breakpoint($c) {
    padding-top: quadruple($line);
    padding-bottom: quadruple($line); }

  @include breakpoint($d) {
    padding-top: 120px;
    padding-bottom: 120px; }

  @include breakpoint($e) {
    padding-top: 132px;
    padding-bottom: 132px; } }

.contain {
  padding-right: $small-outer-gutter;
  padding-left: $small-outer-gutter; }

.contain-medium {
  @include breakpoint($c) {
    padding-right: $line*2;
    padding-left: $line*2; }

  @include breakpoint($d) {
    padding-right: $line*3;
    padding-left: $line*3; }

  @include breakpoint($e) {
    padding-right: $line*4;
    padding-left: $line*4; } }

.contain-large {
  @include breakpoint($site-width) {
    padding-right: calc(50% - #{math.div($contain, 2)});
    padding-left: calc(50% - #{math.div($contain, 2)}); } }

// Row style
// ---------------------------
.row-normal {
  background: $white;

  & + & {
    border-top: 1px solid $alternate-l3; } }

// Cool
.row-cool {
  background-color: $cool-l4;
  position: relative;
  color: $alternate; }

// Neutral
.row-neutral {
  background-color: $neutral-l9;
  position: relative;
  color: $neutral; }

// Warm
.row-warm {
  background-color: $warm-l4;
  position: relative;
  color: $warm; }

// Row contents
// ---------------------------
.row-header {
  padding-bottom: $line;

  @include breakpoint($d) {
    padding-bottom: $line + 8px; } }

.row-title {
  align-self: center;
  margin-bottom: 0; }

// Columns
// ---------------------------
.column {
  display: flex;
  flex-flow: column wrap; }
  
$column-basis: math.div(100%, 8);

@for $i from 1 through 8 {
  .column-#{$i} {
    flex-basis: calc(#{$column-basis * $i} - 8px); } }

@for $i from 1 through 8 {
  .column-#{$i}-b {
    @include breakpoint($b) {
      flex-basis: calc(#{$column-basis * $i} - 16px); } } }

@for $i from 1 through 8 {
  .column-#{$i}-d {
    @include breakpoint($d) {
      flex-basis: calc(#{$column-basis * $i} - 32px); } } }

// Column alignment
// ---------------------------
.column-center {
  align-items: center;
  align-content: center; }

.column-stretch {
  @include breakpoint($b) {
    align-content: center;
    align-items: stretch; } }
