// Sectioning elements
// .panel, .row, .etc
// ---------------------------
.row {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%; }

// Alignment
// ---------------------------
.contain {
  padding-right: calc(50% - #{$site-width / 2});
  padding-left: calc(50% - #{$site-width / 2}); }

.center {
  justify-content: center; }

.around {
  justify-content: space-around; }

.between {
  justify-content: space-between; }

// Row style
// ---------------------------
.row-normal {
  background: $white;
  
  @include breakpoint($c) {
    padding-top: double($line);
    padding-bottom: double($line); }
  
  @include breakpoint($c-max) {
    padding-top: $line;
    padding-bottom: $line; }
  
  &.with-row-header {
    padding-bottom: $line + $line + $line + $base-px; } }

// Emphasis, more whitespace, background
.row-strong {
  background: $alternate-l4;
  color: $alternate;
  
  @include breakpoint($c) {
    padding-top: quadruple($line);
    padding-bottom: quadruple($line); }
    
  @include breakpoint($c-max) {
    padding-top: double($line);
    padding-bottom: double($line); } }

.row-introduction {
  box-shadow: inset 0 -1px $alternate-l3;
  align-content: center;
  align-items: center; }

// Row contents
// ---------------------------
.row-header {
  padding: $line;
  
  @include breakpoint($c) {
    padding: $line*2 calc(50% - #{$site-width / 2}); } }
  
.row-title {
  align-self: center;
  margin-bottom: 0; }
  
// Columns
// ---------------------------
.column {
  display: flex;
  flex-flow: column wrap; }

@for $i from 1 through 8 {
  .column-#{$i} {
    flex-basis: calc(#{(100% / 8) * $i} - 32px); } }

@for $i from 1 through 8 {
  .column-c-#{$i} {
    @include breakpoint($c) {
      flex-basis: calc(#{(100% / 8) * $i} - 32px); } } }

// Column alignment
// ---------------------------
.column-center {
  align-items: center;
  align-content: center; }
  
.column-stretch {
  @include breakpoint($b) {
    align-content: center;
    align-items: stretch; } }

// Posts container
// ---------------------------
.posts,
.scroll {
  width: 100%; }

// Scroll
// ---------------------------
.scroll {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  
  // Each card width must be offset by the padding, otherwise it’s too small.
  .card {
    display: inline-block;
    vertical-align: top;
    padding: 0 $base-px / 2;
    white-space: normal;
    
    @include breakpoint($c) {
      padding: 0 $base-px; } }
  
  .card-medium {
    width: 288px;
    
    @include breakpoint($c) {
      width: 378px + $base-px + $base-px; } }
  
  .card-small {
    width: 196px;
    
    @include breakpoint($c) {
      width: 244px + $base-px + $base-px; } } }