// Sectioning elements
// .panel, .row, .etc
// ---------------------------
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 1 100%; }

.row-padded {
  padding: 0 25%; }

.row-normal {
  background: $white;
  border-bottom: 1px solid $neutral-a-l3; }

.row-strong {
  background: $neutral-a-l3; }
  
.row-header {
  padding: $line;
  
  @include breakpoint($c) {
    padding: $line*2 calc(50% - #{$site-width / 2}); } }
  
.row-title {
  margin-bottom: 0; }
  
// Columns
// ---------------------------
.column {
  display: flex;
  flex-flow: column wrap; }

@for $i from 1 through 8 {
  .column-#{$i} {
    flex-basis: calc(#{(100% / 8) * $i} - 32px); } }

@for $i from 1 through 8 {
  .column-c-#{$i} {
    @include breakpoint($c) {
      flex-basis: calc(#{(100% / 8) * $i} - 32px); } } }

// Column alignment
// ---------------------------
.column-center {
  align-items: center;
  align-content: center; }

// Posts
// ---------------------------
.posts { overflow: hidden; }

// Scroll
// ---------------------------
.scroll {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
  padding: 0 $base-px;
  -webkit-scroll-snap-points-x: repeat(100%);
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 0 0;
  
  @include breakpoint($c) {
    padding: 0 $line; }
  
  .card {
    padding: 0 $base-px / 2;
    
    @include breakpoint($c) {
      padding: 0 $base-px; } }
  
  .card-medium {
    flex: 0 0 288px;
    
    @include breakpoint($c) {
      flex-basis: 378px; } }
  
  .card-small {
    flex: 0 0 196px;
    
    @include breakpoint($c) {
      flex-basis: 244px; } } }