// Subscribe
// ---------------------------
.page-blog .subscribe,
.page-entry .subscribe {
  position: relative; }
  
.subscribe-image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 144px;
  max-height: 144px;
  
  @include breakpoint(414px) {
    top: -$line;
    max-width: 192px;
    max-height: 192px; }
  
  @include breakpoint($d) {
    top: 50%;
    transform: translateY(-50%);
    max-width: 320px;
    max-height: 320px; }
  
  @include breakpoint($a-max) {
    top: $line*1.5; } }

.subscribe-content {
  position: relative;
  
  @include breakpoint($ab) {
    max-width: 480px; }
  
  @include breakpoint($d) {
    padding-right: 320px;
    max-width: 752px; }
  
  p:first-child {
    padding-right: 144px + $base-px;
    padding-bottom: $line;
    
    @include breakpoint(414px) {
      padding-right: 192px + $base-px; }
    
    @include breakpoint(460px) {
      padding-bottom: $line * 2; }
      
    @include breakpoint($d) {
      padding-right: 0;
      padding-bottom: 0; } }
      
  @include breakpoint(max-width 414px) {
    p {
      padding-right: calc(100% - #{192px - 16px});
      max-width: 100%; } }
  
  @include breakpoint(max-width 359px) {
    p {
      padding-right: calc(100% - #{144px - 16px});
      max-width: 100%; }
    
    p:last-of-type {
      padding-right: 0; } } }