// Subscribe
// ---------------------------
.page-blog .subscribe,
.page-entry .subscribe {
  position: relative;
  
  &:before {
    @include dashes(top, "dash-neutral.svg"); } }
  
.subscribe-image {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 144px;
  
  @include breakpoint($b) {
    top: 50%;
    transform: translateY(-50%);
    max-width: 192px; }
  
  @include breakpoint($c) {
    max-width: 320px; }
  
  @include breakpoint(max-width 359px) {
    top: $line*1.5; } }

.subscribe-content {
  position: relative;
  padding-right: 144px + $base-px;
    
  @include breakpoint($b) {
    padding-right: 192px + $line; }
  
  @include breakpoint($c) {
    padding-right: 320px; }
  
  @include breakpoint($cd) {
    max-width: 752px; }
  
  @include breakpoint($b-max) {
    max-width: 540px;
    
    p {
      text-align: left;
      max-width: calc(100% - #{144px + $line + $line}); } }
      
  @include breakpoint($ab-max) {
    p {
      max-width: calc(100% - #{144px + $base-px}); } }
      
  @include breakpoint(max-width 414px) {
    p:last-of-type {
      padding-right: 0;
      max-width: 100%; } } }