.tabbar {
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  @include breakpoint($c-max) {
    position: fixed;
    z-index: $z-index-200;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    box-shadow: 0 -1px rgba($warm, .1);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; } }

.tabbar-item {
  display: flex;
  align-items: center;
  align-content: center; }

.tabbar-item {
  position: relative;

  &.active:before {
    content: "";
    position: absolute;
    width: $line;
    height: $line;
    background-color: $tertiary;
    border-radius: $radius; } }

.tabbar-item-h {
  flex-flow: column wrap;
  padding-top: 10px;
  padding-bottom: 6px;

  &.active:before {
    top: 6px;
    left: 50%;
    margin-left: -$line/2; } }

.tabbar-item-v {
  flex-flow: row nowrap;
  padding: $line/1.5;

  &.active:before {
    top: 50%;
    right: $base-px;
    margin-top: -$line/2; } }

.tabbar-item-text {
  font-size: 12px;
  text-transform: lowercase;

  .tabbar-item-v & {
    padding-right: $line/3; } }

// Headroom
// ---------------------------
.tabbar-pinned {
  transform: translateY(0%); }

.tabbar-unpinned {
  transform: translateY(100%); }
