// Align
// ---------------------------
.right { text-align: right; }
.center { text-align: center; }
.left { text-align: left; }

// Case
// ---------------------------
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

// Type
// ---------------------------
.sans { font-family: $sans; }
.serif { font-family: $serif; }
	
// Colour
// ---------------------------
$text-color-helpers: (
	"white": $white,
	primary: $primary,
	secondary: $secondary,
	neutral: $neutral,
	"red": $red,
	"green": $green,
	"orange": $orange,
	"blue": $cyan
);

@each $name, $color in $text-color-helpers {
	.#{$name} { color: $color; } }

// General elements
// ---------------------------
address { font-style: normal; }
	
// Links
// ---------------------------
.link { 
  // A discrete link style
  font-weight: 700;
  color: $neutral; }

// Various
// ---------------------------
.caption {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .125em; }
	
// Text mixins
// ---------------------------
@mixin small-caps {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: em(2px); }
	
@mixin with-border {
	padding-bottom: rhythm(1, $base-px*4);
	border-bottom: 1px solid $primary; }