// Align
// ---------------------------
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }

// Case
// ---------------------------
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

// Type
// ---------------------------
.sans { font-family: $sans; }
.serif { font-family: $serif; }
	
// Colour
// ---------------------------
$text-color-helpers: (
	"white": $white,
	primary: $primary,
	secondary: $secondary,
	secondary-d1: $secondary-d1,
	neutral: $neutral,
	neutral-l1: $neutral-l1
);

@each $name, $color in $text-color-helpers {
	.#{$name} { color: $color; } }

// General elements
// ---------------------------
address { font-style: normal; }

// Stylistic headings
// ---------------------------
.chunky {
  position: relative;
  z-index: $z-index-2;
  
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -1px;
    left: -3px;
    width: 96px;
    height: 12px;
    background: $secondary-l2; }
  
  &.primary:after {
    background: $tertiary-l2; } }

// Links
// ---------------------------
.link { 
  // A discrete link style
  font-weight: 700;
  color: $neutral-l1;
  
  &:hover,
  &:focus {
    box-shadow: inset 0 -2px $secondary-l2, 0 2px $secondary-l2; } }

// Social links
// ---------------------------
@each $name, $color in $social {
	.link-#{$name} { color: $color; } }
	
// Links paired with an icon
// eg: <a class="link-icon"><span class="icon icon-medium"><svg></svg></span></a>
.link-icon {
  display: flex;
  align-items: center;
  
  &:hover .icon-right,
  &:focus .icon-right {
    transform: translate3d($base-px/3, 0, 0); }
  
  &:hover .icon-left,
  &:focus .icon-left {
    transform: translate3d(-#{$base-px/3}, 0, 0); }
  
  .icon {
    transition: .2s ease; } }

// Various
// ---------------------------
.caption {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .125em; }
	
// Text mixins
// ---------------------------
@mixin small-caps {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: em(2px); }
	
@mixin with-border {
	padding-bottom: rhythm(1, $base-px*4);
	border-bottom: 1px solid $primary; }