// Align
// ---------------------------
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }

// Case
// ---------------------------
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

// Type
// ---------------------------
.sans { @include fonts("sans"); }
.serif { @include fonts("serif"); }

// Colour
// ---------------------------
$text-color-helpers: (
	"white": $white,
	primary: $primary,
	primary-l2: $primary-l2,
	secondary: $secondary,
	secondary-l1: $secondary-l1,
	tertiary: $tertiary,
	neutral: $neutral,
	neutral-l1: $neutral-l1,
	neutral-l2: $neutral-l2,
	neutral-l3: $neutral-l3,
	alternate: $alternate,
	warm: $warm,
	warm-l1: $warm-l1,
	warm-l2: $warm-l2
);

@each $name, $color in $text-color-helpers {
	.#{$name} { color: $color; } }

// General elements
// ---------------------------
address { font-style: normal; }

// Stylistic headings
// ---------------------------
.chunky {
  position: relative;
  z-index: $z-index-2;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    left: -3px;
    background: $primary-l4;
    width: 4em;
    height: 9px;

    @include breakpoint($b) {
      bottom: -2px;
      height: 12px; } }

  &[class*="f1"]:after {
    bottom: 0; }

  &.secondary:after {
    background: $secondary-l3; }

  &.primary:after {
    background: $tertiary-l3; } }

// Links
// ---------------------------
$underline-color: #FF44FF;

.link {
  transition: background-position 0.15s linear 0.1s, box-shadow 0.15s linear 0s;
  background-image: linear-gradient(to left, $primary, $tertiary, $secondary);
  background-size: 400%;
  background-repeat: no-repeat;
  background-position: 0 1em;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, $primary, $tertiary, $secondary);
    background-position: 100% 1em; } }

.link-social {
  text-align: center;
  font-weight: font-weight(semibold);
  border: 1px solid $neutral-l4;
  padding: $base-px 0;

  &:hover,
  &:focus {
    background-color: $neutral-l9; }

  &:first-of-type {
    border-radius: $radius 0 0 $radius; }

  &:nth-of-type(2) {
    border-left: none; }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    border-right: none; }

  &:last-child {
    border-radius: 0 $radius $radius 0; } }

// Social links
// ---------------------------
@each $name, $color in $social {
	.link-#{$name} { color: $color; } }

// Links paired with an icon
// eg: <a class="link-icon"><span class="icon icon-medium"><svg></svg></span></a>
.link-icon {
  display: flex;
  align-items: center;

  &:not(.disabled):hover .icon-right,
  &:not(.disabled):focus .icon-right {
    transform: translate3d($base-px/3, 0, 0); }

  &:not(.disabled):hover .icon-left,
  &:not(.disabled):focus .icon-left {
    transform: translate3d(-#{$base-px/3}, 0, 0); }

  .icon {
    position: relative;
    top: 1px;
    transition: .2s ease; } }

.link-icon.disabled {
  cursor: default; }

// Various
// ---------------------------
.caption {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .125em; }

// Text mixins
// ---------------------------
@mixin small-caps {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: em(2px); }

@mixin with-border {
	padding-bottom: rhythm(1, $base-px*4);
	border-bottom: 1px solid $primary; }
