// Alignment
// ---------------------------
.alignleft {
	float: left;
	margin-right: em($line); }
	
.alignright {
	float: right;
	margin-left: em($line); }
	
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto; }

// Posts
// ---------------------------
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0; }

.wp-caption {
	margin-bottom: em($line);
	max-width: 100%;
	
	.wp-caption-text { margin: em($base-px) 0; }
	
	img[class*="wp-image-"] {
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%; } }
		
.wp-caption-text {
	@extend .text-center; }
	
.site-content .gallery {
	margin-bottom: em($line);

	dd { margin: 0; }
		
	a img {
		border: none;
		height: auto;
		max-width: 90%; } }

// Widgets
// ---------------------------
.widget {}

// Comments
// ---------------------------
.comment-content a { word-wrap: break-word; }