// Override variables from import/_base.scss here
// General site variables
// ---------------------------

// Color
// ---------------------------
$primary: #ff7e6d !global;
$primary-d1: #bf4e45;
$primary-d2: scale-color($primary-d1, $lightness: -20%);
$primary-l1: #ffb1a9;
$primary-l2: #ffcbc7;
$primary-l3: #ffe8e6;
$primary-l4: #fff5f3;

$secondary: #27cba4 !global;
$secondary-d1: #138466;
$secondary-l1: #89e3cd;
$secondary-l2: #b9eee2;
$secondary-l3: #d5f5ee;
$secondary-l4: #eafaf6;

$tertiary: #ffdb6d !global;
$tertiary-d1: #dba758;
$tertiary-d2: scale-color($tertiary-d1, $lightness: -20%);
$tertiary-l1: #ffe38d;
$tertiary-l2: #fff3ce;
$tertiary-l3: #fff8e6;
$tertiary-l4: #fffbee;

$alternate: #1a626e !global;
$alternate-l1: #56959e;
$alternate-l2: #bed8d8;
$alternate-l3: #e9f5f5;
$alternate-l4: #f7fbfb;

$warm: #553143;
$warm-l1: #7f6371;
$warm-l2: #D4CBD0; //#d2c7cc;
$warm-l3: #f7f2f5;
$warm-l4: #fbf9fa;

$cool: $alternate;
$cool-l1: $alternate-l1;
$cool-l2: $alternate-l2;
$cool-l3: $alternate-l3;
$cool-l4: $alternate-l4;

$neutral: #301d28;
$neutral-l1: #62535c;
$neutral-l2: #938a8f;
$neutral-l3: #c5c0c3;
$neutral-l4: #e5e5e5;
$neutral-l5: #f2f2f0;
$neutral-l6: #eaeaea;
$neutral-l7: #efefef;
$neutral-l8: #f4f4f4;
$neutral-l9: #f9f9f9;

$colors: (
  primary: $primary,
  primary-d1: $primary-d1,
  primary-d2: $primary-d2,
  primary-l1: $primary-l1,
  primary-l2: $primary-l2,
  primary-l3: $primary-l3,
  secondary: $secondary,
  secondary-d1: $secondary-d1,
  secondary-l1: $secondary-l1,
  secondary-l2: $secondary-l2,
  secondary-l3: $secondary-l3,
  tertiary: $tertiary,
  tertiary-d1: $tertiary-d1,
  tertiary-d2: $tertiary-d2,
  tertiary-l1: $tertiary-l1,
  tertiary-l2: $tertiary-l2,
  neutral: $neutral,
  neutral-l1: $neutral-l1,
  neutral-l2: $neutral-l2,
  neutral-l3: $neutral-l3,
  neutral-l4: $neutral-l4,
  alternate: $alternate,
  alternate-l1: $alternate-l1,
  alternate-l2: $alternate-l2,
  alternate-l3: $alternate-l3,
  alternate-l4: $alternate-l4
);

$color-palette: (
  primary: $primary,
  secondary: $secondary,
  secondary-d1: $secondary-d1,
  tertiary: $tertiary,
  neutral: $neutral,
  alternate: $alternate
);

// Brands
// ---------------------------
$dribbble: #ea4c89;
$github: #4183c4;
$linkedin: #0077b5;
$twitter: #55acee;
$behance: #1769ff;
$facebook: #3b5998;
$pocket: #ef4056;
$instapaper: #000;

$social: (
  dribbble: $dribbble,
  github: $github,
  linkedin: $linkedin,
  twitter: $twitter,
  behance: $behance,
  facebook: $facebook,
  pocket: $pocket,
  instapaper: $instapaper
);

// Fonts
// ---------------------------
$emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$sans: AvertaW, $system !global;
$serif: "freight-text-pro", serif, $emoji !global;
$heading: $sans !global;
$body: $serif !global;
$form: $sans !global;
$element: $sans !global;
$ui: $sans !global;

$measure: 640px; // 30.476190476em new: 640px old: 684px;
$measure-wide: 720px; // 34.285714286em
$measure-narrow: 480px; // 22.857142857em

$headline: 48px;
$f7: 14px;
$f8: 12px;

// Defaults
// ---------------------------
$default: (
  sans: $ui,
  serif: $serif,
  color: #7d7e81,
  baseline: 24px,
  spacing: 12px,
  context: 16px,
  base-font-size: 16px,
  radius: 4px,
  display: inline-block,
  state: normal,
  transition-duration: .2s
);

$default-transition-duration: .2s;
$radius: 6px;
$text-xxxlarge: 48px;

  // Form defaults
  // ---------------------------
  $default-form-focus-color: $alternate-l1;
  $default-form-color: $alternate-l2;
  $default-form-background-color: $alternate-l4 $white;
  $default-placeholder-color: $warm-l2;
  $default-form-text-color: $neutral;
  $default-form-shading: true;
  $default-form-checkbox-width: 24px;
  $default-form-checkbox-height: 24px;

  // Element defaults
  // ---------------------------
  $default-element-radius: 4px;

// Breakpoints
// ---------------------------
@include breakpoint-set('base font size', $base-font-size);

// Site width is 1200px, but it requires additional spacing so it works nicely
$contain: 1230px;
$site-width: $contain + ($line*6);
$site-width-max: max-width $site-width - $breakpoint-subtract;
