// Override variables from import/_base.scss here
// General site variables
// ---------------------------

// Color
// ---------------------------
$primary: #e16161 !global;
$primary-d1: #904b4e;
$primary-d2: scale-lightness($primary-d1, -20%);
$primary-l1: #f08079;
$primary-l2: #fae2dc;
$primary-l3: #fff5f0;

$secondary: #87d4be !global;
$secondary-d1: #4db898;
$secondary-d2: scale-lightness($secondary, -20%);
$secondary-l1: #c3e5d8;
$secondary-l2: #e1f7ee;
$secondary-l3: #edf7f3;

$tertiary: #ffd7a6 !global;
$tertiary-d1: #f2b76f;
$tertiary-d2: #d19954;
$tertiary-l1: #fff6e5;
$tertiary-l2: #fffbf2;

$neutral-a: #1a626e !global;
$neutral-a-l1: #bed8d8;
$neutral-a-l2: #e9f5f5;
$neutral-a-l3: #f7fbfb;

$neutral: #384242;
$neutral-l1: #6c8484;
$neutral-l2: #91a5a5;

$colors: (
  primary: $primary,
  primary-d1: $primary-d1,
  primary-d2: $primary-d2,
  primary-l1: $primary-l1,
  primary-l2: $primary-l2,
  primary-l3: $primary-l3,
  secondary: $secondary,
  secondary-d1: $secondary-d1,
  secondary-d2: $secondary-d2,
  secondary-l1: $secondary-l1,
  secondary-l2: $secondary-l2,
  secondary-l3: $secondary-l3,
  tertiary: $tertiary,
  tertiary-d1: $tertiary-d1,
  tertiary-d2: $tertiary-d2,
  tertiary-l1: $tertiary-l1,
  tertiary-l2: $tertiary-l2,
  neutral: $neutral,
  neutral-l1: $neutral-l1,
  neutral-l2: $neutral-l2,
  neutral-a: $neutral-a,
  neutral-a-l1: $neutral-a-l1,
  neutral-a-l2: $neutral-a-l2,
  neutral-a-l3: $neutral-a-l3,
);

$color-palette: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  neutral: $neutral,
  neutral-a: $neutral-a
);

// Fonts
// ---------------------------
$sans: Averta, sans-serif !global;
$serif: Sentinel A, Sentinel B, serif !global;
$monospace: Inconsolata, Menlo, Monaco, "Courier New", monospace !default;
$icons: "SSStandard" !default;
$heading: $sans !default;
$body: $serif !default;
$form: $sans !default;
$element: $sans !default;

// Defaults
// ---------------------------
$default-transition-duration: .2s;
$site-width: 1200px;
$default-form-color: darken(#eee, 10%);
$default-form-background-color: scale-lightness(#eee, 10%);
$default-shading: true !global;
$default-form-focus-color: $secondary;
$default-form-color: $neutral-a-l1;
$default-form-background-color: $neutral-a-l3;
$default-placeholder-color: $neutral-l2;
$default-form-text-color: $neutral;
$radius: 8px;

// Browser support and prefixing
// ---------------------------
@if $debug-mode { $debug-browser-support: true; }
$browser-minimum-versions: ("chrome": null, "firefox": null, "ie": "8", "safari": "6");
$supported-browsers: reject(browsers(), opera-mini, opera);

$box-shadow-support-threshold: 0;
$gradient-support-threshold: 6.51;
//$svg-gradient-shim-threshold: 10.0;

// Breakpoints
// ---------------------------
@include breakpoint-set('base font size', $base-font-size);