// Setup a mixin for containing themed variables
@mixin theme($theme: day) {
  // Day
  @if ($theme = day) {

  }

  // Night
  @elseif ($theme = night) {
    --primary: $primary;
  }
}

:root {
  // Remains the same regardless of theme
  --primary: $primary;
  --secondary: $secondary;
  --tertiary: $tertiary;

  @include theme(day);
}

.night {
  @include theme(night);
}
