// Misc helpers
// ---------------------------
.pin-below-lt-b {
  @include breakpoint($b-max) {
    @include pin-below; } }

.dashes {
  background: image-url("dash-neutral.svg") repeat-x center calc(50% + 1px);
  
  a, li,
  span, time {
    background-color: $white; } }



.card-body {
  display: flex;
  flex-flow: row wrap;
  
  > * {
    flex-basis: 100%;
  }
}