// Disable specific
// ---------------------------
// It's nice to keep the output of your CSS clean, some of these helpers
// will be overly helpful for you
$disable-output: false;

// @if $disable-output {
//   ... }
// ---------------------------

// Clearfix
// ---------------------------
$default-enable-clearfix: false !default;

@if $default-enable-clearfix {
  .clearfix {
  	@extend %clear; } }

// Floating
// ---------------------------
$default-enable-float: false !default;

@if $default-enable-float {
	.pull-left,
	.float-left {
		@extend %left; }
	
	.pull-right,
	.float-right {
		@extend %right; } }

// Inline block layout
// ---------------------------
$default-enable-inline-block-layout: false !default;
$helper-vertical-align-prefix: vertical-align;

@if $default-enable-inline-block-layout {
	%inline-block {
		display: inline-block; }
		
	%vertical-align-top {
		@extend %inline-block;
		vertical-align: top; }
	
	%vertical-align-middle {
		@extend %inline-block;
		vertical-align: middle; }
	
	%vertical-align-bottom {
		@extend %inline-block;
		vertical-align: bottom; }
	
	.#{$helper-vertical-align-prefix}-top {
		@extend %vertical-align-top; }
	
	.#{$helper-vertical-align-prefix}-middle {
		@extend %vertical-align-middle; }
	
	.#{$helper-vertical-align-prefix}-bottom {
		@extend %vertical-align-bottom; } }

// Visibility
// ---------------------------
$default-enable-visibility: true !default;

@if $default-enable-visibility {
	.hidden {
		display: none; }
	
	.screen-reader-text,
	.visuallyhidden {
		border: 0 !important;
		clip: rect(0 0 0 0);
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		position: absolute !important;
		width: 1px !important;
		padding: 0 !important; } }

// Sizes
// ---------------------------
$default-enable-sizes: true !default;

@if $default-enable-sizes {
	.xxlarge {
		font-size: $xxlarge-size; }
		
	.xlarge {
		font-size: $xlarge-size; }
		
	.large {
		font-size: $large-size; }
	
	.normal {
		font-size: $normal-size; }
		
	.small {
		font-size: $small-size; }
		
	.xsmall {
		font-size: $xsmall-size; }
		
	.xxsmall {
		font-size: $xxsmall-size; } }

// Padding
// ---------------------------
$default-enable-padding: false !default;

$default-soft-map:
  top,
  right,
  bottom,
  left !default;

@if $default-enable-padding {
  
  @each $padding in $default-soft-map {
  
    .soft-#{$padding} {
      padding-#{$padding}: $baseline; } 
    
    .soft-double-#{$padding} {
      padding-#{$padding}: double($baseline); }
    
    .soft-half-#{$padding} {
      padding-#{$padding}: half($baseline); } } }
	
// Margin
// ---------------------------
$default-enable-margin: true !default;

$default-push-map:
  left,
  right,
  bottom !default;

@if $default-enable-margin {
  @each $margin in $default-push-map {
    .push-#{$margin} {
      margin-#{$margin}: $baseline; } 
    
    .push-double-#{$margin} {
      margin-#{$margin}: double($baseline); }
    
    .push-half-#{$margin} {
      margin-#{$margin}: half($baseline); } } }

// Undo
// ---------------------------
$default-enable-undo: false !default;

@if $default-enable-undo {
  .undo-padding {
		padding: 0; }
		
  .undo-padding-top {
		padding-top: 0; }

  .undo-padding-bottom {
		padding-bottom: 0; }
		
  .undo-margin {
		margin: 0; }
		
  .undo-margin-top {
		margin-top: 0; }

  .undo-margin-bottom {
		margin-bottom: 0; } }
  
// Radius
// ---------------------------
$default-enable-radius: true !default;

@if $default-enable-radius {
	.circular,
	[class*="-circular"] {
		border-radius: 100%; }
		
  .rounded,
  [class*="-rounded"] {
    border-radius: 20em; }
	
	.radius,
	[class*="-radius"] {
		border-radius: $radius; } }

$default-enable-radius-specific: false !default;

@if $default-enable-radius-specific {
	$radii: top-left, top-right, bottom-left, bottom-right;
	
	@each $radius in $radii {	
		.radius-#{$radius} {
			border-#{$radius}-radius: $radius; } } }

// Misc helpers
// ---------------------------
.pin-below-lt-b {
  @include breakpoint($b-max) {
    @include pin-below; } }