// Mixin setup
// ---------------------------
@include grid;
@include placeholder;


// Mixin overrides
// ---------------------------

// Site specific mixins
// ---------------------------

// Position an element absolutely
@mixin pin-below {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0; }