// @todo: Night mode
// prefers-color-scheme: dark
$dark-fg-01: mix($primary-l2, $black, 20%);
$dark-fg-02: mix($primary-l2, $black, 30%);
$dark-fg-03: mix($primary-l3, $black, 70%);

$dark-bg-01: mix($warm, $black, 30%);
$dark-bg-02: mix($warm, $black, 10%);

.page-single .entry-next a {
  background: linear-gradient(rgba($warm, 0) 70%, $warm 70%, $warm 88%, rgba($warm, 0) 88%); }

.page-single {

  // Structure
  .header {
    @include breakpoint($c-max) {
      background-color: $dark-bg-01 !important; } }

  .tabbar {
    @include breakpoint($c-max) {
      background-color: $dark-bg-01 !important;
      box-shadow: 0 -1px rgba($warm, .4); } }

  .tabbar-item.active:before {
    background-color: transparent !important; }

  &,
  .tabbar,
  .entry-content {
    background-color: $dark-bg-01 !important; }

  .entry-image,
  .footer,
  .row-normal,
  .subscribe {}

  // Colour
  .primary .fill-s1 {
    fill: $dark-fg-02; }

  .fill-white {
    fill: $dark-bg-02; }

  .primary,
  .icon,
  .warm-l3,
  .warm-l2 {
    color: $dark-fg-03;

    .fill-s1 {
      fill: $dark-fg-02; }

    .fill-white {
      fill: $dark-fg-01; } }

  .warm-l3 {
    color: $warm; }

  // Meta
  .single-meta .meta-item.meta-item {
    color: $dark-fg-03;
    border-color: mix($primary-l2, $dark-bg-01, 5%); }

  // Content
  .entry-content {
  	table tr {
  		background-color: $dark-fg-01; }

    table tr:hover {
      background-color: $dark-fg-02; }

    figcaption,
    p, li, p a {
      color: $dark-fg-03; }

    blockquote {
      border-color: $primary;
      background-color: $dark-bg-02; }

    kbd {
      background-color: $dark-bg-02;
      box-shadow: inset 0 0 0 2px $dark-fg-01;

      kbd {
        background-color: transparent;
        box-shadow: none; } }

    p a {
      background-image: linear-gradient(to right, mix($warm, $black, 70%), $warm, $warm);

      &:hover,
      &:focus {
        background-image: linear-gradient(to right, $warm, $primary, $primary); } }

    h2, h3, h4, h5 {
      color: $dark-fg-03; } }

    // Next article
    .dashes span {
      background-color: $dark-bg-02; } }
