.grid-posts {
  display: grid;
  grid-gap: 32px $small-outer-gutter;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint($b) {
    grid-gap: 48px 32px; }

  @include breakpoint($c) {
    grid-gap: 48px 32px; }

  @include breakpoint($d) {
    grid-template-columns: repeat(3, minmax(240px, 378px)); }

  @include breakpoint($e) {
    grid-gap: 48px; } }

.grid-thanks {
  display: grid;
  grid-gap: 32px 32px;
  grid-template-columns: repeat(auto-fit, minmax(168px, 1fr)); }

.column-all {
  grid-column: 1/-1; }


// Search page
.contain-search .form-search {
  position: static; }

.contain-search .input-search {
  @include breakpoint($c-max) {
    border-radius: 10em;
    border-right: $default-border-width solid $warm-l2;
    border-left: $default-border-width solid $warm-l2; } }
