// Site structure
// ---------------------------
body {
	background: $white;
	color: $neutral; }

// Flexbox grid
// ---------------------------
.column {
  display: flex;
  flex-flow: column wrap; }

.column-center {
  align-items: center;
  align-content: center; }