// Site structure
// ---------------------------
body {
  background: $white; }

// Page specific
// ---------------------------
.page-offset {
  @include page-offset; }

// Structural elements
// ---------------------------
hr {
  border: none;
  width: 100%;
  height: 2px;
  margin-top: 0;
  
  .footnotes &,
  .page-entry &,
  .row-normal & {
    background: image-url("dash-neutral-l1.svg") -12px center; }
  
  .row-strong & {
    background: image-url("dash-alternate.svg") -12px center; } }