// Fills for use in SVG
// ---------------------------
.fill-currentcolor {
  fill: currentcolor; }

.stroke-currentcolor {
  stroke: currentcolor; }

// When some SVG resizes with the browser it doesn’t always adjust the height.
// Setting both a max height and height seems to solve this for the most part.
svg {
  max-height: 100%;
  height: auto; }