// Fills for use in SVG
// ---------------------------
.fill-currentcolor {
  fill: currentcolor; }

.stroke-currentcolor {
  stroke: currentcolor; }

.fill-none {
  fill: none; }

.fill-white {
  fill: $white; }

// Fill "shade 1"
.primary .fill-s1 {
  fill: $primary-l3; }

.warm-l1 .fill-s1 {
  // #eeeaec
  fill: #eeeaec; }

.tertiary-dc .fill-s1 {
  fill: $tertiary-l3; }

// Icon related
// ---------------------------
.sw-2 {
  stroke-width: 2px; }

.sw-3 {
  stroke-width: 3px; }

.sw-4 {
  stroke-width: 4px; }

.sw-6 {
  stroke-width: 6px; }

.sl-r {
  stroke-linecap: round;
  stroke-linejoin: round; }

// When some SVG resizes with the browser it doesn’t always adjust the height.
// Setting both a max height and height seems to solve this for the most part.
svg {
  max-height: 100%;
  height: auto; }
