// States
// ---------------------------
$no-output: false;

// States which have a little more fancy to them
// ---------------------------
// Initial state — and applied when closing too
.hiding {
  max-height: 0;
  opacity: 0;
  bottom: 0;

  // This transition happens when the close button is clicked
  // and should be faster than the .showing state
  transition:
    max-height .2s .6s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity .6s .6s cubic-bezier(0.215, 0.61, 0.355, 1); }

// Showing state — opening up
.showing {
  max-height: 100vh;
  bottom: 0;

  // This happens when the open button is clicked
  // max-height transition is to appear more subtle
  transition:
    max-height .4s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity .6s cubic-bezier(0.215, 0.61, 0.355, 1); }

// Simple states
// ---------------------------
.transition {
  transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1); }

.fade-out {
  opacity: 0; }

// Elements state
// ---------------------------
.input-search,
.button-search {
  position: relative;

  .hiding & {
    opacity: 0; } }

.hiding .input-search {
  transform: translate3d(0, 50%, 0); }

.hiding .button-search {
  transform: translate3d(0, 25%, 0); }

// Transitions
.button-search {
  .hiding & {
    transition:
      opacity .4s ease-out,
      transform .2s ease-out; }

  .showing & {
    transition:
      opacity .4s .2s ease-out,
      transform .2s .2s ease-out; } }

.button-search:before {
  .hiding & {
    opacity: 0;
    transition:
      opacity .2s ease-out; }

  .showing & {
    transition:
      opacity .6s .6s ease-out; } }

.input-search {
  .hiding & {
    transition:
      opacity .4s .05s ease-out,
      transform .2s .05s ease-out; }

  .showing & {
    transition:
      opacity .4s .2s ease-out,
      transform .2s .2s ease-out; } }

// No JS for later
// ---------------------------
/*
.no-js .nav-item,
.no-js .input-search
.no-js .button-search {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.no-js .invisible {
  max-height: none;
  position: static }
*/

// Loading
// ---------------------------
@keyframes scaleout {
  0% {
    transform: scale(0); }

  100% {
    transform: scale(1);
    opacity: 0; } }

.loading {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: $warm;
    animation: scaleout 1.2s infinite ease-in-out; } }

// Lazyloaded images
// ---------------------------
.lazyload,
.lazyloading {
	opacity: 0; }

.loading,
.lazyload,
.lazyloaded,
.card-image {
	opacity: 1;
	transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1); }

.card-image.loading {
  transform: translateY(8px); }
