// States
// ---------------------------
$no-output: false;

// Initial state
.hiding {
  max-height: 0;
  opacity: 0;
  bottom: 0;
  
  // This transition happens when the close button is clicked
  // and should be faster than the .showing state
  transition:
    max-height .3s .2s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity .6s ease-out; }

// Showing state
.showing {
  max-height: 100vh;
  bottom: 0;
  
  // This happens when the open button is clicked
  // max-height transition is to appear more subtle
  transition:
    max-height .4s .2s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity .8s ease-out; }

// Transition
// ---------------------------
.input-search,
.button-search {
  position: relative;
  transition: 
    transform .2s .2s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity .2s .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  
  .hiding & {
    transform: translate3d(0, 33%, 0) scale3d(.975, .975, .975);
    opacity: 0; }
  
  .showing & {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

// No JS for later
// ---------------------------
/*
.no-js .nav-item,
.no-js .input-search
.no-js .button-search {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.no-js .invisible {
  max-height: none;
  position: static }
*/