// Invisible state
// ---------------------------
.nav,
.invisible {
  z-index: $z-index-3;
  
  @include breakpoint($c-max) {
    overflow: hidden;
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), max-height .4s .6s ease-out;
    opacity: 0;
    max-height: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    align-content: center; } }

// Visible state
// ---------------------------
.visible {
  @include breakpoint($c-max) {
    opacity: 1;
    max-height: 100vh;
    background-color: $white;
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); } }

// Transition
// ---------------------------
.nav-item,
.input-search,
.button-search {
  position: relative;
  
  @include breakpoint($c-max) {
    transition: 
      transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate3d(0, 36px, 0);
    opacity: 0;
    
    .visible & {
      opacity: 1;
      transform: translate3d(0, 0, 0); } } }

.visible .nav-item {
  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      transition-delay: .0s + ( $i / 10 ); } } }

.visible .button-search {
  transition-delay: .1s; }