// Headings
// ---------------------------
#{headings()} {
  font-family: $heading;
  color: $neutral;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  margin-top: 0;
  font-weight: font-weight(bold);
  
  @include breakpoint($c) {
    font-weight: font-weight(semibold); } }
  
.h1 { 
  font-size: em($text-medium);
  
  @include breakpoint($b) {
    font-size: em($text-xxlarge);
    font-weight: font-weight(semibold); } }
  
.h2 {
  font-size: em($text-small);
  margin-bottom: half($base-px);
  
  @include breakpoint($b) {
    font-size: em($text-xlarge);
    margin-bottom: $base-px; } }
  
.h3 {
  font-size: em($text-small);
  margin-bottom: half($base-px);
  
  @include breakpoint($b) {
    font-size: em($text-large); } }
  
.h4 { 
  font-size: em($text-small);
  margin-bottom: half($base-px);
  
  @include breakpoint($b) {
    font-size: em($text-medium); } }
  
.h5 {
  font-size: em($text-xsmall);
  
  @include breakpoint($b) {
    font-size: em($text-small); } }
  
.h6 {
  font-size: em($text-xxsmall);
  
  @include breakpoint($b) {
    font-size: em($text-xsmall); } }
  
// General
// ---------------------------
body {
  color: $neutral-l1;
  font: 400 100%/1.5 $body; }

p {
  font-size: 14px;
  margin: 0 0 $base-px;
  
  &:last-child {
    margin-bottom: 0; }
  
  @include breakpoint($c) {
    font-size: $base-font-size; }
  
  @supports (-webkit-hyphens: auto) {
    text-align: justify;
    -webkit-hyphens: auto; }
  
  @supports (hyphens: auto) {
    text-align: justify;
    hyphens: auto; } }

a {
  transition: .2s;
  text-decoration: none;
  color: inherit;
    
  // Normalize
  background: transparent; // newer IE versions need this
  
  &:active,
  &:hover {
    outline: 0; } }

.entry-content a {
  color: $secondary;
  font-weight: font-weight(bold); }

// Code
// ---------------------------
code {
  font: 400 em($base-font-size - 2px) $monospace;
  background: rgba($primary, .05);
  border-radius: $radius;
  padding: em(2px, $base-font-size - 2px) em(6px, $base-font-size - 2px); }

pre code {
  overflow: auto;
  color: $primary;
  direction: ltr;
  text-align: left;
  white-space: pre-line;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2; }

.code-tall {
  max-height: 548px; }

kbd {
  background: #444;
  color: $white; }