// Headings
// ---------------------------
#{headings()} {
  font-family: $heading;
  color: $neutral;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  margin-top: 0;
  font-weight: font-weight(semibold); }

// General
// ---------------------------
body {
  color: $neutral-l1;
  font: 400 100%/1.5 $body; }

p {
  font-size: 14px;
  margin: 0 0 $base-px;
  
  &:last-child {
    margin-bottom: 0; }
  
  @include breakpoint($c) {
    font-size: $base-font-size; } }
    
p, figcaption {
  @supports (-webkit-hyphens: auto) {
    text-align: justify;
    -webkit-hyphens: auto; }
  
  @supports (hyphens: auto) {
    text-align: justify;
    hyphens: auto; } }

a {
  transition: .2s;
  text-decoration: none;
  color: inherit;
    
  // Normalize
  background: transparent; // newer IE versions need this
  
  &:active,
  &:hover {
    outline: 0; } }

// Code
// ---------------------------
code {
  font: 400 em($base-font-size - 2px) $monospace;
  background: rgba($alternate, .05);
  border-radius: 2px;
  padding: em(2px, $base-font-size - 2px) em(4px, $base-font-size - 2px); }

pre {
  padding: $line; }

pre code {
  padding: 0;
  overflow: auto;
  direction: ltr;
  text-align: left;
  white-space: pre-line;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  background: none;
  
  @include breakpoint($c) {
    font-size: 18px; } }

.code-tall {
  max-height: 548px; }

// Keyboard
// ---------------------------
kbd {
  display: inline-block;
  padding: 0 $base-px/1.5;
  border-radius: 4px;
  background: $white;
  box-shadow: inset 0 0 0 1px $alternate-l2, 0 1px 2px rgba($alternate, .15);
  font-family: $sans;
  font-weight: font-weight(semibold);
  
  kbd { 
    padding: 0;
    box-shadow: none;
    background: none; } }

kbd,
pre,
samp {
	font-size: $base-font-size; }