// Averta Standard
// ---------------------------
/*
$fonts: (
  extrathin 100 normal,
  extrathinitalic 100 italic,
  thin 200 normal,
  thinitalic 200 italic,
  light 300 normal,
  lightitalic 300 italic,
  regular 400 normal,
  regularitalic 400 italic,
  semibold 600 normal,
  semibolditalic 600 italic,
  bold 700 normal,
  bolditalic 700 italic,
  extrabold 800 normal,
  extrabolditalic 800 italic,
  black 900 normal,
  blackitalic 900 italic
);
*/

$fonts: (
  light 300 normal,
  regular 400 normal,
  regularitalic 400 italic,
  semibold 600 normal,
  bold 700 normal
);

@each $font in $fonts {
  //@include font-face(Averta, "averta/avertastd-#{nth($font, 1)}-webfont", nth($font, 2), nth($font, 3));
}

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: font-url("averta/avertastd-light-webfont.woff") format("woff"), font-url("averta/avertastd-light-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: font-url("averta/avertastd-regular-webfont.woff") format("woff"), font-url("averta/avertastd-regular-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Averta";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: font-url("averta/avertastd-regularitalic-webfont.woff") format("woff"), font-url("averta/avertastd-regularitalic-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: font-url("averta/avertastd-semibold-webfont.woff") format("woff"), font-url("averta/avertastd-semibold-webfont.woff2") format("woff2"); }

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: font-url("averta/avertastd-bold-webfont.woff") format("woff"), font-url("averta/avertastd-bold-webfont.woff2") format("woff2"); }
