{embed="/include/header" entry_title="Portfolio"}

	{exp:channel:entries channel="portfolio" require_entry=“yes" status="Open" disable="categories|member_data|pagination|trackbacks" fixed_order="26|27|45|44|28|29"}
	{if no_results}{redirect="portfolio"}{/if}
	{!-- <a href="{title_permalink='portfolio/view'}" title="View {title} in full." class="item_{url_title}"> --}
		<figure class="item_{url_title}">
			<!-- <img src="{preview_image}" alt="Preview of {title}"> -->
			<figcaption>
				<h2>{title}</h2>
				<p>{exp:trunchtml chars="400" inline="&hellip;"}{item_description}{/exp:trunchtml}</p>
				<p><em>Full view in progress&hellip;</em></p>
				{!-- <span class="button">View more</span> --}
			</figcaption>
		</figure>
	{!--</a> /.item --}
	{/exp:channel:entries}

</div>

<p><a href="/contact" class="ns notice" title="Let's work together! Click for methods of contacting me"><em>Let's work together?</em>Contact me</a></p>

{embed="/include/footer"}