// Default variables override in site/_base.scss
// ---------------------------
$default: (
  sans: sans-serif,
  serif: serif,
  color: #7d7e81,
  baseline: 24px,
  spacing: 8px,
  context: 16px,
  base-font-size: 16px,
  radius: 4px,
  display: inline-block,
  state: normal,
  transition-duration: .2s
) !default;

// Site colours
// ---------------------------
$primary: #FF7E6D !default;
$secondary: #27CBA4 !default;
$tertiary: #FFDB6D !default;
$neutral: #553143 !default;

// Colours (see: site/base for main site palette)
// --------------------------
$black: #000 !default;
$white: #fff !default;
$red: #cf4647 !default;
$blue: #478afa !default;
$cyan: #40bfbb !default;
$green: #6db228 !default;
$orange: adjust-hue(#478afa, -195deg) !default;
$yellow: #fdd24c;
$purple: #7375a5 !default;
$light-grey: #e3e6ea !default;

// Colour alternate names
// ---------------------------
$alt: $blue !default;
$danger: $red !default;
$error: $red !default;
$info: $cyan !default;
$warning: $orange !default;
$success: $green !default;

// Spacing
// ---------------------------
$base-px: map-get($default, spacing) !default;
$line: map-get($default, spacing) * 2 !default;
$baseline: map-get($default, baseline) !default;

// Fonts
// ---------------------------

// Font sizes
// ---------------------------
$base-font-size: map-get($default, base-font-size) !default;
$base-line-height: $baseline !default; // must be px if using compass vertical rhythm
$base-line-height-unitless: 1.5 !default;

// Defaults
// ---------------------------
$radius: map-get($default, radius) !default;

// Default sizing for elements
$default-size: 14px $line !default; // for element mixin
$default-form-size: false !default;
$default-ratio: .555 !default; // for element mixin, .375 32px, .5 = 36px, .7 42px
$default-set-height: 36px !default;
$default-set-height-padding: $base-px !default;
$default-equal: false !default;

// How many times larger should the padding-left/right be than padding-top/bottom
$default-multiplier: 1.5 !default;

// Normal is a good choice, as firefox doesn't 
// allow line-height change on inputs this allows
// for consistency in everything
$default-framework-line-height: normal !default;

// Defaults for element/form paramaters and others
$default-dark-bg: false !default;
$default-shading: false !default;
$default-border: false !default;

// Default form placeholder
$default-placeholder-color: map-get($default, color) !default;
$default-placeholder-font-style: italic !default;

// Default opacity for dark and light values
$default-dark-shadow: .2 !default;
$default-light-shadow: .6 !default;

// z-index
// ---------------------------
$z-index-0: 0 !default;
$z-index-1: 1 !default;
$z-index-2: 2 !default;
$z-index-3: 3 !default;
$z-index-4: 4 !default;
$z-index-5: 5 !default;
$z-index-10: 10 !default;
$z-index-100: 100 !default;
$z-index-200: 200 !default;
$z-index-300: 300 !default;

// Misc
// ---------------------------
$debug-mode: false !default;
$_experimental-css: false !default;