// Normalize
// ---------------------------
// Normalize has a lot of handy defaults set, but at the most basic level
// it's pointless to redfine these rules, just override a variable.

// <kbd> background colour
$default-kbd-background: #fff;

// Set your browser selection colour
$default-selection-background: #fefeca !default;
$default-selection-color: inherit !default;

// Set the <mark> element styles
$default-mark-color: inherit !default;
$default-mark-background: #fefeca !default;

$default-small-size: 75%;