// UI related variables
// ---------------------------
$default-ui-base: (
  font-size: map-get($default, base-font-size),
  font-family: map-get($default, sans),
  padding: 12px 16px,
  line-height: normal
) !default;