// Import related files
// ---------------------------
@import "form/variables",
        "form/base",
        "form/type",
        "form/label",
        "form/shading",
        "form/placeholder";

@mixin form(
  $type             : $default-form-type,
  $color            : $default-form-color,
  $focus-color      : $default-form-focus-color,
  $background-color	: $default-form-background-color,
  $shading          : $default-form-shading
) {

	// Text
	// ---------------------------
	@if map-get($default-text-elements, $type) {		
		@include form-text($color, $focus-color, $background-color, $shading); }
	
	// Select
	// ---------------------------
	@else if $type == select {
		@include form-select($color, $focus-color, $background-color, $shading); }
	
	// Checkbox
	// ---------------------------
	@else if $type == checkbox {
		@include form-checkbox($color, $background-color, $shading); }
	
	// Radio
	// ---------------------------
	@else if $type == radio {
		@include form-radio($color, $background-color, $shading); }
		
	// Submit
	// ---------------------------
	@else if $type == submit {
		@warn "Please use element mixin to style submit buttons."; }
	
	// Not supported
	// ---------------------------
	@else {
		@warn "#{$type} not supported."; } }