// Default vars
// ---------------------------
$default-group-children: ".button" !default;
$default-group-negative-spacing: $default-negative-spacing !default;
$default-group-radius: $radius !default;

// Group
// ---------------------------
// Ideal for selecting groups of buttons and adding radius to the necessary ones
@mixin group(
	$children: $default-group-children,
	$radius  : $default-group-radius
) {
  
  // Select all child elements and apply border-radius to first and last
	#{unquote($children)} {
		@if $radius {
			&:first-child {
				border-radius: $radius 0 0 $radius; }
			
			&:last-child {
				border-radius: 0 $radius $radius 0; } } } }