// Default vars
// ---------------------------
$default-icon-icon: ▻ !default;
$default-icon-place: before !default;
$default-icon-font: $icons !default;
$default-icon-size: $base-font-size !default;
$default-icon-shading: $default-shading !default;
$default-icon-height: $default-set-height !default;
$default-icon-padding: true !default;
$default-icon-color: $white !default;
$default-icon-line-height: $default-framework-line-height !default;
$default-icon-position: false !default;

// Shared
// ---------------------------
%icon-shared {
	display: inline-block; }
	
// Add an icon to an element
// ---------------------------
@mixin icon(
	$icon			: $default-icon-icon, 
	$place		: $default-icon-place,
	$position	: $default-icon-position,
	$font			: $default-icon-font,
	$size			: $default-icon-size,
	$shading	: $default-icon-shading,
	$color		: $default-icon-color,
	$height		: $default-icon-height,
	$padding	: $default-icon-padding
) {
	
	$place: if($place == before, unquote("&:before"), unquote("&:after"));
	$icon: unquote($icon);

	#{$place} {
		@extend %icon-shared;
		content: "#{$icon}";
		font: 400 #{$size}/$default-icon-line-height $font;
		
		@if $position {
			position: absolute;
			
			@if $position == right {
				right: 0; }
			@else if $position == left {
				left: 0; }
			@else {
				@warn "#{$position} is an invalid position, choose left or right"; } } } }