// Helper functions to access various maps
// ---------------------------
$default-font-weights: (
	heavy: 900,
	black: 800,
	bold: 700,
	semibold: 600,
	medium: 500,
	regular: 400,
	light: 300,
	extra-light: 200,
	hairline: 100
);
$default-map-font-weight: regular !default;
$font-weight: $default-font-weights !default;

@function font-weight($weight: $default-map-font-weight) {
	@return map-get($font-weight, $weight); }