// Vars
// ---------------------------
$default-tooltip-position: top !default;
$default-tooltip-data-selector: data-title !default;
$default-tooltip-radius: $radius !default;
$default-tooltip-size: $default-size !default;
$default-tooltip-context: $default-context !default;
$default-tooltip-transition-delay: .01s !default;

// Sometimes you get a 1px space, not ideal.
// Number is added to initial value
$default-tooltip-triangle-pixel-offset: em(1px) !default;
$default-tooltip-triangle-pixel-offset-top: $default-tooltip-triangle-pixel-offset !default;
$default-tooltip-triangle-pixel-offset-right: $default-tooltip-triangle-pixel-offset !default;
$default-tooltip-triangle-pixel-offset-bottom: $default-tooltip-triangle-pixel-offset !default;
$default-tooltip-triangle-pixel-offset-left: $default-tooltip-triangle-pixel-offset !default;

// Shading
$default-tooltip-color: $default-color !default;
$default-tooltip-text-color: $white !default;
$default-tooltip-triangle-size: 6px !default;

// Tooltip
// ---------------------------
@mixin tooltip(
	$position			: $default-tooltip-position,
	$color				: $default-tooltip-color,
	$text-color		: $default-tooltip-text-color,
	$triangle-size: $default-tooltip-triangle-size,
	$radius				: $default-tooltip-radius,
	$size					: $default-tooltip-size,
	$context			: $default-tooltip-context,
	$data-selector: $default-tooltip-data-selector
) {

	$triangle-size: em($triangle-size, $context);
	position: relative;
	
	@include tooltip-position($position);
	
	&:after {
		@extend %tooltip-shared;
		@include tooltip-base($radius);
		@include tooltip-shading($color, $text-color);
    content: attr($data-selector);
    z-index: 2; }
    
  &:before {
  	@extend %tooltip-shared;
  	@include tooltip-triangle($position, $color, $triangle-size);
  	@include wh(0);
    content: "";
    -webkit-backface-visibility: hidden; }
    
  &:hover:before,
  &:hover:after {
  	@extend %tooltip-shared-hover; } }

// Triangle
// ---------------------------
@mixin tooltip-triangle(
	$position			: $default-tooltip-position,
	$color				: $default-tooltip-color,
	$triangle-size: $default-tooltip-triangle-size
) {
	    
  @if $position == top {
	  border-top: $triangle-size solid $color;
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent; }
    
  @else if $position == right {
	  border-right: $triangle-size solid $color;
    border-top: $triangle-size solid transparent;
    border-bottom: $triangle-size solid transparent; }
  
  @else if $position == bottom {
	  border-bottom: $triangle-size solid $color;
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent; }
  
  @else if $position == left {
	  border-left: $triangle-size solid $color;
    border-top: $triangle-size solid transparent;
    border-bottom: $triangle-size solid transparent; } }

// Position
// ---------------------------
@mixin tooltip-position(
	$position			: $default-tooltip-position,
	$triangle-size: $default-tooltip-triangle-size,
	$context			: $default-tooltip-context
) {
	
	$triangle-size: em($triangle-size, $context);

  @if $position == top or $position == bottom {
	  &:before,
	  &:after {
	  	@if $position == top {
			  bottom: 137.5%; }
			@else if $position == bottom {
				top: 137.5%; } }
		  
		&:hover:before,
		&:hover:after {
	    @if $position == top {
			  bottom: 112.5%; }
			@else if $position == bottom {
				top: 112.5%; } }
	    
	  &:after {
			transform: translateX(-50%);
	    left: 50%; }
	    
		&:before {
    	left: 50%;
	    margin-left: -$triangle-size;
	    
	    @if $position == top {
    		margin-bottom: -$triangle-size + $default-tooltip-triangle-pixel-offset-bottom; }
    		
    	@else if $position == bottom {
	    	margin-top: -$triangle-size + $default-tooltip-triangle-pixel-offset-top; } } }
    
  @else if $position == right or $position == left {
	  &:before,
	  &:after {
	  	top: 50%;
	  	
	  	@if $position == right {
			  left: 150%; }
			@else if $position == left {
				right: 150%; } }
		  
		&:hover:before,
		&:hover:after {
	    @if $position == right {
			  left: 125%; }
			@else if $position == bottom {
				right: 125%; } }
	    
	  &:after {
			transform: translateY(-50%); }
	    
		&:before {
			margin-top: -$triangle-size + $default-tooltip-triangle-pixel-offset-top;
			
	    @if $position == right {
    		margin-left: -$triangle-size + $default-tooltip-triangle-pixel-offset-right; }
    		
    	@else if $position == left {
	    	margin-right: -$triangle-size + $default-tooltip-triangle-pixel-offset-left; } } } }

// Shading
// ---------------------------
@mixin tooltip-shading(
	$color			: $default-tooltip-color,
	$text-color	: $default-tooltip-text-color
) {
	background: $color;
  color: $text-color; }

// Base
// ---------------------------
@mixin tooltip-base(
	$radius: $default-tooltip-radius,
	$size: $default-tooltip-size
) {
	padding: $size;
	white-space: nowrap;
	display: inline-block;
	pointer-events: none;
  // visibility: hidden;

	@if $radius {
		border-radius: $radius; } }

%tooltip-shared {
	transition: .2s .4s;
	-webkit-backface-visibility: hidden;
	position: absolute;
	opacity: 0; }

%tooltip-shared-hover {
	transition: .2s .2s ease-in;
  opacity: 1; }