// Override variables from import/_base.scss here
// ---------------------------
$default-grid-columns: 6;
$default-transition-duration: .2s;
$default-grid-container-selector: ".container";

// Stop various browser support
// ---------------------------
$experimental-support-for-khtml: false;
$experimental-support-for-opera: false;
$support-for-original-webkit-gradients: false;
$legacy-support-for-mozilla: false;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

// Colours
// ---------------------------
$primary: #504e4d;
$secondary: #f5634a;
$tertiary: #e3eeea;
$neutral: #97bdb0;

// Fonts
// ---------------------------
$sans: 'Gotham HTF';
$heading: $sans;
$serif: 'Mercury';
$body: $serif;