// centre rem margin
%crm {
	@extend %clear;
	max-width: $d;
	margin: auto auto $line;
	position: relative; }

// For offsetting from the top and bottom of the viewport
%offset-tb {
	padding: {
		top: em($line);
		bottom: em($line); } }

// Add an inset highlight type effect
%inset-highlight {
	box-shadow: 0 1px #fff;
	border-bottom: 1px solid scale-lightness($tertiary, -10%); }