// Site structure
// ---------------------------
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
 
html {
	background: $tertiary;
	overflow-y: scroll;
	color: $primary;
	
	// set font-family to a letter for use in js
	font-family: "a";
	
	@include breakpoint($b) {
		font-family: "b"; }
	
	@include breakpoint($c) {
		font-family: "c"; }
	
	@include breakpoint($d) {
		font-family: "d"; }
	
	@include breakpoint($e) {
		font-family: "e"; }
	
	@include breakpoint($f) {
		font-family: "f"; } }

html,
body {
	height: 100%; }

/*
	<div class="grid">
		
		<div class="grid-3">
			<section class="box some-unique-name">
			</section>
		</div>
		
		<div class="grid-3">
			<section class="box some-unique-name">
			</section>
		</div>
		
	</div> */
.box {
	border-radius: $radius;
	box-shadow: inset 0 0 0 2px scale-lightness($tertiary, -30%);
	background: scale-lightness($tertiary, -20%);
	text-align: center;
	vertical-align: middle;
	padding: em($base-px); }