// Headings
// ---------------------------
#{headings()} {
	font-family: $heading;
	color: $primary;
	padding: 0;
	font-weight: 700; }

h1, .h1 {
	@include adjust-font-size-to($base-px*4);
	margin: 0 0 rhythm(1, $base-px*4); }
	
h2, .h2 {
	@include adjust-font-size-to($base-px*3);
	margin: 0 0 rhythm(1, $base-px*3); }
	
h3, .h3 {
	@include adjust-font-size-to($base-px*2);
	margin: 0 0 rhythm(1, $base-px*2); }
	
h4, .h4 {
	@include adjust-font-size-to(21px);
	margin: 0 0 rhythm(1, 21px); }
	
h5, .h5 {
	@include adjust-font-size-to(18px);
	margin: 0 0 rhythm(1, 18px); }
	
h6, .h6 {
	@include adjust-font-size-to($base-font-size);
	margin: 0 0 rhythm(1, $base-font-size); }

.entry-latest-title {
	color: $secondary;
	font: 300 #{em(24px)}/1 $heading;
	margin: 0 0 em($line, 24px);
	
	@include breakpoint($c) {
		font: 300 #{em(36px)}/1 $heading;
		margin: 0 0 em($line*2, 36px); } }

// General
// ---------------------------
body {
	font: 400 100%/1.5 $body; }

p {
	@extend %margin-bottom;
	text-shadow: 0 1px 0 rgba($white, $default-light-shadow); }

a {
	@extend %transition;
	text-decoration: none;
	color: $secondary;
	
	&:hover, &:focus {
		color: $primary; } }
		
// Code
// ---------------------------
code {
	font: 400 em($base-font-size - 2px)/#{em($base-line-height)} $monospace;
	background: rgba($primary, .05);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba($white, .4);
	padding: em(2px) em(6px);
	
	pre & {
		max-height: 200px;
		overflow: auto;
		color: $primary;
		direction: ltr;
		text-align: left;
		white-space: pre-line;
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2; } }

// Reusable
// ---------------------------
.text-right {
	text-align: right; }
	
.text-center {
	text-align: center; }

.mask {
	-webkit-mask: image-url("mask.png") 400px -200px; }

.with-subheading {
	line-height: 1.25;
	margin-bottom: 0; }

.subheading {
	line-height: 1.25;
	font-weight: 400;
	font-family: $sans;
	color: scale-lightness($primary, 10%); }

.accordion {
	cursor: pointer; }

// Extends
// ---------------------------
%heading-bold {
	font-weight: 700; }

%small-caps {
	@extend %heading-bold;
	text-transform: uppercase;
	letter-spacing: em(2px); }
	
%with-border {
	padding-bottom: rhythm(1, $base-px*4);
	border-bottom: 1px solid $primary; }