<!DOCTYPE html>
<!--[if IE]><html lang="en" class="wf-loading hfeed ie no-js{if embed:body_class}{embed:body_class}{if:elseif segment_1 == ''}{exp:channel:entries channel='blog' limit='1' status='open|latest' disable='member_data|trackbacks|pagination'} {url_title} home{/exp:channel:entries}{if:elseif segment_1 && segment_2 == ''} {segment_1}{if:elseif segment_2 == 'entry'} {segment_2} {exp:channel:entries channel='blog' limit='1' status='open|latest' disable='member_data|trackbacks|pagination'}{url_title}{/exp:channel:entries}{/if}"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="wf-loading hfeed no-js{if embed:body_class}{embed:body_class}{if:elseif segment_1 == ''}{exp:channel:entries channel='blog' limit='1' status='open|latest' disable='member_data|trackbacks|pagination'} {url_title} home{/exp:channel:entries}{if:elseif segment_1 && segment_2 == ''} {segment_1}{if:elseif segment_2 == 'entry' OR segment_2 == 'view'} {segment_2} {exp:channel:entries channel='blog|portfolio' limit='1' status='open|latest' disable='member_data|trackbacks|pagination'}{url_title}{/exp:channel:entries}{/if}"><!--<![endif]-->
<head>
	{!-- Meta --}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{!-- In loving memory of Albert Phillips --}
	<title>
		{if segment_2 == "category"}
			{exp:channel:entries channel="blog|portfolio|site|downloads" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
				{exp:channel:category_heading channel="blog"}
					{category_name} | Steve McKinney
				{/exp:channel:category_heading}
			{/exp:channel:entries}
		{if:elseif embed:entry_title}
			{embed:entry_title} | Steve McKinney
		{if:else}
			Blog & Portfolio of Steve McKinney, a Manchester web designer | {site_name}
		{/if}
	</title>
	<meta name="description" content="The portfolio of Steve McKinney (iamsteve), a Manchester based web designer/front end developer.">
	<meta name="keywords" content="Steve, McKinney, web, design, designer, html, css, manchester, portfolio, iamsteve, iamsteve.me, blog, freelance, design, i am steve">
	<meta name="author" content="Steve McKinney">
	<meta name="apple-mobile-web-app-title" content="I am Steve">
	{!-- Mobile --}
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	{!-- Verification --}
	<meta name="google-site-verification" content="kvxM4eH_QHyUGdJK0LEQj3aZi7Vew5AooNVxk79zruU">
	{!-- Twitter card --}
	{if segment_2 == 'entry'}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@irsteve">
	<meta name="twitter:description" content="{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}{exp:eehive_hacksaw chars="250"}{blog_article}{/exp:eehive_hacksaw}{/exp:channel:entries}">
	<meta name="twitter:title" content="{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}{title}{/exp:channel:entries}">
	<meta name="twitter:url" content="{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}{title_permalink='blog/entry'}{/exp:channel:entries}">
	{/if}
	
	{!-- CSS --}
	{exp:minimee:css minify="yes"}<link href="{global:theme_url}/ee/assets/css/master.css" rel="stylesheet">{/exp:minimee:css}
	{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
		{if extra_css}<link href="{global:theme_url}/ee/assets/css/custom/{extra_css}.css?v=1" rel="stylesheet">{/if}
	{/exp:channel:entries}
	{!-- Javascript --}
	{exp:minimee:js minify="yes"}<script src="{global:theme_url}/ee/assets/js/modernizr.js"></script>{/exp:minimee:js}
	<script>(function(){var config={kitId:'fbz2ewv',scriptTimeout:3000};var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)})();</script>
	{!-- Per page stuff --}
	{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
		{if extra_js}<script src="//use.typekit.net/{extra_js}.js"></script><script>try{Typekit.load();}catch(e){}</script>{/if}
	{/exp:channel:entries}
	
	{!-- Other --}
	<link rel="author publisher" href="https://plus.google.com/114129050502065289651/posts">
	<link rel="canonical" href="{exp:seo_lite}{canonical_url}{/exp:seo_lite}">
	<link rel="alternate" type="application/rss+xml" title="Blog | Portfolio of Steve McKinney" href="http://iamsteve.me/blog/feed">
	{!-- Icons --}
	<link rel="apple-touch-icon" href="http://iamsteve.me/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="114x114" href="http://iamsteve.me/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" sizes="72x72" href="http://iamsteve.me/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" sizes="144x144" href="http://iamsteve.me/apple-touch-icon-144x144-precomposed.png">
	<link rel="shortcut icon" href="http://iamsteve.me/favicon.ico">
	<!--[if lt IE]>
		<link href="{global:theme_url}/ee/assets/css/ie.css" rel="stylesheet">
	<![endif]-->
</head>
<body class="hentry">
<!--[if lt IE 9]>
	<p class="notice-warning" style="padding: 12px">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
	<div class="container">
		<header role="banner">
			<h1><a href="/" title="Back to the homepage">I am Steve</a></h1>
			<a href="#nav" title="To the navigation" class="mobile">&#xE9A1;</a>
			<nav role="navigation" aria-hidden="false" class="nav">
				<ul id="nav">
					<li><a href="{global:theme_url}" title="Back to the homepage"{if segment_1 == ""} class="active"{/if} data-icon="home">Home</a></li>
					<li><a href="{global:theme_url}/blog" title="My blog about design/technology related things"{if segment_1 == "blog"} class="active"{/if} data-icon="compose">Blog</a></li>
					<li><a href="{global:theme_url}/portfolio" title="View all my work"{if segment_1 == "portfolio"} class="active"{/if} data-icon="picture">Portfolio</a></li>
					<li><a href="{global:theme_url}/about" title="Detailed information about myself"{if segment_1 == "about"} class="active"{/if} data-icon="user">About</a></li>
					<li><a href="{global:theme_url}/contact" title="My contact details"{if segment_1 == "contact"} class="active"{/if} data-icon="envelope">Contact</a></li>
				</ul>
			</nav>
		</header>
		{if segment_1 == ""}
			{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
				<h1 class="title entry-title"><a href="{title_permalink='blog/entry'}" title="Read {title} in full.">{title}</a></h1>
			{/exp:channel:entries}
		{if:elseif segment_2 == "category"}
			{exp:channel:entries channel="blog|portfolio|site|downloads" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
				{exp:channel:category_heading channel="blog"}
					<h1 class="title entry-title">{category_name}</h1>
				{/exp:channel:category_heading}
			{/exp:channel:entries}
		{if:elseif embed:entry_title}
			{exp:channel:entries channel="blog|portfolio|site|downloads" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
				<h1 class="title entry-title"><a href="{title_permalink='blog/entry'}" title="Read {title} in full.">{embed:entry_title}</a></h1>
			{/exp:channel:entries}
		{if:else}
			<h1 class="title entry-title">{segment_1}</h1>
		{/if}
	</div>	
	<div role="main">