@include respond-min($e) {

	html, body:after {
		font-family: "e"; }
	
	[role="navigation"] {
		a {
			@include rem(padding, $base-px $line $base-px $line*1.95);
			&:before {
				@include rem(top, $base-px);
				@include rem(left, $line); } } }
	
	[role="contentinfo"] {
		margin-right: auto;
		margin-left: auto; }
	
	.me {
		width: 50.833333333%;
		margin: 0 2.5% 0 0; }
	.dribbble {
		width: 46.666666667%; }
	.shot {
		margin: 3px cp(24px, 448px) cp(24px, 448px) 0; }

}