@include respond-min($f) {
	html, body:after {
		font-family: "f"; }
	
/*
	[role="main"] {
		width: 60%;
		padding: 0 $line*2 0 7.5%; }
	
	[role="main"], [role="complementary"] {
		display: inline-block;
		vertical-align: top; }
	
	[role="article"] {
		padding-right: 0;
		padding-left: 0; }
		
	[role="complementary"] {
		width: 40%;
		padding: 0 7.5% 0 0;
		margin: 0 0 0 -4px; }
		.me, .dribbble {
			margin: 0 0 $line;
			float: none;
			width: auto; }
*/
/*			
	[role="navigation"] {
		li {
			.loaded & {
				&:nth-of-type(2) a {
					@include animation(nav .25s .1s ease-in-out);
					@include animation-fill-mode(forwards); }
				&:nth-of-type(3) a {
					@include animation(nav .25s .15s ease-in-out);
					@include animation-fill-mode(forwards); }
				&:nth-of-type(4) a {
					@include animation(nav .25s .2s ease-in-out);
					@include animation-fill-mode(forwards); }
				&:nth-of-type(5) a {
					@include animation(nav .25s .25s ease-in-out);
					@include animation-fill-mode(forwards); } } }
			a {
				.loaded & {
					@include animation(nav .25s .05s ease-in-out);
					@include animation-fill-mode(forwards); }
				.no-js &, .no-cssanimations & {
					opacity: 1;
					top: 0; }
				opacity: 0; } }
			
			
*/
	
}