@import "../import/framework";

.title {
	@include transition(transform .2s linear, text-shadow .7s ease);
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto; 
	margin-right: auto;
	display: block;
	text-align: center;
	font-family: "bistro-script-web", sans-serif;
	width: 96%;
	margin: auto; }
.cssmask .title {
	-webkit-mask: none !important; }
.about_version_4 .title:hover {
	@include transform(scale(1.015) translateY(10px));
	text-shadow: 0 -25px 5px rgba(0,0,0,0.1); }