<aside class="meta">
	{categories channel="blog" style="linear" parent_only="yes" limit="1"}
	  <a href="{path='blog/index'}" rel="category tag">{category_name}</a>
  {/categories}
	
	{if segment_2 != "entry"}<a href="{title_permalink='blog/entry'}" title="Read {title} in full." rel="bookmark">Continue reading</a>{/if}
	
	<div class="screenreader">
    <a href="{site_url}" class="author vcard url fn" rel="author">Steve McKinney</a>
	  <time datetime="{edit_date format='%Y-%m-%dT%H:%i:%s%O'}" class="updated screenreader">
      {edit_date format="%Y/%m/%d"}
    </time>
  </div>
</aside>