<article data-href="{title_permalink='blog/entry'}" class="card card-small">
	<div class="card-image mb-half">
  	{if thumbnail}
  	  {thumbnail}
  	    {if small_file_url}
  	      <img src="{url:small}" srcset="{url:small-2x} 2x">
        {if:else}
          <img src="{url}">
        {/if}
      {/thumbnail}
  	{if:else}
  	  <img src="{site_url}dist/images/{design}">
  	{/if}
	</div>
	<div class="card-body">
		<div class="meta dashes mb-quarter">
  		<time datetime="{entry_date format='%Y-%m-%dT%H:%i:%s%O'}" pubdate>
        {entry_date format="%F %j%S %Y"}
      </time>
		</div>
		<h2 class="f6 f5-b f4-d mb-undo neutral-l1"><a href="{title_permalink='blog/entry'}">{title}</a></h2>
	</div>
</article>