<article data-href="{title_permalink='blog/entry'}" class="card card-large">
	<div class="card-image">
  	{if image}
  	  {image}
  	    {if large_file_url}
  	      <img src="{url:large}" srcset="{url:large-2x} 2x">
        {if:else}
          <img src="{url}">
        {/if}
      {/image}
    {if:elseif category == 7}
  	  <img src="{site_url}dist/images/{design}">
  	{if:else}
  	  <img src="{site_url}dist/images/{code}">
  	{/if}
	</div>
	<div class="card-body">
  	<div class="meta dashes meta-to-calendar mb-half">
      <time class="calendar" datetime="{entry_date format='%Y-%m-%dT%H:%i:%s%O'}" pubdate>
        <span class="month">{entry_date format="%F"}</span>
        <span class="day">{entry_date format="%j"}</span>
      </time>
    </div>
		<h2 class="f4 f3-b f2-d mb-half primary"><a href="{title_permalink='blog/entry'}">{title}</a></h2>
		{excerpt}
		{blog_meta}
  </div>
</article>