<style>
  /* LOADER */
	.ml-form-embedSubmitLoad {
	  display: inline-block;
	  width: 20px;
	  height: 20px;
	}
	.ml-form-embedSubmitLoad:after {
	  content: " ";
	  display: block;
	  width: 11px;
	  height: 11px;
	  margin: 1px;
	  border-radius: 50%;
	  border: 4px solid #fff;
	  border-color: #EAFAF6 #EAFAF6 #EAFAF6 transparent;
	  animation: ml-form-embedSubmitLoad 1.2s linear infinite;
	}
	@keyframes ml-form-embedSubmitLoad {
	  0% {
		transform: rotate(0deg);
	  }
	  100% {
		transform: rotate(360deg);
	  }
	}

  .ml-mobileButton-horizontal { display: none; }

	.ml-mobileButton-horizontal button {

    background-color: #34caa4;
    border-color: #34caa4;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: none;
    color: #EAFAF6 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    font-weight: 700;
    line-height: 20px;
    padding: 10px !important;
    width: 100%;

	}

  @media only screen and (max-width: 486px) {
    #mlb2-1003594.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
      padding: 0 0 10px 0 !important;
    }
    .ml-hide-horizontal { display: none !important; }
    .ml-mobileButton-horizontal { display: block !important; margin-bottom: 20px; }
    .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal > div { padding-bottom: 0px !important; }
  }
  @media only screen and (max-width: 486px) {
    .ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields {
      margin-bottom: 10px !important;
      width: 100% !important;
    }
  }
</style>
<div id="mlb2-1003594" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1003594">
  <div class="ml-form-align-center">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyHorizontal row-form">
        <form class="form form-newsletter validate end ml-block-form ml-block-form" action="https://app.mailerlite.com/webforms/submit/q7h2j4" data-code="q7h2j4" method="post" target="_blank">
          <div class="field field-text field-third ml-field-group ml-field-name">
            <label for="fields[name]" class="sans pb2 field-label">First name</label>
            <input type="text" class="input input-text" data-inputmask name="fields[name]">
          </div>
          <div class="field field-text field-two-thirds nml ml-field-group ml-field-email">
          	<label for="fields[email]" class="sans pb2 field-label">Email</label>
            <input type="email" class="input input-text" data-inputmask name="fields[email]" required>
          </div>
          <input type="hidden" name="fields[marketing_permissions]" value="Email">
          <input type="hidden" name="fields[subfrom]" value="{last_page_visited}">
          <input type="hidden" name="ml-submit" value="1">
          <div class="form-actions pt2 text-right ml-button-horizontal">
            <button type="submit" class="button button-tertiary ml-hide-horizontal flex-auto">Sign me up</button>
            <button disabled="disabled" style="display: none;" type="button" class="loading btn btn-block">
              <div class="ml-form-embedSubmitLoad"><div></div><div></div><div></div><div></div></div>
  					</button>
          </div>
        </form>
      </div>
      <div class="ml-form-successBody row-success" style="display: none">
        <div class="ml-form-successContent">
          <h3 class="f2-l">Thank you!</h3>
          <p class="mb4 f3-l">You’ll receive an email to confirm your subscription almost immediately. If you don’t check your spam folder.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function ml_webform_success_1003594() {
    try {
      window.top.location.href = 'https://iamsteve.me/confirm';
    }
    catch (e) {
      window.location.href = 'https://iamsteve.me/confirm';
    }
  }
</script>
<!-- <img src="https://track.mailerlite.com/webforms/o/1003594/q7h2j4?v03ee2804ef2f008535475a5d62f02f94" width="1" height="1" style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;" border="0"> -->
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v03ee2804ef2f008535475a5d62f02f94" async></script>
