<form action="https://iamsteve.us2.list-manage.com/subscribe/post?u=792e8cc3e11a22440643ca460&amp;id=8e98b1a910&SUBFROM={current_url}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form form-newsletter validate end" target="_blank" novalidate>
  <div class="field field-text field-third mc-field-group">
  	<label for="mce-FNAME" class="sans pb2 field-label">First name</label>
  	<input type="text" value="" name="FNAME" class="input input-text" id="mce-FNAME">
  </div>
  <div class="field field-text field-two-thirds nml mc-field-group">
  	<label for="mce-EMAIL" class="sans pb2 field-label">Email</label>
  	<input type="email" name="EMAIL" class="input input-text" id="mce-EMAIL">
  </div>
  <div class="form-actions pt2 text-right">
    <input type="submit" value="Join list" name="subscribe" id="mc-embedded-subscribe" class="button button-tertiary">
  </div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_792e8cc3e11a22440643ca460_8e98b1a910" tabindex="-1"></div>
</form>
<div id="mlb2-894966" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-894966">
  <div class="ml-form-align-center ">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        <form class="ml-block-form" action="https://app.mailerlite.com/webforms/submit/v4g1q8" data-code="v4g1q8" method="post" target="_blank">
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow ">
              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                <input type="email" class="form-control" data-inputmask="" name="fields[email]" value="" placeholder="Email">
              </div>
            </div>
            <div class="ml-form-fieldRow ml-last-item">
              <div class="ml-field-group ml-field-name ml-validate-required">
                <input type="text" class="form-control" data-inputmask="" name="fields[name]" value="" placeholder="Name">
              </div>
            </div>
          </div>
          <div class="ml-form-embedPermissions" style="">
            <div class="ml-form-embedPermissionsContent default">
              <h4>Marketing Permissions</h4>
              <p>The information you provide on this form will only be used to provide you with updates and personalised marketing. Your privacy is important to me! Please let me know how you’d like to be contacted:</p>
              <div class="ml-form-embedPermissionsOptions">
                <div class="ml-form-embedPermissionsOptionsCheckbox">
                  <label>

                        <input type="checkbox" name="gdpr[]" value="Email" xp-if="gdpr.title">

                        <div class="label-description">Email</div>

                      </label>
                  <div class="description" xp-if="gdpr.description"></div>
                </div>
              </div>
            </div>
            <div class="ml-form-embedMailerLite-GDPR">
              <p>We use MailerLite as our marketing automation platform. By clicking below to submit this form, you acknowledge that the information you provide will be transferred to MailerLite for processing in accordance with their <a href="https://www.mailerlite.com/privacy-policy" target="_blank">Privacy Policy</a> and <a href="https://www.mailerlite.com/terms-of-service" target="_blank">Terms of Service</a>.</p>
            </div>
          </div>
          <input type="hidden" name="fields[subfrom]" value="Mailerlite">
          <input type="hidden" name="ml-submit" value="1">
          <div class="ml-form-embedSubmit">
            <button type="submit" class="primary">Sign up</button>
            <button disabled="disabled" style="display: none;" type="button" class="loading btn btn-block">

                  <img src="https://static.mailerlite.com/images/rolling.gif" width="20" height="20" style="width: 20px; height: 20px; margin: 0 auto; display: block;" border="0">

                </button>
          </div>
        </form>
      </div>
      <div class="ml-form-successBody row-success" style="display: none">
        <div class="ml-form-successContent">
          <h4>Thank you!</h4>
          <p>You have successfully joined our subscriber list.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function ml_webform_success_894966() {
    try {
        window.top.location.href = 'https://iamsteve.me/thanks';
      } catch (e) {
        window.location.href = 'https://iamsteve.me/thanks';
      }
    }
</script>
<img src="https://track.mailerlite.com/webforms/o/894966/v4g1q8?v3772b61f1ec61c541c401d4eadfdd02f" width="1" height="1" class="visiblyhidden" border="0">
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v3772b61f1ec61c541c401d4eadfdd02f" async></script>
