<meta name="robots" content="NOODP">
	
{if segment_2 == "category"}
  <meta name="robots" content="noindex, follow">
{/if}

{!-- Mobile --}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="iamsteve">

{!-- Verification --}
<meta name="google-site-verification" content="kvxM4eH_QHyUGdJK0LEQj3aZi7Vew5AooNVxk79zruU">


{!-- Other --}
<link rel="alternate" type="application/rss+xml" title="iamsteve • design & code blog" href="https://iamsteve.me/blog/feed">

{!-- Icons --}
<link rel="shortcut icon" href="https://iamsteve.me/favicon.ico?v=3">
<link rel="mask-icon" sizes="any" href="{site_url}mask-icon.svg?v=2" color="#ff7e6d">
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png?v=3">

{!-- Metadata --}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{site_url}",
          "name": "Home"
        }
      }{if segment_2},{/if}
      
      {!-- Blog categories --}
      
      {if segment_2 == "category"}
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{site_url}blog",
            "name": "Blog"
          }
        },
        {exp:channel:entries channel="blog|site" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
          {exp:channel:category_heading channel="blog"}
            {
              "@type": "ListItem",
              "position": 3,
              "item": {
                "@id": "{path='blog/index'}",
                "name": "{category_name}"
              }
            },
        	{/exp:channel:category_heading}
        {/exp:channel:entries}
        
      {!-- Blog entries --}
      
      {if:elseif segment_2 == "entry"}
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{site_url}blog",
            "name": "Blog"
          }
        },
        {exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"} 
          {categories channel="blog" style="linear" parent_only="yes" limit="1"}
            {
              "@type": "ListItem",
              "position": 3,
              "item": {
                "@id": "{path='blog/index'}",
                "name": "{category_name}"
              }
            },
        	{/categories}
        {/exp:channel:entries}
        {
          "@type": "ListItem",
          "position": 4,
          "item": {
            "@id": "{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}{title_permalink='blog/entry'}{/exp:channel:entries}",
            "name": "{embed:entry_title}"
          }
        }
      
      {if:elseif segment_2 == "view"}
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{site_url}portfolio",
            "name": "Portfolio"
          }
        },
        {exp:channel:entries channel="portfolio" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "{title_permalink='portfolio/view'}",
              "name": "{embed:entry_title}"
            }
          }
        {/exp:channel:entries}
      
      {!-- Pages --}
      
      {if:elseif segment_1 != ''}
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{site_url}/{segment_1}",
            "name": "{embed:entry_title}"
          }
        }
      {/if}
    ]
  }
</script>
{if segment_2 == "entry"}
	{exp:channel:entries channel="blog" status="latest|open|draft" disable="member_data|trackbacks|pagination"}
  	<meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@irsteve">
    <meta name="twitter:creator" content="@irsteve">
    <meta name="twitter:title" content="{title}">
    <meta name="twitter:description" content="{exp:streeng characters="200" allowed="none"}{excerpt}{/exp:streeng}">
    <meta name="twitter:url" content="{title_permalink='blog/entry'}">
    <meta property="og:url" content="{title_permalink='blog/entry'}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{title}">
    <meta property="og:description" content="{exp:streeng characters="200" allowed="none"}{excerpt}{/exp:streeng}">

    {if image}
  	  {image}
        <meta prefix="og:http://ogp.me/ns#" property="og:image" content="{url}">
        <meta prefix="og:http://ogp.me/ns#" property="og:image:width" content="{width}">
        <meta prefix="og:http://ogp.me/ns#" property="og:image:height" content="{height}">
      {/image}
    {if:else}
      <meta prefix="og:http://ogp.me/ns#" property="og:image" content="{global:theme_url}/assets/images/og.png">
    {/if}
    
    {if image}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{image}">
    {if:else}
      <meta name="twitter:image" content="{site_url}assets/images/og.png">
    {/if}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage":{
        "@type": "WebPage",
        "@id": "{title_permalink='blog/entry'}"
      },
      "headline": "{title}",
      "image": {
        "@type": "ImageObject",
        {if image}
          {image}
            "url": "{url}",
            "width": {width},
            "height": {height}
          {/image}
        {if:else}
          "url": "{site_url}assets/images/og.png",
          "width": 720,
          "height": 480
        {/if}
      },
      "datePublished": "{entry_date format='%Y-%m-%dT%H:%i:%s%O'}",
      "dateModified": "{edit_date format='%Y-%m-%dT%H:%i:%s%O'}",
      "author": {
        "@type": "Person",
        "name": "Steve McKinney"
      },
      "publisher": {
        "@type": "Organization",
        "name": "iamsteve",
        "logo": {
          "@type": "ImageObject",
          "url": "{site_url}assets/images/iamsteve-logo.png",
          "width": "624px",
          "height": "192px"
        }
      },
      "description": "{exp:streeng encode="yes" find="." replace="" allowed="none"}{excerpt}{/exp:streeng}"
    }
    </script>
  {/exp:channel:entries}
{if:else}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@irsteve">
  <meta name="twitter:creator" content="@irsteve">
  <meta name="twitter:description" content="iamsteve is a design & code blog. Learn to design beautiful websites, starting in Illustrator through to code.">
  <meta name="twitter:title" content="iamsteve • design and code">
  <meta name="twitter:url" content="{site_url}">
  <meta name="twitter:image" content="{site_url}assets/images/og.png">
  <meta prefix="og:http://ogp.me/ns#" property="og:image" content="{global:theme_url}/assets/images/og.png">
  <meta prefix="og:http://ogp.me/ns#" property="og:image:width" content="720">
  <meta prefix="og:http://ogp.me/ns#" property="og:image:height" content="480">
  <meta prefix="og:http://ogp.me/ns#" property="og:url" content="{site_url}">
  <meta property="og:title" content="iamsteve • design and code">
  <meta property="og:description" content="iamsteve is a design & code blog. Learn to design beautiful websites, starting in Illustrator through to code.">
{/if}
{layout:head}