<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{site_url}",
          "name": "Home"
        }
      }{if segment_2},{/if}
      
      {!-- Blog categories --}
      
      {if segment_2 == "category"}
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{global:theme_url}/blog",
            "name": "Blog"
          }
        },
        {exp:channel:entries channel="blog|site" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
          {exp:channel:category_heading channel="blog"}
            {
              "@type": "ListItem",
              "position": 3,
              "item": {
                "@id": "{path='blog/index'}",
                "name": "{category_name}"
              }
            },
        	{/exp:channel:category_heading}
        {/exp:channel:entries}
        
      {!-- Blog entries --}
      
      {if:elseif segment_2 == "entry"}
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{global:theme_url}/blog",
            "name": "Blog"
          }
        },
        {exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"} 
          {categories channel="blog" style="linear" parent_only="yes" limit="1"}
            {
              "@type": "ListItem",
              "position": 3,
              "item": {
                "@id": "{path='blog/index'}",
                "name": "{category_name}"
              }
            },
        	{/categories}
        {/exp:channel:entries}
        {
          "@type": "ListItem",
          "position": 4,
          "item": {
            "@id": "{exp:channel:entries channel="blog" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}{title_permalink='blog/entry'}{/exp:channel:entries}",
            "name": "{embed:entry_title}"
          }
        }
      
      {if:elseif segment_2 == "view"}
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{global:theme_url}/portfolio",
            "name": "Portfolio"
          }
        },
        {exp:channel:entries channel="portfolio" limit="1" status="open|latest" disable="member_data|trackbacks|pagination"}
          {
            "@type": "ListItem",
            "position": 3,
            "item": {
              "@id": "{title_permalink='portfolio/view'}",
              "name": "{embed:entry_title}"
            }
          }
        {/exp:channel:entries}
      
      {!-- Pages --}
      
      {if:elseif segment_1 != ''}
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{global:theme_url}/{segment_1}",
            "name": "{embed:entry_title}"
          }
        }
      {/if}
    ]
  }
  </script>
{if segment_2 == "entry"}
	{exp:channel:entries channel="blog" status="latest|open|draft"}
  	<meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@irsteve">
    <meta name="twitter:creator" content="@irsteve">
    <meta name="twitter:title" content="{title}">
    <meta name="twitter:description" content="{exp:streeng characters="250" allowed="none"}{excerpt}{/exp:streeng}">

    {if image}
      <meta name="twitter:image" content="{image}">
    {if:else}
      <meta name="twitter:image" content="{global:theme_url}/assets/images/og.png">
    {/if}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage":{
        "@type": "WebPage",
        "@id": "{embed:url}"
      },
      "headline": "{title}",
      "image": {
        "@type": "ImageObject",
        {if image}
          "url": "{embed:image}",
          "height": 800,
          "width": 800
        {if:else}
          "url": "{global:theme_url}/assets/images/og.png",
          "height": 800,
          "width": 800
        {/if}
      },
      "datePublished": "{embed:published}",
      "dateModified": "{embed:updated}",
      "author": {
        "@type": "Person",
        "name": "Steve McKinney"
      },
       "publisher": {
        "@type": "Organization",
        "name": "iamsteve",
        "logo": {
          "@type": "ImageObject",
          "url": "{global:theme_url}/assets/images/logo.jpg",
          "width": 600,
          "height": 60
        }
      },
      "description": "{excerpt}"
    }
    </script>
  {/exp:channel:entries}
{/if}