{paginate}
  {exp:stash:set_list name="pagination"}
    
    {pagination_links}
      {previous_page}{stash:previous_page}{pagination_url}{/stash:previous_page}{/previous_page}
      {next_page}{stash:next_page}{pagination_url}{/stash:next_page}{/next_page}
      {stash:current_page}{current_page}{/stash:current_page}
      {stash:total_pages}{total_pages}{/stash:total_pages}

      {page}
        {stash:pagination_url}{pagination_url}{/stash:pagination_url}
        {stash:pagination_page_number}{pagination_page_number}{/stash:pagination_page_number}
      {/page}
    {/pagination_links}

  {/exp:stash:set_list}
{/paginate}

{paginate}
  {pagination_links}
    <ul>
      {first_page}
        <li><a href="{pagination_url}" class="page-first">First Page</a></li>
      {/first_page}

      {previous_page}
        <li><a href="{pagination_url}" class="page-previous">Previous Page</a></li>
      {/previous_page}

      {page}
        <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
      {/page}

      {next_page}
        <li><a href="{pagination_url}" class="page-next">Next Page</a></li>
      {/next_page}

      {last_page}
        <li><a href="{pagination_url}" class="page-last">Last Page</a></li>
      {/last_page}
    </ul>
  {/pagination_links}
{/paginate}