<article class="card card-small">
	<a href="{title_permalink='blog/entry'}" class="card-image db mb2">
  	{if thumbnail}
  	  {thumbnail}
  	    {if small_file_url}
  	      <img data-src="{url:small}" data-srcset="{url:small-2x} 2x" class="lazyload">
        {if:else}
          <img data-src="{url}" class="lazyload">
        {/if}
      {/thumbnail}
  	{if:else}
  	  {categories channel="blog" limit="1"}
        {if category_id == 7}
          <img data-src="{site_url}dist/images/{design}" class="lazyload">
        {if:else}
          <img data-src="{site_url}dist/images/{code}" class="lazyload">
        {/if}
      {/categories}
  	{/if}
	</a>
	<div class="card-body">
		<div class="meta dashes mb1 mb2-b">
    	<time datetime="{entry_date format='%Y-%m-%dT%H:%i:%s%O'}" pubdate>
        {entry_date format="%F %j%S %Y"}
      </time>
  	</div>
		<h2 class="f6 f5-b f4-d mb0 neutral-l1"><a href="{title_permalink='blog/entry'}">{title}</a></h2>
	</div>
</article>