{preload_replace:background="{image}{exp:iamsteve:background image='{url}'}{/image}"}

<article class="card card-small">
	<a href="{title_permalink='blog/entry'}" class="card-image db mb2 loading" style="background-color: {if image}{background}{if:else}{color}{/if}">
  	{if thumbnail}
  	  {thumbnail}
  	    {if small_file_url}
  	      <img data-src="{url:small}" data-srcset="{url:small-2x} 2x" alt role="presentation" class="lazyload">
  	      <noscript><img src="{url:small}" srcset="{url:small-2x} 2x" alt role="presentation"></noscript>
        {if:else}
          <img data-src="{url}" class="lazyload">
          <noscript><img src="{url}"></noscript>
        {/if}
      {/thumbnail}
  	{if:else}
  	  {categories channel="blog" limit="1"}
        {if category_id == 7}
          <img data-src="{global:theme_url}/dist/images/{design}" alt role="presentation" class="lazyload">
          <noscript><img src="{global:theme_url}/dist/images/{design}" alt role="presentation"></noscript>
        {if:else}
          <img data-src="{global:theme_url}/dist/images/{code}" alt role="presentation" class="lazyload">
          <noscript><img src="{global:theme_url}/dist/images/{code}" alt role="presentation"></noscript>
        {/if}
      {/categories}
  	{/if}
	</a>
	<div class="card-body">
		<div class="meta f8-d dashes mb1 mb2-b">
    	<time class="warm-l1" datetime="{entry_date format='%Y-%m-%dT%H:%i:%s%O'}" pubdate>
        {entry_date format="%F %j%S %Y"}
      </time>
  	</div>
		<h2 class="f6 f5-b f4-d mb0 warm"><a href="{title_permalink='blog/entry'}" class="secondary-hover">{title}</a></h2>
	</div>
</article>
