<article class="card card-medium entry">
	<a href="{title_permalink='blog/entry'}" class="card-image db mb3 mb4-b">
  	{if thumbnail}
  	  {thumbnail}
  	    {if medium_file_url}
  	      <img data-src="{url:medium}" data-srcset="{url:medium-2x} 2x" class="lazyload">
  	      <noscript><img src="{url:medium}" srcset="{url:medium-2x} 2x"></noscript>
        {if:else}
          <img data-src="{url}" class="lazyload">
          <noscript><img src="{url}"></noscript>
        {/if}
      {/thumbnail}
    {if:else}
  	  {categories channel="blog" limit="1"}
        {if category_id == 7}
          <img data-src="{global:theme_url}/dist/images/{design}" class="lazyload">
          <noscript><img src="{global:theme_url}/dist/images/{design}"></noscript>
        {if:else}
          <img data-src="{global:theme_url}/dist/images/{code}" class="lazyload">
          <noscript><img src="{global:theme_url}/dist/images/{code}"></noscript>
        {/if}
      {/categories}
    {/if}
	</a>
	<div class="card-body">
  	<div class="meta dashes mb2">
    	<time datetime="{entry_date format='%Y-%m-%dT%H:%i:%s%O'}" pubdate>
        {entry_date format="%F %j%S %Y"}
      </time>
  	</div>
		<h3 class="f5 f4-b {if '{exp:iamsteve:is_mobile}' != 1}mb1{if:else}mb2{/if} primary"><a href="{title_permalink='blog/entry'}">{title}</a></h3>
	  
		{if '{exp:iamsteve:is_mobile}' != 1}
		  {if segment_1 == 'search'}
		    <p>{excerpt}</p>
		  {if:else}
        {excerpt}
		  {/if}
    {/if}
	  
    <div class="meta dashes">
      {categories channel="blog" style="linear" parent_only="yes" limit="1"}
        <a href="{path='blog/index'}" rel="category tag">{category_name}</a>
      {/categories}
    
      {if segment_2 != "entry" && '{exp:iamsteve:is_mobile}' != 1}
        <a href="{title_permalink='blog/entry'}" rel="bookmark" class="link-icon">Continue reading <span class="icon icon-medium icon-right secondary">{gv_arrow_right}</span></a>
      {/if}
    </div>
    <div class="visuallyhidden">
      <a href="{site_url}" class="author vcard url fn" rel="author">Steve McKinney</a>
      <time datetime="{edit_date format='%Y-%m-%dT%H:%i:%s%O'}" class="updated">
        {edit_date format="%Y/%m/%d"}
      </time>
    </div>
  </div>
</article>