<article class="card card-large">
	<a href="{title_permalink='blog/entry'}" class="card-image db">
  	{if image}
  	  {image}
  	    {if large_file_url}
  	      <img src="{url:large}" srcset="{url:large-2x} 2x">
        {if:else}
          <img src="{url}">
        {/if}
      {/image}
    {if:elseif category == 7}
  	  <img src="{global:theme_url}/dist/images/{design}">
  	{if:else}
  	  <img src="{global:theme_url}/dist/images/{code}">
  	{/if}
	</a>
	<div class="card-body">
  	<div class="meta dashes meta-to-calendar mb2">
      <time class="calendar" datetime="{entry_date format='%Y-%m-%dT%H:%i:%s%O'}" pubdate>
        <span class="month">{entry_date format="%F"}</span>
        <span class="day">{entry_date format="%j"}</span>
      </time>
    </div>
		<h2 class="f4 f3-b f2-d mb2 primary"><a href="{title_permalink='blog/entry'}">{title}</a></h2>
		{excerpt}
		<div class="meta dashes">
      {categories channel="blog" style="linear" parent_only="yes" limit="1"}
        <a href="{path='blog/index'}" rel="category tag">{category_name}</a>
      {/categories}
    
      {if segment_2 != "entry"}
        <a href="{title_permalink='blog/entry'}" rel="bookmark" class="link-icon">Continue reading <span class="icon icon-medium icon-right secondary">{gv_arrow_right}</span></a>
      {/if}
    </div>
    <div class="visuallyhidden">
      <a href="{site_url}" class="author vcard url fn" rel="author">Steve McKinney</a>
      <time datetime="{edit_date format='%Y-%m-%dT%H:%i:%s%O'}" class="updated">
        {edit_date format="%Y/%m/%d"}
      </time>
    </div>
  </div>
</article>