{exp:search:simple_form channel="blog" form_id="search" form_class="form form-search invisible" search_in="blog" no_result_page="search/no_results"}
  <div class="field field-whole field-search">
    <label for="keywords" class="visuallyhidden">Search</label>
    <input class="input input-search" id="keywords" name="keywords" type="search" placeholder="Search for a post…" autocorrect="off" autocapitalize="off">
    <button type="submit" class="button button-search"><span class="icon icon-large icon-search fill-neutral">{icon_search}</span></button>
  </div>
{/exp:search:simple_form}