<ul class="social">
	<li><a href="http://dribbble.com/players/stevemckinney" data-social="dribbble: stevemckinney">Dribbble</a></li>
	<li><a href="http://twitter.com/irsteve" data-social="twitter: @irsteve" style="background-position: -70px 0;">Twitter</a></li>
	<li><a href="http://facebook.com/stemckinney" data-social="facebook: stemckinney" style="background-position: -105px 0;">Facebook</a></li>
	<li><a href="https://plus.google.com/114129050502065289651/posts" data-social="Google+" rel="publisher" style="background-position: -175px 0;">Google+</a></li>
</ul>