<section class="row row-strong contain contain-large center subscribe">
  <div class="subscribe-content">
    <h2 class="f4 f3-b f2-d chunky secondary-d1">Get the articles</h2>
    <p>Subscribe to my newsletter and I’ll update you when posts go out. I’ll send you the highlights and takeaways that you can read in your own time.</p>
    <p><strong>Enter your email and I’ll send you design templates and a form UI kit, ready for designs and code.</strong></p>
    {form_newsletter}
    <picture class="subscribe-image osc">
      <source srcset="{site_url}assets/images/osc.svg" media="(min-width: 640px)">
      <source srcset="{site_url}assets/images/osc-small.svg" media="(max-width: 639px)">
      <img src="{site_url}assets/images/osc.svg">
    </picture>
  </div>
</section>