@import '_lib/copyright.scss';

$color-accent: #b58900;
$color-accent-light: lighten($color-accent, 10%);
$color-accent-dark: darken($color-accent, 10%);
$color-accent-text: #fff; // when $color-accent is used as a background

$color-link: #b58900;
$color-link-top-nav: #b58900;
$color-link-light: lighten($color-link, 10%);
$color-link-dark: darken($color-link, 10%);
$color-link-text: #fff; // When $color-link is used as a background

@import '_lib/screen.scss';