{layout="layouts/_layout" title="Search" class="page-search"}
<div class="row subheader center contain contain-medium contain-large pb4">
  <h1 class="f4 f3-b f2-d warm mb0 text-center">Search</h1>
</div>
<div class="contain contain-search pt4 pt6-d pb4 pb6-d flex flex-row flex-wrap center">
	{embed="include/search"}
  <div class="flex flex-column flex-wrap center pt4 pt6-d text-center">
    <h2 class="f4 f3-c mb2 neutral flex-8">You may be looking for</h2>
    {embed="include/popular"}
  </div>
</div>
