@import '../css/primitives.css';
@import '../css/theme.css';
@import '../css/utilities.css';
@import '../css/typography.css';
@import '../css/code.css' layer(base);
@import '../css/shiki.css' layer(base);

@layer base {
  ::selection {
    background: light-dark(
      oklch(from var(--color-dandelion-100) l c h / 0.4),
      oklch(from var(--color-cornflour-600) l c h / 0.4)
    );
    color: light-dark(var(--color-fern-1100), var(--color-fern-0));
  }

  :focus {
    outline: none;
  }

  :not(input):focus-visible {
    outline: 1px solid
      light-dark(
        color-mix(in oklch, currentcolor, transparent 20%),
        var(--color-cornflour-700)
      );
    outline-offset: 1px;
  }

  :not(input):not([role='menu']):focus-visible {
    border-radius: 4px;
  }
}

@media (max-width: 1023px) {
  html[data-toc-open='true'] body {
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .toc * {
    animation: toc-blur-scroll linear both;
    animation-timeline: view();
  }

  @keyframes toc-blur-scroll {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    10%,
    95% {
      filter: blur(0);
      opacity: 1;
    }
    100% {
      filter: blur(24px);
      opacity: 0;
    }
  }
}
