@import '../css/primitives.css';
@import '../css/theme.css';
@import '../css/utilities.css';
@import '../css/typography.css';
@import '../css/prism.css' layer(base);

:focus {
  outline: none;
}

:not(input):focus-visible {
  --outline-color: var(--color-cornflour-500);
  outline: 2px solid var(--outline-color);
  outline-offset: 2px;
  border-radius: minmax(6px, calc(inherit + 6px));
}

@media (prefers-color-scheme: dark) {
  :not(input):focus-visible {
    --outline-color: var(--color-cornflour-700);
  }
}

.tabbar-hidden {
  @media not all and (min-width: 1024px) {
    transform: translateY(calc(100% + 0.5rem));
    transition: transform 0.2s ease;
  }
}
