.link {
  @screen md {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      height: 2px;
      background: theme('colors.fern.1100');
      opacity: 0;

      @supports not (transition: 1s linear(0, 0.5, 1)) {
        transition: opacity 0.4s ease-in-out, transform 0.6s ease-out;
      }

      @supports (transition: 1s linear(0, 0.5, 1)) {
        transition: fill 0.4s linear(0, 0.75 50%, 1),
          opacity 0.4s linear(0, 0.75 50%, 1),
          transform 0.6s linear(0, 0.875 50%, 1);
      }
    }

    &:not(:hover):after {
      transform: translateY(2px);
    }

    &:hover:after {
      opacity: 1;
      top: 100%;
    }
  }
}

.start:after {
  left: calc(24px + theme('padding.2'));
  right: 0;
}

.end:after {
  left: 0;
  right: calc(24px + theme('padding.2'));
}

.vertical {
  @supports (padding: max(0px)) {
    @media not all and (min-width: theme('screens.md')) {
      padding-bottom: max(
        theme('spacing.4'),
        calc(env(safe-area-inset-bottom) + theme('spacing.2'))
      );
    }
  }
}
