.link {
  @media (width >= 1024px) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      height: 2px;
      background: transparent;
      opacity: 0;

      @supports not (transition: 1s linear(0, 0.5, 1)) {
        transition: opacity 0.2s ease-in-out, transform 0.6s ease-out;
      }

      @supports (transition: 1s linear(0, 0.5, 1)) {
        transition: fill 0.2s linear(0, 0.75 50%, 1),
          opacity 0.2s linear(0, 0.75 50%, 1),
          transform 0.3s linear(0, 0.6875 50%, 1);
      }
    }

    &:not(:hover):after {
      transform: translateY(2px);
    }

    &:hover:after {
      opacity: 1;
      top: 100%;
      background: var(--color-body);
    }
  }
}

.start:after {
  left: calc(24px + 0.5rem);
  right: 0;
}

.end:after {
  left: 0;
  right: calc(24px + 0.5rem);
}

.vertical {
  /* padding-bottom: 0.75rem; */
  /* @supports (padding: max(0px)) {
    @media not all and (min-width: 1024px) {
      padding-bottom: max(
        0.5rem,
        calc(env(safe-area-inset-bottom) + 0.75rem)
      );
    }
  } */
}

.tabbar {
  @supports (bottom: max(0px)) {
    @media not all and (min-width: 1024px) {
      bottom: max(0.5rem, env(safe-area-inset-bottom));
    }
  }
}

.libraryDropdown {
  animation: slideDown 0.2s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
