.note {
  & :global(.footnotes) {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);

    & ol {
      list-style: decimal;
      padding-inline-start: 1.25rem;
    }

    & li {
      padding-block-end: 0.25rem;
    }
  }
}
