/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

// github gists
// ---------------------------
[role="main"] .gist {
	position: relative !important;
	.gist-file, .gist-data, .gist-highlight {
		position: relative;
		border-radius: 4px;
		background: none !important;
		border: none !important; }
	.gist-highlight {
		border-left: 4em solid fade-out($black, 0.95) !important;
		@include box-shadow(inset 1px 0 0 fade-out($white, 0.7) !important); }
	.gist-file .gist-data {
		@include border-radius(4px 4px 0 0 !important);
		@include box-shadow(inset 0 0 0 1px #ccc, inset 0 2px 3px fade-out($black, 0.9), 0 1px 0 fade-out($white, 0.2) !important);
		border: none !important;
		border-bottom: none !important;
		overflow: auto;
		max-height: 500px;
		padding: 0 !important;
		background: none !important; }
	.gist-file .gist-data pre {
		border: none !important;
		box-shadow: none !important; }

  .line-numbers {
    vertical-align: top; }
  
	.gist-file .gist-data .line_data, .gist-file .gist-data .line_numbers {
		line-height: 1.5; }
	.gist-file .gist-data .line_numbers {
		background-color: none !important;
		border-right: 1px solid hsl(0, 0%, 87%);
		text-align: right;
		padding: .5em; }
	.gist-file .gist-data .line_data {
		display: inline-block !important; }
	.gist-meta {
		background-color: #222;
		@include element(#222, $radius: 0 0 4px 4px);
		@include box-shadow(
			inset 0 -1px 0 #333,
			inset 0 0 0 1px #333,
			inset 0 2px 0 rgba($white, .1),
			inset 0 -1px 3px #353535,
			inset -1px -3px 12px -3px rgba(#333, .2),
			inset 1px -3px 12px -3px rgba(#333, .2),
			0 1px 3px rgba($black, .2));
		width: 100%;
		color: $white !important;
		a {
			color: $white !important; } }
	.gist-syntax .k {
		color: $primary; }
	* {
		font-family: $monospace !important;
		font-size: 100%; }
	* {
		font-size: 14px !important; } }