// centre rem margin
%crm {
	@include pie-clearfix;
	position: relative;
	max-width: 60em; // 75em 1200px
	width: 88%;
	margin: auto auto em($line, $base-font-size);
	@include respond-min($c) {
		width: 92%;
		margin: auto auto em($line*2, $base-font-size); } }
		
// light subtle box styling, for buttons, etc
%subtle-box {
	@include background-clip(padding-box);
	@include box-shadow(
		inset 0 0 0 1px lighten($border, 5%),
		0 1px 2px lighten(rgba($border, .1), 1%),
		inset 0 2px 3px rgba($white, .75),
		inset 0 -1px 3px rgba($black, .15));
	@include background(
		linear-gradient(top, rgba(176,178,178,0) 0%, rgba(176,178,178,.15) 100%));
	.no-boxshadow & {
		border: 1px solid $border; } }

%subtle-s-rounded {
	@extend %subtle-box;
	@include border-radius($radius); }
	
// button type/meta bg
%subtle-rounded {
	@extend %subtle-box;
	@include border-radius(15em); }

// some will need a hover/active state
%subtle-states {
	&:hover, &:focus {
		@include box-shadow(
			0 -1px 0 0 fade-out($white, 0.8),
			inset 0 0 0 1px lighten($border, 5%),
			0 1px 2px lighten(rgba($border, .1), 1%),
			inset 0 2px 2px rgba($white, .8),
			inset 0 -1px 2px rgba($black, .1)); }
	&:active {
		@include background(
			linear-gradient(top, rgba(176,178,178,.15) 0%, rgba(176,178,178,0) 100%));
		@include box-shadow(
			inset 0 0 0 1px lighten($border, 15%), 
			0 1px 1px fade-out($white, 0.35),
			inset 0 1px 3px fade-out($black, 0.8)); } }
	
// consistent margin/padding for subtle objects
%sp {
	padding: em($base-px, $base-font-size) em($line, $base-font-size); }

%mr6 {
	@include rem(margin, 0 6px 0 0); }
	
// consistent text shadow
%ts {
	text-shadow: 0 -1px 2px $primary_d1; }

// consistent letter spacing
%letter-spacing {
	text-transform: uppercase;
	letter-spacing: 2px; }

// nav shadow
%ns {
	@include box-shadow(
		inset 0 -1px 0 fade-out($primary_d1, 0.85),
		inset 0 -1px 2px fade-out($primary_d1, 0.9),
		0 1px 0 fade-out($primary_l1, 0.95)); }

// nav states
%active {
	@include box-shadow(
		0 1px 0 darken($primary_d2, 5%),
		inset 0 1px 0 darken($primary_d2, 40%),
		inset 0 1px 2px fade-out($primary_d1, 0.3),
		0 2px fade-out($primary_l1, 0.95));
	@include background(
		linear-gradient(
			fade-out(darken($primary_d1, 3%), 0.85),
			fade-out(darken($primary_d1, 3%), 1)), darken($primary, 3%)); }
%hover {
	@include box-shadow(
		0 0 0 1px darken($primary_d2, 5%),
		inset 0 1px 1px fade-out($primary_l1, 0.8),
		inset 0 -1px 0 fade-out($primary_d1, 0.95),
		inset 0 -1px 1px fade-out($primary_d1, 0.9),
		0 1px 1px fade-out($primary_d1, 0.5));
	background: fade-out($primary_l2, 0.5);  }

%imgs {
	@extend %rounded;
  box-shadow: 0 1px rgba($black, .15), 0 2px 4px rgba($black, .2);
	vertical-align: bottom;
	display: inline-block; }

%margin-bottom {
	margin: 0 0 em($line, $base-font-size); }

// social crap
.social {
	@extend %margin-bottom;
	display: block;
	width: 100%;
	li {
		@include inline-block;
		&:nth-of-type(1) a {
			background-position: 0 0; }
		&:nth-of-type(2) a {
			background-position: -35px 0; }
		&:nth-of-type(3) a {
			background-position: -70px 0; }
		&:nth-of-type(4) a {
			background-position: -105px 0; }
		&:nth-of-type(5) a {
			background-position: -140px 0; }
		&:nth-of-type(6) a {
			background-position: -175px 0; } }
	a {
		@include wh(32px); 
		@include hide-text;
		display: block;
		background: url(../images/social_icons.png) no-repeat;
		background-size: 207px 32px;
		@include respond-to(retina) {
			background: url(../images/social_icons_2x.png) no-repeat;
			background-size: 207px 32px; }
		opacity: 1;
		margin: 0 $base-px/2 0 0; 
		line-height: 1;
		@include box-shadow(0 0 2px rgba($black, .2));
		&:hover {
			opacity: .75; } } }


@mixin bgIn($prefix) {
	0% {
		background-position: 0 -2000px; }
  100% {
    background-position: center bottom; } }

@if $experimental-support-for-webkit {
  @-webkit-keyframes bounceIn { @include bgIn(webkit); } }
@if $experimental-support-for-khtml {
  @-khtml-keyframes bounceIn { @include bgIn(khtml); } }
@if $experimental-support-for-mozilla {
  @-moz-keyframes bounceIn { @include bgIn(moz); } }
@if $experimental-support-for-microsoft {
  @-ms-keyframes bounceIn { @include bgIn(ms); } }
@if $experimental-support-for-opera {
  @-o-keyframes bounceIn { @include bgIn(o); } }
@keyframes bgIn { @include bgIn(none); }

%half {
	float: left;
	width: 50%; }
%half-left {
	@extend %half;
	@include rem(padding-right, $line); }
%half-right {
	@extend %half;
	@include rem(padding-left, $line); }