.entry-home {
  padding: $line 0;
  border-bottom: 1px solid rgba($primary, .2);
  
  &:first-child {
    border-top: 1px solid rgba($primary, .2); }
  
  h2 {
    margin: 0; } }

.entry-meta {
  font-family: $sans;
  font-weight: 700;
  padding-top: $base-px;
  font-size: 14px;
  
  [data-icon]:before,
  [data-icon-after]:after {
    color: $primary;
    font-size: 10px; }
  
  [data-icon]:before {
    margin-right: 3px; }
  
  [data-icon-after]:after {
    margin-left: 3px; } }


// Layout
// ---------------------------
[role="main"] {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

[role="main"],
[role="contentinfo"],
[role="complementary"] {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }

[role="contentinfo"],
[role="complementary"] {
  @include pie-clearfix; }

[role="main"],
[role="contentinfo"] {
  padding: $line;
  
  @include respond-min($c) {
    padding: $line $line*2; } }

[role="complementary"] {
  padding: 0 $line*2;
  
  @include respond-max($c) {
    font-size: 14px; } }

.page-header {
  @include respond-max($c) {
    margin-bottom: $line; }
  
  @include respond-min($c) {
    font-size: 18px;
    flex: 1 1 30%; } }
  
  .title {
    @include respond-min($c) {
      text-align: right; } }

.page-content {
  @include respond-min($c) {
    flex: 1 1 60%; } }

.page-header,
.page-content {
  @include respond-min($c) {
    padding: $line; } }

.pull-right {
  float: right; }

.text-right {
  text-align: right; }
  
[data-href] {
  cursor: pointer; }
  
.button-link {
  display: block;
  text-align: right;
  padding: $line 0;
  font-weight: 700; }
  
kbd {
  background: $primary;
  color: $white;
  border-radius: 2px;
  font-size: 16px;
  padding: 2px 4px;
  font-family: inherit;
  font-weight: 700;
}