[role="navigation"] {
  padding-left: $line;
	white-space: nowrap;

	a {
  	display: inline-block;
  	margin-right: $base-px;
    background-clip: padding-box;
    box-shadow:
			0 1px 0 darken(fade-out($primary_d2, .9), 15%),
			0 0 0 1px fade-out($primary_d2, 0.2),
			inset 0 1px 2px fade-out($primary_l3, .9),
			inset 0 -1px 2px fade-out($primary_d1, .95);
    border-radius: 200px;
		padding: ($base-px + 1) $line ($base-px - 1) $line*1.75;
		transition: background .2s linear;
		border-bottom: none;
		line-height: 1;
		text-transform: uppercase;
		position: relative;
		
		&:before {
  		position: absolute;
			top: $base-px + 2;
			left: $line; }
		
		&:focus,
		&:hover {
			box-shadow:
				0 1px 0 darken(fade-out($primary_d2, 0.8), 10%),
				0 0 0 1px $primary_d2,
				inset 0 1px 2px fade-out(lighten($primary_l2, 45%), 0.8),
				inset 0 -1px 2px fade-out(darken($primary_l2, 25%), 0.8),
				0 1px 4px fade-out($primary_d1, 0.6);
			background: fade-out($primary_l2, 0.4); }
		
		&:active,
		&.active {
			box-shadow:
				0 0 0 1px darken($primary_d2, 0.5%),
				inset 0 1px 3px $primary_d2,
				0 2px 1px 0 fade-out($primary_l1, 0.925);
				// linear-gradient(90deg, #36393f 0%, rgba(43,46,51,.5) 100%)
			@include background(
				linear-gradient(fade-out($primary_d1, 0.875), fade-out($primary_d1, 1))); } } }