@import "symbolset";

// base heading elements
// ---------------------------
#{headings()} {
	font-family: $heading;
	color: $primary;
	text-rendering: optimizeLegibility;
	line-height: 1.25;
	margin-top: 0;
	font-weight: 700; 
	
	a {
		display: block;
		color: $primary;
		
		&:hover, &:focus {
			color: $secondary; } } }

h1, .h1 {
  font-size: 24px;
  margin-bottom: $line;
  
  @include respond-min($c) {
    font-size: 36px;
    margin-bottom: $line*2; }
  
  .entry-content & {
    margin-top: $line;
    margin-bottom: $base-px;
    font-size: 21px;
    
    @include respond-min($c) {
      font-size: 30px;
      margin-top: $line*2;
      margin-bottom: $line; } } }
    
h2, .h2 { 
  font-size: 21px;
  margin-bottom: $line;
  
  @include respond-min($c) {
    font-size: 30px;
    margin-bottom: $line*2; }
  
  .entry-content & {
    margin-top: $line;
    margin-bottom: $base-px;
      
    @include respond-min($c) {
      margin-top: $line*2;
      margin-bottom: $line; } } }
h3, .h3 { 
  font-size: 18px;
  margin-bottom: $base-px;
  
  @include respond-min($c) {
    font-size: 24px; } }
h4, .h4 { 
  font-size: 16px;
  margin-bottom: $base-px;
  
  @include respond-min($c) {
    font-size: 21px; } }
h5, .h6 { 
  font-size: 16px;
  margin-bottom: $base-px;
  
  @include respond-min($c) {
    font-size: 18px; } }
h6, .h6 {
  margin-bottom: $base-px;
  font-size: 16px; }

.entry-summary-title {
  margin-bottom: $base-px; }

// links
// ---------------------------
a {
	@extend %transition;
	text-decoration: none;
	color: $primary;
	-webkit-tap-highlight-color: rgba(black, 0);
	
	
	.entry-content p &, .colophon &, figure & {	
  	text-decoration: underline;
  	text-decoration-color: rgba($primary_l2, .3);
  	
		&:hover, &:focus {
			text-decoration-color: rgba($primary_l2, .8); } } }

[data-href] { cursor: pointer; }

// header
// ---------------------------
.title {
	font-family: $slab;
	font-weight: 700;
	font-size: 24px;
	
	a, a:hover, a:focus { color: $white; }
	
	@include respond-min($c) {
  	font-weight: 400;
    font-size: 42px; }
	
	@include respond-min($e) {
		font-size: 48px; } }
		
.title, .title span, .title a {
	color: $primary_l3; }

.entry-summary p:first-child, .entry-content p:first-child {
	font-size: 1.125em;
	
	@include respond-min($c) {
  	font-size: 1.3125em; } }
		
.entry-summary figcaption p:first-child, .entry-content figcaption p:first-child {
	font-size: em($base-font-size, $base-font-size); }
		
code:not([class*="language-"]) {
	font-size: em($base-font-size, $base-font-size);
	font-weight: 400;
	
	pre:not([class*="language-"]) & {
		max-height: 200px;
		overflow: auto;
		color: $primary;
		direction: ltr;
		text-align: left;
		white-space: pre-line;
	
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2; } }

// body content
// ---------------------------
p {
  margin: 0 0 .75rem;
  
  @include respond-min($c) {
    margin: 0 0 1.5rem; } }

p, li, dt, dd, figcaption {
  color: scale-color($primary_l2, $lightness: 10%, $saturation: -20%);
  font-family: $body;
  font-size: 16px;
  line-height: 1.5;
  
  @include respond-min($c) {
    font-size: 21px; } }

.related-entries p, .previous-entries p {
  line-height: 1.35; }


// nav
// ---------------------------
[role="navigation"] {
	a {
		font: 700 .75rem/#{$base-line-height} $body;
		color: #f0f4fc;
		letter-spacing: .0625em; } }

// aside
// ---------------------------
[role="complementary"] p {
  font-size: 18px;
  margin: 0; }
  
[role="complementary"], [role="contentinfo"] {
	font-family: $body; }

// page specific
// ---------------------------
[class^="item"] {
	h2 {
		margin: 0 0 em($base-px, 41px); } }
.portfolio-nav {
	h2 {
		margin: 0 0 em($base-px, $base-font-size);
		font-size: 1em; } }
	
// pre/code
// ---------------------------
pre {
	@include box-shadow(inset 0 1px 3px fade-out($black, 0.9), 0 1px 0 fade-out($white, 0.2));
	@extend %rounded;
	@extend %margin-bottom;
	border: 1px solid #ccc;
	code {
		display: block;
		background: none; } }
		
code {
	@include border-radius(2px);
	background: fade-out($primary_l2, .95); }

// blockquote
// ---------------------------
$q: lighten(#f2e7c2, 5%);
$qd: darken(desaturate($q, 50%), 40%);
$ql: lighten($q, 10%);

blockquote {
	@extend %rounded;
	@extend %shadow;
	@include rem(padding, $line $line $line $line*3);
	@extend %margin-bottom;
	background: $q;
	@include background(
		linear-gradient(bottom, fade-out($qd, 0.75) .05em, transparent .05em), $q);
	@include background-size(100% 1.5em);
	color: $qd;
	position: relative;
	line-height: 1.5;
	font-family: $sans;
	p {
		position: relative;
		z-index: 1;
		
		&:only-of-type {
  		margin: 0; }
		
		[role="main"] & {
			&:first-child {
			@include rem(font-size, 16px); } } }
	&:before, &:after {
		position: absolute; }
	&:before {
		@include rem(margin, 0 $line 0 0);
		content: "pullquote";
		font: 900 100%/1.5 $icons;
		color: $qd;
		display: inline-block;
		opacity: .5;
		text-shadow: 0 1px 0 $ql;
		@include rem(top, $base-px*2);
		@include rem(left, $line);
		z-index: 0; }
	&:after {
		content: "";
		display: inline-block;
		width: 1px;
		height: 100%;
		background: $danger;
		top: 0;
		left: $line*2; } }