@import "symbolset";

// Headings
// ---------------------------
#{headings()} {
	font-family: $heading;
	color: $primary;
	line-height: 1.25;
	margin-top: 0;
	color: $primary; }

h1, .h1 {
  font-size: 24px;
  margin-bottom: $line;
  
  @include respond-min($c) {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: $line*2; } }
  
h2, .h2 {
  font-size: 18px;
  font-weight: 700;
  
  .entry-content & {
    margin: $line 0 $base-px; }
  
  @include respond-min($c) {
    font-size: 24px;
    margin: 0 0 $line;
    
    .entry-content & {
      margin: $line*1.5 0 $line; } } }
  
h3, .h3 { 
  font-size: 21px;
  margin: $line*1.5 0 $base-px; }
  
h4, .h4 {
  font-size: 18px;
  margin: 0 0 $base-px;
  
  .entry-content & {
    margin: $line*1.5 0 $base-px; } }
  
h5, .h5,
h6, .h6 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.entry-summary-title {
  margin-bottom: $base-px; }

// Title
// ---------------------------
.title {
  margin-bottom: 0; }

// Links
// ---------------------------
a {
  color: inherit;
  text-decoration: none;
  
  p & {
    text-decoration: underline;
    text-decoration-color: rgba($primary, .4); } }

// Main content
// ---------------------------
body {
  font-family: $body;
  line-height: 1.5;
  color: scale-lightness($primary, 20%); }
  
p {
  margin: 0 0 $base-px;
  -webkit-hyphens: auto;
  hyphens: auto;
  
  @include respond-min($c) {
    margin: 0 0 $line;
    font-size: em(18px, 16px); } }

.related-entries p, .previous-entries p {
  line-height: 1.35; }

.entry-content > p:first-child {
  color: $primary;
  font-size: em(18px, 16px);
  
  @include respond-min($c) {
    font-size: em(21px, 16px); } }

iframe,
pre {
  display: block;
  margin-bottom: $line; }

// Nav
// ---------------------------
[role="navigation"] a {
	font: 700 .75rem/#{$base-line-height} $body;
	color: $tertiary; }

// aside
// ---------------------------
[role="complementary"] p {
  font-size: em(16px, 16px);
  margin: 0; }
  
[role="complementary"],
[role="contentinfo"] {
	font-family: $body; }

// page specific
// ---------------------------
[class^="item"] h2 {
	margin: 0 0 em($base-px, 41px); }
		
.portfolio-nav h2 {
	margin: 0 0 em($base-px, $base-font-size);
	font-size: 1em; }
	
// pre/code
// ---------------------------
pre {
  padding: $line;
  margin: 0 0 $line;
  display: block;

	code {
		display: block;
		background: none; } }

pre,
code {
  font-size: 18px;
  font-family: Inconsolata, monospace; }

code {
	background: rgba(#f6f7ee, .8); }

// blockquote
// ---------------------------
$q: lighten(#f2e7c2, 5%);
$qd: darken(desaturate($q, 50%), 40%);
$ql: lighten($q, 10%);

blockquote {
  margin: 0 0 $line;
  padding: $line;
  position: relative;
  font-style: italic;
  text-align: center;
  background: $q;
  box-shadow: inset 0 0 0 1px rgba($qd, .6), inset 0 2px $ql;
  box-shadow: inset 0 0 0 1px rgba($qd, .3), 0 1px 2px rgba($qd, 0.1), inset 0 2px 3px rgba($ql, .75), inset 0 -1px 3px rgba(black, .15);
  color: $qd;
  border-radius: $radius;
  
/*
  &:before,
  &:after {
    content: "";
    width: em($line*4, 16px);
    position: absolute;
    left: 50%;
    margin-left: em(-$line*2, 16px);
    height: 1px;
    background: rgba($primary, .2); }
  
  &:before {
    top: 0; }
  
  &:after {
    bottom: 0; }
*/
  
  p {
    margin: 0;
    font-size: 14px; 
    
    @include respond-min($c) {
      font-size: 16px; } } }