/* 480px / 16px */
/* 600px / 16px */
/* 768px / 16px */
/* 900px / 16px */
/* 960px / 16px */
/* 1200px / 16px */
/* line 25, ../sass/import/_helpers.scss */
.hidden {
  display: none;
}

@-webkit-keyframes bg {
  /* line 151, ../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-moz-keyframes bg {
  /* line 151, ../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-ms-keyframes bg {
  /* line 151, ../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-o-keyframes bg {
  /* line 151, ../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@keyframes bg {
  /* line 151, ../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-webkit-keyframes title {
  /* line 153, ../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-moz-keyframes title {
  /* line 153, ../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-ms-keyframes title {
  /* line 153, ../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-o-keyframes title {
  /* line 153, ../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@keyframes title {
  /* line 153, ../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-webkit-keyframes nav {
  /* line 158, ../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-moz-keyframes nav {
  /* line 158, ../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-ms-keyframes nav {
  /* line 158, ../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-o-keyframes nav {
  /* line 158, ../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@keyframes nav {
  /* line 158, ../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@media \0screen {
  /* line 7, ../sass/ie.scss */
  html {
    /* IE8 */
    font-family: "c";
  }
}
/* line 10, ../sass/ie.scss */
.ie {
  font-family: "franklin-gothic-urw", sans-serif !important;
}
/* line 12, ../sass/ie.scss */
.ie [data-icon]:before, .ie [data-icon]:after {
  display: none !important;
}
