.skills {
	clear: both; }

.colophon {
	@include column-count(3);
	h2 {
		@include column-span(all); } }
.versions {
	@include pie-clearfix;
	padding-bottom: 0; }
	
.old-design {
	margin: auto;
	&:nth-of-type(4) {
		margin-bottom: 0; }
	img {
		text-align: center;
		margin: auto;
		display: block;
		max-width: 100%;
		@extend %imgs; } }