.select:after, .chzn-single:after {
	display: none; }

.chzn-container {
	font: 16px/1 $sans;
  position: relative;
  @include inline-block;
  width: 100%;
	.chzn-drop {
	  background: #fff;
	  border: 1px solid $border;
	  border-top: 0;
	  position: absolute;
	  top: 29px;
	  left: 0;
	  width: 100%;
	  z-index: 999; }
}
.chzn-container-active { @include box-shadow(0 1px 3px fade-out($black, 0.9));  }

.chzn-container-single {
	.chzn-single {
	  @include border-radius(3px);
	  @include background-clip(padding-box);
	  border: 1px solid $border;
	  display: block;
	  overflow: hidden;
	  white-space: nowrap;
	  position: relative;
	  line-height: 24px;
	  padding: $base-px/2;
	  text-decoration: none;
	  span {
		  display: block;
		  overflow: hidden;
		  @include ellipsis(nowrap);
		  &:after {
		  	font-family: $pictos;
		  	content: "d";
		  	color: $primary;
		  	float: right;
		  	position: relative;
		  	top: 3px; } }
		abbr {
		  display: block;
		  position: absolute;
		  right: 26px;
		  top: 6px;
		  width: 12px;
		  height: 12px;
		  font-size: 1px; }
		div {
  		position: absolute;
  		b {
  			display: block; } }
	}
	.chzn-search {
  	padding: 3px 6px;
 	 	position: relative;
	  margin: 0;
	  white-space: nowrap;
  	z-index: 1010;
  	input {
		  background: #fff;
		  @include form($radius: 1px);
		  margin: 1px 0;
		  padding: 6px 20px 6px 6px;
		  outline: 0;
		  border: 1px solid $border;
		  width: 100%;
		}
	}
	.chzn-drop {
	  @include border-radius(0 0 3px 3px);
		@include background-clip(padding-box); }
}
.chzn-container-single-nosearch {
	.chzn-search input {
 		position: absolute;
  	left: -9000px; } }

.chzn-container-active {
	.chzn-single {
  	@include box-shadow(inset 0 1px 3px fade-out($black, 0.9), 0 0 8px fade-out($alt, 0.4), 0 1px 0 fade-out($white, 0.3));
 		border: 1px solid fade-out($alt, 0.4); }
 	.chzn-single-with-drop {
	  border: 1px solid $border;
	  @include box-shadow(0 1px 0 #fff inset);
	  background-color: $default;
	 	@include background(linear-gradient(top, $default 20%, $white 80%));
		@include border-radius(3px 3px 0 0); 
		div {
	  	background: transparent;
	  	border-left: none; 
	  	b {
				background-position: -18px 1px; } } }
	.chzn-choices {
		@include box-shadow(0 0 5px rgba(0,0,0,.3));
	  border: 1px solid $alt; }
}

.chzn-container-active .chzn-choices .search-field input, .chzn-search input {
  color: $primary;
  font-family: $sans;
}




/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  @include background(linear-gradient(top, lighten($default, 9%) 1%, lighten($default, 4%) 15%));
  border: 1px solid $border;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
  color: $primary;
	@include form;
	@include box-shadow(none);
}
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
  @include border-radius(3px);
  @include background-clip(padding-box);
  background-color: $default;
  @inlude background(linear-gradient(top, #fff, #000)); 

  color: $primary;
  border: 1px solid $border;
  line-height: 24px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: $default;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 6px;
  width: 12px;
  height: 16px;
  font-size: 1px;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}








/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #3875d7;
  @include background(linear-gradient(top, $alt 20%, darken($alt, 5%) 90%));
  color: #fff;
}
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  z-index: 1;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {

}
.chzn-container .chzn-results-scroll-up span {
}

/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
.chzn-rtl { text-align: right; }
.chzn-rtl .chzn-single { padding: 0 8px 0 0; overflow: visible; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; direction: rtl; }

.chzn-rtl .chzn-single div { left: 3px; right: auto; }
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}
.chzn-rtl .chzn-choices .search-field input { direction: rtl; }
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 5px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 4px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 15px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
  background: #fff;
  @include background(linear-gradient(top, #eeeeee 1%, #ffffff 15%));
  padding: 6px 6px 6px 20px;
  width: 100% !important;
  direction: rtl;
}
/* @end */