input {
	@include form($group: true, $radius: none);
	@include appearance(none);
	@include rem(height, 36px);
	border: none; }
input:not([type="submit"]) {
	font: 400 $base-font-size/1 $sans; }
[type="submit"] {
	@include element($primary_l2, $size: small, $radius: 0 4px 4px 0, $hover: true, $font-size: false);
	@extend %ts;
	@extend %letter-spacing;
	text-align: center; }
[role="contentinfo"] {
	form {
		@include pie-clearfix;
		@include rem(margin, $line 0 0);
		width: 100%; }
		[type="search"] {
			font-size: .75em; }
		[type="search"] {
			@include border-radius(4px 0 0 4px); }
		[type="submit"] {
			font-size: .75em;
			width: 35%;
			@include border-radius(0 4px 4px 0); } }
[type="search"] {
	width: 65%;
	&::-webkit-input-placeholder {
		color: fade-out($primary, 0.5); }
	&:-moz-placeholder {
		color: fade-out($primary, 0.5); }
	&::-webkit-search-decoration {}
	&:before {
		display: none; } }		
@include respond-min($c) {
	[role="contentinfo"] {
		ul, form {
			float: left; }
		ul {
			width: 67.5%;
			margin: 0 2.5% 0 0; }
		form {
			width: 30%;
			margin: 0; }
		[type="submit"] {
			width: 40%; }
		[type="search"] {
			width: 60%; } } }
@include respond-min($d) {
	[role="contentinfo"] {
		[type="search"] {
			font-size: .875em; } } }