.meta {
	@extend %subtle-s-rounded;
	padding: 0 em($base-px, $base-font-size);
	clear: both;
	ul {
		@include pie-clearfix;
		margin: 0; }
	li {
		@extend %mr6;
		float: left;
		list-style: none;
		text-transform: uppercase;
		line-height: 1 !important;
		&:before:hover {
			opacity: 1; }
		&:nth-of-type(3) {
			float: right;
			margin: 0;
			white-space: nowrap; }
		&:before {
			@extend %mr6;
			top: 1em;
			display: none;
			font-size: 75%;
			float: left;
			position: relative;
			line-height: 1;
			opacity: .5; } }
	a, time {
		padding: em($base-px, $base-font-size) 0;
		display: inline-block;
		vertical-align: baseline; }
	a, time, li {
		color: fade-out($primary, .5);
		font-size: .75rem;
		@include respond-min($b) {
			font-size: .875rem; }
		&:hover, &:focus {
			@extend %transition;
			opacity: 1;
			color: $primary;
			&:before {
				opacity: 1; } } } }