.pagination {
	text-align: center;
	margin: auto;
	@include respond-min($c) {
		padding-right: 7.5%;
		padding-left: 7.5%; }
	@include respond-min($d) {
		padding-right: 15.5%;
		padding-left: 15.5%; }
	li {
		@extend %subtle-rounded;
		@extend %subtle-states;
		@extend %letter-spacing;
		display: inline-block;
		padding: 0;
		font: 400 12px/#{$base-line-height} $sans;
		list-style: none; }
	li:not(.next):not(.prev) {
		@include rem(padding, 3px 9px);
		@extend %mr6;
		letter-spacing: 0; }
	a {
		@extend %transition;
		display: block;
		opacity: .5;
		&:hover, &:focus, .hover {
			opacity: 1; }
		&:before {
			@extend %mr6; }
		&:after {
			@include rem(margin, 0 0 0 6px); }
		&:before, &:after {
			position: relative;
			top: 1px; } } }
.pagination .active {
	@include box-shadow(
		0 0 0 1px $border,
		0 0 5px fade-out($primary, 0.5),
		inset 0 1px 1px fade-out($white, 0.35),
		inset 0 -1px 1px fade-out($black, 0.9));
		&:hover, &:focus {
			background: $white;
			@include box-shadow(
				0 0 0 1px $border,
				0 0 5px fade-out($primary, 0.5),
				inset 0 1px 1px fade-out($white, 0.35),
				inset 0 -1px 1px fade-out($black, 0.9)); }
		&:active {
			@include background(
				linear-gradient(top, rgba(176,178,178,.15) 0%, rgba(176,178,178,0) 100%));
			@include box-shadow(
				0 0 0 1px $border, 
				0 -1px 1px fade-out($white, 0.35),
				inset 0 1px 3px fade-out($black, 0.9)); }
		a { 
			opacity: 1; } }
.prev {
	@extend %mr6; }
.next, .prev {
	a {
		@include rem(padding, 3px 9px); } }

@media screen and (min-height: 600px) {
	.pagination {
		position: relative; }
	.next, .prev {
		position: absolute; }
	.next {
		right: 0; }
	.prev {
		left: 0; } }
			
@media screen and (min-width: $d) and (min-height: 820px) {
	.pagination {
		position: static; }
	.next {
		@include rem(right, $line*2); }
	.prev {
		@include rem(left, $line*2); }
	.next, .prev {
		position: fixed;
		top: 50%;
		margin-top: -21px !important;
		z-index: 20;
		a {
			@include rem(padding, 9px 18px); } } }