@include respond-min($d) {
	[role="main"] {
		&:hover, &:focus {
			[class^="item_"] {
				@include filter(blur(1px));
				@include transform(scale3d(0.95, 0.95, 0.95));
				@include respond-to(retina) {
					@include filter(blur(2px)); }
				&:hover, &:focus {
					@include transform(scale3d(1, 1, 1));
					@include filter(blur(0)); } } } } }

[class^="item_"] {
	margin: 0 0 em($line*2, $base-font-size);
	clear: both;
	display: block;
	min-height: 360px;
	position: relative;
	&:before, &:after {
		@include wh(22px, 380px);
		content: "";
		display: inline-block;
		position: absolute;
		top: -8px;
		z-index: 1; }
	&:nth-of-type(odd) {
		&:after {
			background: url(../images/_portfolio/_pages/item_shadow.png) no-repeat;
			right: 0; }
		.browser {
			right: 1px;
			margin-left: auto;
			margin-bottom: $line; } }
	&:nth-of-type(even) {
		@include respond-min($c) {
			background-position: left $base-px;
			.browser {
				float: left;
				margin-bottom: 0; } }
		&:before {
			background: url(../images/_portfolio/_pages/item_shadow.png) -22px 0 no-repeat;
			left: 0; }
		.browser {
			left: 1px;
			background-position: right center;
			margin-bottom: $line;
			&:before {
				background-position: right 0; }
			&:after {
				background-position: right -36px; } } }
	&:hover, &:focus {
		@extend %transition;
		h2 {
			@extend %transition;
			color: $secondary; } }
	figcaption {
		padding: em($line*2, $base-font-size) 0 0; }
	p {
		display: block;
		width: 100%; }
	.button {
		clear: both; }
	img {
		vertical-align: bottom;
		float: right; } }

[class^="item_"] {
	background-repeat: no-repeat;
	// to the right
	&:nth-of-type(odd) {
		background-position: left $base-px; }
	// to the left
	&:nth-of-type(even) {
		background-position: right $base-px; } }

.browser {
	max-width: 552px;
	height: 286px;
	@include background-size(552px, 286px);
	@include respond-min($c) {
		float: right;
		width: cp(552px, 960px);
		&:before, &:after {
			width: cp(552px, 960px); } }
	@extend %transition;
	position: relative;
	z-index: 0;
	top: $base-px*4;
	&:before, &:after {
		@include filter(drop-shadow(0 1px 1px rgba(0,0,0,.2)));
		content: "";
		display: inline-block;
		position: absolute;
		min-width: 100%;
		background-repeat: no-repeat; }
	&:before {
		background-size: auto 44px;
		height: 36px;
		top: -$base-px*3; }
	&:after {
		background-size: auto 44px;
		height: 8px;
		background-position: 0 -36px;
		bottom: -8px; }
	.item_lilys_tumblr & {
		background-image: url(../images/_portfolio/_pages/lily_small.png);
		@include respond-to(retina) {
			background-image: url(../images/_portfolio/_pages/lily_small_2x.png); } }
	.item_student_websites & {
		background-image: url(../images/_portfolio/_pages/student_small.png);
		@include respond-to(retina) {
			background-image: url(../images/_portfolio/_pages/student_small_2x.png); } }
	.item_coffee_expression & {
		background-image: url(../images/_portfolio/_pages/coffee_small.png);
		@include respond-to(retina) {
			background-image: url(../images/_portfolio/_pages/coffee_small_2x.png); } }
	.item_patience & {
		background-image: url(../images/_portfolio/_pages/patience_small.png);
		@include respond-to(retina) {
			background-image: url(../images/_portfolio/_pages/patience_small_2x.png); } }
	.item_learning_html & {
		background-image: url(../images/_portfolio/_pages/html_small.png);
		@include respond-to(retina) {
			background-image: url(../images/_portfolio/_pages/html_small_2x.png); } }
	.item_css3_button & {
		background-image: url(../images/_portfolio/_pages/button_small.png);
		@include respond-to(retina) {
			background-image: url(../images/_portfolio/_pages/button_small_2x.png); } } }

@include respond-to(nonretina) {
	.browser {
		&:before, &:after {
			background-image: url(../images/_portfolio/_pages/browser.png); } } }
@include respond-to(retina) {
	.browser {
		&:before, &:after {
			background-image: url(../images/_portfolio/_pages/browser_2x.png); } } }
		
/*
@include respond-to(retina) {
	[class^="item_"] {
		background-size: 286px 172px;
		&:nth-of-type(even) {	
			background-position: -2.5% 0;
			&:before {
				background: url(../images/_portfolio/_pages/item_shadow.png) -12px 0 no-repeat;
				left: -1px; } }
		&:nth-of-type(odd) {
			&:after {
				right: 0; } }
		&:before, &:after {
			@include wh(12px, 190px);
			top: 0;
			background-size: 24px 196px; } } }
*/

// page specific portfolio stuff
.item-full {
	@extend %margin-bottom;
	[data-picture] {
		@extend %imgs;
		margin: 0 0 em($line, $base-font-size);
		position: relative;
		@include respond-min($d) {
			margin: 0 0 em($line, $base-font-size); } } }

.portfolio-nav {
	margin: 0;
	text-align: center;
	li {
		margin: 0 em($base-px, 14px) em($base-px, 14px) 0;
		list-style: none;
		display: inline-block;
		@include respond-min($c) {
			margin: 0 em($base-px, 14px) 0 0; } }
	a { 
		@include element($secondary, $size: xxsmall, $hover: true);
		@include rem(font-size, 14px); } }


@include respond-min($c) {
	[class^="item_"] {
		padding-top: 0;
		background-position: right center;
		figcaption {
			width: 40%; }
		&:nth-of-type(odd) {
			figure {
				width: 100%; }
			figcaption {
				float: left; } }
		&:nth-of-type(even) {
			figcaption {
				float: right; } } }
	.item-full {
		[data-picture] {
			float: left;
			width: 50%;
			max-width: none; }
		figcaption {
			width: 50%;
			padding: 0 0 0 2.5%;
			float: right; } } }

@include respond-min($f) {
	[class^="item_"] {
		@include transition(all .2s linear);
		figcaption {
			width: 47.5%; }
		&:nth-of-type(odd) {
			figcaption {
				margin-left: -7.5%; } }
		&:nth-of-type(even) {
			figcaption {
				margin-right: -7.5%; } } }
	.item-full {
		[data-picture] {
			margin-left: -7.5%;
			width: 50% + 7.5% + 7.5%; }
		figcaption {
			width: 42.5%; } } }

/*
.lilys_tumblr {
	.item-full {
		width: 100%;
		margin: 0;
		padding: 0;
		@include respond-min($e) {
			[data-picture], img, figcaption {
				display: inline-block;
				vertical-align: top;
				margin: 0;
				padding: 0;
				float: none;
				width: 49%; }
			figcaption {} } } }
*/

figcaption p:last-child { 
	padding-bottom: 0; }