.wufoo {
	* {
		@include box-sizing(border-box); }
	&:focus {
		outline: none; }
	#errorLi {
		display: none; }
	label.desc, legend.desc {
		@include rem(padding, 0 0 $base-px);
		color: $primary;
		line-height: $base-line-height;
		font-size: 1rem !important; }
	input.email, input.text, textarea.textarea, input.file, select.select {
		@extend input;
		font-family: $sans;
		font-weight: 400; }
	textarea.textarea {
		height: auto;
		max-height: 120px; 
		line-height: 1.5; }
	li.error {
		background-color: transparent !important;
		.desc {
			font-weight: normal !important;
			color: $primary !important; }
		input.email, input.text, textarea.textarea, input.file, select.select {
			@include border-radius(4px 4px 0 0);
			@include box-shadow(0 0 0 1px $danger, inset 0 1px 2px fade-out($black, 0.9), 0 2px 1px $default); } }
	.info {
		display: none; }
	span.req {
		color: $danger !important; }
	li div, li span, li div label, li span label, li, .buttons {
		margin: 0;
		vertical-align: bottom !important; }
	li div, li span, li div label, li span label {
		padding: 0; }
	li, .buttons {
		padding: 0 2px; }
	li {
		@include rem(margin, 0 0 $line); }
	p.error {
		@include border-radius(0 0 4px 4px);
		@include box-shadow(0 0 0 1px $danger, 0 2px 1px $default);
		background: $danger !important;
		position: relative;
		top: -1px;
		z-index: 1;
		margin: 0 !important;
		padding: 3px !important;
		line-height: 1 !important;
		font-weight: normal;
		font-size: 12px;
		color: $white !important;
		clear: both;
		@extend %letter-spacing; }
	input.submit {
		@include border-radius(4px);
		@include rem(font-size, 12px);
		@include rem(padding, 0 $line);
		margin: 0; }
	#fo3li6 {
		@include rem(margin, 0 0 $base-px);
		input { 
			margin-bottom: -2px !important; } } }