@import "../import/framework", "../styles/extends", "../import/forms", "../styles/forms";
.wufoo {
	* {
		@include box-sizing(border-box); }
	&:focus {
		outline: none; }
	#errorLi {
		display: none; }
	label.desc, legend.desc {
		@include rem(padding, 0 0 $base-px);
		color: $primary;
		line-height: $base-line-height;
		font-family: $sans;
		font-size: 1rem !important; }
	input.email, input.text, input.file, select.select {
		padding: 0 $base-px; }
	textarea.textarea {
		padding: $base-px; }
	input.email, input.text, textarea.textarea, input.file, select.select {
		@include box-shadow(inset 0 0 0 1px hsla(223, 9%, 53%, 0.3),inset 0 1px 3px hsla(0, 0%, 0%, 0.2),0 1px 1px hsl(0, 0%, 93%));
		@include border-radius($radius);
		font-family: $sans;
		font-weight: 400;
		color: $primary !important;
		border: none !important;
		@include background(linear-gradient(top, hsla(180, 1%, 69%, 0.25) 0%, hsla(180, 1%, 69%, 0) 100%) !important);
		.noboxshadow & {
			border: 1px solid $border !important; }
		&::-webkit-input-placeholder {
			color: lighten(#afafaf, 10%);
			font: 16px/1 $sans; }
		&:-moz-placeholder {
			color: lighten($primary, 30%);
			font: 16px/1 $sans; }	
		&:hover {
			@include box-shadow(inset 0 0 0 1px lighten($border, 30%), inset 0 1px 3px fade-out($black, .8), 0 1px 1px $default);
			@include background(
				linear-gradient(top, rgba(176,178,178,.25) 0%, rgba(176,178,178,0) 100%), $white);
			.noboxshadow & {
				border: 1px solid $border; } }
		&:active, &:focus {
			outline: none;
			background-color: $white;
			@include box-shadow(inset 0 0 0 1px lighten($border, 30%), inset 0 1px 4px fade-out($black, 0.8), 0 0 8px fade-out($alt, 0.4));
			.noboxshadow & {
				border-color: fade-out($alt, 0.4); } } }
	textarea.textarea {
		height: auto;
		max-height: 120px; 
		line-height: 1.5; }
	li.error {
		background-color: transparent !important;
		.desc {
			font-weight: normal !important;
			color: $primary !important; }
		input.email, input.text, textarea.textarea, input.file, select.select {
			@include border-radius($radius $radius 0 0);
			@include box-shadow(0 0 0 1px $danger, inset 0 1px 2px fade-out($black, 0.9), 0 2px 1px $default); } }
	.info {
		display: none; }
	span.req {
		color: $danger !important; }
	li div, li span, li div label, li span label, li, .buttons {
		margin: 0;
		vertical-align: bottom !important; }
	li div, li span, li div label, li span label {
		padding: 0; }
	li, .buttons {
		padding: 0 2px; }
	li {
		padding: 0 0 em($line, $base-font-size); }
	p.error {
		@include border-radius(0 0 $radius $radius);
		@include box-shadow(0 0 0 1px $danger, 0 2px 1px $default);
		background: $danger !important;
		position: relative;
		top: -1px;
		z-index: 1;
		margin: 0 !important;
		padding: 3px !important;
		line-height: 1 !important;
		font-weight: normal;
		font-size: em($base-px, $base-font-size);
		color: $white !important;
		clear: both;
		text-transform: none !important;
		margin: 0 0 em($line, $base-font-size) !important; }
	input.submit {
		@include border-radius($radius);
		@include rem(font-size, 14px);
		padding: 0 em($line, $base-font-size);
		margin: 0; }
	#fo3li6 {
		margin: 0 0 em($base-px, $base-font-size);
		input { 
			margin-bottom: -2px !important; } } }