// Default variables override in site/_base.scss
// ---------------------------

// General variable colours
// --------------------------

// Primary colours
$primary: #403b33 !default;
$primary-d1: scale-lightness($primary, -10%);
$primary-d2: scale-lightness($primary, -20%);
$primary-d3: scale-lightness($primary, -30%);
$primary-d4: scale-lightness($primary, -40%);
$primary-d5: scale-lightness($primary, -50%);
$primary-l1: scale-lightness($primary, 10%);
$primary-l2: scale-lightness($primary, 20%);
$primary-l3: scale-lightness($primary, 30%);
$primary-l4: scale-lightness($primary, 40%);
$primary-l5: scale-lightness($primary, 50%);

// Secondary colours
$secondary: #d3643b !default;
$secondary-d1: scale-lightness($secondary, -10%);
$secondary-d2: scale-lightness($secondary, -20%);
$secondary-d3: scale-lightness($secondary, -30%);
$secondary-d4: scale-lightness($secondary, -40%);
$secondary-d5: scale-lightness($secondary, -50%);
$secondary-l1: scale-lightness($secondary, 10%);
$secondary-l2: scale-lightness($secondary, 20%);
$secondary-l3: scale-lightness($secondary, 30%);
$secondary-l4: scale-lightness($secondary, 40%);
$secondary-l5: scale-lightness($secondary, 50%);

// Tertiary colours
$tertiary: #edebe6 !default;
$tertiary-d1: scale-lightness($tertiary, -10%);
$tertiary-d2: scale-lightness($tertiary, -20%);
$tertiary-d3: scale-lightness($tertiary, -30%);
$tertiary-d4: scale-lightness($tertiary, -40%);
$tertiary-d5: scale-lightness($tertiary, -50%);
$tertiary-l1: scale-lightness($tertiary, 10%);
$tertiary-l2: scale-lightness($tertiary, 20%);
$tertiary-l3: scale-lightness($tertiary, 30%);
$tertiary-l4: scale-lightness($tertiary, 40%);
$tertiary-l5: scale-lightness($tertiary, 50%);

// Neutral colours
$neutral: #94C7B6 !default;
$neutral-d1: scale-lightness($neutral, -10%);
$neutral-d2: scale-lightness($neutral, -20%);
$neutral-d3: scale-lightness($neutral, -30%);
$neutral-d4: scale-lightness($neutral, -40%);
$neutral-d5: scale-lightness($neutral, -50%);
$neutral-l1: scale-lightness($neutral, 10%);
$neutral-l2: scale-lightness($neutral, 20%);
$neutral-l3: scale-lightness($neutral, 30%);
$neutral-l4: scale-lightness($neutral, 40%);
$neutral-l5: scale-lightness($neutral, 50%);

// Just because
$black: #000 !default;
$white: #fff !default;

// Main element styling colours
// ---------------------------
$red: #e14d31 !default;
$blue: #478afa !default;
$cyan: #66cccc !default;
$green: #8bb65b !default;
$orange: #ee7836 !default;
$yellow: #f4c042 !default;
$purple: #7375a5 !default;
$light-grey: #e3e6ea !default;

// Related names
// ---------------------------
$alt: $blue !default;
$danger: $red !default;
$info: $cyan !default;
$warning: $orange !default;
$success: $green !default;

// Font stacks
// ---------------------------
$sans: "ff-dagny-web-pro", sans-serif !default;
$serif: "utopia-std-display", serif !default;
$monospace: Menlo, Monaco, "Courier New", monospace !default;
$icons: "SSStandard" !default;

// found the need sometimes to switch fonts mid project
// ---------------------------
$heading: $sans !default;
$body: $sans !default;
$form: $sans !default;
$element: $sans !default;

// Font sizes
// ---------------------------
$base-font-size: 16px !default;
$base-line-height: 24px !default; // must be px if using compass vertical rhythm

// px
// ---------------------------
$base-px: 12px !default;
$line: $base-px*2 !default;

// Define responsive stuff: see responsive.scss
// ---------------------------
$old-ie: false !default;
$fix-mqs: false !default;

// Defaults
// ---------------------------
$radius: 3px !default;

$default-transition-duration: .2s !default;
$transition-duration: $default-transition-duration !default;

// For grouped elements the space left if inline-block is set
$default-negative-spacing: -5px !default;

// General default colours
$default: #7d7e81 !default;
$default-text: #444 !default;
$default-text-shadow: #fff !default;
$default-subtle-color: #666 !default;

// Default sizing for elements
$default-size: 1 !default; // for element mixin
$default-ratio: .4875 !default; // for element mixin
$default-set-height: 36px !default;
$default-set-height-padding: $base-px !default;
$default-equal: false !default;
// How many times larger should the padding-left/right be than padding-top/bottom
$default-multiplier: 2 !default;

// Defaults for element/form paramaters and others
$default-dark-bg: false !default;
$default-shading: true !default;
$default-display: inline-block !default;
$default-dry: false !default;
$default-state: normal !default;


// Default form placeholder
$default-placeholder-color: $default !default;

// Default opacity for dark and light values
$default-dark-shadow: .2 !default;
$default-light-shadow: .6 !default;

// Context in which em functions are based on
$default-context: $base-font-size !default;

// Set your browser selection colour
$default-selection-background: #fefeca !default;
$default-selection-color: $primary !default;

// Set the <mark> element styles
$default-mark-color: $primary !default;
$default-mark-background: #fefeca !default;

// Default container width eg <div class="container">
$default-container: 960px;

// If you have border/focus colours
$border: scale-color($default, $lightness: -15%) !default;
$focus: $alt !default;

// Change your responsive widths here,
// corresponds with screens scss files a lowest e highest
// ---------------------------

// Set up some breakpoints
$a: 30em !default;
$b: 37.5em !default;
$c: 48em !default;
$d: 60em !default;
$e: 75em !default;
$f: 90em !default;

$default-hide-small-breakpoint: $b !default;
$default-hide-med-min-breakpoint: $b !default;
$default-hide-med-max-breakpoint: $c !default;
$default-hide-large-breakpoint: $d !default;

$default-breakpoints: compact($a, $b, $c, $d, $e, $f) !default;
$default-breakpoint-type: min !default;
$default-breakpoint-retina: false !default;
$default-breakpoint-width: false !default;
$default-breakpoint-min-resolution: 144dppx !default;
$default-breakpoint-pixel-ratio: 1.5 !default;

// grid.scss settings
// ---------------------------
$default-grid-columns: 6 !default;
$default-grid-padding: true !default;
$default-grid-max-width: $d !default;
$default-grid-width: 85% !default;
$default-grid-container-margin: auto !default;
$default-grid-container-selector: ".site" !default;
$default-grid-direction: left !default;
$default-grid-gutter: 1.5em !default;
$default-grid-respond-width: $d !default;

// if your html is minified set to false
// as it cuts out that little bit of css 
// needed to collapse whitespace
$default-grid-space: true !default; 

// Sizing increments, set in _helpers.scss
// ---------------------------
$xxlarge-size: 200% !default;
$xlarge-size: 150% !default;
$large-size: 133% !default;
$normal-size: 100% !default;
$small-size: 87.5% !default;
$xsmall-size: 75% !default;
$xxsmall-size: 50% !default;