// Import related files
// ---------------------------
@import "form_variables", "form_types", "form_shading";

@mixin form(
	$main-color: $default-form-main-color,
	$focus-color: $default-form-focus-color,
	$background-color: $default-form-background-color,
	$type: $default-form-type,
	$state: $default-form-state,
	$radius: $default-form-radius, 
	$shading: $default-form-shading,
	$set-height: $default-form-set-height,
	$dry: $default-form-dry,
	$text-elements: $default-text-elements,
	$check-elements: $default-check-elements) {
	
	// Text
	// ---------------------------
	@if index($text-elements, unquote($type)) {
		@include form-text($main-color, $focus-color, $background-color); }
	
	// Select
	// ---------------------------
	@else if unquote($type) == select {
		@include form-select($main-color, $focus-color, $background-color); }
	
	// Check
	// ---------------------------
	@else if index($check-elements, unquote($type)) {
		@include form-check($main-color, $focus-color, $background-color); }
		
	// Submit
	// ---------------------------
	@else if $type == submit {
		@warn "#{error("Please use element mixin to style submit buttons.")}"; }
	
	// Not supported
	// ---------------------------
	@else {
		@debug #{$type};
		@debug index($type, $text-elements);
		@warn "#{error("Type not supported.")}"; }
	
	// Reusability
	// ---------------------------
	@if $dry == false {
		@include form-base(
			$type: $default-form-type,
			$radius: $default-form-radius,
			$set-height: $default-form-set-height); }
	@else {
		@extend %form-base-with-mixin; } }