@import "form_variables";

// Text
// ---------------------------
@mixin form-text(
	$main-color: $default-form-main-color,
	$focus-color: $default-form-focus-color,
	$background-color: $default-form-background-color) {
	
	@include form-shading($main-color, normal, text);
	
	&:focus {
		@include form-shading($focus-color, focus, text); } }

// Select
// ---------------------------
@mixin form-select(
	$main-color: $default-form-main-color,
	$focus-color: $default-form-focus-color,
	$background-color: $default-form-background-color) {
	
	@include form-shading($main-color, normal, select);
	
	&:focus {
		@include form-shading($focus-color, focus, select); } }

// Check
// ---------------------------
@mixin form-check(
	$main-color: $default-form-main-color,
	$focus-color: $default-form-focus-color,
	$background-color: $default-form-background-color) {
	margin: 0 em($base-px/2) 0 0; }

// Form basic styles
// ---------------------------
@mixin form-base(
	$type: $default-form-type,
	$radius: $default-form-radius,
	$set-height: $default-form-set-height) {
	@extend %form-base;
	
	@if $radius { 
		border-radius: $radius; }
	
	@if $set-height and $type != textarea {
		@include set-height($set-height); }
		
	@else {
		padding: element-size($default-size, true); } }
		
%form-base {
	@include appearance(none);
	border: none;
	font-family: $form;
	outline: none;
	max-width: 100%;
	color: $primary;
	line-height: normal; }

%form-base-with-mixin {
	@extend %form-base;
	@include form-base; }

%form-base-check {
	@extend %form-base-with-mixin; }

%form-base-radio {
	@extend %form-base;
	@include form-base($radius: 100%); }

%form-block {
	display: block;
	width: 100%; }

// Placeholder styles
// ---------------------------
@mixin placeholder(
	$color: $default-placeholder-color) {
	::-webkit-input-placeholder {
	 color: $color; }
	::-moz-placeholder {
	 	color: $color; }
	:-ms-input-placeholder {  
	 color: $color; } }

// Form label positioning
// ---------------------------
@mixin form-label(
	$position: $default-form-label-position,
	$margin: $default-form-label-margin,
	$breakpoint: $default-form-label-breakpoint,
	$input-width: $default-form-label-input-width
) {
	
	@if $position != left {
		@extend %form-block;
		&,
		& + input, 
		& + select, 
		& + textarea {
			@extend %form-block;
			margin: $margin; } }
	
	@else {
		width: 100%;
		
		@include breakpoint($breakpoint) {
			display: inline-block;
			width: 100% - $input-width; }
			
		& + ul
		& + input, 
		& + select, 
		& + textarea {
			width: 100%;
			clear: left;
			
			@include respond-min($b) {
				display: inline-block;
				width: $input-width; } } } }