// Simple 6 column grid using
// display: inline-block
// ---------------------------
@mixin grid(
	$grid-columns							: $default-grid-columns,
	$grid-padding							: $default-grid-padding,
	$grid-space								: $default-grid-space,
	$grid-container-selector	: $default-grid-container-selector,
	$grid-gutter							: $default-grid-gutter,
	$grid-max-width						: $default-grid-max-width,
	$grid-direction						: $default-grid-direction,
	$grid-respond-width				: $default-grid-respond-width,
	$grid-width								: $default-grid-width,
	$grid-container-margin		: $default-grid-container-margin) {
		
	#{unquote($grid-container-selector)} {
		@extend %clear;
		margin: $grid-container-margin;
		position: relative;
		width: $grid-width;
		
		@if $grid-max-width { 
			max-width: $grid-max-width; } }
	
	.grid {
		display: block;
		padding: 0;
		text-align: $grid-direction;
		text-rendering: optimizespeed;
		
		@if $grid-padding {
			margin: 0 -0.5 * $grid-gutter; }
		
		@if $grid-space {
	    letter-spacing: -0.31em;
			
			.opera-only :-o-prefocus & {
		    word-spacing: -0.43em; } }
			
		> .grid {
		  margin-right: 0;
		  margin-left: 0; } }
	
	%grid-padding {
		padding: 0 0.5 * $grid-gutter; }
	
	.grid-cell {
		position: relative;
		display: inline-block;
		width: 100%;
		margin: 0;
		vertical-align: top;
		text-align: $grid-direction;
		letter-spacing: normal;
		word-spacing: normal;
		text-rendering: auto; }
	
	.grid-center {
		display: block;
		margin: 0 auto; }
	
	$i: 1;
	
	@for $i from 1 through $grid-columns {
		$w: (100% / $grid-columns) * $i;
		
		@if $grid-padding {
			.grid-#{$i} {
				@extend %grid-padding; } }
		
		.before-#{$i} {
			margin-left: $w; }
			
		.after-#{$i} {
			margin-right: $w; }
		
		@if $i == $grid-columns {
			.grid-#{$i} {
				@extend .grid-cell; } }
				
		@else {
			.grid-#{$i} {
				@extend .grid-cell;
				
				@include breakpoint($grid-respond-width) {
					width: $w; } } } } }

// Loop for percentages
// ---------------------------
@for $i from 1 through 19 {
  $num: $i * 5;
  $percent: $num * 1%;

  %grid-#{$num} {
	  float: left;
    width: $percent; }

  %prefix-#{$num} {
    margin-left: $percent; }

  %suffix-#{$num} {
    margin-right: $percent; }

  %push-#{$num} {
    left: $percent; }

  %pull-#{$num} {
    left: $percent * -1; } }