// 	----------------------------------------- 
//	Navigation types
// 	-----------------------------------------

@mixin navigation($position: false, $background: false, $size: "normal") {
	@if $position == "fixed" {
		position: fixed;
	}
	
}

@mixin dropdown-base {
	list-style:none;
	float:left;
	width:100%;
	position:relative;
	z-index:5;
	font: 700 $base-font-size/1 $sans; }
	
@mixin dropdown(
	$main-colour: $default,
	$text-colour: $default-text,
	$text-shadow: $default-text-shadow,
	$radius: 3px,
	$subtle: false,
	$size: "normal",
	$icon: false ) {
	
		@include dropdown-base;
		ul > li > a {
			font-weight: 700;
			display:block;
			text-decoration:none;
			position: relative;
			// subtle navigation
			@if $subtle == false {
				@include background(linear-gradient(top, lighten($main-colour, 10%), $main-colour));
				@include box-shadow(inset 0 1px 0 fade-out($white, 0.7), 0 1px 3px fade-out($black, 0.9));
				border: 1px solid darken(desaturate($main-colour, 20%), 10%);
				color: lighten($text-colour, 20%);
				text-shadow: 0 1px 1px $text-shadow; }
			@else {
				background: none;
				background: fade-out($black, 0.99);
				color: $default-text;
				border: none;
				text-shadow: none;
				border: 1px solid fade-out($black, 0.95);
				@include box-shadow(none);
				&:hover, &:focus {
					text-shadow: 0 1px 1px $text-shadow; } }	
			// dropdown sizes
			@if $size == "big" {
				padding: 12px 24px; }
			@elseif $size == "small" {
				padding: 3px 6px; }
			@else {
				padding: 6px 12px; }
			@if $radius != 0 {
				@include border-radius($radius); }  
			position: relative;
			&:hover, &:focus {
				color: $text-colour;
				border-color: darken($main-colour, 15%);
				@extend %no-outline;
				@include background(linear-gradient(top, lighten($main-colour, 15%), lighten($main-colour, 5%)));
				@include box-shadow(inset 0 1px 0 fade-out($white, 0.55), 0 1px 3px fade-out($black, 0.8)); }
			&:active {
				border-color: darken($main-colour, 25%);
				@include background(linear-gradient(darken($main-colour, 10%) 50%, darken($main-colour, 5%)));
				@include box-shadow(inset 0 1px 3px fade-out($black, 0.8), 0 1px 1px fade-out($white, 0.8)); }
				
	} // end a
		ul > li > a:after {
			content: "\21E3";
			font: 900 16px/0.1 $sans;
			position: relative;
			right: -5px;
			top: 2px; }
		a:only-child:after {
			display: none;
			&:hover, &:focus {
				@include border-radius(3px !important); } }
	
	// other required styles
	* { @include transition(opacity .2s ease); }
	ul {
		@extend %mtb; }
	li {
		float:left;
		position:relative;
		display: inline-block;
		z-index: 0 }
	ul ul {
		list-style: none;
		position: absolute;
		opacity: 0; height: 0; top: 18px;
		z-index: 0;
		border: 1px solid fade-out($black, 0.8);
		@include box-shadow(0 1px 3px fade-out($black, 0.8));
		border-top: none;
		@include border-radius(0 0 5px 5px); }
	ul li {
		float: none;
		background: none; }
	ul a {
		white-space: nowrap; }
	li ul li {
		display: block;
		min-width: 80px;
	}
	li ul li a {
		background: none;
		border: none;
		text-shadow: none;
		background: #fff; color: $main-colour;
		@include border-radius(0);
	}
	li ul li:last-child a { @include border-radius(0 0 5px 5px); }
	li:hover ul, li:hover ul ul, li:hover ul ul li a {
		left: 0;
		opacity: 1; height: auto; font-size: inherit; top: 18px;
		z-index: 10; }
	li:hover a {
		@include border-radius(3px 3px 0 0); }
	li:hover ul a {
		color: $main-colour;
		@include transition(all .2s linear);
		@include border-radius(0);
		@include box-shadow(none); }
	li:hover ul li a:hover {
		color: #222;
		background: #eee; }
}

@mixin breadcrumb($selector: ".breadcrumb", $list: true, $separator: "/") {
	
	#{$selector} {
		
		@if $list == true {
			li {
				
			}
		}
		@else {
			
		}
		&:after {
			content: "#{$separator}";
		}
	}
	
}

.dropdown {
	@include dropdown($info, #fff, darken($info, 20%));
}