/* normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block; }

audio,
canvas,
video {
	display: inline-block; }

audio:not([controls]) {
	display: none; }

[hidden] {
	display: none; }

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; }

body {
	margin: 0; }

a {
	&, &:active, &:focus {
		outline: 0; } }

abbr[title] { 
	border-bottom: 1px dotted; }

b, strong {
	font-weight: bold; }

dfn {
	font-style: italic; }

mark {
	background: $default-mark-background;
	color: $default-mark-color; }

pre {
	@include force-wrap; }

q {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none; } }

small {
	font-size: 75%; }

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sup {
	top: -.5em; }

sub {
	bottom: -.25em; }

dl, %dl {
	margin: 0;
	padding: 0; }

dd, %dd {
	margin: 0; }
	
menu {
	@extend %dd;
	padding: 0 0 0 em($line - 4px); }

ol,
ul {
	@extend menu; }


nav ul,
nav ol {
	padding: 0;
	list-style: none;
	list-style-image: none; }

img {
	border: 0; 
	max-width: 100%; }

svg:not(:root) {
	overflow: hidden; }

figure, form {
	margin: 0; }

fieldset {
	border: none;
	margin: 0 0 em($line);
	padding: 0; }

legend {
	border: 0; 
	padding: 0;
	white-space: normal; }

button,
input,
select,
textarea {
	font-size: 100%; 
	margin: 0; 
	vertical-align: baseline; }

button,
[type="submit"] {
	@include appearance(none);
	border: none; }

button,
input {
	line-height: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: pointer; }

html [disabled] {
	cursor: default; }

[type="checkbox"],
[type="radio"] {
	padding: 0; }

[type="search"] {
	@include appearance(textfield); }

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0; }

textarea {
	overflow: auto; 
	vertical-align: top;  }

table {
	border-collapse: collapse;
	border-spacing: 0; }

:focus {
	outline: none; }
	
::-moz-selection {
	background: $default-selection-background;
	color: $default-selection-color; 
	text-shadow: none; }
	
::selection {
	background: $default-selection-background;
	color: $default-selection-color;
	text-shadow: none; }

*,
*:before,
*:after {
	@include box-sizing(border-box); }