// Helpful RWD functions/mixins
// ---------------------------

// target / context = result
// long length version
// ---------------------------
@function calc-percent($target, $container: $default-container) {
	@return ($target / $container) * 100%; }
// shortcut
@function cp($target, $container: $default-container) {
	@return calc-percent($target, $container); }

// px to em
// ---------------------------
@function em($target-px, $context: $default-context) {
	@return ($target-px / $context) * 1em; }

// Baseline, measured in pixels
// The value should be the same as the font-size value for the html element
// If the html element's font-size is s to 62.5% (of the browser's default font-size of 16px),
// then the variable below would be 10px.
// $base-font-size: set in _base.scss
@mixin rem($property, $px-values) {
	// Convert the baseline into rems
	$baseline-rem: $base-font-size / 1rem;
	// Print the first line in pixel values
	#{$property}: $px-values;
	// If there is only one (numeric) value, return the property/value line for it.
	@if type-of($px-values) == "number" {
		#{$property}: $px-values / $baseline-rem; }
	@else {
		// Create an empty list that we can dump values into
		$rem-values: unquote("");
		@each $value in $px-values {
			// If the value is zero, return 0
			@if $value == 0 {
				$rem-values: append($rem-values, $value); }
			@else {
				$rem-values: append($rem-values, $value / $baseline-rem); } }
		// Return the property and its list of converted values
		#{$property}: $rem-values; } }

//	Simple media queries
// ---------------------------
@mixin respond-to($media) {
	@if $media == a {
		@media screen and (min-width: $a) { 
			@content; } }
	@else if $media == b	{
		@media screen and (min-width: $b) { 
			@content; } }
	@else if $media == c {
		@media screen and (min-width: $c) { 
			@content; } }
	@else if $media == d {
		@media screen and (min-width: $d) { 
			@content; } }
	@else if $media == e {
		@media screen and (min-width: $e) { 
			@content; } }
	@else if $media == f {
		@media screen and (min-width: $f) { 
			@content; } }
	// decisions behind this: http://www.brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries/
	@else if $media == retina {
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dppx) { 
			@content; } }
	@else if $media == nonretina {
		@media (-webkit-max-device-pixel-ratio: 1.5), (max-resolution: 144dppx) { 
			@content; } } }


$default-breakpoint-orientation: false !default;
@mixin breakpoint(
	$width: $default-breakpoint-width,
	$type: $default-breakpoint-type,
	$retina: $default-breakpoint-retina,
	$orientation: $default-breakpoint-orientation
) {
	
	$widths: $width;
	$width-1: nth($widths, 1);
	
	@if length($widths) > 1 { 
		$width-2: nth($widths, 2);
		
		@media (min-width: $width-1) and (max-width: $width-2) {
   		@content; } }
  @else if $width == false and $retina {
		@media (-webkit-max-device-pixel-ratio: $default-breakpoint-pixel-ratio),
					 (min-resolution: $default-breakpoint-min-resolution) {
   		@content; } }
	@else {
		@media (#{$type}-width: $width-1) {
   		@content; } } }

// Better/flexible media queries, with old IE fallback 
// see: https://github.com/jakearchibald/sass-ie
// ---------------------------
@mixin respond-min($width) {
	@if $fix-mqs {
		@if $fix-mqs >= $width {
			@content;	 } }
	@else {
		@media (min-width: $width) {
			@content; } } }
@mixin respond-max($width) {
	@if $fix-mqs {
		@if $fix-mqs >= $width {
			@content; } }
	@else {
		@media screen and (max-width: $width) {
			@content; } } }

@mixin old-ie {
	@if $old-ie {
		@content; } }

// idea from http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss 
// adapted for further efficiency
// ---------------------------
@mixin image-2x($image, $context: $default-context) {
	@include breakpoint(false, $retina: true) {
		background-image: url($image);
		background-size: em(image-width($image)/2, $context) em(image-height($image)/2, $context); } }