/*
	Reset (http://html5doctor.com/html-5-reset-stylesheet/)
-----------------------------------------------------------------------*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, q, samp, small, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
html, body {@include fixed-sized-text; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility;}
body {line-height: 1;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {
	content: ''; content: none; }
a {
	margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
abbr[title], dfn[title] {
	border-bottom: 1px dotted; cursor: help; }
hr {
	display: block; border: none; -webkit-border-image: url(../images/_layout/hr.png) 100% 0 0 0 round; -moz-border-image: url(../images/_layout/hr.png) 100% 0 0 0 round; border-image: url(../images/_layout/hr.png) 100% 0 0 0 round; border-width: 3px 0 0 0; margin: 4% 0; }
input, select {
	vertical-align: middle; padding: 0; margin: 0; line-height: 1; }
:focus {
 outline: auto 1px -webkit-focus-ring-color; outline-offset: -2px; -moz-outline: -moz-mac-focusring solid 2px; -moz-outline-radius: 5px; -moz-outline-offset: 0; }
::-moz-selection{
 background: #a9a465; color: #fff; text-shadow: none; }
::selection {
 background: #a9a465; color: #fff; text-shadow: none; }