/*
Syntax error: File to import not found or unreadable: ../import/framework.
              Load paths:
                /Users/Steve/Dropbox/Sites/dev/ee/assets/sass
                /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets
                /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/stitch-0.1.6/stylesheets
                /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/susy-1.0.4/sass
                /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/animate-sass-0.1.1/stylesheets
                Compass::SpriteImporter
        on line 1 of /Users/Steve/Dropbox/Sites/dev/ee/assets/sass/custom/sass_hints_tips.scss

1: /Users/Steve/Dropbox/Sites/dev/ee/assets/sass/custom/sass_hints_tips.scss

Backtrace:
/Users/Steve/Dropbox/Sites/dev/ee/assets/sass/custom/sass_hints_tips.scss:1
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/import_node.rb:45:in `import'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:31:in `create'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:26:in `block in created'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:25:in `each'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:25:in `created'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:17:in `refresh'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/bin/compass:19:in `load'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/bin/compass:19:in `<main>'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/Users/Steve/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: ../import/framework.\A               Load paths:\A                 /Users/Steve/Dropbox/Sites/dev/ee/assets/sass\A                 /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/stitch-0.1.6/stylesheets\A                 /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/susy-1.0.4/sass\A                 /Users/Steve/.rvm/gems/ruby-1.9.3-p194/gems/animate-sass-0.1.1/stylesheets\A                 Compass::SpriteImporter\A         on line 1 of /Users/Steve/Dropbox/Sites/dev/ee/assets/sass/custom/sass_hints_tips.scss\A \A 1: /Users/Steve/Dropbox/Sites/dev/ee/assets/sass/custom/sass_hints_tips.scss"; }
