/* 480px / 16px */
/* 600px / 16px */
/* 768px / 16px */
/* 900px / 16px */
/* 960px / 16px */
/* 1200px / 16px */
/* line 25, ../../sass/import/_helpers.scss */
.hidden {
  display: none;
}

@-webkit-keyframes bg {
  /* line 151, ../../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-moz-keyframes bg {
  /* line 151, ../../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-ms-keyframes bg {
  /* line 151, ../../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-o-keyframes bg {
  /* line 151, ../../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@keyframes bg {
  /* line 151, ../../sass/import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-webkit-keyframes title {
  /* line 153, ../../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-moz-keyframes title {
  /* line 153, ../../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-ms-keyframes title {
  /* line 153, ../../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-o-keyframes title {
  /* line 153, ../../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@keyframes title {
  /* line 153, ../../sass/import/_helpers.scss */
  0% {
    top: 2000px;
  }

  /* line 154, ../../sass/import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 155, ../../sass/import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 156, ../../sass/import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-webkit-keyframes nav {
  /* line 158, ../../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-moz-keyframes nav {
  /* line 158, ../../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-ms-keyframes nav {
  /* line 158, ../../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-o-keyframes nav {
  /* line 158, ../../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@keyframes nav {
  /* line 158, ../../sass/import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 159, ../../sass/import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 160, ../../sass/import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

/* line 2, ../../sass/custom/scale_color.scss */
.example-box {
  width: 48.75%;
  margin: 0 2.5% 1.5em 0;
  display: inline-block;
  vertical-align: top;
}
/* line 7, ../../sass/custom/scale_color.scss */
.example-box p:first-child {
  font-size: 1rem;
}
/* line 9, ../../sass/custom/scale_color.scss */
.example-box:nth-of-type(2n) {
  margin-right: 0;
}
/* line 11, ../../sass/custom/scale_color.scss */
.example-box span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 200px;
  margin: 0 0 1.5em;
}

/* line 19, ../../sass/custom/scale_color.scss */
p:empty {
  display: none;
}

/* line 21, ../../sass/custom/scale_color.scss */
.e1-scale {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eea29e), color-stop(50%, #dd453d), color-stop(100%, #781a15));
  background: -webkit-linear-gradient(#eea29e, #dd453d, #781a15);
  background: -moz-linear-gradient(#eea29e, #dd453d, #781a15);
  background: -o-linear-gradient(#eea29e, #dd453d, #781a15);
  background: linear-gradient(#eea29e, #dd453d, #781a15);
}

/* line 23, ../../sass/custom/scale_color.scss */
.e1-darken {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eea29e), color-stop(50%, #dd453d), color-stop(100%, #761a15));
  background: -webkit-linear-gradient(#eea29e, #dd453d, #761a15);
  background: -moz-linear-gradient(#eea29e, #dd453d, #761a15);
  background: -o-linear-gradient(#eea29e, #dd453d, #761a15);
  background: linear-gradient(#eea29e, #dd453d, #761a15);
}

/* line 25, ../../sass/custom/scale_color.scss */
.e2-scale {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c7d897), color-stop(50%, #88a23d), color-stop(100%, #44511e));
  background: -webkit-linear-gradient(#c7d897, #88a23d, #44511e);
  background: -moz-linear-gradient(#c7d897, #88a23d, #44511e);
  background: -o-linear-gradient(#c7d897, #88a23d, #44511e);
  background: linear-gradient(#c7d897, #88a23d, #44511e);
}

/* line 27, ../../sass/custom/scale_color.scss */
.e2-darken {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bcd081), color-stop(50%, #88a23d), color-stop(100%, #313a16));
  background: -webkit-linear-gradient(#bcd081, #88a23d, #313a16);
  background: -moz-linear-gradient(#bcd081, #88a23d, #313a16);
  background: -o-linear-gradient(#bcd081, #88a23d, #313a16);
  background: linear-gradient(#bcd081, #88a23d, #313a16);
}

/* line 29, ../../sass/custom/scale_color.scss */
.e3-scale {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9ccce4), color-stop(50%, #3a9ac9), color-stop(100%, #1c4d66));
  background: -webkit-linear-gradient(#9ccce4, #3a9ac9, #1c4d66);
  background: -moz-linear-gradient(#9ccce4, #3a9ac9, #1c4d66);
  background: -o-linear-gradient(#9ccce4, #3a9ac9, #1c4d66);
  background: linear-gradient(#9ccce4, #3a9ac9, #1c4d66);
}

/* line 31, ../../sass/custom/scale_color.scss */
.e3-darken {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #94c8e2), color-stop(50%, #3a9ac9), color-stop(100%, #19455b));
  background: -webkit-linear-gradient(#94c8e2, #3a9ac9, #19455b);
  background: -moz-linear-gradient(#94c8e2, #3a9ac9, #19455b);
  background: -o-linear-gradient(#94c8e2, #3a9ac9, #19455b);
  background: linear-gradient(#94c8e2, #3a9ac9, #19455b);
}
