/* 480px / 16px */
/* 600px / 16px */
/* 768px / 16px */
/* 900px / 16px */
/* 960px / 16px */
/* 1200px / 16px */
/* line 15, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
.title span {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 25, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
.hidden {
  display: none;
}

@-webkit-keyframes bg {
  /* line 150, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-moz-keyframes bg {
  /* line 150, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-ms-keyframes bg {
  /* line 150, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-o-keyframes bg {
  /* line 150, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@keyframes bg {
  /* line 150, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    background-position: center bottom;
  }
}

@-webkit-keyframes title {
  /* line 152, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 153, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 154, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-moz-keyframes title {
  /* line 152, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 153, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 154, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-ms-keyframes title {
  /* line 152, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 153, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 154, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-o-keyframes title {
  /* line 152, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 153, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 154, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    top: auto;
  }
}

@keyframes title {
  /* line 152, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    top: -5px;
  }

  /* line 153, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    top: 5px;
  }

  /* line 154, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    top: auto;
  }
}

@-webkit-keyframes nav {
  /* line 156, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 157, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 158, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-moz-keyframes nav {
  /* line 156, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 157, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 158, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-ms-keyframes nav {
  /* line 156, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 157, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 158, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@-o-keyframes nav {
  /* line 156, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 157, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 158, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

@keyframes nav {
  /* line 156, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  80% {
    opacity: 0.5;
    right: auto;
  }

  /* line 157, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  90% {
    opacity: 0.65;
    right: auto;
  }

  /* line 158, /Users/Steve/Sites/dev/ee/assets/sass/custom/../import/_helpers.scss */
  100% {
    opacity: 1;
    right: auto;
  }
}

/* line 9, ../../sass/custom/wordpress_post_formats.scss */
[type="submit"] {
  text-shadow: 0 -1px 2px #262626;
}

/* line 12, ../../sass/custom/wordpress_post_formats.scss */
.container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  background: url(../../images/_posts/wp/texture.png);
}

/* line 17, ../../sass/custom/wordpress_post_formats.scss */
[role="article"] img {
  border: 5px solid #595959;
  margin: 0 0 20px;
}

/* line 21, ../../sass/custom/wordpress_post_formats.scss */
body, article h1, h2, h3, p, ul, li, .title span {
  color: #595959;
}

/* line 24, ../../sass/custom/wordpress_post_formats.scss */
.title {
  padding-bottom: 36px;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-shadow: none;
  -webkit-mask: none;
}
/* line 33, ../../sass/custom/wordpress_post_formats.scss */
.title span {
  padding:  0 0.375rem;
  margin:  0 0.375rem 0.375rem 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  line-height: 1.5;
  letter-spacing: normal;
  text-transform: uppercase;
  background: white url(../../images/_posts/heading_bg.png);
}
/* line 45, ../../sass/custom/wordpress_post_formats.scss */
.title span:nth-of-type(2n+2) {
  -webkit-transform: rotate(-0.75deg);
  -moz-transform: rotate(-0.75deg);
  -ms-transform: rotate(-0.75deg);
  -o-transform: rotate(-0.75deg);
  transform: rotate(-0.75deg);
}
/* line 47, ../../sass/custom/wordpress_post_formats.scss */
.title span:hover, .title span:focus {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-transform: rotate(1.75deg) translateY(-3px) scale(1);
  -moz-transform: rotate(1.75deg) translateY(-3px) scale(1);
  -ms-transform: rotate(1.75deg) translateY(-3px) scale(1);
  -o-transform: rotate(1.75deg) translateY(-3px) scale(1);
  transform: rotate(1.75deg) translateY(-3px) scale(1);
  z-index: 100;
}
/* line 51, ../../sass/custom/wordpress_post_formats.scss */
.title .space10, .title .space15 {
  display: block;
}
/* line 54, ../../sass/custom/wordpress_post_formats.scss */
.title .char1, .title .char2, .title .char3, .title .char4, .title .char5,
.title .char6, .title .char7, .title .char8, .title .char9 {
  margin: 0 6px 6px 0;
}
/* line 56, ../../sass/custom/wordpress_post_formats.scss */
.title .char10 {
  height: 12px;
  display: block;
  margin: 0;
  width: 100%;
}
/* line 61, ../../sass/custom/wordpress_post_formats.scss */
.title .char10, .title .char15 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}

/* line 65, ../../sass/custom/wordpress_post_formats.scss */
[type="submit"] {
  -webkit-box-shadow: 0 0 0 1px #404040, inset 0 1px 0 rgba(191, 191, 191, 0.2), inset 0 2px 0 rgba(191, 191, 191, 0.15);
  -moz-box-shadow: 0 0 0 1px #404040, inset 0 1px 0 rgba(191, 191, 191, 0.2), inset 0 2px 0 rgba(191, 191, 191, 0.15);
  box-shadow: 0 0 0 1px #404040, inset 0 1px 0 rgba(191, 191, 191, 0.2), inset 0 2px 0 rgba(191, 191, 191, 0.15);
  background: #595959;
  color: #eee;
}
/* line 73, ../../sass/custom/wordpress_post_formats.scss */
.noboxshadow [type="submit"] {
  border: 1px solid #404040;
}
/* line 75, ../../sass/custom/wordpress_post_formats.scss */
[type="submit"]:hover, [type="submit"]:focus {
  -webkit-box-shadow: 0 0 0 1px #4d4d4d, inset 0 1px 0 rgba(191, 191, 191, 0.2), inset 0 2px 0 rgba(191, 191, 191, 0.15);
  -moz-box-shadow: 0 0 0 1px #4d4d4d, inset 0 1px 0 rgba(191, 191, 191, 0.2), inset 0 2px 0 rgba(191, 191, 191, 0.15);
  box-shadow: 0 0 0 1px #4d4d4d, inset 0 1px 0 rgba(191, 191, 191, 0.2), inset 0 2px 0 rgba(191, 191, 191, 0.15);
  background: #666666;
}
/* line 81, ../../sass/custom/wordpress_post_formats.scss */
[type="submit"]:active {
  -webkit-box-shadow: 0 0 0 1px #1a1a1a, inset 0 1px 1px #262626;
  -moz-box-shadow: 0 0 0 1px #1a1a1a, inset 0 1px 1px #262626;
  box-shadow: 0 0 0 1px #1a1a1a, inset 0 1px 1px #262626;
  background: #4d4d4d;
}

@media screen and (min-width: 37.5em) {
  /* line 90, ../../sass/custom/wordpress_post_formats.scss */
  .meta a, .meta time, .meta li {
    color: rgba(89, 89, 89, 0.5);
  }
}
@media screen and (min-width: 48em) {
  /* line 94, ../../sass/custom/wordpress_post_formats.scss */
  .container {
    background: none;
  }

  /* line 96, ../../sass/custom/wordpress_post_formats.scss */
  [role="banner"] {
    background: url(../../images/_posts/wp/texture.png);
  }

  /* line 98, ../../sass/custom/wordpress_post_formats.scss */
  .title {
    width: 88%;
  }
  /* line 100, ../../sass/custom/wordpress_post_formats.scss */
  .title span {
    padding: 0 12px;
    margin: 0 12px 12px 0;
  }
  /* line 103, ../../sass/custom/wordpress_post_formats.scss */
  .title .space15 {
    height: 12px;
    display: inline-block;
    margin: 0;
    width: 24px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  /* line 111, ../../sass/custom/wordpress_post_formats.scss */
  .title .char1, .title .char2, .title .char3, .title .char4, .title .char5,
  .title .char6, .title .char7, .title .char8, .title .char9 {
    margin: 0 12px 12px 0;
  }

  /* line 116, ../../sass/custom/wordpress_post_formats.scss */
  [role="navigation"] li a {
    -webkit-box-shadow: 0 1px 0 rgba(13, 13, 13, 0.2), 0 0 0 1px #333333, inset 0 1px 2px rgba(191, 191, 191, 0.25), inset 0 -1px 0 rgba(38, 38, 38, 0.1), inset 0 -1px 2px rgba(38, 38, 38, 0.15);
    -moz-box-shadow: 0 1px 0 rgba(13, 13, 13, 0.2), 0 0 0 1px #333333, inset 0 1px 2px rgba(191, 191, 191, 0.25), inset 0 -1px 0 rgba(38, 38, 38, 0.1), inset 0 -1px 2px rgba(38, 38, 38, 0.15);
    box-shadow: 0 1px 0 rgba(13, 13, 13, 0.2), 0 0 0 1px #333333, inset 0 1px 2px rgba(191, 191, 191, 0.25), inset 0 -1px 0 rgba(38, 38, 38, 0.1), inset 0 -1px 2px rgba(38, 38, 38, 0.15);
  }
  /* line 123, ../../sass/custom/wordpress_post_formats.scss */
  [role="navigation"] li a:focus, [role="navigation"] li a:hover, [role="navigation"] li a.hover {
    -webkit-box-shadow: 0 0 0 1px #333333, inset 0 1px 2px rgba(191, 191, 191, 0.35), inset 0 -1px 0 rgba(38, 38, 38, 0.05), inset 0 -1px 2px rgba(38, 38, 38, 0.3), 0 1px 3px rgba(38, 38, 38, 0.5);
    -moz-box-shadow: 0 0 0 1px #333333, inset 0 1px 2px rgba(191, 191, 191, 0.35), inset 0 -1px 0 rgba(38, 38, 38, 0.05), inset 0 -1px 2px rgba(38, 38, 38, 0.3), 0 1px 3px rgba(38, 38, 38, 0.5);
    box-shadow: 0 0 0 1px #333333, inset 0 1px 2px rgba(191, 191, 191, 0.35), inset 0 -1px 0 rgba(38, 38, 38, 0.05), inset 0 -1px 2px rgba(38, 38, 38, 0.3), 0 1px 3px rgba(38, 38, 38, 0.5);
    background: rgba(115, 115, 115, 0.5);
  }
  /* line 131, ../../sass/custom/wordpress_post_formats.scss */
  [role="navigation"] li a:active, [role="navigation"] li a.active {
    -webkit-box-shadow: 0 0 0 1px #323232, inset 0 1px 3px rgba(51, 51, 51, 0.7), 0 2px 1px 0 rgba(191, 191, 191, 0.15);
    -moz-box-shadow: 0 0 0 1px #323232, inset 0 1px 3px rgba(51, 51, 51, 0.7), 0 2px 1px 0 rgba(191, 191, 191, 0.15);
    box-shadow: 0 0 0 1px #323232, inset 0 1px 3px rgba(51, 51, 51, 0.7), 0 2px 1px 0 rgba(191, 191, 191, 0.15);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(38, 38, 38, 0.3)), color-stop(100%, rgba(38, 38, 38, 0)));
    background: -webkit-linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0));
    background: -moz-linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0));
    background: -o-linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0));
    background: -ms-linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0));
    background: linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0));
  }
}
