{preload_replace:this_index_channel="news"}

<p>Template: nsm_better_meta/category-index</p>


{exp:channel:category_heading channel="{this_index_channel}"}
	{if no_results}{redirect="404"}{/if}
	{embed="nsm_better_meta/.header"
		title="{category_name}"
		title_suffix="nsm_better_meta/category-archive"
		description="{category_description}"
	}
	<h1>{category_name} <small> &mdash; Category archive</small></h1>
{/exp:channel:category_heading}

<ol>
	{exp:channel:entries channel="{this_index_channel}"}
	{if no_results}<li>No entries have been assigned to this category</li>{/if}
	<li><a href="{if page_uri}{page_uri}{if:else}{entry_id_path='nsm_better_meta/entry'}{/if}">{title}</a></li>
	{/exp:channel:entries}
</ol>

{embed="nsm_better_meta/.footer"}