{preload_replace:this_page_channel="news"}

<p>Template: nsm_better_meta/entry</p>

{exp:channel:entries
	_cache="yes"
	disable="category_fields|pagination|member_data"
	limit="1"
	refresh="10"
	status="not closed"
	track_views="one"
	channel="{this_page_channel}"
}
	{embed="nsm_better_meta/.header"
		entry_id="{entry_id}"
		title_suffix="{channel_title}"
	}
		<h1>{title}</h1>
		<p><a href="{path=nsm_better_meta/index}">Back to entry index</a></p>
	{embed="nsm_better_meta/.footer"}
{/exp:channel:entries}