@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.prose {
  color: theme('colors.fern.1100');
  font-size: theme('fontSize.base');
  line-height: theme('lineHeight.normal');

  b,
  strong {
    font-weight: 600;
  }

  @screen md {
    font-size: theme('fontSize.lg');
  }

  @screen lg {
    font-size: theme('fontSize.xl');
  }

  /**
   * code theme
   */
  & {
    --code-black: theme('colors.fern.1100');
    --code-red: theme('colors.rio.200');
    --code-yellow: theme('colors.dandelion.300');
    --code-green: theme('colors.grass.300');
    --code-blue: theme('colors.cornflour.300');
    --code-magenta: theme('colors.magenta.200');
    --code-cyan: theme('colors.fern.300');
    --code-white: theme('colors.fern.100');
    --code-comment: theme('colors.neutral-03.400');
  }

  > *:not(:global(.prose-exclude)) {
    grid-column: content-start / content-end;

    @screen xl {
      grid-column: 3 / 11;
    }
  }

  [id] {
    scroll-margin-top: 2rem;
  }

  figure :where(figcaption, figcaption p) {
    color: oklch(26.8% 0.059 173.5 / .6);
    font-family: theme('fontFamily.mono');
    font-size: theme('fontSize.base');
    letter-spacing: -0.03em;
    line-height: theme('lineHeight.tight');
  }

  /* text: font, letter-spacing definitions */
  :where(h1, h2, h3, h4, h5, h6) {
    font-family: theme('fontFamily.display');
    text-transform: lowercase;
    text-wrap: balance;
  }

  :where(h1, h2, h3, h4, h5, h6) > code {
    font-family: theme('fontFamily.display');
    font-weight: inherit;
  }

  :where(h1, h2, h3, h4) {
    letter-spacing: -0.0170454546em;

    @screen lg {
      letter-spacing: -0.0340909091em;
    }
  }

  :where(h2) {
    font-variation-settings: 'wdth' 100, 'wght' 700;
  }

  :where(h3, h4, h5, h6) {
    font-variation-settings: 'wdth' 100, 'wght' 600;
  }

  h1 {
    font-size: theme('fontSize.3xl');
    line-height: theme('lineHeight.3xl');

    @screen xs {
      font-size: theme('fontSize.5xl');
      line-height: theme('lineHeight.5xl');
    }

    @screen lg {
      font-size: theme('fontSize.7xl');
      line-height: theme('lineHeight.7xl');
      font-variation-settings: 'wdth' 100, 'wght' 750;
    }
  }

  h2 {
    font-size: theme('fontSize.xl');
    line-height: theme('lineHeight.xl');

    @screen xs {
      font-size: theme('fontSize.3xl');
      line-height: theme('lineHeight.3xl');
    }

    @screen lg {
      font-size: theme('fontSize.5xl');
      line-height: theme('lineHeight.5xl');
    }
  }

  h3 {
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.lg');

    @screen xs {
      font-size: theme('fontSize.2xl');
      line-height: theme('lineHeight.2xl');
    }

    @screen lg {
      font-size: theme('fontSize.3xl');
      line-height: theme('lineHeight.3xl');
    }
  }

  h4 {
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.3xl');

    @screen xs {
      font-size: theme('fontSize.xl');
      line-height: theme('lineHeight.lg');
    }

    @screen lg {
      font-size: theme('fontSize.2xl');
      line-height: theme('lineHeight.2xl');
    }
  }

  :where(h5, h6) {
    font-size: theme('fontSize.xl');
    line-height: theme('lineHeight.xl');
  }

  ul > li::marker {
    font-size: 112.5%;
  }

  :where(p, li) {
    color: theme('colors.ui.body');
    text-wrap: pretty;
  }

  p code {
    color: theme('colors.dandelion.600');

    @supports (font-size-adjust: ex-height 0.51) {
      font-size-adjust: ex-height 0.51;
      line-height: 1;
    }
  }

  table {
    width: 100%;
    padding: 0;
  }

  thead tr {
    border-bottom: 3px solid theme('colors.neutral-01.150');
  }

  tbody tr {
    transition: 0.2s;
    &:hover,
    &:focus {
      background-color: theme('colors.neutral-01.150');
    }
  }

  tbody tr:not(:last-child) {
    border-bottom: 1px solid theme('colors.neutral-01.200');
  }

  th,
  td {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  th:not(:first-child),
  td:not(:first-child) {
    @screen md {
      padding-left: 16px;
    }
  }

  th:not(:last-child),
  td:not(:last-child) {
    @screen md {
      padding-right: 16px;
    }
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }

  :global(.fragment) {
    position: relative;
    top: -0.025em;
    transition: opacity 0.2s, transform 0.4s;
    display: inline-block;
    vertical-align: text-top;
    transform-origin: center center;
    mix-blend-mode: multiply;

    @screen sm {
      top: 0.025em;
    }
  }

  :global(.fragment .icon:before) {
    content: url(/icon/16/link.svg);
    display: block;
    width: 16px;
    height: 16px;
    margin-inline-end: theme('margin.1');
    margin-inline-start: calc((theme('margin.1') * -1) - 16px);
    opacity: 0.4;

    @screen sm {
      content: url(/icon/24/link.svg);
      width: 24px;
      height: 24px;
      margin-inline-end: theme('margin.2');
      margin-inline-start: calc((theme('margin.2') * -1) - 24px);
    }
  }

  :where(h2, h3, h4, h5, h6) {
    > a[rel] {
      text-decoration: underline;
      text-decoration-skip-ink: auto;
      text-underline-offset: 4px;
      text-decoration-thickness: 1px;
      transition: 0.2s ease;

      &:hover,
      &:focus {
        color: theme('colors.dandelion.600');
        text-decoration-color: theme('colors.dandelion.600');
      }
    }

    @media (hover: hover) {
      &:not(:hover, :focus) :global(.fragment) {
        transition: opacity 0.2s, transform 0.4s;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(32px, 0, 0);
        opacity: 0;
      }
    }
  }

  p > a {
    transition: 0.2s ease-out;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-skip: ink;
    text-decoration-thickness: .5px;

    &:hover {
      border-radius: .125rem;
      background-color: rgb(162 143 140 / .2);
      text-decoration-color: transparent;
    }
  }
}

/* .prose > * + * {
   // margin: 0;
   // --space-start: theme('margin.16');
   // --space-end: theme('margin.4');
   // margin-block-start: var(--space-start, 1.5em);
   // margin-block-end: var(--space-end, 1.5em);
   //
}
 */
/*.prose :where(h1, h2, h3, h4, h5, h6, p, li, a) {
   text-box-trim: both;
   text-box-edge: ex alphabetic;
}
*/

/* toc */
// .prose {
//   /*
//     nav.toc
//     ol.toc-level.toc-level-1/2
//     li.toc-item.toc-item-h2/h3
//     a.toc-link.toc-link-h2/h3
//   */
//
//   :global(.toc) {
//     --toc-item-border: theme('colors.neutral-01.300');
//     position: sticky;
//     z-index: 10;
//     top: 0;
//     grid-column: 2 / span 4;
//   }
//
//   :global(.toc-title) {
//     font-size: theme('fontSize.base');
//     line-height: 1.5;
//   }
//
//   :global(.toc-level-1) {
//     --corner-spacing: 8px;
//     position: relative;
//     padding-left: 1px;
//
//     &:before {
//       content: '';
//       position: absolute;
//       top: 19px;
//       left: 0;
//       bottom: 19px;
//       width: var(--corner-spacing);
//       border-bottom-left-radius: 6px;
//       border-left: 2px solid var(--toc-item-border);
//       border-bottom: 2px solid var(--toc-item-border);
//     }
//   }
//
//   :global(.toc-level),
//   :global(.toc-item) {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//   }
//
//   :global(.toc-item) {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     flex: 0 0 100%;
//     // gap: theme('spacing.2');
//
//     // &:before {
//     //   content: '';
//     //   display: block;
//     //   flex: 0 0 8px;
//     //   height: 2px;
//     // }
//   }
//
//   :global(.toc-link) {
//     padding-inline: theme('spacing.4');
//   }
//
//   :global(.toc-item-h3),
//   :global(.toc-item-h4) {
//     padding-inline-start: theme('spacing.4');
//   }
//
//   :global(.toc-level-2),
//   :global(.toc-level-3) {
//     padding-left: theme('spacing.2');
//   }
//
//   :global(.toc-item:not(:last-child):before) {
//     background-color: var(--toc-item-border);
//   }
//
//   :global(.toc-item .toc-link:after) {
//     content: '';
//     position: absolute;
//     top: calc(50% - 6px);
//     right: calc(100% - 7px);
//     display: block;
//     width: 12px;
//     height: 12px;
//     // box-shadow: 0 0 0 2px var(--toc-item-border);
//     background: theme('colors.neutral-03.0/0');
//     border-radius: 6px;
//   }
//
//   :global(.toc-item:first-child .toc-link:after) {
//     box-shadow: 0 0 0 2px var(--toc-item-border);
//     background: theme('colors.neutral-03.0');
//   }
//
//   :global(.toc-link) {
//     /*padding-block: theme('spacing.2'); font-variation-settings: 'wdth' 100, 'wght' 500;*/
//     color: theme('colors.fern.1100');
//     font-family: theme('fontFamily.sans');
//     font-size: theme('fontSize.base');
//     text-transform: lowercase;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//
//     &:hover {
//       overflow: visible;
//     }
//   }
// }

/**
 * spacing definitions
 */
.prose {
  /* block is proportional based on size */
  --inline-space: 1rem;
  --block-space: 2em;
  --block-space-small: 0.5em;

  //   :where(h1, h2, h3, h4, h5, h6, p, ol, ul) {
  //     padding-inline: var(--inline-space);
  //
  //     @screen md {
  //       padding-inline: 0;
  //     }
  //   }

  > * + * {
    margin-block-start: var(--block-space);
    // outline: 1px solid greenyellow;
  }

  :where(h2, h3, h4, h5, h6) + :where(p, ol, ul, div, figure, kbd),
  :where(p + p, p + ol, p + ul),
  :where(ul + p, ol + p) {
    --block-space: var(--block-space-small);
    // outline: 1px solid pink;
  }

  :where(p, li, figcaption) {
    text-wrap: pretty;
  }

  figure :where(figcaption) {
    padding-block-start: var(--block-space-small);
  }

  // :where(.article-image, figure, img) + p {
  //   --block-space: 0;
  // }

  > p + figure {
    // outline: 2px solid color(display-p3 0.05 0.721 0.921);
    margin-block-start: var(--block-space);
  }

  table {
    margin-block: theme('margin.12');
  }

  /* legacy posts start */
  :global(.article-image) {
    margin-block: var(--block-space);
  }

  h2 + :global(.article-image),
  h3 + :global(.article-image) {
    margin-block-start: var(--block-space-small);
  }
  /* legacy posts end */
}

.prose > img,
.prose > figure > img,
.prose > figure > :global(.sandbox),
.prose > :global(.images) > img,
.prose > :global(.article-image) > img,
.prose .demo,
.featured {
  box-shadow: theme('boxShadow.placed');

  @screen sm {
    border-radius: theme('borderRadius.lg');
  }
}

.prose > img,
.prose > figure > img,
.prose > figure > :global(.sandbox),
.prose > :global(.article-image) > img,
.featured {
  position: relative;
  max-width: none;
  left: -1.5rem;
  width: calc(100% + 3rem);

  @screen md {
    left: -2rem;
    width: calc(100% + 4rem);
  }
}

.prose :global(figcaption) > :global(p) {
  margin: 0;
}

.prose > figure > :global(.sandbox) {
  overflow: hidden;
}

/**
 * footnotes
 */
.prose :global(.footnotes) {
  border-top: 1px solid theme('colors.neutral-01.250');
  box-shadow: inset 0 1px theme('colors.neutral-01.100');
  padding-block-start: theme('spacing.8');

  > :global(h2) {
    font-size: theme('fontSize.3xl');
  }

  :global(.data-footnote-backref) {
    text-decoration: none;
  }
}

/**
 * code highlighting blocks
 * see prism.css for the code highlighting theme
 */
.prose {
  :global(.remark-code-container) {
    display: flex;
    flex-direction: column;
    background-color: theme('colors.fern.1100');
    overflow: hidden;
    padding: theme('padding.1');
  }

  // :global(.remark-code-container:has(.language-scss)
  //     .remark-code-title:before) {
  //   content: url(/icon/24/css.svg);
  //   display: block;
  // }

  :global(.remark-code-container) {
    @screen md {
      margin-inline: -2rem;
      border-radius: theme('borderRadius.lg');
    }
  }

  :global(pre[data-language]),
  :global(code[data-language]) {
    color: var(--code-white);
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 2;
    hyphens: none;
  }

  :global(pre[data-language]) {
    overflow: auto;
    padding: theme('padding.8');
    box-shadow: inset 0 1px 0 0 rgba(39, 93, 78, 0.6);
  }

  /* todo: overflow scroll contain? */
  :global(.remark-code-container) {
    display: flex;
    flex-direction: column;
    gap: theme('gap.1');
    overflow: hidden;
    background-color: theme('colors.neutral-03.900');
    border: 1px solid theme('colors.neutral-03.900');
  }

  :global(.codepen-wide),
  :global(.codepen) {
    overflow: hidden;
  }

  :global(.remark-code-container),
  :global(.codepen-wide),
  :global(.codepen) {
    margin-inline: -1.5rem;

    @screen sm {
      border-radius: theme('borderRadius.lg');
    }

    @screen md {
      margin-inline: -2rem;
    }
  }

  :global(.remark-code-bar) {
    display: flex;
    flex: 0 0 auto;
  }

  :global(.remark-code-title) {
    background-color: theme('colors.fern.1100');
    color: theme('colors.fern.200');
    border: 1px solid theme('colors.fern.900');
    background-color: theme('colors.fern.1100');
    border-radius: 20px;
    padding-inline: theme('padding.6');
    padding-block: theme('padding.2');
    font-size: theme('fontSize.base');
    font-family: theme('fontFamily.ui');
    font-variation-settings: 'wdth' 100, 'wght' 500;
    line-height: 1.5;
    display: flex;
    flex-flow: row nowrap;
    gap: theme('gap.2');
    align-self: start;
    flex: 0 0 max-content;
  }

  /* tailwind class override */
  :global(.remark-code-container) :global(.table) {
    display: unset !important;
  }
}
