/* External classes */
.prose > :global(img),
.prose > :global(figure) > :global(img),
.prose > :global(figure) > :global(.sandbox),
.prose > :global(.images) > :global(img),
.prose > :global(.article-image) > :global(img),
.prose :global(.demo),
.featured {
  box-shadow: var(--shadow-placed);

  @media (width >= 480px) {
    border-radius: var(--radius-lg);
  }
}

.prose > :global(img),
.prose > :global(figure) > :global(img),
.prose > :global(figure) > :global(.sandbox),
.prose > :global(.article-image) > :global(img),
.featured {
  position: relative;
  max-width: none;
  left: -1.5rem;
  width: calc(100% + 3rem);

  @media (width >= 768px) {
    left: -2rem;
    width: calc(100% + 4rem);
  }
}
