@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.prose {
  color: theme('colors.fern.1100');
  font-size: theme('fontSize.base');
  line-height: theme('lineHeight.normal');

  @screen lg {
    font-size: theme('fontSize.xl');
  }

  /**
   * code theme
   */
  --code-black: theme('colors.fern.1100');
  --code-red: theme('colors.rio.200');
  --code-yellow: theme('colors.dandelion.300');
  --code-green: theme('colors.grass.300');
  --code-blue: theme('colors.cornflour.300');
  --code-magenta: theme('colors.magenta.200');
  --code-cyan: theme('colors.fern.300');
  --code-white: theme('colors.fern.100');
  --code-comment: theme('colors.neutral-03.400');

  --shiki-color-text: var(--code-white);
  --shiki-color-background: var(--code-black);
  --shiki-token-constant: var(--code-white);
  --shiki-token-string: var(--code-white);
  --shiki-token-comment: var(--code-comment);
  --shiki-token-keyword: var(--code-white);
  --shiki-token-parameter: var(--code-white);
  --shiki-token-function: var(--code-magenta);
  --shiki-token-string-expression: var(--code-white);
  --shiki-token-punctuation: var(--code-white);
  --shiki-token-link: var(--code-blue);

  > * {
    grid-column: content-start / content-end;

    @screen lg {
      grid-column: prose-start / prose-end;
    }
  }

  figure :where(figcaption, figcaption p) {
    margin-block-start: theme('margin.4');
    margin-block-end: theme('margin.4');
    color: theme('colors.fern.1100');
    font-family: theme('fontFamily.mono');
    font-size: theme('fontSize.base');
    letter-spacing: -0.03em;
  }

  /* legacy posts start */
  :global(.article-image) {
    margin-block: theme('margin.8');
  }

  h2 + :global(.article-image) {
    margin-block-start: theme('margin.4');
  }

  h3 + :global(.article-image) {
    margin-block-start: theme('margin.3');
  }
  /* legacy posts end */

  /* text */
  :where(h2, h3, h4, h5, h6) + :where(p, figure) {
    margin-block-start: theme('margin.2');
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: theme('fontFamily.display');
    text-transform: lowercase;
    text-wrap: balance;
  }

  :where(h1, h2, h3, h4) {
    letter-spacing: -0.0170454546em;

    @screen lg {
      letter-spacing: -0.0340909091em;
    }
  }

  :where(h2, h3, h4, h5, h6) {
    font-variation-settings: 'wdth' 100, 'wght' 700;
  }

  h1 {
    margin-block-end: theme('margin.12');
    font-size: theme('fontSize.3xl');
    line-height: theme('lineHeight.3xl');

    @screen xs {
      font-size: theme('fontSize.5xl');
      line-height: theme('lineHeight.5xl');
    }

    @screen lg {
      font-size: theme('fontSize.7xl');
      line-height: theme('lineHeight.7xl');
      font-variation-settings: 'wdth' 100, 'wght' 750;
    }
  }

  h2 {
    margin-block-start: theme('margin.16');
    font-size: theme('fontSize.xl');
    line-height: theme('lineHeight.xl');

    @screen xs {
      font-size: theme('fontSize.3xl');
      line-height: theme('lineHeight.3xl');
    }

    @screen lg {
      font-size: theme('fontSize.5xl');
      line-height: theme('lineHeight.5xl');
    }
  }

  h3 {
    margin-block-start: theme('margin.8');
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.lg');

    @screen xs {
      font-size: theme('fontSize.2xl');
      line-height: theme('lineHeight.2xl');
    }

    @screen lg {
      font-size: theme('fontSize.3xl');
      line-height: theme('lineHeight.3xl');
      margin-block-start: theme('margin.12');
    }
  }

  h4 {
    margin-block-start: theme('margin.8');
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.3xl');

    @screen xs {
      font-size: theme('fontSize.xl');
      line-height: theme('lineHeight.lg');
    }

    @screen lg {
      font-size: theme('fontSize.2xl');
      line-height: theme('lineHeight.2xl');
    }
  }

  :where(h5, h6) {
    font-size: theme('fontSize.xl');
    line-height: theme('lineHeight.xl');
    margin-block-start: theme('margin.4');
  }

  :where(p, ul, ol, .remark-code-container) {
    margin-block-start: theme('margin.2');

    @screen lg {
      margin-block-start: theme('margin.4');
    }
  }

  :where(p, li) {
    color: theme('colors.ui.body');
  }

  > p + figure {
    margin-block-start: theme('margin.12');
  }

  li {
    list-style: square;
  }

  p code {
    color: theme('colors.dandelion.600');
    font-size-adjust: ex-height 0.51;
  }

  table {
    width: 100%;
    margin-block: theme('margin.12');
    padding: 0;
  }

  thead tr {
    border-bottom: 3px solid theme('colors.neutral-01.150');
  }

  tbody tr {
    transition: 0.2s;
    &:hover,
    &:focus {
      background-color: theme('colors.neutral-01.150');
    }
  }

  tbody tr:not(:last-child) {
    border-bottom: 1px solid theme('colors.neutral-01.200');
  }

  th,
  td {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  th:not(:first-child),
  td:not(:first-child) {
    @screen md {
      padding-left: 16px;
    }
  }

  th:not(:last-child),
  td:not(:last-child) {
    @screen md {
      padding-right: 16px;
    }
  }

  th:last-child,
  td:last-child {
    text-align: right;
  }

  :global(.fragment .icon:before) {
    content: url(/icon/24/link.svg);
    display: block;
    width: 24px;
    height: 24px;
    margin-inline-end: theme('margin.2');
    margin-inline-start: calc((theme('margin.2') * -1) - 24px);
  }

  :global(.fragment) {
    position: relative;
    top: 0.025em;
    transition: opacity 0.2s, transform 0.4s;
    display: inline-block;
    vertical-align: text-top;
    transform-origin: center center;
    mix-blend-mode: multiply;
  }

  :where(h2, h3, h4, h5, h6) {
    &:not(:hover, :focus) :global(.fragment) {
      transition: opacity 0.2s, transform 0.4s;
      transform: scale3d(0.5, 0.5, 0.5) translate3d(32px, 0, 0);
      opacity: 0;
    }
  }

  p > a {
    transition: 0.2s ease-out;
    text-decoration-line: underline;
    text-underline-offset: 4px;

    &:hover {
      color: theme('colors.dandelion.600');
    }
  }
}

/* .prose > * + * {
   // margin: 0;
   // --space-start: theme('margin.16');
   // --space-end: theme('margin.4');
   // margin-block-start: var(--space-start, 1.5em);
   // margin-block-end: var(--space-end, 1.5em);
   //
}
 */
/*.prose :where(h1, h2, h3, h4, h5, h6, p, li, a) {
   text-box-trim: both;
   text-box-edge: ex alphabetic;
}
*/

.prose {
  :global([data-rehype-pretty-code-fragment]),
  :global(.cp_embed_wrapper) {
    background-color: theme('colors.fern.1100');
    margin-inline: -2rem;
    overflow: hidden;

    @screen md {
      border-radius: theme('borderRadius.lg');
    }
  }

  :global(.cp_embed_wrapper),
  :global(.remark-code-container),
  :global([data-rehype-pretty-code-fragment]) {
    margin-block: theme('margin.8');
  }

  :global([data-rehype-pretty-code-fragment]) {
    border: 1px solid theme('colors.neutral-03.900');
    background-color: theme('colors.neutral-03.900');
    border-block-end: 1px solid theme('colors.fern.900');

    @screen md {
      border-radius: theme('borderRadius.lg');
    }
  }

  :global(.cp_embed_wrapper) {
    box-shadow: theme('boxShadow.floating');
  }

  :global(pre[data-language]),
  :global(code[data-language]) {
    color: var(--code-white);
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 2;
    hyphens: none;
  }

  :global(pre[data-language]) {
    overflow: auto;
    margin-top: -1px;
    padding: theme('padding.8');
    box-shadow: inset 0 1px 0 0 rgba(39, 93, 78, 0.6);
  }

  :global([data-rehype-pretty-code-title]) {
    display: inline-block;
    background-color: theme('colors.fern.1100');
    color: theme('colors.fern.200');
    border-inline: 1px solid theme('colors.fern.900');
    box-shadow: 0 2px 0 -1px theme('colors.fern.1100');
    padding-inline: theme('padding.8');
    padding-block: theme('padding.3');
    margin-inline: theme('padding.8');
    font-size: theme('fontSize.base');
    line-height: 1;
  }

  :global(code[data-language]) {
    counter-reset: line;
  }

  :global(code[data-language] > [data-line]) {
    position: relative;
  }

  :global(code[data-language] > [data-line]::before) {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1ch;
    margin-right: 2ch;
    text-align: right;
    color: var(--code-comment);
    opacity: 0.4;
  }

  :global(code[data-line-numbers-max-digits='2'] > [data-line]::before) {
    width: 2ch;
  }

  :global(code[data-line-numbers-max-digits='3'] > [data-line]::before) {
    width: 3ch;
  }

  :global([data-language='css'])
    :global(span[style*='--shiki-token-keyword'])
    + :global([data-language='css'])
    :global(span[style*='--shiki-token-text'])
    + :global([data-language='css'])
    :global(span[style*='--shiki-token-constant']),
  :global([data-language='css'])
    :global(span[style*='--shiki-token-constant'])
    + :global([data-language='css'])
    :global(span[style*='--shiki-token-keyword']) {
    color: var(--code-magenta) !important;
  }

  /*
    nav.toc
    ol.toc-level.toc-level-1/2
    li.toc-item.toc-item-h2/h3
    a.toc-link.toc-link-h2/h3
  */

  :global(.toc) {
    --toc-item-border: theme('colors.neutral-01.300');
    position: sticky;
    z-index: 10;
    top: 0;
    grid-column: 2 / span 4;
  }

  :global(.toc-title) {
    font-size: theme('fontSize.base');
    line-height: 1.5;
  }

  :global(.toc-level-1) {
    --corner-spacing: 8px;
    position: relative;
    padding-left: 1px;

    &:before {
      content: '';
      position: absolute;
      top: 19px;
      left: 0;
      bottom: 19px;
      width: var(--corner-spacing);
      border-bottom-left-radius: 6px;
      border-left: 2px solid var(--toc-item-border);
      border-bottom: 2px solid var(--toc-item-border);
    }
  }

  :global(.toc-level),
  :global(.toc-item) {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  :global(.toc-item) {
    position: relative;
    display: flex;
    flex: 0 0 100%;
    align-content: center;
    align-items: center;
    gap: theme('spacing.2');

    &:before {
      content: '';
      display: block;
      flex: 0 0 8px;
      height: 2px;
    }
  }

  :global(.toc-level-2),
  :global(.toc-level-3) {
    display: none;
  }

  :global(.toc-item:not(:last-child):before) {
    background-color: var(--toc-item-border);
  }

  :global(.toc-item .toc-link:after) {
    content: '';
    position: absolute;
    top: calc(50% - 6px);
    right: calc(100% - 7px);
    display: block;
    width: 12px;
    height: 12px;
    // box-shadow: 0 0 0 2px var(--toc-item-border);
    background: theme('colors.neutral-03.0/0');
    border-radius: 6px;
  }

  :global(.toc-item:first-child .toc-link:after) {
    box-shadow: 0 0 0 2px var(--toc-item-border);
    background: theme('colors.neutral-03.0');
  }

  :global(.toc-link) {
    padding-block: theme('spacing.2');
    color: theme('colors.fern.1100');
    font-family: theme('fontFamily.display');
    font-size: theme('fontSize.base');
    font-variation-settings: 'wdth' 100, 'wght' 500;
    text-transform: lowercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      overflow: visible;
    }
  }
}

.prose > img,
.prose > figure > img,
.prose > :global(.article-image) > img,
.featured {
  position: relative;
  max-width: none;
  left: -24px;
  width: calc(100% + 48px);
  box-shadow: theme('boxShadow.placed');

  @screen sm {
    border-radius: theme('borderRadius.lg');
  }

  @screen md {
    left: -32px;
    width: calc(100% + 64px);
  }
}
