<!DOCTYPE html>
<html lang="en" manifest="http://iamsteve.meassets/add/cache.manifest">
<head>
	<meta charset="utf-8">
	<title>Add an entry | {site_name}</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="{path=css/_ee_saef_css}">
	<link rel="stylesheet" href="http://iamsteve.meadd/style.css">
	<link rel="stylesheet" href="{stylesheet='add/style'}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<!-- Mobile -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width; initial-scale=1.0;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

</head>
<body>