// Separated stuff that will more often than not be
// consistent so possibility for extending with this mixin
// ---------------------------
@mixin element-base(
	$size: $default-element-size,
	$font-size: $default-element-font-size,
	$radius: $default-element-radius,
	$display: $default-element-display) {
  	
  // There isn't really a need for button text to be highlightable
	@include user-select(none);
	
	// Allows everything to be styled, particularly on iOS
	-webkit-appearance: none;
	-moz-appearance: none;
	
	// Make sure nothing has a border, we'll use box-shadow later
	border: none;
	
	// Background bleed issue
	background-clip: padding-box;
	
	// General other styles, that are based on preference
	position: relative;
	font-family: $element;
	line-height: $default-element-line-height;
	font-weight: $default-element-font-weight;
	
	@if $display {
		display: $display;
		
		@if $display == inline-block {
			vertical-align: top; } }
	
	@if $size {
		padding: $size; }
	
	@if $font-size {	
		font-size: $font-size; }
	
	@if $radius {
		border-radius: $radius; } }

// The most consistent stuff for each button
// ---------------------------
%element-base {
	@include user-select(none);
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background-clip: padding-box;
	position: relative;
	font-family: $element;
	line-height: $default-element-line-height;
	font-weight: $default-element-font-weight; }

// Most buttons tend to be pretty consistent per site.
// Extending this makes sure you do not repeat any code
// ---------------------------
%element-base-with-mixin {
	@include element-base; }