// Font sizes
// ---------------------------
.headline { font-size: $headline; }
.f1 { font-size: $f1; }
.f2 { font-size: $f2; }
.f3 { font-size: $f3; }
.f4 { font-size: $f4; }
.f5 { font-size: $f5; }
.f6 { font-size: $f6; }
.f7 { font-size: $f7; }
.f8 { font-size: $f8; }

// Loop through the breakpoint map, assign each breakpoint to the relevant variable
// eg: $breakpoint-name = 'b' and $breakpoint-width = 480px
// $default-breakpoint-map can be found in variables/breakpoints
@each $breakpoint-name, $breakpoint-width in $default-breakpoint-map {
	@include breakpoint($breakpoint-width) {
    .headline-#{$breakpoint-name} { font-size: $headline; }
    .f1-#{$breakpoint-name} { font-size: $f1; }
    .f2-#{$breakpoint-name} { font-size: $f2; }
    .f3-#{$breakpoint-name} { font-size: $f3; }
    .f4-#{$breakpoint-name} { font-size: $f4; }
    .f5-#{$breakpoint-name} { font-size: $f5; }
    .f6-#{$breakpoint-name} { font-size: $f6; }
    .f7-#{$breakpoint-name} { font-size: $f7; }
    .f8-#{$breakpoint-name} { font-size: $f8; } } }

// Font size locks
// ---------------------------
// No breakpoints required as it sizes with the window size,
// these are probably preferable to use, over the font sizes above.
// calc($min-font-size + ($max-font-size - $min-font-size) * (100vw - $min-screen-size) / ($max-screen-size - $min-screen-size) )
.headline-l {
  font-size: font-size-lock($f1, $headline, 320px, $e);
  letter-spacing: -.75px;

  // Scale proportionately until
  @include breakpoint($e) {
    font-size: $headline;
    letter-spacing: -1px; } }

.f1-l {
  font-size: font-size-lock($f2, $f1, 320px, $e);
  letter-spacing: -.5px;

  // Scale proportionately until
  @include breakpoint($e) {
    font-size: $f1;
    letter-spacing: -.75px; } }

.f2-l {
  font-size: font-size-lock($f4, $f2, 320px, $e);
  letter-spacing: -.125px;

  // Scale proportionately until
  @include breakpoint($e) {
    font-size: $f2;
    letter-spacing: -.25px; } }

.f3-l {
  font-size: font-size-lock($f5, $f3, 320px, $e);
  letter-spacing: -.25px;

  // Scale proportionately until
  @include breakpoint($e) {
    font-size: $f3; } }

.f4-l {
  font-size: font-size-lock($f6, $f4, 320px, $e);

  // Scale proportionately until
  @include breakpoint($e) {
    font-size: $f4; } }

.f5-l {
  font-size: font-size-lock($f7, $f5, 320px, $e);
  letter-spacing: -.25px;

  // Scale proportionately until
  @include breakpoint($e) {
    font-size: $f5; } }

.f6-l {
  font-size: font-size-lock($f8, $f6, 320px, $e);

  // Scale proportionately until
  @include breakpoint($e) {
    font-size: $f6; } }
