// Padding
// ---------------------------
@if $default-enable-padding {
  @each $padding in $default-soft-map {
    .soft-#{$padding} {
      padding-#{$padding}: $baseline; } 
    
    .soft-double-#{$padding} {
      padding-#{$padding}: double($baseline); }
    
    .soft-half-#{$padding} {
      padding-#{$padding}: half($baseline); } }

@if $default-enable-padding-responsive {  
    // $b padding
    @include breakpoint($b) {
      .soft-#{$padding}-b {
        padding-#{$padding}: $baseline; } 
      
      .soft-double-#{$padding}-b {
        padding-#{$padding}: double($baseline); }
      
      .soft-half-#{$padding}-b {
        padding-#{$padding}: half($baseline); } }

    // $d padding
    @include breakpoint($d) {
      .soft-#{$padding}-d {
        padding-#{$padding}: $baseline; } 
      
      .soft-double-#{$padding}-d {
        padding-#{$padding}: double($baseline); }
      
      .soft-half-#{$padding}-d {
        padding-#{$padding}: half($baseline); } } } }

// Undo
// ---------------------------
@if $default-enable-undo-padding {
  .undo-padding {
		padding: 0; }
		
  .undo-padding-top {
		padding-top: 0; }

  .undo-padding-bottom {
		padding-bottom: 0; } }