// Padding
// ---------------------------
@if $default-enable-padding {
  @each $abbr, $padding in $default-padding-map {
    .p#{$abbr}-quarter {
      padding-#{$padding}: quarter($baseline); }
      
    .p#{$abbr}-half {
      padding-#{$padding}: half($baseline); }
      
    .p#{$abbr} {
      padding-#{$padding}: $baseline; } 
    
    .p#{$abbr}-double {
      padding-#{$padding}: double($baseline); }

    @if $default-enable-padding-responsive {
      // $b paddings
      @include breakpoint($b) {
        .p-quarter-#{$padding}-b {
          padding-#{$padding}: quarter($baseline); }
          
        .p-half-#{$padding}-b {
          padding-#{$padding}: half($baseline); }
          
        .p-#{$padding}-b {
          padding-#{$padding}: $baseline; } 
        
        .p#{$abbr}-double-b {
          padding-#{$padding}: double($baseline); } }
      
      // $d paddings
      @include breakpoint($d) {
        .p#{$abbr}-quarter-d {
          padding-#{$padding}: quarter($baseline); }
          
        .p#{$abbr}-half-d {
          padding-#{$padding}: half($baseline); }
          
        .p#{$abbr}-d {
          padding-#{$padding}: $baseline; } 
        
        .p#{$abbr}-double-d {
          padding-#{$padding}: double($baseline); } } } } }

// Undo
// ---------------------------
@if $default-enable-undo-padding {		
  .p-undo {
		padding: 0; }
		
  .pt-undo {
		padding-top: 0; }

  .pb-undo {
		padding-bottom: 0; }

  @if $default-enable-padding-responsive {
    // $b paddings
    @include breakpoint($b) {
      .p-undo-b {
    		padding: 0; }
    		
      .pt-undo-b {
    		padding-top: 0; }
    
      .pb-undo-b {
    		padding-bottom: 0; } }
    		
    // $d paddings
    @include breakpoint($d) {
      .p-undo-d {
    		padding: 0; }
    		
      .pt-undo-d {
    		padding-top: 0; }
    
      .pb-undo-d {
    		padding-bottom: 0; } } } }

// Island padding helpers
// ---------------------------
$isles: (
  spit: quarter($baseline),
  isle: half($baseline),
  island: $baseline,
  country: double($baseline),
  continent: quadruple($baseline) );

@if $default-enable-isles {
  @each $name, $padding in $isles {
  	.#{$name} {
  		padding: $padding; }
    
    .#{$name}-v {
      padding-top: $padding;
      padding-bottom: $padding; } } }

// Undo
// ---------------------------
@if $default-enable-undo-padding {
  .undo-padding {
		padding: 0; }
		
  .undo-padding-top {
		padding-top: 0; }

  .undo-padding-bottom {
		padding-bottom: 0; } }