// Padding
// ---------------------------
@if $default-enable-padding {
  .p0 {
    padding: $p0; }
  
  @each $abbr, $padding in $default-padding-map {
    .p#{$abbr}0 {
      padding-#{$padding}: $p0; }
      
    .p#{$abbr}1 {
      padding-#{$padding}: $p1; }
      
    .p#{$abbr}2 {
      padding-#{$padding}: $p2; }
      
    .p#{$abbr}3 {
      padding-#{$padding}: $p3; } 
    
    .p#{$abbr}4 {
      padding-#{$padding}: $p4; }
    
    .p#{$abbr}5 {
      padding-#{$padding}: $p5; }
    
    .p#{$abbr}6 {
      padding-#{$padding}: $p6; }
    
    .p#{$abbr}7 {
      padding-#{$padding}: $p7; }
    
    .p#{$abbr}8 {
      padding-#{$padding}: $p8; } } }
    
// $b padding
@if $default-enable-padding {
  @each $abbr, $padding in $default-padding-map {
    @include breakpoint($b) {
      .p#{$abbr}0-b {
        padding-#{$padding}: 0; }
        
      .p#{$abbr}1-b {
        padding-#{$padding}: $p1; }
        
      .p#{$abbr}2-b {
        padding-#{$padding}: $p2; }
        
      .p#{$abbr}3-b {
        padding-#{$padding}: $p3; } 
      
      .p#{$abbr}4-b {
        padding-#{$padding}: $p4; }
      
      .p#{$abbr}5-b {
        padding-#{$padding}: $p5; }
      
      .p#{$abbr}6-b {
        padding-#{$padding}: $p6; }

      .p#{$abbr}7-b {
        padding-#{$padding}: $p7; }
      
      .p#{$abbr}8-b {
        padding-#{$padding}: $p8; } } } }

// $d padding
@if $default-enable-padding {
  @each $abbr, $padding in $default-padding-map {
    @include breakpoint($d) {          
      .p#{$abbr}0-d {
        padding-#{$padding}: 0; }
        
      .p#{$abbr}1-d {
        padding-#{$padding}: $p1; }
        
      .p#{$abbr}2-d {
        padding-#{$padding}: $p2; }
        
      .p#{$abbr}3-d {
        padding-#{$padding}: $p3; } 
      
      .p#{$abbr}4-d {
        padding-#{$padding}: $p4; }
      
      .p#{$abbr}5-d {
        padding-#{$padding}: $p5; }
      
      .p#{$abbr}6-d {
        padding-#{$padding}: $p6; }
        
      .p#{$abbr}7-d {
        padding-#{$padding}: $p7; }
      
      .p#{$abbr}8-d {
        padding-#{$padding}: $p8; } } } }

// Island padding helpers
// ---------------------------
$isles: (
  spit: $p1,
  isle: $p2,
  island: $p3,
  country: $p4,
  continent: $p5,
  planet: $p6 );

@if $default-enable-isles {
  @each $name, $padding in $isles {
  	.#{$name} {
  		padding: $padding; }
    
    .#{$name}-v {
      padding-top: $padding;
      padding-bottom: $padding; } } }