// Visibility
// ---------------------------
@if $default-enable-visibility {
	.hidden {
		display: none; }

	.screen-reader-text,
	.visuallyhidden {
		border: 0 !important;
		clip: rect(0 0 0 0);
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		position: absolute !important;
		width: 1px !important;
		padding: 0 !important;
		top: 0 !important;
		left: 0 !important; } }
