#breadCrumb {
  background: #ecf1f4;
  background-size: 100%;
  border: 1px solid #ecf1f4;
  margin: 0 0 24px 0 !important;
  padding: 0 0 0 25px;
}

#breadCrumb, #breadCrumb li, #activeUser, #activeUser .userName, #activeUser .logOutButton {
  font-size: 12px;
}

html body #mainContent .contentMenu h2,
html body .heading h2,
html body #mainContent .formArea .formHeading,
.ui-dialog .ui-dialog-titlebar {
  background: #566671;
  border: 1px solid scale-lightness(#566671, -20%);
  border-bottom: 0;
  height: auto;
  line-height: 18px;
  padding: 12px;
  text-shadow: none;
  box-shadow: none;
  
  &, .subtext {
    font-size: 18px;
  }
}

.contentMenu ul,
.contentMenu ul li:last-child,
.contentMenu ul li:last-child a {
  border-radius: 0 0 3px 3px;
}

.contentMenu li.item a,
.contentMenu li.group a,
.contentMenu li.site a,
.contentMenu li.resource a {
  background: none;
}

.contentMenu li a {
	display: block;
	padding: 6px 12px;
	background-color:	#ECF1F4;
	border-bottom: 1px solid #d0d7df;
	border-top: 1px solid #fff;
}

textarea.markItUpEditor,
.holder textarea {
  padding: 48px 10%!important;
  font-size: 18px;
  line-height: 1.5;
  font-family: Georgia;
}

#showToolbarLink {
  white-space: nowrap;
}

#mainContent .tab_menu {
  position: relative;
  background: #9aa9b3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  padding: 0 100px 0 5px;
  overflow: auto;
  box-shadow: inset 0 1px rgba(white, .2), 0 -1px 0 rgba(black, .2), 0 1px 3px rgba(black, .2);
}