// Woocommerce buttons
// ---------------------------
// Adding to cart
.loading {
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: url(../images/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65); } }

.added {
	&:before {
	  content: "";
	  position: absolute;
	  height: 16px;
	  width: 16px;
	  top: 0.35em;
	  right: -26px;
	  text-indent: 0;
	  background: url(../images/success.png) no-repeat; } }
	  
// Choosing a quantity
.quantity {
  width: em(60px);
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  // Disable input[type=number] buttons until the world is ready
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display:none; }

  /* Hide buttons for opera */
  noindex:-o-prefocus, input[type=number] {
    padding-right: 1.2em; } }

.qty {
	float: left;
	text-align: center;
	font-weight: bold; }
	
.plus,
.minus {
	display: block;
	position: absolute;
	text-align: center;
	vertical-align: text-top;
	text-decoration: none;
	overflow: visible;
	font-weight: bold;
	cursor: pointer;
	
	&:hover,
	&:focus {} }

.plus {
	top: 0;
	right: 0; }

.minus {
	bottom: 0;
	right: 0; }

// Notices
// ---------------------------
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	&:before {}
	
	.button {
		float: right; }

	li {
		list-style: none outside;
		padding-left: 0;
		margin-left: 0; } }

.woocommerce-message {
	&:before {
		content: "\2713"; } }
		
.woocommerce-info {
	&:before {
		background-color: #1e85be;
		content: "i";
		font-family: Times, Georgia, serif;
		font-style: italic; } }
			
.woocommerce-error {
	&:before {
		background-color:#b81c23;
		content: "\00d7";
		font-weight: 700; } }

// Product information tabs
// ---------------------------
.woocommerce-tabs {
	clear: both; }

.panel {
	margin: 0 0 em($line);
	padding: 0; }

.tabs {
	@extend %margin-bottom;
	list-style: none;
	padding: 0 0 0 em($base-px);
	overflow: hidden;
	position: relative;
	
	a,
	li {
		display: inline-block; }
	
	li {
		position: relative;
		z-index: 0;
		margin: 0 -5px;
		padding: 0 em($base-px); }

	a {
		padding: em($base-px/2) 0;
		font-weight: bold;
		
		&:hover,
		&:focus {} }
	
	.active {
		background: $secondary;
		color: $white;
		z-index: 2; } }

// Product loop pagination
// ---------------------------    	
.woocommerce-pagination {
	text-align: center;
	
	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border: 1px solid scale-lightness($secondary, -10%);
		border-right: 0;
		margin: 1px; }
		
	li {
		border-right: 1px solid scale-lightness($secondary, -10%);
		margin: 0;
		float: left;
		overflow: hidden; }

	a,
	span {
		padding: em($base-px/2);
		min-width: em($base-px);
		display: block; }
	
	.current,
	a:hover,
	a:focus {
		background: $secondary;
		color: $white; } }