// Grids
// ---------------------------
.col2-set {
	@extend %clear;
	width: 100%;
	
	@include respond-min($c) {
		.col-1 {
			float:left;
			width: 48%; }
			
		.col-2 {
			float: right;
			width: 48%; } } }