{embed="/include/header" entry_title="Contact" title_suffix="Contact"}
	
	<article role="article">
		<h2>Methods of contact</h2>
		<p>Use the contact form or {email} (<a href="http://twitter.com/irsteve">twitter</a> is an option) I'll try to reply within 24-48 hours. Should you not receive a reply within 24-48 hours, send your message again, because something will have gone wrong somewhere.</p>
	</article>
	<article role="article">
		<h2>Finding me</h2>
		<p>Should you wish to see what I do elsewhere and such things, here are what I use fairly often.</p>
		{social}
	</article>
	<article role="article">
		<h2>Contact form</h2>		
		<div id="wufoo-q7x3k1">
			<p>Form failed to load. <a href="http://stevemckinney.wufoo.com/forms/q7x3k1">Fill out my form here</a>.</p>
		</div>
		<script>var q7x3k1;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'stevemckinney', 
			'formHash':'q7x3k1', 
			'autoResize':true,
			'height':'647',
			'async':true,
			'header':'show'};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { q7x3k1 = new WufooForm();q7x3k1.initialize(options);q7x3k1.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>
	</article>

{embed="/include/footer"}