{embed="/include/header" entry_title="Error 404, page not found" body_class="error"}
<div class="page-content">
  <section role="region" aria-labelledby="It's broken!">
  	<p>That's right, it seems you have found a way to break the website. <em>Not really!</em> I'm guessing you've either made a typo or the URL is slightly wrong, no problem. If you believe the page <strong>should</strong> be here, please <a href="/contact" title="Contact me if you think the page should be here">contact me</a>.</p>
  </section>
</div>
{embed="/include/footer"}