{embed="include/header"}

{exp:channel:entries channel="blog" limit="5" status="open|latest" disable="pagination|member_data|trackbacks"}
	{if count == "1"}
		<article role="article" class="entry-summary">
			{exp:eehive_hacksaw words="200" cutoff="<h2>" allow="<blockquote><a><p><b><strong><i><h1><h2><h3>"}
				{exp:markdown}{blog_article}{/exp:markdown}
			{/exp:eehive_hacksaw}
			{blog_meta}
		</article>
		<hr>
  {/if}
	{if count == "2"}
	  <section role="region" class="previous-entries" aria-labelledby="Previous entries">
  		<h1 role="heading" class="h2">Previous entries</h1>
  		<div class="previous-entries-container">
  {/if}
  {if count >= "2"}
		<article class="previous-entry" data-href="{title_permalink='blog/entry'}">
			<h2 class="h4"><a href="{title_permalink='blog/entry'}">{title}</a></h2>
  		<p>{exp:eehive_hacksaw words="30" append="&hellip;"}{excerpt}{/exp:eehive_hacksaw}</p>
			</article>
	{/if}
	{if count == "5"}
  		</div>
	  </section>
  {/if}
{/exp:channel:entries}

{embed="include/footer"}