    {!-- Footer html found in _layout.html --}
    {if logged_in OR global:env == "local"}
      <style>
        .menu-bar {
          position: fixed;
          bottom: calc(50px + 44px + 4px + 16px);
          right: 16px;
          display: flex;
          flex-flow: column wrap;
          z-index: 999;
          width: 180px;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
          border-radius: 4px;
          background: #fff; }

        .menu-bar a {
          flex: 1;
          padding: .75em;
          border-bottom: 1px solid #eee;
          font-size: 12px;
          font-family: Helvetica;
          color: #999;
          text-align: center; }

        .menu-bar a:last-child {
          border-bottom: none; }

        .menu-bar-opener {
          display: block;
          width: 44px;
          height: 44px;
          background-color: #eb5050;
          border-radius: 44px;
          position: fixed;
          z-index: 1212;
          bottom: calc(50px + 16px);
          right: 16px; }

        .menu-bar-hidden { display: none; }
      </style>
      <span class="menu-bar-opener" id="menu-bar-opener"></span>
      <div class="menu-bar menu-bar-hidden" id="menu-bar">
        {exp:channel:entries channel="blog|portfolio|site|downloads" show_future_entries="yes" limit="1" status="open|latest|draft" disable="member_data|trackbacks|pagination"}
          <a href="{cp_url}">Admin</a>
          <a href="{cp_url}?/cp/utilities/cache">Cache</a>
          <a href="{cp_url}/cp/content_publish/admin.php?/cp/publish/edit&filter_by_channel=1">Publish</a>
          <a href="{cp_url}?/cp/settings/menu-manager">Menu manager</a>
          <a href="{cp_url}?/cp/design/routes">Template routes</a>
          {if logged_in_group_id == 1}<a href="{cp_edit_entry_url}">Edit {last_segment}</a>{/if}
        {/exp:channel:entries}
      </div>
      <script>
        const opener = document.getElementById('menu-bar-opener');
        const bar = document.getElementById('menu-bar');

        opener.addEventListener('click', function(e) {
          bar.classList.toggle('menu-bar-hidden');
        });
      </script>
    {/if}

    {!-- Javascript --}
    {if global:env == "enabled"}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15528222-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-15528222-1');
      </script>
    {/if}
  </body>
</html>
