</div>
{!-- role="main" --}

<aside role="complementary" class="related">
  {!-- <section style="background: #444; color: #fff; padding: 1.5em;">
    {if segment_2 == 'entry'}
      <h3 role="heading">Be notified of new posts</h3>
      <p>I write blog posts weekly, that go out every Tuesday morning (GMT). Subscribe if you’d like to receive the highlights and takeaways to your inbox each week.</p>
    {if:else}
      <h3 role="heading">Want to receive more content like this?</h3>
      <p>I write blog posts weekly, that go out every Tuesday morning (GMT). Subscribe if you’d like to receive the highlights and takeaways to your inbox each week. <strong>Sign up now and I will send you a free</strong></p>
    {/if}
  </section> --}
  
	<section class="me vcard author" role="region" aria-labelledby="About me">
		<h3 role="heading">About me</h3>
		<p><img src="{global:theme_url}/assets/images/me.jpg" srcset="{global:theme_url}/assets/images/me@2x.jpg 2x" class="photo" alt="A photo of me">I’m <span class="fn">Steve McKinney</span>, a <span class="role">Web Designer</span> living in <span class="adr"><span class="locality">Manchester</span>, <span class="country-name">England</span></span>. I've been designing from fairly young age and doing it ‘in industry’ for the past 4 years. My passion is with design, though I learnt to code out of necessity. Although at the time I thought it was just part of making a website.</p>
		<p>My aim for this website, is, for it to be a place to share my knowledge, and for people who cover a similar role to myself. So if you design and code, I’m sure you will find some value in the content. I cover topics around design, website performance and Wordpress. I cover these topics mostly at an intermediate level, but there will be beginner and advanced topics occasionally. If you ever have any feedback or things you struggle with <a href="https://twitter.com/irsteve">tweet</a> or <a href="{global:theme_url}/contact">contact</a> me.</p>
	</section>
	<section class="dribbble" role="region" aria-labelledby="Dribbble shots">
		<h3 role="heading"><a href="http://dribbble.com/stevemckinney" title="View all my shots on Dribbble">Dribbble shots</a></h3>
		<p>Loading&hellip;</p>
	</section>
</aside>

<footer role="contentinfo">
	<ul>
		<li><small>Copyright &copy; <span class="author vcard"><a rel="author" href="http://iamsteve.me" class="url fn">Steve McKinney</a></span> {current_time format="%Y"}</small></li>
		<li><a href="#" title="Go back to the top of the page" class="top">Top</a></li>
		<li><a href="feed://iamsteve.me/blog/feed" title="The RSS feed for my blog">RSS</a></li>
		<li><a href="https://www.digitalocean.com/?refcode=612d37093f16" title="DigitalOcean hosting get 2 months free credit">Host</a></li>
		<li><a href="http://expressionengine.com/index.php?affiliate=stevemckinney" title="Running on ExpressionEngine">EE</a></li>
		<li><a href="https://gist.github.com/2767673" title="The cookies used on this site can be found here">Cookies</a></li>
	</ul>
	{search}
</footer>
{if logged_in}
  <style>
    html { margin-top: 44px; }
    .menu-bar { 
      position: fixed;
      z-index: 999;
      top: 0; left: 0; right: 0;
      background: #222;
      padding: 0 .75em;
      line-height: 44px; }
    .menu-bar a { font-size: 12px; font-family: Helvetica; color: #666; }
  </style>
  <div class="menu-bar">
    <a href="{cp_url}?/cp/tools_data/clear_caching">Cache</a> – <a href="{cp_url}/cp/content_publish/entry_form&channel_id=1&S=327abb6bad14a9e5b472d82b9b96b50d">Publish</a> – <a href="{cp_url}/cp/content_edit&channel_id=1&S=327abb6bad14a9e5b472d82b9b96b50d">Edit</a>
  </div>
{/if}
{!-- Javascript --}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{exp:minimee:js minify="y"}<script src="{global:theme_url}/assets/js/consistent.js"></script>{/exp:minimee:js}
{if global:env == "live"}<script>
	var GoSquared = {};
  GoSquared.acct = "GSN-610812-E";
  GoSquared.UserName = "visitor";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
  $('[data-event]').on('click', function() {_gs('event', $(this).data('event'))});</script>{/if}
</body>
</html>