<!DOCTYPE html>
{if '{exp:cookie:get name="fonts-stage-1"}'}
<html lang="en" class="no-js fonts-stage-1 fonts-stage-2">
{if:else}
<html lang="en" class="no-js">
{/if}
  <head>
    {!--
      Meta
      –
      Uses seo lite to manage the majority of titles and descriptions.
    --}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="p:domain_verify" content="eb06e0afbeef975e38f107fa8bcac7b5">

    {!-- PWA --}
    <link rel="manifest" href="{site_url}/manifest.json">
    <meta name="theme-color" content="#543243">

  	{!-- SEO lite --}
    {if segment_1 == ""}
      {exp:seo_lite title_override="iamsteve – design & code blog by Steve McKinney"}
    {if:else}
      {exp:seo_lite use_last_segment="yes" {if embed:title}default_title="{embed:title}"{/if}}
    {/if}

    {!--
      CSS
    --}
    {preload_replace:css='{exp:minimee:css minify="n" display="url"}{global:theme_url}/dist/css/global.css{/exp:minimee:css}'}
    {if '{exp:cookie:get name="css"}'}
      <link rel="stylesheet" href="{css}">
    {if:else}
      <style>{critical}</style>
      <link rel="preload" href="{css}" as="style" onload="this.rel='stylesheet'">
    {/if}
    <noscript>.no-js img.lazyload { display: none; }</noscript>

    {!--
      JS
      –
      loadCSS
      –
      Fonts from cloud.typography loaded through here async, helps load times.
      Visually complete suffers, but it‘s a reasonable trade off.
    --}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      !function(e){"use strict";var n=function(n,t,o){function i(e){if(a.body)return e();setTimeout(function(){i(e)})}function r(){l.addEventListener&&l.removeEventListener("load",r),l.media=o||"all"}var d,a=e.document,l=a.createElement("link");if(t)d=t;else{var f=(a.body||a.getElementsByTagName("head")[0]).childNodes;d=f[f.length-1]}var s=a.styleSheets;l.rel="stylesheet",l.href=n,l.media="only x",i(function(){d.parentNode.insertBefore(l,t?d:d.nextSibling)});var u=function(e){for(var n=l.href,t=s.length;t--;)if(s[t].href===n)return e();setTimeout(function(){u(e)})};return l.addEventListener&&l.addEventListener("load",r),l.onloadcssdefined=u,u(r),l};"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this);
      !function(e){if(e.loadCSS){var t=loadCSS.relpreload={};if(t.support=function(){try{return e.document.createElement("link").relList.supports("preload")}catch(e){return!1}},t.poly=function(){for(var t=e.document.getElementsByTagName("link"),n=0;n<t.length;n++){var r=t[n];"preload"===r.rel&&"style"===r.getAttribute("as")&&(e.loadCSS(r.href,r,r.getAttribute("media")),r.rel=null)}},!t.support()){t.poly();var n=e.setInterval(t.poly,300);e.addEventListener&&e.addEventListener("load",function(){t.poly(),e.clearInterval(n)}),e.attachEvent&&e.attachEvent("onload",function(){e.clearInterval(n)})}}}(this);
      loadCSS('https://cloud.typography.com/7828432/640526/css/fonts.css');
    </script>

    {!--
      Head
      –
      Generally don’t need to go in here. You can find JSON-LD, and other meta
      that is messy to look at, all the icons, etc.
    --}
    {head}
    {exp:iamsteve:json_ld}
  </head>
<body {if embed:class}class="{embed:class}"{/if} id="top">
