<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
  	{!-- Meta --}
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
  	{!-- In loving memory of Albert Phillips --}
    {if segment_1 == "about"}
      {exp:seo_lite default_description="About Steve McKinney a web designer. Information about skills and previous versions of this website."}
    {if:elseif segment_1 == "blog" && segment_2}
      {if segment_2 != 'category' AND segment_2  ~ '/^(?!P\d+).*/'}
        {exp:seo_lite default_description="iamsteve is a design & code blog. You'll find tutorials on Photoshop, Illustrator, Design, CSS & Wordpress."}
        {exp:seo_lite title_override="blog • iamsteve"}
      {/if}
    {if:elseif segment_1 == "contact"}
      {exp:seo_lite title_override="contact • iamsteve"}
    {if:elseif segment_1 == ""}
      {exp:seo_lite title_override="iamsteve • design and code"}
    {if:else}
      {exp:seo_lite use_last_segment="yes"}
    {/if}
    
    {!-- CSS --}
    {exp:minimee:css minify="y"}
      <link rel="stylesheet" href="{site_url}dist/css/global.css">
    {/exp:minimee:css}
    
    {!-- loadCSS --}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js','js');
      !function(e){"use strict";var n=function(n,t,o){function i(e){return a.body?e():void setTimeout(function(){i(e)})}function r(){l.addEventListener&&l.removeEventListener("load",r),l.media=o||"all"}var d,a=e.document,l=a.createElement("link");if(t)d=t;else{var s=(a.body||a.getElementsByTagName("head")[0]).childNodes;d=s[s.length-1]}var f=a.styleSheets;l.rel="stylesheet",l.href=n,l.media="only x",i(function(){d.parentNode.insertBefore(l,t?d:d.nextSibling)});var u=function(e){for(var n=l.href,t=f.length;t--;)if(f[t].href===n)return e();setTimeout(function(){u(e)})};return l.addEventListener&&l.addEventListener("load",r),l.onloadcssdefined=u,u(r),l};"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this);
      
      loadCSS('https://cloud.typography.com/7828432/640526/css/fonts.css')
    </script>
    {!-- 
      Generally don’t need to go in here. You can find JSON-LD, and other meta
      that is messy to look at, all the icons, etc.
    --}
    {head}
    {exp:iamsteve:json_ld}
  </head>
<body{if segment_2} class="{segment_2}"{if:elseif segment_1} class="{segment_1}"{if:else} class="home"{/if}>