<!DOCTYPE html>
{if '{exp:cookie:get name="fonts-stage-1"}'}
<html lang="en" class="no-js fonts-stage-1 fonts-stage-2">
{if:else}
<html lang="en" class="no-js">
{/if}
  <head>
    {!--
      Meta
      –
      Uses seo lite to manage the majority of titles and descriptions.
    --}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  	{!-- In loving memory of Albert Phillips --}
    {if segment_1 == ""}
      {exp:seo_lite title_override="iamsteve – design & code blog by Steve McKinney"}
    {if:else}
      {exp:seo_lite use_last_segment="yes" {if embed:title}default_title="{embed:title}"{/if}}
    {/if}

    {!--
      CSS 
    --}
    {exp:minimee:css minify="n"}
      <link rel="stylesheet" href="{site_url}dist/css/global.css">
    {/exp:minimee:css}
    <noscript>.no-js img.lazyload { display: none; }</noscript>
    
    {!--
      JS
      No other JavaScript should be found here
    --}
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    
    {!-- 
      Head
      –
      Generally don’t need to go in here. You can find JSON-LD, and other meta
      that is messy to look at, all the icons, etc.
    --}
    {head}
    {exp:iamsteve:json_ld}
  </head>
<body {if embed:class}class="{embed:class}"{/if}>