{exp:channel:entries channel="blog" limit="1" custom_fields="yes" status="latest|open" global:param_cache_param}
  {next}
	<article data-href="{title_permalink='blog'}" class="m-center measure-padding pb6">
  		<h3 class="f1-l mb2 dashes"><span>Next to read</span></h3>
	    <h2 class="headline-l primary entry-next"><a href="{site_url}blog/{next:url_title}" data-event="Related entry [v6-specific]">{next:title}</a><span class="icon icon-small icon-right tertiary">{gv_arrow_right}</span></h2>
    </article>
  {/next}
{/exp:channel:entries}
