{preload_replace:chs="blog"}
{preload_replace:chs_status="open|latest"}
{preload_replace:chs_disable="pagination|member_data|trackbacks"}
{preload_replace:chs_limit="8"}
{preload_replace:chs_limit_large="11"}
{preload_replace:design="design-default-{switch='3|1|2|4'}.svg"}
{preload_replace:code="code-default-{switch='1|4|2|3'}.svg"}

{exp:channel:entries channel="{chs}" status="{chs_status}" disable="{chs_disable}" limit="{chs_limit}" category="2|7" orderby="view_count_one" sort="desc" {if segment_2 == 'entry'}related_categories_mode="yes"{/if}}
  <a href="{title_permalink='blog/entry'}" class="db pt1 pb1 f6 f4-d sans flex-8">{title}</a>
{/exp:channel:entries}
