<section class="row {embed:class} row-padding contain contain-medium contain-large center subscribe">
  <div class="subscribe-content">
    <h2 class="f3 f2-b f1-d chunky secondary mb2 mb4-b">Get the articles</h2>
    <p>Subscribe to the newsletter and you’ll be updated you when new posts go out. I’ll send you the highlights and takeaways that you can read in your own time.</p>
    <p class="mb2 mb4"><strong>Enter your email you’ll receive design templates and a form UI kit, ready for designs and code.</strong></p>
    {form_newsletter}
    <picture class="subscribe-image osc">
      <source srcset="{site_url}assets/images/osc.svg" media="(min-width: 640px)">
      <source srcset="{site_url}assets/images/osc-small.svg" media="(max-width: 639px)">
      <img src="{site_url}assets/images/osc.svg">
    </picture>
  </div>
</section>