<section class="row {embed:class} row-padding contain contain-medium contain-large center subscribe">
  <div class="subscribe-content">
    <h2 class="f3 f2-b f1-d chunky secondary mb2 mb4-b">Get article updates</h2>
    <p>Subscribe to the newsletter and you’ll be updated when new articles are posted. You will receive highlights & takeaways by email to read when you’re ready.</p>
    <p class="mb2 mb4"><strong>Enter your email today and you’ll receive an Illustrator and code ready form UI kit.</strong></p>
    {form_newsletter}
    <picture class="subscribe-image osc">
      <img src="{site_url}assets/images/osc.svg">
    </picture>
  </div>
</section>