<section class="row {embed:class} row-padding between items-center contain contain-medium contain-large subscribe">
  {if '{exp:iamsteve:is_mobile}' != 1}
  <div class="column column-4-b mb4 mb0-b subscribe-image">
    <div class="loading">
      <img data-src="{global:theme_url}/dist/images/subscribe.svg" class="lazyload">
    </div>
    <noscript><img src="{global:theme_url}/dist/images/subscribe.svg"></noscript>
  </div>
  {/if}
  <div class="column column-6-b column-4-d">
    <h2 class="f1-l chunky secondary mb2 mb4-b">Start new designs quicker</h2>
    {gv_subscribe_download}

    {if embed:duplicate == "yes"}
      <div id="mlb2-1549236" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1549236">
        {form_newsletter}
      </div>
    {if:else}
      <div class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1003594">
        {form_newsletter}
      </div>
    {/if}

    {!--<p><a href="{path='newsletter'}" class="button button-tertiary">Join the list</a></p>--}
  </div>
</section>
