{embed="include/header" title="{layout:title}" class="{layout:class}"}

<header class="header contain-medium contain-large primary" id="header">
  <a href="/" title="Back to the homepage" class="logo">
    {gv_logotype_filled}
    {gv_logo_small}
  </a>
  <a href="{path='newsletter'}" class="tabbar-item tabbar-item-v hide-c sans semibold end{if segment_1 == "newsletter"} active{/if}">
    <span class="tabbar-item-text warm-l2">Subscribe</span>
    <span class="icon icon-newsletter warm">{gv_newsletter}</span>
  </a>
  <nav id="nav" class="nav hide-lt-c end primary">
    <a href="{homepage}" class="nav-item{if segment_1 == ""} active{/if}">
      <span class="icon icon-home">{gv_home}</span>
      <span class="nav-item-text">Home</span>
    </a>
    <a href="{path='blog'}" class="nav-item{if segment_1 == "blog"} active{/if}">
      <span class="icon icon-blog">{gv_blog}</span>
      <span class="nav-item-text">Blog</span>
    </a>
    <a href="{path='about'}" class="nav-item{if segment_1 == "about"} active{/if}">
      <span class="icon icon-about">{gv_about}</span>
      <span class="nav-item-text">About</span>
    </a>
    <a href="{path='contact'}" class="nav-item{if segment_1 == "contact"} active{/if}">
      <span class="icon icon-contact">{gv_contact}</span>
      <span class="nav-item-text">Contact</span>
    </a>
    <a href="{path='search'}" id="toggle-search-nav" aria-haspopup="true" class="nav-item toggle-search">
      <span class="icon icon-search icon-large">{gv_search}</span>
    </a>
  </nav>
</header>

<nav class="tabbar hide-c">
  <a href="{homepage}" title="Back to the homepage" class="tabbar-item tabbar-item-h flex-1 sans semibold{if segment_1 == ""} active tertiary-dc{if:else} warm-l1{/if}">
    <span class="icon">{gv_home}</span>
    <span class="tabbar-item-text warm-l2">Home</span>
  </a>
  <a href="{path='blog'}" class="tabbar-item tabbar-item-h flex-1 sans semibold{if segment_1 == "blog"} active tertiary-dc{if:else} warm-l1{/if}">
    <span class="icon">{gv_blog}</span>
    <span class="tabbar-item-text warm-l2">Blog</span>
  </a>
  <a href="{path='about'}" class="tabbar-item tabbar-item-h flex-1 sans semibold{if segment_1 == "about"} active tertiary-dc{if:else} warm-l1{/if}">
    <span class="icon">{gv_about}</span>
    <span class="tabbar-item-text warm-l2">About</span>
  </a>
  <a href="{path='contact'}" class="tabbar-item tabbar-item-h flex-1 sans semibold{if segment_1 == "contact"} active tertiary-dc{if:else} warm-l1{/if}">
    <span class="icon">{gv_contact}</span>
    <span class="tabbar-item-text warm-l2">Contact</span>
  </a>
  <a href="{path='search'}" id="toggle-search" aria-haspopup="true" class="tabbar-item tabbar-item-h flex-1 toggle-search warm-l1 sans semibold">
    <span class="icon icon-search">{gv_search_small}</span>
    <span class="tabbar-item-text warm-l2">Search</span>
  </a>
</nav>

<div class="overlay overlay-search flex items-center center hiding" aria-labelledby="toggle-search-nav toggle-search" role="dialog">
  {embed="include/search"}
  <div class="searched-posts">
    <h2 class="f3-l mb1 neutral flex-8">You may be looking for</h2>
    {embed="include/popular"}
  </div>
</div>

{layout:contents}

<aside class="row row-normal pt6 pt8-d contain contain-medium contain-large between items-end">
  <section class="column column-4-b column-3-d mb6 mb0-b">
    <a href="{site_url}" class="logo-footer mb4 primary">{gv_logo}</a>
    <p class="mb4">iamsteve is a blog written by Steve McKinney, focusing on the design and build of websites. The aim is to bridge the gap in building your design. It started&thinsp;—&thinsp;and remains&thinsp;—&thinsp;a way to encourage self learning and sharing, through a mixture of in depth tutorials and quick tips.</p>
    <p><strong class="sans">You can find me elsewhere</strong> <br>{social}</p>
  </section>
  <section class="column column-4-b column-5-d rio-osc" id="rio-osc">
    <div class="loading">
      <img data-src="{global:theme_url}/dist/images/rio-osc.svg" class="db lazyload">
    </div>
  </section>
</aside>

<footer class="row between neutral-l2 contain contain-medium contain-large footer">
  <p class="m0 copyright">
    &copy; <a href="{site_url}">{site_name}</a> {current_time format="%Y"}
  </p>
  <nav>
    {!-- @TODO: top, about, uses, rss --}
    <a href="#top" class="top">Top</a>
    <a href="https://www.iubenda.com/privacy-policy/12610320" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a>
    <a href="https://iamsteve.me/blog/feed" title="Subscribe to the blog RSS feed">RSS</a>
    <a href="{site_url}about">About</a>
    <a href="{site_url}uses" title="What the site was built with & software I use">Uses</a>
  </nav>
</footer>

<script src="{global:theme_url}/dist/js/global.js" async></script>
{!--<img src="https://track.mailerlite.com/webforms/o/1003594/q7h2j4?v03ee2804ef2f008535475a5d62f02f94" width="1" height="1" style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;" border="0">--}
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v03ee2804ef2f008535475a5d62f02f94"></script>
{layout:js}

{embed="include/footer"}
