{embed="include/header" title="{layout:title}" class="{layout:class}"}

<header class="header contain-medium contain-large primary" id="header">
  <a href="/" title="Back to the homepage" class="logo">
    <span class="logo-small">{gv_logo_small}</span>
    <span class="logo-large">{gv_logo}</span>
    <span class="logo-text">iamsteve</span>
  </a>
  <a href="#search" class="icon icon-medium icon-toggle icon-search" id="toggle-search">
    {gv_search}
  </a>
  <a href="#nav" class="icon icon-toggle" id="toggle">
    <span>Menu</span>
  </a>
  <nav id="nav" class="nav invisible">
    <a href="{homepage}" class="nav-item{if segment_1 == ""} active{/if}">Home</a>
    <a href="{path='blog'}" class="nav-item{if segment_1 == "blog"} active{/if}">Archive</a>
    <a href="{path='about'}" class="nav-item{if segment_1 == "about"} active{/if}">About</a>
    <a href="{path='contact'}" class="nav-item{if segment_1 == "contact"} active{/if}">Contact</a>
  </nav>
  {embed="include/search"}
</header>

<div class="tabbar">
  <a href="{homepage}" title="Back to the homepage" class="logo">
    {gv_logo_small}
  </a>
  <a href="{path='blog'}" class="nav-item{if segment_1 == "blog"} active{/if}">
    <span class="icon icon-medium">{gv_blog}</span>
    <span class="tabbar-link-text">Blog</span>
  </a>
  <a href="{path='about'}" class="nav-item{if segment_1 == "about"} active{/if}">
    <span class="icon icon-medium">{gv_about}</span>
    <span class="tabbar-link-text">About</span>
  </a>
  <a href="{path='contact'}" class="nav-item{if segment_1 == "contact"} active{/if}">
    <span class="icon icon-medium">{gv_contact}</span>
    <span class="tabbar-link-text">Contact</span>
  </a>
  <a href="#search" id="toggle-search" class="nav-item">
    <span class="icon icon-medium icon-toggle icon-search">{gv_search_small}</span>
    <span class="tabbar-link-text">Search</span>
  </a>
</div>

{layout:contents}

{embed="include/subscribe" class="row-cool"}

<aside class="row row-normal pt6 pt8-d contain contain-medium contain-large between">
  <section class="column column-4-b column-3-d mb6 mb0-b">
    <a href="{site_url}" class="logo-footer mb4 primary">{gv_logo}</a>
    <p class="mb4">iamsteve is a blog written by Steve McKinney, focusing on design and code. I specialise in visual design and user experience. I started designing websites at a young age and for the past 5 years it’s been a full time career. I write this blog to share all I know and teach along the way.</p>
    <p><strong>You can find me elsewhere</strong> <br>{social}</p>
  </section>
  <section class="column column-4-b column-5-d rio-osc" id="rio-osc">
    {!-- svg is inserted with ajax, in load-svg.js --}
    <noscript><img src="{site_url}dist/images/rio-osc.svg"></noscript>
  </section>
</aside>

<footer class="row between neutral-l2 contain contain-medium contain-large footer">
  <p class="m0 copyright">
    &copy; <a href="{site_url}">{site_name}</a> {current_time format="%Y"}
  </p>
  <nav>
    <a href="#header" class="top">Top</a>
    <a href="https://iamsteve.me/blog/feed" title="Subscribe to the blog RSS feed">RSS</a>
    <a href="https://www.digitalocean.com/?refcode=612d37093f16" title="DigitalOcean hosting get 2 months free credit through referral">Host</a>
    <a href="https://ellislab.com/expressionengine">ExpressionEngine</a>
  </nav>
</footer>

{layout:js}
<script src="{site_url}dist/js/iamsteve.js" defer></script>

{embed="include/footer"}