{embed="include/header" title="{layout:title}" class="{layout:class}"}

<header class="header contain-medium contain-large primary" id="header">
  <a href="/" title="Back to the homepage" class="logo">
    {gv_logotype}
  </a>
  <nav id="nav" class="nav flex end">
    <a href="{homepage}" class="nav-item{if segment_1 == ""} active{/if}">
      <span class="icon icon-home">{gv_home}</span>
      <span class="nav-item-text">Home</span>
    </a>
    <a href="{path='blog'}" class="nav-item{if segment_1 == "blog"} active{/if}">
      <span class="icon icon-blog">{gv_blog}</span>
      <span class="nav-item-text">Blog</span>
    </a>
    <a href="{path='about'}" class="nav-item{if segment_1 == "about"} active{/if}">
      <span class="icon icon-about">{gv_about}</span>
      <span class="nav-item-text">About</span>
    </a>
    <a href="{path='contact'}" class="nav-item{if segment_1 == "contact"} active{/if}">
      <span class="icon icon-contact">{gv_contact}</span>
      <span class="nav-item-text">Contact</span>
    </a>
    <a href="#search" id="toggle-search-nav" class="nav-item toggle-search">
      <span class="icon icon-search icon-large">{gv_search}</span>
    </a>
  </nav>
</header>

<nav class="tabbar">
  <a href="{homepage}" title="Back to the homepage" class="tabbar-logo {if segment_1 == ""} active{/if}">
    {gv_logo_small}
  </a>
  <a href="{path='blog'}" class="tabbar-item sans bold{if segment_1 == "blog"} active{/if}">
    <span class="icon">{gv_blog}</span>
    <span class="tabbar-item-text warm-l2">Blog</span>
  </a>
  <a href="{path='about'}" class="tabbar-item sans bold{if segment_1 == "about"} active{/if}">
    <span class="icon">{gv_about}</span>
    <span class="tabbar-item-text warm-l2">About</span>
  </a>
  <a href="{path='contact'}" class="tabbar-item sans bold{if segment_1 == "contact"} active{/if}">
    <span class="icon">{gv_contact}</span>
    <span class="tabbar-item-text warm-l2">Contact</span>
  </a>
  <a href="#search" id="toggle-search" class="tabbar-item toggle-search sans bold">
    <span class="icon icon-search">{gv_search_small}</span>
    <span class="tabbar-item-text warm-l2">Search</span>
  </a>
</nav>

{!-- channel vars (prefix ch_) --}
{preload_replace:chs="blog"}
{preload_replace:chs_status="open|latest"}
{preload_replace:chs_disable="pagination|member_data|trackbacks"}
{preload_replace:chs_limit="6"}
{preload_replace:chs_limit_large="11"}
{preload_replace:design="design-default-{switch='3|1|2|4'}.svg"}
{preload_replace:code="code-default-{switch='1|4|2|3'}.svg"}

<div class="overlay overlay-search flex center hiding invisible">
  {embed="include/search"}
  <div class="searched-posts">
    <h2 class="f4 f3-c mb2 neutral">You may be looking for</h2>
    {exp:channel:entries channel="{chs}" status="{chs_status}" disable="{chs_disable}" limit="{chs_limit}" category="2|7" orderby="view_count_one" sort="desc"}
      <a href="{title_permalink='blog/entry'}" class="db pt1 pb1 f6 f4-d">{title}</a>
    {/exp:channel:entries}
  </div>
</div>

{layout:contents}

{embed="include/subscribe" class="row-cool"}

<aside class="row row-normal pt6 pt8-d contain contain-medium contain-large between">
  <section class="column column-4-b column-3-d mb6 mb0-b">
    <a href="{site_url}" class="logo-footer mb4 primary">{gv_logo}</a>
    <p class="mb4">iamsteve is a blog written by Steve McKinney, focusing on helping you design & code beautiful websites. I specialise in visual design and user experience. I believe things can both look good and function well. I’ve been making websites from a young age and in industry for over 6 years. I write this blog to share all I know and teach along the way.</p>
    <p><strong>You can find me elsewhere</strong> <br>{social}</p>
  </section>
  <section class="column column-4-b column-5-d rio-osc" id="rio-osc">
    {!-- svg is inserted with ajax, in load-svg.js --}
    <noscript><img src="{global:theme_url}/dist/images/rio-osc.svg"></noscript>
  </section>
</aside>

<footer class="row between neutral-l2 contain contain-medium contain-large footer">
  <p class="m0 copyright">
    &copy; <a href="{site_url}">{site_name}</a> {current_time format="%Y"}
  </p>
  <nav>
    <a href="#" class="top">Top</a>
    <a href="https://iamsteve.me/blog/feed" title="Subscribe to the blog RSS feed">RSS</a>
    <a href="https://www.digitalocean.com/?refcode=612d37093f16" title="DigitalOcean hosting get 2 months free credit through referral">Host</a>
    <a href="https://ellislab.com/expressionengine">ExpressionEngine</a>
  </nav>
</footer>

<script src="{global:theme_url}/dist/js/global.js" async></script>
{layout:js}

{embed="include/footer"}